<div class="header-buttons">
    <div class="btn-group main-buttons">
        <a id="btn_estatus" role="button" class="btn btn-success pull-left"
        data-action="openLateral"
        data-route="crm/catalogos/follow-up-status/Add"
        data-panelsize="xs">
           Nuevo Status</a>
    </div>
</div>
