{% block content  %}
    <style>
        .frame {
            border-radius: 2px;
            border: 1px solid #ededed;
            background: #fcfcfc;
            padding: 10px;
            margin-bottom: 5px;
            margin-top: 5px;
        }
        .sale-list-products {
            background: #fefefe;
            border-radius: 2px;
            border: 1px solid #f2f2f2;
            font-size: 18px;
            height: 500px;
            max-height: 500px;
            font-family: monospace;
            overflow: auto;
            padding: 10px;
        }
        .sale-list-products > .product-item > .general-info > .price {
            color: #00b3ff;
        }
        .sale-list-products > .product-item > .general-info > .description {
            color: #393939;
        }
        .sale-list-products > .product-item > .more-info {
            color: #b1b1b1;
        }
    </style>
    <div id="sale-module">
        <div class="row">
            <div class="col-md-8">
                <!-- Seccion informativa -->
                <div class="row">
                    <div class="col-md-6">
                        <div class="frame">
                            <div class="form-group">
                                <label for="">Cliente:</label>
                                <el-select
                                    v-model="customer"
                                    filterable
                                    remote
                                    placeholder=""
                                    :remote-method="searchCustomer"
                                    :loading="isLoading"
                                    @change="onSelectCustomer($event)">
                                    <el-option
                                        v-for="customer in listCustomers"
                                        :key="customer.id"
                                        :label="customer.businessName"
                                        :value="customer">
                                        <div>
                                            <span class="pull-left">${ customer.businessName }</span>
                                            <span class="pull-right" style="font-size: 12px; color: light-gray;">${ customer.rfc }</span>
                                        </div>
                                    </el-option>
                                </el-select>
                            </div>
                            <div class="form-group">
                                <label for="">Cliente:</label>
                                <input type="text">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="frame">
                            FRONTRA
                        </div>
                    </div>
                </div>
                <!-- Fin de la seccion informativa -->
                <!-- Seccion de la informacion de la venta -->
                <div class="row">
                    <div class="col-md-3">
                        <div class="frame">
                            <img class="img-responsive"
                                 src="http://www.vector-eps.com/wp-content/gallery/math-formula-vectors/math-formula-vectors.jpg" alt="">
                        </div>
                        <div class="frame">
                            <h2 class="text-right" style="color: #008100">$ ${ total }</h2>
                        </div>
                    </div>
                    <div class="col-md-9">
                        <div class="frame">
                            <div class="sale-list-products">
                                <div class="product-item row" v-for="product in listSaleProducts">
                                    <div class="general-info col-md-12">
                                        <div class="description pull-left">${ product.description }</div>
                                        <div class="price pull-right">$ ${ product.quantity * product.price }</div>
                                    </div>
                                    <div class="more-info col-md-10 col-md-offset-1">
                                        <ul>
                                            <li>${ product.quantity } x $ ${ product.price }</li>
                                            <template v-if="product.discount > 0">
                                                <li>$ ${ product.quantity * product.discount }</li>
                                                <li>Promocion</li>
                                            </template>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="frame">
                            <table class="table table-stripped">
                                <thead>
                                <tr>
                                    <th>Column 1</th>
                                    <th>Column 2</th>
                                    <th>Column 3</th>
                                    <th>Column 4</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td><input type="text"></td>
                                    <td>Column 2, 2</td>
                                    <td>Column 3, 3</td>
                                    <td>Column 4, 4</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <!-- Fin de la seccion de informacio de la venta -->
            </div>

            <div class="col-md-4">
                <div class="frame">
                    <pre>
                        ${ listCustomers }
                    </pre>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block loadScripts %}
    <script id="scriptContainer" type="text/javascript">
        var listCustomers = {{ customers | json_encode | raw }};
        var listSaleProducts = [
            {
                id: 1,
                description: "GALLETAS GAMESA EMPERADOR CHOCOLATE 250G ",
                price: 10.90,
                discount: 10.50,
                quantity: 5
            },
            {
                id: 2,
                description: "ATUN TUNY EN ACEITE 150G",
                price: 11.90,
                discount: 0.00,
                quantity: 8
            },
            {
                id: 3,
                description: "ARIEL NEGRO 500g",
                price: 23.74,
                discount: 1.50,
                quantity: 2
            },
            {
                id: 5,
                description: "COSTILLA DE RES MICARNE",
                price: 86.50,
                discount: 0,
                quantity: 2.45
            },
            {
                id: 11,
                description: "COCA COLA CLASSIC 2.5L",
                price: 30.90,
                discount: 0.00,
                quantity: 1
            },
            {
                id: 31,
                description: "GELATINA PRONTO DURAZNO 35G",
                price: 5.20,
                discount: 1.50,
                quantity: 5
            },
            {
                id: 21,
                description: "JAMON VIRGINA DE PAVO",
                price: 75.50,
                discount: 0,
                quantity: .250
            },
            {
                id: 10,
                description: "BOLILLO CHICO SORIANA",
                price: 1.90,
                discount: 0.00,
                quantity: 7
            },
            {
                id: 14,
                description: "SIX-PACK XX LAGER 500ML",
                price: 80.74,
                discount: 0,
                quantity: 1
            },
            {
                id: 12,
                description: "LIMON SIN SEMILLA VERDE",
                price: 76.43,
                discount: 0,
                quantity: 2.45
            }
        ];
        (function(listSaleProducts, listCustomers) {
            var customerSelectizeSettings = {
                labelField: "business_name",
                valueField: "id",
                searchField: ['business_name', 'legal_name', 'rfc'],
                maxItems: 1
            };

            var saleModule = new Vue({
                el: '#sale-module',
                data: {
                    listSaleProducts: listSaleProducts,
                    customerSelectizeSettings: customerSelectizeSettings,
                    customerId: null,

                    isLoading: false,
                    isSearchingCustomer: false,
                    listCustomers: [],
                },
                mounted: function() {
                    //this.askFullScreenMode();
                },
                methods: {
                    askFullScreenMode: function() {
                        swal({
                                title: "Modo pantalla completa",
                                text: "¿Deseas pasar a modo pantalla completa ?",
                                type: "info",
                                showCancelButton: true,
                                closeOnConfirm: true
                            },
                            function(isConfirm){
                                if (isConfirm) {
                                    this.enterFullScreenMode();
                                }
                            }.bind(this));
                    },
                    searchCustomer: function(query) {
                        if (query.length >= 2) {
                            this.isSearchingCustomer = true;
                            $.get(
                                AJAX_PATH + 'search/customer',
                                {
                                    'q' : query
                                },
                                function(response) {
                                    this.listCustomers = response;
                                    this.isSearchingCustomer = false;
                                }.bind(this)
                            );
                        } else {
                            this.listCustomers = [];
                        }
                    },
                    enterFullScreenMode: function() {
                        screenfull.request(this.$el);
                    },
                    changeCustomer: function (event) {
                        this.customerId = event.target.options[event.target.selectedIndex].value;
                    },
                    reloadProductPrices: function () {
                        this.showLoadingSpinner();
                        $.post(
                            AJAX_PATH + 'punto-de-venta/venta/calcular-precio-productos',
                            {
                                customerId: this.customerId,
                                products: _.map(this.listSaleProducts, 'id')
                            },
                            function (response) {
                                console.log(response);
                            }.bind(this)
                        ).fail(
                            function(response) {
                                console.log(response);
                            }.bind(this)
                        ).always(this.hideLoadingSpinner);
                    },
                    showLoadingSpinner: function () {
                        console.log("Show loading spinner");
                    },
                    hideLoadingSpinner: function() {
                        console.log("Hide loading spinner");
                    }
                },
                computed: {
                    total: function () {
                        var total = 0.0;
                        for(var i = 0; i < this.listSaleProducts.length; i ++) {
                            total += parseFloat(this.listSaleProducts[i].price)
                                * parseFloat(this.listSaleProducts[i].quantity);
                        }
                        return total;
                    },
                },
                watch: {
                    customerId: function (newValue) {
                        this.reloadProductPrices();
                    }
                },
                delimiters: ['${', '}']
            });
        })(listSaleProducts, listCustomers);
    </script>
{% endblock %}
