{% block content %}
    <section>
        <style>
            #containerAdditionalTag {
                height: 242px;
                overflow: auto;
            }

            label {
                white-space: nowrap !important;
            }

            .containerMultipleImgs {
                overflow: auto;
                max-height: 300px;
            }

            .margin10 {
                margin-top: 10px;
            }

            .borderMeny {
                border-bottom: 1px solid #dddddd;
            }

            .borderMeny button {
                margin-bottom: 6px;
            }
        </style>
        <div class="row" id="add-brand-vue">

            <div class="col-md-12" id="catalog-markets">
                <div class="box box-default">
                    <div class="box-header">
                        <h3 class="box-title">Datos del Mercado</h3>
                        <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="Minimizar">
                                <i class="fa fa-minus"></i>
                            </button>
                        </div>
                    </div>

                    <div class="box-body">
                        <div class="row">
                            <div class="col-md-12">
                            <form id="form-EoS" action="#" method="post">
                                <input type="hidden" name="idMarket" value="{{ mercado.id }}">
                                <div class="form-group">
                                    <label for="">Código</label>
                                    <input type="text" class="form-control" name="marketCode"
                                           placeholder="Código"
                                           value="{{ mercado.code }}">
                                </div>
                                <div class="form-group">
                                    <label for="">Mercado</label>
                                    <input type="text" class="form-control" name="marketName"

                                            placeholder="Nombre del mercado"
                                            value="{{ mercado.name }}">
                                </div>
                                <div class="form-group">
                                    <label for="">Descripción</label>
                                    <input type="text" class="form-control" name="marketDescription"

                                            placeholder="Descripción"
                                            value="{{ mercado.description }}">
                                </div>
                                <div class="form-group">
                                    <button id="btnEnv"
                                     class="btn btn-success"
                                     v-on:click="createOrUpdate"
                                    type="submit"><span class="fa fa-save"></span>Guardar</button>
                                </div>
                            </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

    </section>

{% endblock %}
{% block loadScripts %}

    <script id="scriptContainer" type="text/javascript">
        init.length = 0;
        init = [{
            title: 'Añadir Mercado',
            file: 'Warehouse/Markets/MarketsCatalog.js',
            functions: [{
                name: 'iniciarModuloMarketsCatalog',
                args: []
            }]
        }];
    </script>


{% endblock %}
