{% block content %}
<section>
    <div class="header-buttons">
        <div class="btn-group main-buttons">
            {% include( 'Warehouse/Markets/buttons.twig' ) %}
        </div>
    </div>
    <div class="panel-content">
        {% include( 'Warehouse/Markets/partials/list.twig' ) %}
    </div>
</section>
{% endblock %}
{% block loadScripts %}
    <script id="scriptContainer" type="text/javascript">
        init.length = 0;
        init = [ {
            title: 'Mercados',
            file: 'Warehouse/Markets/MarketsCatalog.js',
            functions: [ {
                name: 'iniciarModuloMarketsCatalog',
                args: [ ]
            } ]
        } ];
    </script>
{% endblock %}
