{% block content %}
    <section id="lines-add-container">
        {# CÓDIGO #}
        <div class="col-md-4">
            <div class="req form-group">
                <label>Código: </label>
                <input v-model="line.code" type="text" class="form-control">
            </div>
        </div>

        {# NOMBRE #}
        <div class="col-md-8">
            <div class="req form-group">
                <label>Nombre: </label>
                <input v-model="line.name" type="text" class="form-control">
            </div>
        </div>

        {# DESCRIPCIÓN #}
        <div class="col-md-12">
            <div class="form-group">
                <label>Descripción: </label>
                <textarea v-model="line.description" type="text" class="form-control">
                </textarea>
            </div>
        </div>

        {# GRUPO #}
        <div class="col-md-12">
            <div class="req form-group">
                <label>Grupo: </label>
                <el-select
                    v-model="line.group_id">
                    <el-option
                        v-for="group in $store.getters['group/dataForSelect'].options"
                        :key="group.id"
                        :value="group.id"
                        :label="group.name">
                    </el-option>
                </el-select>
            </div>
        </div>

        <h3>Datos adicionales</h3>

        <div class="col-md-12">
            <div class="form-group" id="line_attributes_id">
                <el-select
                    v-model="line.attributes"
                    filterable
                    multiple>
                    <el-option
                        v-for="attribute in $store.getters['attribute/dataForSelect'].options"
                        :key="attribute.id"
                        :value="attribute.id"
                        :label="attribute.name">
                    </el-option>
                </el-select>
            </div>
        </div>

        <div class="col-md-12">
            <div class="form-group" id="line_markets_id"></div>
        </div>
        <div class="col-md-12">
            <div class="ui-button bgGreen">
                <button @click="createLine" class="btn">
                    <span class="fa fa-save"></span> Guardar
                </button>
            </div>
        </div>
</section>
{% endblock %}

{% block loadScripts %}
    <script id="scriptContainer" type="text/javascript">
        uiVars['attributesTwig'] = {{ attributes|json_encode|raw }};
        uiVars['marketsTwig'] = {{ markets|json_encode|raw }};
        init.length = 0;
        init = [ {
            title: 'Nueva Línea',
            file: 'Warehouse/Lines/linesAdd.js',
            functions: [ {
                name: 'initLinesAdd',
                args: [ uiVars['attributesTwig'], uiVars['marketsTwig'] ]
            } ]
        } ];
    </script>
{% endblock %}
