{#
created by: Carlos Sifuentes
created at: 2017-07-27
#}
<div class="row">
    <div class="col-xs-12 col-md-3"> <!-- aqui uno  col-sm-2 col-md-2 -->
        <vue-image-picker v-model="prospect.logo"
            class-name="center-block" :url="'https://cdn.tuadmin.com/'+prospect.logo" :placeholder="prospect.logo"
            width="100" height="100" text="Subir imagen" :show-input="true">
        </vue-image-picker>
    </div>
    <div class="col-xs-12 col-md-9"> <!-- aqui uno  col-sm-10 col-md-10 -->
        <div class="row">
            <div class="col-md-6"> <!-- aqui uno  col-md-6 -->
                <div class="form-group">
                    <label>Razon social:</label>
                    <input type="text" v-model="prospect.legalName" placeholder="Ingrese la razon social">
                </div>
            </div>
            <div class="col-md-6"> <!-- aqui uno  col-md-6 -->
                <div class="form-group">
                    <label>Nombre comercial:</label>
                    <input type="text" v-model="prospect.businessName" placeholder="Ingrese el nombre comercial">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6"> <!-- aqui uno  col-md-6 -->
                <div class="form-group">
                    <label>Tipo de negocio:</label>
                    <el-select filterable v-model="prospect.businessTypeId" placeholder="Seleccionar">
                        <el-option
                        v-for="item in businessTypes"
                        :key="item.id"
                        :label="item.name"
                        :value="item.id">
                        <span style="float: left">${ item.name }</span>
                        {# <span style="float: right; color: #8492a6; font-size: 13px">${ item.description }</span> #}
                        </el-option>
                    </el-select>
                </div>
            </div>
            <div class="col-md-6"> <!-- aqui uno  col-md-6 -->
                <div class="form-group">
                    <label>RFC:</label>
                    <input type="text" v-model="prospect.rfc" placeholder="Ingrese el RFC">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12"> <!-- aqui uno  col-md-12 -->
                <div class="form-group">
                    <label>Sitio web:</label>
                    <input type="text" v-model="prospect.webpage" placeholder="Ingrese el sitio web">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12"> <!-- aqui uno  col-md-12 -->
                <div class="form-group">
                    <label>Descripción:</label>
                    <textarea placeholder="Ingrese una descripción" v-model="prospect.description"></textarea>
                </div>
            </div>
        </div>
        <div class="row" style="margin-top: 5px;">
            <div class="col-md-3 col-md-offset-9"> <!-- aqui uno  col-md-12 -->
                <button type="button" class="btn btn-primary pull-right" @click="saveProspect">
                    <span class="fa fa-floppy-o"></span> Guardar
                </button>
            </div>
        </div>
    </div>
</div>
