<section>
	<div id="period-form">
            <div class="header-buttons">
                <div class="btn-group main-buttons">
                    <div class="col-xs-4">
                        <div class="ui-button bgGreen">
                            <a role="button"
                               class="btn"
                               @click="savePeriod()">
                               <span class="ui ui-done"></span>
                                Guardar
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-content">
                <div class="box box-primary">
        			<div class="box-header">
        				<h3 class="box-title">Detalles del periodo</h3>
        				<div class="box-tools pull-right">
        				</div>
        			</div>
        			<div class="box-body">
        				<div class="row">
        					<div class="col-md-12">
        						<div class="form-group">
        							<label for="select-duration">
        								Duración del periodo contable
        							</label>
        							<el-select id="select-duration"
        							           v-model="form.type"
                                               :disabled="specific_day_end || isConcluded()">
        								<template v-for="(option, okey) in period_options">
        									<el-option :label="option.text"
        									           :value="option.value"
        									           :class="period_options[okey + 1] == undefined ? 'last-option' : ''">
                                            </el-option>
        								</template>
        									<el-option label="Otro..."
        									           :value="2">
                                            </el-option>
        							</el-select>
        						</div>
        						<div class="row"
                                     v-if="form.type == 2">
        							<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                		<label>
                                    		Opciones adicionales de longitud de periodo
                                		</label>
        								<div class="form-group">
        									<input v-model.number="duration"
        									       type="number"
                                                   min="1"
                                                   :disabled="specific_day_end || isConcluded()">
        									<el-select v-model="additional_type"
                                                       :disabled="specific_day_end || isConcluded()">
        										<template v-for="option in additional_period_options">
        											<el-option :label="option.text"
                                                               :value="option.value">
                                                    </el-option>
        										</template>
        									</el-select>
        								</div>
        							</div>
        						</div>
        						<small>
        							${ (form.type == 2) ? 'Número de días, semanas o meses que tiene un periodo contable.' : 'Determine si los periodos se llevan de manera mensual o bimestral' }
        						</small>
        					</div>
        				</div>
        				<div class="row">
        					<div :class="specific_day_end ? 'col-lg-6 col-md-6 col-sm-6 col-xs-12' : 'col-lg-12 col-md-12 col-sm-12 col-xs-12'">
        		                <label>
                                    Inicio del periodo
                                </label>
        						<div class="form-group">
        							<label>
        								<el-date-picker v-model="form.starting_date"
                                                        type="date"
                                                        placeholder="Fecha de inicio"
                                                        :picker-options="suggested_dates"
                                                        :disabled="isConcluded()">
        								</el-date-picker>
        							</label>
        						</div>
        						<small v-if="form.active"
                                       class="text-info">
                                       El periodo contable inició el día ${form.starting_date.toLocaleDateString("es-MX") }, puede <span @click="ajaxConcludePeriod(id)" role="button" style="text-decoration: underline; color: #0275d8;">terminarlo prematuramente</span> o esperar hasta el día ${ getPeriodEnd().toLocaleDateString("es-MX") } para ${ form.auto_end ? 'que se concluya automáticamente' : 'concluirlo manualmente'}
        						</small>
        					</div>
        					<div v-if="specific_day_end"
                                 class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
        		                <label>
        								Final del periodo
        		                </label>
        						<div class="form-group">
        								<el-date-picker v-model="form.ending_date"
                                                        type="date"
                                                        placeholder="Fecha del final"
                                                        :disabled="isConcluded()">
                                        </el-date-picker>
        						</div>
        						<small v-if="form.auto_end"
                                       class="text-info">
                                       El periodo contable terminará continuamente los días ${ form.ending_date.getDate() } de cada mes (o su equivalente del mes siguiente).
        						</small>
        						<small v-else
                                       class="text-info">
                                       Se sugerirá terminar el periodo contable los días ${ form.ending_date.getDate() } (o su equivalente del mes siguiente).
        						</small>
        					</div>
        				</div>
        					<div class="row">
        						<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        							Opciones del periodo contable
        							<div class="form-group">
        								<label for="auto_end">
        			                        Concluir automaticamente
        			                    </label>
        								<input
        			                    id="auto_end"
        								type="checkbox"
        								v-model="form.auto_end"
        								:disabled="isConcluded()">
        							</div>
        			                <div class="form-group">
        			                    <label for="specific_day_end">
        									Concluir un día específico del mes
        			                    </label>
        								<input
        			                    id="specific_day_end"
        								type="checkbox"
        								v-model="specific_day_end"
        								:disabled="isConcluded()">
        			                </div>
                                </div>
        					</div>
        				</div>
        			</div>
            </div>

	</div>
</section>
<script id="scriptContainer" type="text/javascript">
	init.length = 0;
	var period = {{ period|json_encode|raw }};
	init = [ {
		title: (period != undefined) ? 'Editar periodo' : 'Nuevo periodo',
		file: 'Accounting/Settings/periodForm.js',
		functions: [ {
			name: 'initPeriodForm',
			args: [period]
		} ]
	} ];

</script>
