<vue-dynamic-table-rbc
box-classes="box box-primary full-height"
class-name="table table-bordered table-hover"
:remote-method="ajaxAccountingPeriodSearch"
:source-columns="accountingPeriodSourceColumns"
:data-model="accountingPeriodList"
:total-resutls="accountingPeriodResults"
>
    <template slot="active"
              scope="row">
        ${ (row.object.active) ? 'Abierto' : 'Cerrado' }
    </template>
    <template slot="name"
              scope="row">
        ${ periodName(row.object) }
    </template>
    <template slot="starting_date"
              scope="row">
        ${ row.object.starting_date }
    </template>
    <template slot="ending_date"
              scope="row">
        ${ row.object.ending_date }
    </template>
    <template slot="auto_end"
              scope="row">
       <!--TODO: Reparar esta comprobación que por el momento se está evaluando inversamente (?)-->
       {{ (row.object.auto_end) ? 'No' : 'Si' }}
    </template>
    <template slot="actions"
              scope="row">
        <div class="ui-button bg-Light-Blue">
            <div class="secondary">
                <template v-if="row.object.active">
                    <el-tooltip class="item"
                                effect="dark"
                                content="Concluir el periodo"
                                placement="top-end">
                        <a class="btn"
                           @click="ajaxConcludePeriod(row.object)">
                            <span class="glyphicon glyphicon-ok"></span>
                        </a>
                    </el-tooltip>
                </template>
                <template v-else>
                    <el-tooltip class="item"
                                effect="dark"
                                content="Reabrir el periodo"
                                placement="top-end">
                        <a @click="ajaxReopenPeriod(row.object)"
                           class="btn">
                            <span class="glyphicon glyphicon-folder-open"></span>
                        </a>
                    </el-tooltip>
                </template>
                <el-tooltip class="item"
                            effect="dark"
                            content="Editar detalles del periodo"
                            placement="top-end">
                    <a class="btn"
                       @click="editPeriod(row.object)">
                       <span class="glyphicon glyphicon-edit"></span>
                    </a>
                </el-tooltip>
            </div>
        </div>
    </template>
</vue-dynamic-table-rbc>
