<div v-if="radio!='r2'">
<div v-if="radio2=='r1'" class="col-xs-12 col-sm-12 col-md-5 col-lg-5">
    <div class="box-form">
        <h3 class="panel-title">Hora de Comida</h3>
        <div class="form-group">
            <input type="checkbox" v-model="checkedbrkSem1.ch1">
            <label >Lunes:</label>
            <el-time-picker is-range v-model="brkSem1.d1" placeholder="Pick a time range" :disabled="!checkedbrkSem1.ch1">
            </el-time-picker>
        </div>
        <div class="form-group">
            <input type="checkbox" v-model="checkedbrkSem1.ch2">
            <label >Martes:</label>
            <el-time-picker is-range v-model="brkSem1.d2" placeholder="Pick a time range" :disabled="!checkedbrkSem1.ch2">
            </el-time-picker>
        </div>
        <div class="form-group">
            <input type="checkbox" v-model="checkedbrkSem1.ch3">
            <label >Miercoles:</label>
            <el-time-picker is-range v-model="brkSem1.d3" placeholder="Pick a time range" :disabled="!checkedbrkSem1.ch3">
            </el-time-picker>
        </div>
        <div class="form-group">
            <input type="checkbox" v-model="checkedbrkSem1.ch4">
            <label >Jueves:</label>
            <el-time-picker is-range v-model="brkSem1.d4" placeholder="Pick a time range" :disabled="!checkedbrkSem1.ch4">
            </el-time-picker>
        </div>
        <div class="form-group">
            <input type="checkbox" v-model="checkedbrkSem1.ch5">
            <label >Viernes:</label>
            <el-time-picker is-range v-model="brkSem1.d5" placeholder="Pick a time range" :disabled="!checkedbrkSem1.ch5">
            </el-time-picker>
        </div>
        <div class="form-group">
            <input type="checkbox" v-model="checkedbrkSem1.ch6">
            <label >Sabado:</label>
            <el-time-picker is-range v-model="brkSem1.d6" placeholder="Pick a time range" :disabled="!checkedbrkSem1.ch6">
            </el-time-picker>
        </div>
        <div class="form-group">
            <input type="checkbox" v-model="checkedbrkSem1.ch7">
            <label >Domingo:</label>
            <el-time-picker is-range v-model="brkSem1.d7" placeholder="Pick a time range" :disabled="!checkedbrkSem1.ch7">
            </el-time-picker>
        </div>
    </div>
</div>
<div v-if="radio2=='r2'" class="col-xs-12 col-sm-12 col-md-5 col-lg-5">
    <div class="box-form">
        <h3 class="panel-title">Hora de Comida</h3>
        <div class="form-group">
            <input type="checkbox" v-model="checkedbrkSem2.ch1">
            <label >Lunes:</label>
            <el-time-picker is-range v-model="brkSem2.d1" placeholder="Pick a time range" :disabled="!checkedbrkSem2.ch1">
            </el-time-picker>
        </div>
        <div class="form-group">
            <input type="checkbox" v-model="checkedbrkSem2.ch2">
            <label >Martes:</label>
            <el-time-picker is-range v-model="brkSem2.d2" placeholder="Pick a time range" :disabled="!checkedbrkSem2.ch2">
            </el-time-picker>
        </div>
        <div class="form-group">
            <input type="checkbox" v-model="checkedbrkSem2.ch3">
            <label >Miercoles:</label>
            <el-time-picker is-range v-model="brkSem2.d3" placeholder="Pick a time range" :disabled="!checkedbrkSem2.ch3">
            </el-time-picker>
        </div>
        <div class="form-group">
            <input type="checkbox" v-model="checkedbrkSem2.ch4">
            <label >Jueves:</label>
            <el-time-picker is-range v-model="brkSem2.d4" placeholder="Pick a time range" :disabled="!checkedbrkSem2.ch4">
            </el-time-picker>
        </div>
        <div class="form-group">
            <input type="checkbox" v-model="checkedbrkSem2.ch5">
            <label >Viernes:</label>
            <el-time-picker is-range v-model="brkSem2.d5" placeholder="Pick a time range" :disabled="!checkedbrkSem2.ch5">
            </el-time-picker>
        </div>
        <div class="form-group">
            <input type="checkbox" v-model="checkedbrkSem2.ch6">
            <label >Sabado:</label>
            <el-time-picker is-range v-model="brkSem2.d6" placeholder="Pick a time range" :disabled="!checkedbrkSem2.ch6">
            </el-time-picker>
        </div>
        <div class="form-group">
            <input type="checkbox" v-model="checkedbrkSem2.ch7">
            <label >Domingo:</label>
            <el-time-picker is-range v-model="brkSem2.d7" placeholder="Pick a time range" :disabled="!checkedbrkSem2.ch7">
            </el-time-picker>
        </div>
    </div>
</div>
<div v-if="radio2=='r3'" class="col-xs-12 col-sm-12 col-md-5 col-lg-5">
    <div class="box-form">
        <h3 class="panel-title">Hora de Comida</h3>
        <div class="form-group">
            <input type="checkbox" v-model="checkedbrkSem3.ch1">
            <label >Lunes:</label>
            <el-time-picker is-range v-model="brkSem3.d1" placeholder="Pick a time range" :disabled="!checkedbrkSem3.ch1">
            </el-time-picker>
        </div>
        <div class="form-group">
            <input type="checkbox" v-model="checkedbrkSem3.ch2">
            <label >Martes:</label>
            <el-time-picker is-range v-model="brkSem3.d2" placeholder="Pick a time range" :disabled="!checkedbrkSem3.ch2">
            </el-time-picker>
        </div>
        <div class="form-group">
            <input type="checkbox" v-model="checkedbrkSem3.ch3">
            <label >Miercoles:</label>
            <el-time-picker is-range v-model="brkSem3.d3" placeholder="Pick a time range" :disabled="!checkedbrkSem3.ch3">
            </el-time-picker>
        </div>
        <div class="form-group">
            <input type="checkbox" v-model="checkedbrkSem3.ch4">
            <label >Jueves:</label>
            <el-time-picker is-range v-model="brkSem3.d4" placeholder="Pick a time range" :disabled="!checkedbrkSem3.ch4">
            </el-time-picker>
        </div>
        <div class="form-group">
            <input type="checkbox" v-model="checkedbrkSem3.ch5">
            <label >Viernes:</label>
            <el-time-picker is-range v-model="brkSem3.d5" placeholder="Pick a time range" :disabled="!checkedbrkSem3.ch5">
            </el-time-picker>
        </div>
        <div class="form-group">
            <input type="checkbox" v-model="checkedbrkSem3.ch6">
            <label >Sabado:</label>
            <el-time-picker is-range v-model="brkSem3.d6" placeholder="Pick a time range" :disabled="!checkedbrkSem3.ch6">
            </el-time-picker>
        </div>
        <div class="form-group">
            <input type="checkbox" v-model="checkedbrkSem3.ch7">
            <label >Domingo:</label>
            <el-time-picker is-range v-model="brkSem3.d7" placeholder="Pick a time range" :disabled="!checkedbrkSem3.ch7">
            </el-time-picker>
        </div>
    </div>
</div>
<div v-if="radio2=='r4'" class="col-xs-12 col-sm-12 col-md-5 col-lg-5">
    <div class="box-form">
        <h3 class="panel-title">Hora de Comida</h3>
        <div class="form-group">
            <input type="checkbox" v-model="checkedbrkSem4.ch1">
            <label >Lunes:</label>
            <el-time-picker is-range v-model="brkSem4.d1" placeholder="Pick a time range" :disabled="!checkedbrkSem4.ch1">
            </el-time-picker>
        </div>
        <div class="form-group">
            <input type="checkbox" v-model="checkedbrkSem4.ch2">
            <label >Martes:</label>
            <el-time-picker is-range v-model="brkSem4.d2" placeholder="Pick a time range" :disabled="!checkedbrkSem4.ch2">
            </el-time-picker>
        </div>
        <div class="form-group">
            <input type="checkbox" v-model="checkedbrkSem4.ch3">
            <label >Miercoles:</label>
            <el-time-picker is-range v-model="brkSem4.d3" placeholder="Pick a time range" :disabled="!checkedbrkSem4.ch3">
            </el-time-picker>
        </div>
        <div class="form-group">
            <input type="checkbox" v-model="checkedbrkSem4.ch4">
            <label >Jueves:</label>
            <el-time-picker is-range v-model="brkSem4.d4" placeholder="Pick a time range" :disabled="!checkedbrkSem4.ch4">
            </el-time-picker>
        </div>
        <div class="form-group">
            <input type="checkbox" v-model="checkedbrkSem4.ch5">
            <label >Viernes:</label>
            <el-time-picker is-range v-model="brkSem4.d5" placeholder="Pick a time range" :disabled="!checkedbrkSem4.ch5">
            </el-time-picker>
        </div>
        <div class="form-group">
            <input type="checkbox" v-model="checkedbrkSem4.ch6">
            <label >Sabado:</label>
            <el-time-picker is-range v-model="brkSem4.d6" placeholder="Pick a time range" :disabled="!checkedbrkSem4.ch6">
            </el-time-picker>
        </div>
        <div class="form-group">
            <input type="checkbox" v-model="checkedbrkSem4.ch7">
            <label >Domingo:</label>
            <el-time-picker is-range v-model="brkSem4.d7" placeholder="Pick a time range" :disabled="!checkedbrkSem4.ch7">
            </el-time-picker>
        </div>
    </div>
</div>
</div>
