<div v-if="radio=='r3'" class="col-xs-12 col-sm-12 col-md-5 col-lg-5">
    <div v-if="radio2=='r1'">
        <div class="box-form">
            <h3 class="panel-title">Horario de Trabajo (Semana 1)</h3>
            <div class="form-group">
                <input type="checkbox" v-model="checkedSem1.ch1">
                <label >Lunes:</label>
                <el-time-picker is-range v-model="shiftSem1.d1" placeholder="Pick a time range" :disabled="!checkedSem1.ch1">
                </el-time-picker>
            </div>
            <div class="form-group">
                <input type="checkbox" v-model="checkedSem1.ch2">
                <label >Martes:</label>
                <el-time-picker is-range v-model="shiftSem1.d2" placeholder="Pick a time range" :disabled="!checkedSem1.ch2">
                </el-time-picker>
            </div>
            <div class="form-group">
                <input type="checkbox" v-model="checkedSem1.ch3">
                <label >Miercoles:</label>
                <el-time-picker is-range v-model="shiftSem1.d3" placeholder="Pick a time range" :disabled="!checkedSem1.ch3">
                </el-time-picker>
            </div>
            <div class="form-group">
                <input type="checkbox" v-model="checkedSem1.ch4">
                <label >Jueves:</label>
                <el-time-picker is-range v-model="shiftSem1.d4" placeholder="Pick a time range" :disabled="!checkedSem1.ch4">
                </el-time-picker>
            </div>
            <div class="form-group">
                <input type="checkbox" v-model="checkedSem1.ch5">
                <label >Viernes:</label>
                <el-time-picker is-range v-model="shiftSem1.d5" placeholder="Pick a time range" :disabled="!checkedSem1.ch5">
                </el-time-picker>
            </div>
            <div class="form-group">
                <input type="checkbox" v-model="checkedSem1.ch6">
                <label >Sabado:</label>
                <el-time-picker is-range v-model="shiftSem1.d6" placeholder="Pick a time range" :disabled="!checkedSem1.ch6">
                </el-time-picker>
            </div>
            <div class="form-group">
                <input type="checkbox" v-model="checkedSem1.ch7">
                <label >Domingo:</label>
                <el-time-picker is-range v-model="shiftSem1.d7" placeholder="Pick a time range" :disabled="!checkedSem1.ch7">
                </el-time-picker>
            </div>
        </div>
    </div>
    <div v-if="radio2=='r2'">
        <div class="box-form">
            <h3 class="panel-title">Horario de Trabajo (Semana 2)</h3>
            <div class="form-group">
                <input type="checkbox" v-model="checkedSem2.ch1">
                <label >Lunes:</label>
                <el-time-picker is-range v-model="shiftSem2.d1" placeholder="Pick a time range" :disabled="!checkedSem2.ch1">
                </el-time-picker>
            </div>
            <div class="form-group">
                <input type="checkbox" v-model="checkedSem2.ch2">
                <label >Martes:</label>
                <el-time-picker is-range v-model="shiftSem2.d2" placeholder="Pick a time range" :disabled="!checkedSem2.ch2">
                </el-time-picker>
            </div>
            <div class="form-group">
                <input type="checkbox" v-model="checkedSem2.ch3">
                <label >Miercoles:</label>
                <el-time-picker is-range v-model="shiftSem2.d3" placeholder="Pick a time range" :disabled="!checkedSem2.ch3">
                </el-time-picker>
            </div>
            <div class="form-group">
                <input type="checkbox" v-model="checkedSem2.ch4">
                <label >Jueves:</label>
                <el-time-picker is-range v-model="shiftSem2.d4" placeholder="Pick a time range" :disabled="!checkedSem2.ch4">
                </el-time-picker>
            </div>
            <div class="form-group">
                <input type="checkbox" v-model="checkedSem2.ch5">
                <label >Viernes:</label>
                <el-time-picker is-range v-model="shiftSem2.d5" placeholder="Pick a time range" :disabled="!checkedSem2.ch5">
                </el-time-picker>
            </div>
            <div class="form-group">
                <input type="checkbox" v-model="checkedSem2.ch6">
                <label >Sabado:</label>
                <el-time-picker is-range v-model="shiftSem2.d6" placeholder="Pick a time range" :disabled="!checkedSem2.ch6">
                </el-time-picker>
            </div>
            <div class="form-group">
                <input type="checkbox" v-model="checkedSem2.ch7">
                <label >Domingo:</label>
                <el-time-picker is-range v-model="shiftSem2.d7" placeholder="Pick a time range" :disabled="!checkedSem2.ch7">
                </el-time-picker>
            </div>
        </div>
    </div>
    <div v-if="radio2=='r3'">
        <div class="box-form">
            <h3 class="panel-title">Horario de Trabajo (Semana 3)</h3>
            <div class="form-group">
                <input type="checkbox" v-model="checkedSem3.ch1">
                <label >Lunes:</label>
                <el-time-picker is-range v-model="shiftSem3.d1" placeholder="Pick a time range" :disabled="!checkedSem3.ch1">
                </el-time-picker>
            </div>
            <div class="form-group">
                <input type="checkbox" v-model="checkedSem3.ch2">
                <label >Martes:</label>
                <el-time-picker is-range v-model="shiftSem3.d2" placeholder="Pick a time range" :disabled="!checkedSem3.ch2">
                </el-time-picker>
            </div>
            <div class="form-group">
                <input type="checkbox" v-model="checkedSem3.ch3">
                <label >Miercoles:</label>
                <el-time-picker is-range v-model="shiftSem3.d3" placeholder="Pick a time range" :disabled="!checkedSem3.ch3">
                </el-time-picker>
            </div>
            <div class="form-group">
                <input type="checkbox" v-model="checkedSem3.ch4">
                <label >Jueves:</label>
                <el-time-picker is-range v-model="shiftSem3.d4" placeholder="Pick a time range" :disabled="!checkedSem3.ch4">
                </el-time-picker>
            </div>
            <div class="form-group">
                <input type="checkbox" v-model="checkedSem3.ch5">
                <label >Viernes:</label>
                <el-time-picker is-range v-model="shiftSem3.d5" placeholder="Pick a time range" :disabled="!checkedSem3.ch5">
                </el-time-picker>
            </div>
            <div class="form-group">
                <input type="checkbox" v-model="checkedSem3.ch6">
                <label >Sabado:</label>
                <el-time-picker is-range v-model="shiftSem3.d6" placeholder="Pick a time range" :disabled="!checkedSem3.ch6">
                </el-time-picker>
            </div>
            <div class="form-group">
                <input type="checkbox" v-model="checkedSem3.ch7">
                <label >Domingo:</label>
                <el-time-picker is-range v-model="shiftSem3.d7" placeholder="Pick a time range" :disabled="!checkedSem3.ch7">
                </el-time-picker>
            </div>
        </div>
    </div>
    <div v-if="radio2=='r4'">
        <div class="box-form">
            <h3 class="panel-title">Horario de Trabajo (Semana 4)</h3>
            <div class="form-group">
                <input type="checkbox" v-model="checkedSem4.ch1">
                <label >Lunes:</label>
                <el-time-picker is-range v-model="shiftSem4.d1" placeholder="Pick a time range" :disabled="!checkedSem4.ch1">
                </el-time-picker>
            </div>
            <div class="form-group">
                <input type="checkbox" v-model="checkedSem4.ch2">
                <label >Martes:</label>
                <el-time-picker is-range v-model="shiftSem4.d2" placeholder="Pick a time range" :disabled="!checkedSem4.ch2">
                </el-time-picker>
            </div>
            <div class="form-group">
                <input type="checkbox" v-model="checkedSem4.ch3">
                <label >Miercoles:</label>
                <el-time-picker is-range v-model="shiftSem4.d3" placeholder="Pick a time range" :disabled="!checkedSem4.ch3">
                </el-time-picker>
            </div>
            <div class="form-group">
                <input type="checkbox" v-model="checkedSem4.ch4">
                <label >Jueves:</label>
                <el-time-picker is-range v-model="shiftSem4.d4" placeholder="Pick a time range" :disabled="!checkedSem4.ch4">
                </el-time-picker>
            </div>
            <div class="form-group">
                <input type="checkbox" v-model="checkedSem4.ch5">
                <label >Viernes:</label>
                <el-time-picker is-range v-model="shiftSem4.d5" placeholder="Pick a time range" :disabled="!checkedSem4.ch5">
                </el-time-picker>
            </div>
            <div class="form-group">
                <input type="checkbox" v-model="checkedSem4.ch6">
                <label >Sabado:</label>
                <el-time-picker is-range v-model="shiftSem4.d6" placeholder="Pick a time range" :disabled="!checkedSem4.ch6">
                </el-time-picker>
            </div>
            <div class="form-group">
                <input type="checkbox" v-model="checkedSem4.ch7">
                <label >Domingo:</label>
                <el-time-picker is-range v-model="shiftSem4.d7" placeholder="Pick a time range" :disabled="!checkedSem4.ch7">
                </el-time-picker>
            </div>
        </div>
    </div>
</div>
