{% extends "/HumanResources/Partials/box.twig" %}
{% block boxTitle %}Turno{% endblock %}
{% block boxContent %}
    {% include '/Payrolls/WorkShift/info.twig' %}
    <div v-if="radio=='r1'" class="col-xs-12 col-sm-12 col-md-5 col-lg-5">
        <div class="box-form">
            <h3 class="panel-title">Horario de Trabajo</h3>
            <div class="form-group">
                <input type="checkbox" v-model="checkedSem1.ch1">
                <label >Lunes:</label>
                <el-time-picker is-range v-model="shiftSem1.d1" placeholder="Pick a time range" :disabled="!checkedSem1.ch1">
                </el-time-picker>
            </div>
            <div class="form-group">
                <input type="checkbox" v-model="checkedSem1.ch2">
                <label >Martes:</label>
                <el-time-picker is-range v-model="shiftSem1.d2" placeholder="Pick a time range" :disabled="!checkedSem1.ch2">
                </el-time-picker>
            </div>
            <div class="form-group">
                <input type="checkbox" v-model="checkedSem1.ch3">
                <label >Miercoles:</label>
                <el-time-picker is-range v-model="shiftSem1.d3" placeholder="Pick a time range" :disabled="!checkedSem1.ch3">
                </el-time-picker>
            </div>
            <div class="form-group">
                <input type="checkbox" v-model="checkedSem1.ch4">
                <label >Jueves:</label>
                <el-time-picker is-range v-model="shiftSem1.d4" placeholder="Pick a time range" :disabled="!checkedSem1.ch4">
                </el-time-picker>
            </div>
            <div class="form-group">
                <input type="checkbox" v-model="checkedSem1.ch5">
                <label >Viernes:</label>
                <el-time-picker is-range v-model="shiftSem1.d5" placeholder="Pick a time range" :disabled="!checkedSem1.ch5">
                </el-time-picker>
            </div>
            <div class="form-group">
                <input type="checkbox" v-model="checkedSem1.ch6">
                <label >Sabado:</label>
                <el-time-picker is-range v-model="shiftSem1.d6" placeholder="Pick a time range" :disabled="!checkedSem1.ch6">
                </el-time-picker>
            </div>
            <div class="form-group">
                <input type="checkbox" v-model="checkedSem1.ch7">
                <label >Domingo:</label>
                <el-time-picker is-range v-model="shiftSem1.d7" placeholder="Pick a time range" :disabled="!checkedSem1.ch7">
                </el-time-picker>
            </div>
        </div>
    </div>
    {% include 'Payrolls/WorkShift/variable.twig' %}
    {% include '/Payrolls/WorkShift/rotative.twig' %}
    {% include '/Payrolls/WorkShift/break.twig' %}
{% endblock %}
