<div class="box box-primary">
    <div class="box-header">
        <h3 class="box-title">
            Detalles de la cuenta contable
        </h3>
    </div>
    <div class="box-body">
        <div class="row">
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-8
                    col-xs-12">
                    <h1>
                        ${ account.description }
                    </h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8
                    col-xs-12">
                        <h2>
                            ${ account.code }
                        </h2>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-4">
                        <h4>
                            <i>
                                Naturaleza: ${ account.nature }
                            </i>
                        </h4>
                    </div>
                    <div class="col-md-4"></div>
                    <div class="col-md-4">
                        <h4>
                            Tipo: ${ account.type }
                        </h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <h4>
                            Clasificación:
                            <i>
                                ${ account.classification }
                            </i>
                        </h4>
                    </div>
                    <div class="col-md-4"></div>
                    <div class="col-md-4">
                        <h4>
                            Divisa: ${ account.currency }
                        </h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-8">
                <h3>
                    Agrupador: ${ account.grouper_sat }
                </h3>
            </div>
        </div>
    </div>
</div>
