{% extends "/HumanResources/Partials/box.twig" %}
{% block boxTitle %}Evaluacion de Desempeño{% endblock %}
{% block boxContent %}
<div>
    <label>Producción<br>(cantidad de trabajo realizado)</label>
    <input type="radio" class="content-fluid" v-model="production" value="5">Siempre supera los parametros
    <input type="radio" class="content-fluid" v-model="production" value="4">A veces supera los parámetros
    <input type="radio" class="content-fluid" v-model="production" value="3">Satisfacer los parametros
    <input type="radio" class="content-fluid" v-model="production" value="2">A veces debajo de los parámetros
    <input type="radio" class="content-fluid" v-model="production" value="1">Siempre debajo de los parámetros
</div>
<div>
    <label>Calidad<br>(esmero en el trabajo)</label>
    <input type="radio" class="content-fluid" v-model="quality" value="5">Trabajo de calidad excepcional
    <input type="radio" class="content-fluid" v-model="quality" value="4">Trabajo de calidad superior
    <input type="radio" class="content-fluid" v-model="quality" value="3">Calidad satisfactoria
    <input type="radio" class="content-fluid" v-model="quality" value="2">Calidad insatisfactoria
    <input type="radio" class="content-fluid" v-model="quality" value="1">Trabajo de pesima calidad
</div>
<div>
    <label>Conocimiento en el trabajo<br>(pericia en el trabajo)</label>
    <input type="radio" class="content-fluid"  v-model="knowledge" value="5">Conoce todo el trabajo
    <input type="radio" class="content-fluid"  v-model="knowledge" value="4">Conoce más de lo necesario
    <input type="radio" class="content-fluid"  v-model="knowledge" value="3">Conoce lo suficiente
    <input type="radio" class="content-fluid"  v-model="knowledge" value="2">Conoce parte del trabajo
    <input type="radio" class="content-fluid"  v-model="knowledge" value="1">Conoce poco el trabajo
</div>
<div>
    <label>Cooperación<br>(relaciones interpersonales)</label>
    <input type="radio" class="content-fluid" v-model="teamwork" value="5">Excelente espiritu de colaboracion
    <input type="radio" class="content-fluid" v-model="teamwork" value="4">Buen espiritu de colaboración
    <input type="radio" class="content-fluid" v-model="teamwork" value="3">Colabora normalmente
    <input type="radio" class="content-fluid" v-model="teamwork" value="2">Colabora poco
    <input type="radio" class="content-fluid" v-model="teamwork" value="1">No colabora
</div>
<div>
    <label>Compreción de las situaciones<br>(capacidad para resolver problemas)</label>
    <input type="radio" class="content-fluid" v-model="understanding" value="5">Excelente capacidad intuitiva
    <input type="radio" class="content-fluid" v-model="understanding" value="4">Buena capacidad intuitiva
    <input type="radio" class="content-fluid" v-model="understanding" value="3">Satsfactoria capacidad intuitiva
    <input type="radio" class="content-fluid" v-model="understanding" value="2">Poca capacidad intuitiva
    <input type="radio" class="content-fluid" v-model="understanding" value="1">Ninguna capacidad intuitiva
</div>
<div>
    <label>Creatividad<br>(capacidad para inovar)</label>
    <input type="radio" class="content-fluid" v-model="creativity" value="5">Siempre tiene excelentes ideas
    <input type="radio" class="content-fluid" v-model="creativity" value="4">Casi siempre tiene excelentes ideas
    <input type="radio" class="content-fluid" v-model="creativity" value="3">Algunas veces precenta ideas
    <input type="radio" class="content-fluid" v-model="creativity" value="2">Rara vez precenta ideas
    <input type="radio" class="content-fluid" v-model="creativity" value="1">Nunca precenta ideas
</div>
<div>
    <label>Realización<br>(capacidad para hacer)</label>
    <input type="radio" class="content-fluid" v-model="acomplishment" value="5">Excelente capacidad de realización
    <input type="radio" class="content-fluid" v-model="acomplishment" value="4">Buena capacidad de realización
    <input type="radio" class="content-fluid" v-model="acomplishment" value="3">Razonable capacidad de realización
    <input type="radio" class="content-fluid" v-model="acomplishment" value="2">Dificultad para realizar
    <input type="radio" class="content-fluid" v-model="acomplishment" value="1">Incapaz de realizar
</div>
{% endblock %}
