{% block body %}
    <section>

        {% include( 'Accounting/Config/Old/Partials/buttonSave.twig' ) %}
        <div class="panel-content">
            {% include( 'Accounting/Config/Old/Partials/list.twig' ) %}
        </div>
    </section>
{% endblock %}
{% block loadScripts %}
    <script id="scriptContainer" type="text/javascript">
        init.lenght = 0;
        init = [ {
            title: 'Centro de Costos',
            file: 'Accounting/Config/config.js',
            functions: [ {
                name: 'Config',
                args: []
            } ]
        } ];
    </script>
{% endblock %}
