 <template slot="contactPhone" scope="row">
    <el-popover
        ref="phones"
        placement="right"
        width="150"
        trigger="click">
        <div>
            <div class="borderBottom">
                <h3 class="panel-title">
                    <i class="fa fa-phone" aria-hidden="true"></i>
                    ${row.object.phones.length > 1 ?
                    'Otros telefonos' : 
                    'Sin otros telefonos'}
                </h3>
            </div>
            <div v-for="(phone, index) in row.object.phones" v-if="index != 0">
                ${'* '+phone.phone}
            </div>
        </div>
    </el-popover>
    <el-tooltip 
        class="item" 
        effect="dark" 
        :content="row.object.phones.length > 1 ? 
        'Haz clic para ver otros telefonos' : 
        'Sin otros telefono'" 
        placement="bottom-start">
        <a
            role="button"
            v-popover:phones 
            class=" btn btn-info linkId">
            <i class="fa fa-phone" aria-hidden="true"></i>
            ${row.object.phones.length > 0 ? row.object.phones[0].phone : 's/n'}
        </a> 
    </el-tooltip>
</template>
<template slot="contactMail" scope="row">
    <el-popover
        ref="mails"
        placement="right"
        width="150"
        trigger="click">
        <div>
            <div class="borderBottom">
                <h3 class="panel-title">
                    <i class="fa fa-envelope" aria-hidden="true"></i>
                    ${row.object.emails.length > 1 ?
                    'Otros e-mails' : 
                    'Sin otros e-mails'}
                </h3>
            </div>
            <div v-for="(email, index) in row.object.emails" v-if="index != 0">
                ${'* '+email.email}
            </div>
        </div>
    </el-popover>
    <el-tooltip 
        class="item" 
        effect="dark" 
        :content="row.object.emails.length > 1 ? 
        'Haz clic para ver otros e-mails' : 
        'Sin otros e-mails'" 
        placement="bottom-start">
        <a
            role="button"
            v-popover:mails 
            class=" btn btn-info linkId">
            <i class="fa fa-envelope" aria-hidden="true"></i>
            ${row.object.emails.length > 0 ? row.object.emails[0].email : 's/n'}
        </a>
    </el-tooltip>
</template>
<template slot="mainContact" scope="row">
    <input type="checkbox"  v-model="row.object.mainContact" @click="contactMain(row.object)">
</template>
<template slot="user" scope="row" >
    <div class="expand" v-if="row.object.crated_by">
        <a href="#" class="padd5" style="display: block;">
            <div v-if="(row.object.crated_by.picture !== '[none]')" class="pull-left contentMiddle ">
                <img 
                    v-bind:src="'https://cdn.tuadmin.com/' + row.object.crated_by.picture" 
                    alt="User Image" 
                    class="img-circle h35 mw35" 
                    style="margin-right: 10px;">
            </div>
            <div class="mh55">{# mih40 mh55#}
                <strong class="card-title" style="color: #555;">                                   
                    ${row.object.crated_by.nickname}
                </strong>
                <div class="card-content">
                    <el-tooltip 
                        class="item" 
                        effect="dark" 
                        :content="row.object.crated_by ?
                        (row.object.crated_by.name + ' '+
                        (row.object.crated_by.lastname ? row.object.crated_by.lastname : '') + ' ' +
                        (row.object.crated_by.surname ? row.object.crated_by.surname : '')) : 'S/A'" 
                        placement="bottom-start">
                        <i class="fa fa-address-card"></i>
                    </el-tooltip>
                    ${ row.object.crated_by ?
                    (row.object.crated_by.name + ' '+
                    (row.object.crated_by.lastname ? row.object.crated_by.lastname : '') + ' ' +
                    (row.object.crated_by.surname ? row.object.crated_by.surname : '')) : 'S/A' }
                </div>
            </div>
        </a>
    </div>
</template>
<template slot="customerContactsActions" scope="row">
    <div class="ui-button bg-Light-Blue overflowInherit">
        <div class="secondary">
            <a
                data-tooltip="Editar"
                role="button"
                class="btn btn-info has-tooltip align-right"
                data-tooltip="Editar"
                v-on:click="opTab('crm/seguimiento/editar/'+row.object.id,'md')"
                style="color:  #fff;">
                <span class="glyphicon glyphicon-edit"></span>
            </a>
            <a
                data-tooltip="Eliminar"
                role="button"
                class="has-tooltip btn align-right"
                v-on:click="onRemoveClick(row.object)">
                <span class="glyphicon glyphicon-trash"></span>
            </a>
        </div>
    </div>
</template>