{% block body %}
<section>
    <div id="create-movement-module">
        <div class="header-buttons">
            <div class="btn-group main-buttons">
                <button
                    class="btn btn-success"
                    @click="saveMovement(1)">
                    <span class="glyphicon glyphicon-floppy-disk"></span>
                    Guardar
                </button>
                <button
                    class="btn btn-success"
                    @click="saveMovement(2)">
                    <span class="glyphicon glyphicon-floppy-disk"></span>
                    Guardar y Nuevo
                </button>
            </div>
        </div>
        <div class="panel-content">
            <div class="row">
                <div class="col-md-12">

                    <div class="panel-group" role="tablist">
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingOne">
                                <h4 class="panel-title">
                                    <a role="button" data-toggle="collapse" href="#movement" aria-expanded="true">
                                        Datos de Movimiento <i class="fa fa-caret-down" aria-hidden="true"></i>
                                    </a>
                                </h4>
                            </div>
                            <div {# id="movement" #} class="panel-collapse collapse in" role="tabpanel">
                                <div class="panel-body">

                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="form-group req">
                                                <label>Tipo de Movimiento</label>
                                                <el-select
                                                    v-model="selectMovementType"
                                                    filterable
                                                    clearable
                                                    placeholder="Seleccionar Movimiento...">
                                                    <el-option
                                                        v-for="item in $store.getters['movementType/dataForSelects'].options"
                                                        :key="item.id"
                                                        :label="item.name"
                                                        :value="item.id">
                                                    </el-option>
                                                </el-select>
                                            </div>
                                        </div>

                                        <div class="col-md-4">
                                            <div v-if="selectMovementType != ENTRADA_POR_AJUSTE" class="form-group req">
                                                <label v-if="selectMovementType == ''">Origen:</label>

                                                <label v-if="selectMovementType == ENTRADA_POR_COMPRA">Proveedor Origen:</label>

                                                <label v-if="selectMovementType == ENTRADA_POR_DEVOLUCION">Cliente Origen:</label>

                                                <label v-if="selectMovementType == ENTRADA_POR_TRASPASO ||
                                                             selectMovementType == SALIDA_POR_VENTA ||
                                                             selectMovementType == SALIDA_POR_TRASPASO ||
                                                             selectMovementType == SALIDA_POR_DEVOLUCION ||
                                                             selectMovementType == SALIDA_POR_AJUSTE">
                                                             Almacen Origen:
                                                </label>

                                                <el-select
                                                    v-model="selectOrigin"
                                                    placeholder="Seleccionar Origen..."
                                                    filterable
                                                    :disabled="!selectOriginEnabled">
                                                        <el-option
                                                            v-for="item in selectOriginOptions"
                                                            :key="item.id"
                                                            :label="item.name"
                                                            :value="item.id">
                                                        </el-option>
                                                </el-select>
                                            </div>

                                        </div>

                                        <div class="col-md-4">

                                            <div v-if="selectMovementType != SALIDA_POR_AJUSTE" class="form-group req">
                                                <label v-if="selectMovementType == ''">Destino:</label>

                                                <label v-if="selectMovementType == ENTRADA_POR_COMPRA ||
                                                             selectMovementType == ENTRADA_POR_DEVOLUCION ||
                                                             selectMovementType == ENTRADA_POR_TRASPASO ||
                                                             selectMovementType == ENTRADA_POR_AJUSTE ||
                                                             selectMovementType == SALIDA_POR_TRASPASO">
                                                             Almacen Destino:
                                                </label>

                                                <label v-if="selectMovementType == SALIDA_POR_VENTA">Cliente Destino:</label>

                                                <label v-if="selectMovementType == SALIDA_POR_DEVOLUCION">Proveedor Destino:</label>

                                                <el-select
                                                    v-model="selectDestiny"
                                                    placeholder="Seleccionar Destino..."
                                                    filterable
                                                    :disabled="!selectDestinyEnabled">
                                                        <el-option
                                                            v-for="item in selectDestinyOptions"
                                                            :key="item.id"
                                                            :label="item.name"
                                                            :value="item.id">
                                                        </el-option>
                                                </el-select>
                                            </div>

                                        </div>

                                    </div>

                                    <div class="col-md-4">
                                        <div v-if="selectMovementType == ENTRADA_POR_COMPRA" class="form-group req">
                                            <label>Selecciona Compra:</label>
                                            <el-select
                                                v-model="selectedExtra"
                                                filterable
                                                placeholder="Selecciona compra...">
                                                <el-option
                                                    v-for="item in selectExtraOptions"
                                                    :key="item.purchase"
                                                    :label="'Compra ' + item.purchase"
                                                    :value="item.purchase">
                                                </el-option>
                                            </el-select>
                                        </div>

                                        <div v-if="selectMovementType == SALIDA_POR_VENTA || selectMovementType == ENTRADA_POR_DEVOLUCION" class="form-group req">
                                            <label>Selecciona Venta:</label>
                                            <el-select
                                                v-model="selectedExtra"
                                                filterable
                                                placeholder="Selecciona venta...">
                                                <el-option
                                                    v-for="item in selectExtraOptions"
                                                    :key="item.id"
                                                    :label="'Venta ' + item.id"
                                                    :value="item.id">
                                                </el-option>
                                            </el-select>
                                        </div>
                                    </div>

                                    <div class="col-md-4">
                                        <div v-if="selectMovementType == ENTRADA_POR_COMPRA" class="form-group">
                                            <label>Folios Facturas:</label>
                                            <el-select
                                                v-model="invoices"
                                                multiple
                                                filterable
                                                allow-create
                                                placeholder="Folios">
                                                <el-option
                                                    v-for="item in listInvoices"
                                                    :key="item.id"
                                                    :label="item.folio"
                                                    :value="item.id">
                                                </el-option>
                                            </el-select>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label>Comentarios</label>
                                                <textarea maxlength="255" style="resize: none;" v-model="comments"></textarea>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <input type="checkbox" v-model="authorized">Autorizar</input>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <div class="panel-footer">
                                    <a role="button" class="remove-panel-footer">
                                        <i aria-hidden="true" class="fa fa-times-circle fa-lg cBlack"></i>
                                    </a>
                                    <strong>Instrucciones:</strong> <br>
                                    (1) Selecciona el tipo de movimiento <br>
                                    (2) Selecciona el Origen y Destino<br>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="panel-group" role="tablist">
                        <div class="panel panel-default">

                            <div class="panel-heading" role="tab" id="headingOne">
                                <h4 class="panel-title">
                                    <a role="button" data-toggle="collapse" href="#productsDetails" aria-expanded="true">
                                        Productos <i class="fa fa-caret-down" aria-hidden="true"></i>
                                    </a>
                                    <span v-if="loadingProduct"><i class="el-icon-loading"></i></span>
                                </h4>

                            </div>
                            <div id="productsDetails" class="panel-collapse collapse in" role="tabpanel">
                                <div class="panel-body">
                                    <div v-if="selectMovementType !== ENTRADA_POR_COMPRA" class="row">

                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label>Código:</label>
                                                <el-select
                                                    v-model="selectedProduct"
                                                    filterable
                                                    remote
                                                    placeholder="Buscar..."
                                                    loading-text="Buscando..."
                                                    no-match-text="Producto no encontrado"
                                                    no-data-text="Producto no encontrado"
                                                    :remote-method="ajaxSearchProductsByCode"
                                                    :loading="loading"
                                                    @change="selectProductsOnChange"
                                                    :disabled="selectMovementType == ENTRADA_POR_COMPRA || selectMovementType == SALIDA_POR_VENTA">
                                                    <el-option
                                                        v-for="item in selectProductsOptions"
                                                        :key="item.value"
                                                        :label="item.label"
                                                        :value="item.value">
                                                    </el-option>
                                                </el-select>
                                            </div>
                                        </div>

                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label style="text-align: right;">
                                                    <span class="glyphicon glyphicon-barcode"></span>
                                                    CB:
                                                </label>
                                                <el-select
                                                    v-model="selectedProduct"
                                                    filterable
                                                    remote
                                                    placeholder="Buscar..."
                                                    loading-text="Buscando..."
                                                    no-match-text="Producto no encontrado"
                                                    no-data-text="Producto no encontrado"
                                                    :remote-method="ajaxSearchProductsByBC"
                                                    :loading="loading"
                                                    @change="selectProductsOnChange"
                                                    :disabled="selectMovementType == ENTRADA_POR_COMPRA || selectMovementType == SALIDA_POR_VENTA">
                                                    <el-option
                                                        v-for="item in selectProductsOptions"
                                                        :key="item.value"
                                                        :label="item.label"
                                                        :value="item.value">
                                                    </el-option>
                                                </el-select>
                                            </div>
                                        </div>

                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label>Nombre:</label>
                                                <el-select
                                                    v-model="selectedProduct"
                                                    filterable
                                                    remote
                                                    placeholder="Buscar..."
                                                    loading-text="Buscando..."
                                                    no-match-text="Producto no encontrado"
                                                    no-data-text="Producto no encontrado"
                                                    :remote-method="ajaxSearchProductsByName"
                                                    :loading="loading"
                                                    @change="selectProductsOnChange"
                                                    :disabled="selectMovementType == ENTRADA_POR_COMPRA || selectMovementType == SALIDA_POR_VENTA">
                                                    <el-option
                                                        v-for="item in selectProductsOptions"
                                                        :key="item.value"
                                                        :label="item.label"
                                                        :value="item.value">
                                                    </el-option>
                                                </el-select>
                                            </div>
                                        </div>

                                    </div>

                                    <br>

                                    <div class="row">
                                        <div class="col-md-12 table-responsive">
                                            <vue-dynamic-table-rbc
                                                ref="productsTable"
                                                hide-main-bar
                                                hide-filters-stats
                                                    class-name="table table-hover table-striped table-condensed table-bordered"
                                                    :source-columns="computedColumns"
                                                    :data-model="listProducts">

                                                        {# SLOTS #}
                                                        <template slot="productDelete" scope="row">
                                                            <template v-if="selectMovementType != ENTRADA_POR_COMPRA && selectMovementType != SALIDA_POR_VENTA">
                                                                <a class="btn btn-danger" role="button" @click="takeOutProduct(row.object)">
                                                                    <span class="glyphicon glyphicon-trash"></span>
                                                                </a>
                                                            </template>
                                                        </template>

                                                        <template slot="productUnit" scope="row">
                                                            <template v-if="row.object.unit != null">
                                                                ${row.object.unit.name}
                                                            </template>
                                                        </template>

                                                        <template slot="productDescription" scope="row">
                                                            <div class="expand">
                                                                ${row.object.description}
                                                            </div>
                                                        </template>

                                                        <template slot="productCost" scope="row">
                                                            <input type="text" v-model="row.object.cost">
                                                        </template>

                                                        <template slot="productSerial" scope="row">
                                                            <div v-if="row.object.register_serial_numbers">
                                                                <el-tag type="warning">3 / ${row.object.to_receive}</el-tag>
                                                                <a
                                                                    role="button"
                                                                    data-action="openLateral"
                                                                    data-panelsize="sm"
                                                                    :data-route="'almacenes/inventarios/' +  row.object.id + '/serialNumbers'"
                                                                    class="btn btn-success pull-right">
                                                                    <i class="fa fa-plus" aria-hidden="true"></i>
                                                                    Detalles</a>
                                                            </div>
                                                            <span v-else class="NoDataCell">
                                                                No requerido
                                                            </span>
                                                        </template>
                                                        <template slot="productQuantity" scope="row">
                                                            <a>
                                                                ${row.object.stockTotal}
                                                            </a>
                                                        </template>

                                                        <template slot="productToMove" scope="row">
                                                            <template v-if="selectMovementType == ENTRADA_POR_COMPRA ||
                                                                            selectMovementType == SALIDA_POR_VENTA">
                                                                ${row.object.to_receive}
                                                            </template>

                                                            <template v-else-if="selectMovementType == ENTRADA_POR_DEVOLUCION ||
                                                                                 selectMovementType == ENTRADA_POR_TRASPASO || selectMovementType == ENTRADA_POR_AJUSTE">
                                                                <el-input-number
                                                                    v-model="row.object.to_receive"
                                                                    :min="1"></el-input-number>
                                                            </template>

                                                            <template v-else>
                                                                <el-input-number
                                                                    v-model="row.object.to_receive"
                                                                    size="mini"
                                                                    :min="1"
                                                                    :max="row.object.stockTotal"></el-input-number>
                                                            </template>
                                                        </template>

                                                        <template slot="no-rows-found">
                                                            <h4 class="text-center"><span class="glyphicon glyphicon-zoom-in"></span> No has añadido productos</h4>
                                                        </template>
                                            </vue-dynamic-table-rbc>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="panel-footer">
                                <a role="button" class="remove-panel-footer">
                                    <i aria-hidden="true" class="fa fa-times-circle fa-lg cBlack"></i>
                                </a>
                                <strong>Instrucciones:</strong><br>
                                (3) Selecciona los productos<br>
                                <i>Para movimientos de salida debe haber existencia de producto</i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>

{% endblock %}
{% block loadScripts %}
    <script id="scriptContainer" type="text/javascript">
        init.length = 0;
        init = [ {
            title: 'Nuevo Movimiento',
            file:  'Warehouse/Movements/createMovement.js',
            functions: [ {
                name: 'iniciarModuloCreateMovement',
                args: [ ]
            } ]
        } ];
    </script>
{% endblock %}
