<div class="btn-group main-buttons">
	<a id="openTabNewWarehouse" role="button" class="btn btn-success pull-left"
	data-action="openLateral"
	data-route="warehouse/tariffCodes/Add"
	data-panelsize="lg">
	Nueva Fracción Arancelaria</a>
</div>
