{% block content %}
    <section id="tariffItemsAddTemplate">
    	<div class="box box-default">
            <div class="box-header with-border">
                <h3 class="box-title">DATOS PARA AGREGAR NUEVA FRACCIÓN ARANCELARIA</h3>
            </div>

            <div class="box-body">
                <div class="row">
                    <div class="col-md-12">
                        {# NÚMERO IDENTIFICADOR #}
                        <div class="req form-group">
                            <label>Fracción Arancelaria</label>
                            <input
                                v-model="tariffItem.code"
                                @input="$v.tariffItem.code.$touch()"
                                type="text"
                                class="form-control"
                                placeholder="Número identificador">
                            <div class="validation-text">
                                <span v-if="$v.tariffItem.code.$dirty && !$v.tariffItem.code.required">
                                    El número identificador es obligatorio
                                </span>
                            </div>
                        </div>

                        {# DESCRIPCIÓN #}
                        <div class="req form-group">
                            <label>Descripción</label>
                            <textarea
                                v-model="tariffItem.description"
                                @input="$v.tariffItem.description.$touch()"
                                type="text"
                                class="form-control"
                                placeholder="Descripción">
                            </textarea>
                            <div class="validation-text">
                                <span v-if="$v.tariffItem.description.$dirty && !$v.tariffItem.description.required">
                                    La descripción es obligatoria
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        {# INICIO DE VIGENCIA #}
                        <div class="req form-group">
                            <label>Inicio Vigencia</label>
                            <el-date-picker
                                v-model="tariffItem.validStartDate"
                                :editable="false"
                                @change="$v.tariffItem.validStartDate.$touch()"
                                type="date"
                                placeholder="Fecha de Inicio Vigencia">
                            </el-date-picker>
                            <div class="validation-text">
                                <span v-if="$v.tariffItem.validStartDate.$dirty && !$v.tariffItem.validStartDate.required">
                                    La fecha de inicio de vigencia es obligatoria
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">

                        {# FIN DE VIGENCIA #}
                        <div class="req form-group">
                            <label>Fin de Vigencia</label>
                            <el-date-picker
                                v-model="tariffItem.validEndDate"
                                @change="$v.tariffItem.validEndDate.$touch()"
                                type="date"
                                placeholder="Fecha de Fin de Vigencia">
                            </el-date-picker>
                            {# <div class="validation-text">
                                <span v-if="$v.tariffItem.validEndDate.$dirty && !$v.tariffItem.validEndDate.required">
                                    La fecha de fin de vigencia es obligatoria
                                </span>
                            </div> #}
                        </div>
                    </div>

                    <div class="col-md-12">

                        {# CRITERIO #}
                        <div class="req form-group">
                            <label>Criterio</label>
                            <input
                                v-model="tariffItem.criteria"
                                @input="$v.tariffItem.criteria.$touch()"
                                type="text"
                                class="form-control"
                                placeholder="Criterio">
                            <div class="validation-text">
                                <span v-if="$v.tariffItem.criteria.$dirty && !$v.tariffItem.criteria.required">
                                    El criterio es obligatorio
                                </span>
                            </div>
                        </div>

                        {# UNIDAD DE MEDIDA #}
                        <div class="req form-group">
                            <label>Unidad de Medida</label>
                            <input
                                v-model="tariffItem.measureUnit"
                                @input="$v.tariffItem.measureUnit.$touch()"
                                type="text"
                                class="form-control"
                                placeholder="Unidad de Medida">
                            <div class="validation-text">
                                <span v-if="$v.tariffItem.measureUnit.$dirty && !$v.tariffItem.measureUnit.required">
                                    La unidad de medida es obligatoria
                                </span>
                            </div>
                        </div>

                        {# IMPORTACIÓN #}
                        <div class="req form-group">
                            <label>Importación</label>
                            <input
                                v-model="tariffItem.importRatio"
                                @input="$v.tariffItem.importRatio.$touch()"
                                type="text"
                                class="form-control"
                                placeholder="Importación">
                            <div class="validation-text">
                                <span v-if="$v.tariffItem.importRatio.$dirty && !$v.tariffItem.importRatio.required">
                                    El porcentaje de importación es obligatorio
                                </span>
                            </div>
                        </div>

                        {# EXPORTACIÓN #}
                        <div class="req form-group">
                            <label>Exportación</label>
                            <input
                                v-model="tariffItem.exportRatio"
                                @input="$v.tariffItem.exportRatio.$touch()"
                                type="text"
                                class="form-control"
                                placeholder="Exportación">
                            <div class="validation-text">
                                <span v-if="$v.tariffItem.exportRatio.$dirty && !$v.tariffItem.exportRatio.required">
                                    El porcentaje de importación es obligatorio
                                </span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button
                        @click="createTariffItem"
                        :disabled="$v.$invalid"
                        class="btn btn-success">
                        Guardar
                    </button>
                </div>

            </div>
        </div>
    </section>
{% endblock %}

        {% block loadScripts %}
            <script id="scriptContainer" type="text/javascript">
                init.lenght = 0;
                init = [ {
                    title: 'Fraccion Arancelaria',
                    file: 'Warehouse/TariffItems/tariffItemsAdd.js',
                    functions: [ {
                        name: 'addnewtariffItem',
                        args: []
                    } ]
                } ];
            </script>
        {% endblock %}
