<div id="tabletariffitems">
    {# <el-select v-model="tariffCode">
        <el-option
            v-for="option in $store.getters['tariffCode/dataForSelect']"
            :key="option.id"
            :value="option.id"
            :label="option.description"></el-option>
    </el-select> #}
	 <vue-dynamic-table-rbc
        box-classes="box box-primary full-height"
        class-name="table table-bordered table-hover "

        :remote-method="remoteMethod"

        {# FAVORITOS #}
        :favorites="dynamicTableFavorites"
        @save-to-favorites="saveToFavorites"
        @loaded-favorite="loadedFavorite"

        :source-columns="sourceColumns"
        :data-model="tariffItemsList"
        :total-results="totalResults"

        {# Exportar / Importar #}
        @export="exportTable"
        @import="importTable"
        @download-template-file="downloadTemplateFile"
        template-file-name="Listado de Fracciones Arancelarias"

        >

        <template slot="description" scope="row">
            <div class="expand">
                ${ row.object.description }
            </div>
        </template>

        {# ACCIONES #}
        <template slot="actions" scope="row">
            <div class="ui-button bg-Light-Blue overflowInherit">
                <div class="secondary">
                    <a
                        data-route="javascript:void(0);"
                        class="has-tooltip btn align-right"
                        role="button"
                        data-tooltip="Editar"
                        @click="editTariffCode(row.object)">
                        <span class="glyphicon glyphicon-edit"></span>
                    </a>
                    <a
                        class="has-tooltip btn align-right"
                        role="button"
                        data-tooltip="Eliminar"
                        data-route="javascript:void(0);"
                        @click="deleteTariffCode(row.object)">
                        <span class="glyphicon glyphicon-trash"></span>
                    </a>
                </div>
            </div>
        </template>
    </vue-dynamic-table-rbc>
 </div>