<!-- Modal -->
<div class="modal fade" id="modal-add-subsidiary" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Nueva sucursal</h4>
            </div>
            <div class="modal-body">
                <form action="">
                    <div class="form-group">
                        <label for="input-name">Nombre:</label>
                        <input id="input-name" name="name" class="form-control">
                    </div>
                    <fieldset>
                        <legend>Dirección</legend>
                        <div class="form-group">
                            <label for="input-street">Calle:</label>
                            <input id="input-street" name="street" class="form-control">
                        </div>
                        <div class="row">
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label for="input-no-ext">No Ext:</label>
                                    <input id="input-no-ext" name="no-ext" class="form-control">
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label for="input-no-int">No Int:</label>
                                    <input id="input-no-int" name="no-int" class="form-control">
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label for="input-postal-code">CP:</label>
                                    <input id="input-postal-code" name="postal-code" class="form-control">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="input-neighborhood">Colonia:</label>
                                    <input id="input-neighborhood" name="neighborhood" class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="input-neighborhood">Municipio:</label>
                                    <input id="input-neighborhood" name="neighborhood" class="form-control">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="input-city">Ciudad:</label>
                                    <input id="input-city" name="city" class="form-control">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="input-state">Estado:</label>
                                    <input id="input-state" name="state" class="form-control">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="input-country">País:</label>
                                    <input id="input-country" name="country" class="form-control">
                                </div>
                            </div>
                        </div>

                    </fieldset>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>