<section>
    <div id="formPermissionType">
        <div class="header-buttons">
            <div class="btn-group main-buttons">
                <button
                    class="btn btn-success"
                    @click="permissionTypeValidate">
                    <span class="glyphicon glyphicon-floppy-disk"></span>
                    Guardar
                </button>
                <button
                    class="btn btn-danger"
                    data-action="closeTab">
                    <span class="glyphicon glyphicon-remove"></span>
                    Cancelar
                </button>
            </div>
        </div>
        <div class="panel-content">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Tipo de Permiso</h3>
                </div>
                <div class="panel-body">
                    <form v-on:submit.prevent="permissionTypeValidate('formPermissionType')" id="">
                        <input type="hidden" name="id" v-model="permissionType.id">
                        <div class="form-group">
                            <label for="concept">Concepto:</label>
                            <input
                                v-model="permissionType.concept"
                                class="form-control"
                                type="text"
                                @keypress="clearPermissionTypeValidatorError('Concepto')"
                                name="concept">
                            <span v-if="permissionTypeValidatorErrors != null" class="cRed">
                                ${ permissionTypeValidatorErrors.first('Concepto') }
                            </span>
                        </div>
                        <div class="form-group">
                            <label for="suggested_days">Días Sugeridos</label>
                            <input
                                v-model="permissionType.suggested_days"
                                class="form-control"
                                type="text"
                                @keypress="clearPermissionTypeValidatorError('Dias Sugeridos')"
                                name="suggested_days">
                            <span v-if="permissionTypeValidatorErrors != null" class="cRed">
                                ${ permissionTypeValidatorErrors.first('Dias Sugeridos') }
                            </span>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<script id="scriptContainer" type="text/javascript">
{% if id %}
uiVars['see'] = false;
uiVars['id']   = {{id}};
uiVars['data']   = {{data|json_encode|raw}};
{% if uiVars['see'] %}
uiVars['title'] = "Ver Tipo de Permiso";
uiVars['see'] = true;
{% else %}
uiVars['title'] = "Editar Tipo de Permiso";
{% endif %}
init.lenght = 0;
init = [ {
    title: uiVars['title'],
    file: 'HumanResources/Permissions/Types/form.js',
    functions: [ {
        name: 'initFormPermissionTypes',
        args: [ uiVars['id'], uiVars['data'], uiVars['see']]
    } ]
} ];
{% else %}
uiVars['title'] = "Nuevo Tipo de Permiso";
init.lenght = 0;
init = [ {
    title: uiVars['title'],
    file: 'HumanResources/Permissions/Types/form.js',
    functions: [ {
        name: 'initFormPermissionTypes',
        args: []
    } ]
} ];
{% endif %}
</script>
