{% block body %}
    <section>

        <div class="panel-content">
            {% include( 'System/CodesPostals/partials/list.twig' ) %}
        </div>
    </section>
{% endblock %}
{% block loadScripts %}
    <script id="scriptContainer" type="text/javascript">
        init.lenght = 0;
        init = [ {
            title: 'codigos postales',	
            file: 'System/CodesPostals/codespostals.js',
            functions: [ {
                name: 'initList',
                args: []
            } ]
        } ];
    </script>
{% endblock %}
