<div class="header-buttons">
    <div class="btn-group main-buttons">
        <a id="openTabNewWarehouse" role="button" class="btn btn-success pull-left"
           data-action="openLateral"
           data-route="customer2/AddCustomer"
           data-panelsize="lg">
           <span class="glyphicon glyphicon-plus"></span> Nuevo  Cliente</a>

        <a id="openTabNewWarehouse" role="button" class="btn btn-success pull-left"
           data-action="openLateral"
           data-route="AdditionalFeatures/customers"
           data-panelsize="lg">
           <span class="glyphicon glyphicon-plus"></span> Nueva Caracteristica</a>
    </div>
</div>