{% block modulenav %}
<ul class="nav navbar-nav navbar-left">
    <li>
        <div class="navbar-brand s15 h30 block centered noPadding">
            <div class="content contentMiddle">
                <span class="padd5 cWhite text-uppercase">
                </span>
            </div>
        </div>
    </li>
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            Acciones
            <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
            <li>
                <a role="button" data-action="openTab" data-route="/almacenes/movimiento/nuevo">Nuevo Movimiento </a>
            </li>
            <li>
                <a role="button" data-action="openTab" data-route="almacenes/backorders/nuevo">Nuevo Backorder</a>
            </li>
            <li>
                <a role="button" data-action="openTab" data-route="almacenes/inventario/programar">Programar Inventario</a>
            </li>
             <li>
                <a role="button" data-action="openTab" data-route="warehouse/products/add">Nuevo Producto</a>
            </li>
             <li>
                <a role="button" data-action="openTab" data-route="">Nuevo Proveedor</a>
            </li>
             <li>
                <a role="button" data-action="openTab" data-route="precios/crear">Nueva Lista de Precios</a>
            </li>
        </ul>
    </li>
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            Listados
            <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
             <li>
                <a role="button" data-action="openTab" data-route="almacenes/movimientos">Movimientos</a>
            </li>
             <li>
                <a role="button" data-action="openTab" data-route="almacenes/backorders">Backorder</a>
            </li>
             <li>
                <a role="button" data-action="openTab" data-route="warehouse/products/add">Inventarios Programados</a>
            </li>
        </ul>
    </li>
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            Catálogos
            <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
            <li>
                <a role="button" data-action="openTab" data-route="warehouse/products">Productos</a>
            </li>
             <li>
                <a role="button" data-action="openTab" data-route="warehouse/warehouse">Almacenes</a>
            </li>
             <li>
                <a role="button" data-action="openTab" data-route="">Lista de Precios</a>
            </li>
             <li>
                <a role="button" data-action="openTab" data-route="warehouse/categorias">Categorias</a>
            </li>
             <li>
                <a role="button" data-action="openTab" data-route="warehouse/marcas">Marcas</a>
            </li>
             <li>
                <a role="button" data-action="openTab" data-route="warehouse/attributes">Atributos</a>
            </li>
             <li>
                <a role="button" data-action="openTab" data-route="warehouse/bussinesTypes">Giros Comerciales</a>
            </li>
             <li>
                <a role="button" data-action="openTab" data-route="warehouse/mercados">Mercados</a>
            </li>
             <li>
                <a role="button" data-action="openTab" data-route="warehouse/tags">Etiquetas</a>
            </li>
        </ul>
    </li>
</ul>
{% endblock %}
