<div class="row">
    <div class="col-md-4">
        <div class="form-group">
            <label for="">Marca:</label>
            <el-select
                v-model="brandException.brand"
                filterable
                remote
                placeholder="Please enter a keyword"
                :remote-method="searchBrand"
                :loading="isLoading"
                @change="onSelectBrandExceptionBrand($event)">
                <el-option
                    v-for="brand in listBrands"
                    :key="brand.id"
                    :label="brand.name"
                    :value="brand">
                </el-option>
            </el-select>
            <p class="text-danger" v-show="hasBrandExceptionError('brand')">
                ${ brandExceptionErrors.brand }
            </p>
        </div>
        <div class="form-group">
            <label>Tipo</label>
            <el-select
                v-model="brandException.valueType"
                @change="onSelectBrandExceptionValueType($event)">
                <el-option
                    v-for="valueType in listValueTypes"
                    :key="valueType.id"
                    :label="valueType.name"
                    :value="valueType">
                </el-option>
            </el-select>
            <p class="text-danger" v-show="hasBrandExceptionError('valueType')">
                ${ brandExceptionErrors.valueType }
            </p>
        </div>
        <div class="form-group">
            <label>Valor</label>
            <input type="text" v-model="brandException.value" @change="removeBrandExceptionError('value')">
            <p class="text-danger" v-show="hasBrandExceptionError('value')">
                ${ brandExceptionErrors.value }
            </p>
        </div>
        <div class="row">
            <div class="col-md-6">
                <button class="btn btn-primary block"
                @click="onSaveBrandExceptionButtonClick">Guardar</button>
            </div>
            <div class="col-md-6">
                <button class="btn btn-default block"
                @click="onCancelBrandExceptionButtonClick">Cancelar</button>
            </div>
        </div>
    </div>
    <div class="col-md-8">
        <el-table
            height="350"
            :data="brandExceptions"
            style="width: 100%">
            <el-table-column
                prop="brand.code"
                label="Codigo"
                width="140">
            </el-table-column>
            <el-table-column
                prop="brand.name"
                label="Marca"
                min-width="250">
            </el-table-column>
            <el-table-column
                prop="valueType.name"
                label="Tipo de valor"
                width="150">
            </el-table-column>
            <el-table-column
                prop="value"
                label="Valor"
                width="100">
            </el-table-column>
            <el-table-column
                width="120">
                <template scope="scope">
                    <el-button type="button" size="small" @click="editBrandException(scope)">
                        <span class="fa fa-pencil-square-o"></span>
                    </el-button>
                    <el-button type="button" size="small" @click="askForDeleteBrandException(scope)">
                        <span class="fa fa-trash"></span>
                    </el-button>
                </template>
            </el-table-column>
        </el-table>
    </div>
</div>
