<div class="row">
    <div class="col-md-4">
        <div class="form-group">
            <label for="">Categoria:</label>
            <el-select
                v-model="categoryException.category"
                filterable
                remote
                placeholder="Please enter a keyword"
                :remote-method="searchCategory"
                :loading="isLoading"
                @change="onSelectCategoryExceptionCategory($event)">
                <el-option
                    v-for="category in listCategories"
                    :key="category.id"
                    :label="category.name"
                    :value="category">
                </el-option>
            </el-select>
            <p class="text-danger" v-show="hasCategoryExceptionError('category')">
                ${ categoryExceptionErrors.category }
            </p>
        </div>
        <div class="form-group">
            <label>Tipo</label>
            <el-select
                v-model="categoryException.valueType"
                @change="onSelectCategoryExceptionValueType($event)">
                <el-option
                    v-for="valueType in listValueTypes"
                    :key="valueType.id"
                    :label="valueType.name"
                    :value="valueType">
                </el-option>
            </el-select>
            <p class="text-danger" v-show="hasCategoryExceptionError('valueType')">
                ${ categoryExceptionErrors.valueType }
            </p>
        </div>
        <div class="form-group">
            <label>Valor</label>
            <input type="text" v-model="categoryException.value" @change="removeCategoryExceptionError('value')">
            <p class="text-danger" v-show="hasCategoryExceptionError('value')">
                ${ categoryExceptionErrors.value }
            </p>
        </div>
        <div class="row">
            <div class="col-md-6">
                <button class="btn btn-primary block"
                @click="onSaveCategoryExceptionButtonClick">Guardar</button>
            </div>
            <div class="col-md-6">
                <button class="btn btn-default block"
                @click="onCancelCategoryExceptionButtonClick">Cancelar</button>
            </div>
        </div>
    </div>
    <div class="col-md-8">
        <el-table
            height="350"
            :data="categoryExceptions"
            style="width: 100%">
            <el-table-column
                prop="category.code"
                label="Codigo"
                width="140">
            </el-table-column>
            <el-table-column
                prop="category.name"
                label="Categoria"
                min-width="250">
            </el-table-column>
            <el-table-column
                prop="valueType.name"
                label="Tipo de valor"
                width="150">
            </el-table-column>
            <el-table-column
                prop="value"
                label="Valor"
                width="100">
            </el-table-column>
            <el-table-column
                width="120">
                <template scope="scope">
                    <el-button type="button" size="small" @click="editCategoryException(scope)">
                        <span class="fa fa-pencil-square-o"></span>
                    </el-button>
                    <el-button type="button" size="small" @click="askForDeleteCategoryException(scope)">
                        <span class="fa fa-trash"></span>
                    </el-button>
                </template>
            </el-table-column>
        </el-table>
    </div>
</div>
