<div class="row">
    <div class="col-md-4">
        <div class="form-group">
            <label for="">Grupo:</label>
            <el-select
                v-model="groupException.group"
                filterable
                remote
                placeholder="Please enter a keyword"
                :remote-method="searchGroup"
                :loading="isLoading"
                @change="onSelectGroupExceptionGroup($event)">
                <el-option
                    v-for="group in listGroups"
                    :key="group.id"
                    :label="group.name"
                    :value="group">
                </el-option>
            </el-select>
            <p class="text-danger" v-show="hasGroupExceptionError('group')">
                ${ groupExceptionErrors.group }
            </p>
        </div>
        <div class="form-group">
            <label>Tipo</label>
            <el-select
                v-model="groupException.valueType"
                @change="onSelectGroupExceptionValueType($event)">
                <el-option
                    v-for="valueType in listValueTypes"
                    :key="valueType.id"
                    :label="valueType.name"
                    :value="valueType">
                </el-option>
            </el-select>
            <p class="text-danger" v-show="hasGroupExceptionError('valueType')">
                ${ groupExceptionErrors.valueType }
            </p>
        </div>
        <div class="form-group">
            <label>Valor</label>
            <input type="text" v-model="groupException.value" @change="removeGroupExceptionError('value')">
            <p class="text-danger" v-show="hasGroupExceptionError('value')">
                ${ groupExceptionErrors.value }
            </p>
        </div>
        <div class="row">
            <div class="col-md-6">
                <button class="btn btn-primary block"
                @click="onSaveGroupExceptionButtonClick">Guardar</button>
            </div>
            <div class="col-md-6">
                <button class="btn btn-default block"
                @click="onCancelGroupExceptionButtonClick">Cancelar</button>
            </div>
        </div>
    </div>
    <div class="col-md-8">
        <el-table
            height="350"
            :data="groupExceptions"
            style="width: 100%">
            <el-table-column
                prop="group.code"
                label="Codigo"
                width="140">
            </el-table-column>
            <el-table-column
                prop="group.name"
                label="Grupo"
                min-width="250">
            </el-table-column>
            <el-table-column
                prop="valueType.name"
                label="Tipo de valor"
                width="150">
            </el-table-column>
            <el-table-column
                prop="value"
                label="Valor"
                width="100">
            </el-table-column>
            <el-table-column
                width="120">
                <template scope="scope">
                    <el-button type="button" size="small" @click="editGroupException(scope)">
                        <span class="fa fa-pencil-square-o"></span>
                    </el-button>
                    <el-button type="button" size="small" @click="askForDeleteGroupException(scope)">
                        <span class="fa fa-trash"></span>
                    </el-button>
                </template>
            </el-table-column>
        </el-table>
    </div>
</div>
