<div class="row">
    <div class="col-md-4">
        <div class="form-group">
            <label for="">Linea:</label>
            <el-select
                v-model="lineException.line"
                filterable
                remote
                placeholder="Please enter a keyword"
                :remote-method="searchLine"
                :loading="isLoading"
                @change="onSelectLineExceptionLine($event)">
                <el-option
                    v-for="line in listLines"
                    :key="line.id"
                    :label="line.name"
                    :value="line">
                </el-option>
            </el-select>
            <p class="text-danger" v-show="hasLineExceptionError('line')">
                ${ lineExceptionErrors.line }
            </p>
        </div>
        <div class="form-group">
            <label>Tipo</label>
            <el-select
                v-model="lineException.valueType"
                @change="onSelectLineExceptionValueType($event)">
                <el-option
                    v-for="valueType in listValueTypes"
                    :key="valueType.id"
                    :label="valueType.name"
                    :value="valueType">
                </el-option>
            </el-select>
            <p class="text-danger" v-show="hasLineExceptionError('valueType')">
                ${ lineExceptionErrors.valueType }
            </p>
        </div>
        <div class="form-group">
            <label>Valor</label>
            <input type="text" v-model="lineException.value" @change="removeLineExceptionError('value')">
            <p class="text-danger" v-show="hasLineExceptionError('value')">
                ${ lineExceptionErrors.value }
            </p>
        </div>
        <div class="row">
            <div class="col-md-6">
                <button class="btn btn-primary block"
                @click="onSaveLineExceptionButtonClick">Guardar</button>
            </div>
            <div class="col-md-6">
                <button class="btn btn-default block"
                @click="onCancelLineExceptionButtonClick">Cancelar</button>
            </div>
        </div>
    </div>
    <div class="col-md-8">
        <el-table
            height="350"
            :data="lineExceptions"
            style="width: 100%">
            <el-table-column
                prop="line.code"
                label="Codigo"
                width="140">
            </el-table-column>
            <el-table-column
                prop="line.name"
                label="Linea"
                min-width="250">
            </el-table-column>
            <el-table-column
                prop="valueType.name"
                label="Tipo de valor"
                width="150">
            </el-table-column>
            <el-table-column
                prop="value"
                label="Valor"
                width="100">
            </el-table-column>
            <el-table-column
                width="120">
                <template scope="scope">
                    <el-button type="button" size="small" @click="editLineException(scope)">
                        <span class="fa fa-pencil-square-o"></span>
                    </el-button>
                    <el-button type="button" size="small" @click="askForDeleteLineException(scope)">
                        <span class="fa fa-trash"></span>
                    </el-button>
                </template>
            </el-table-column>
        </el-table>
    </div>
</div>
