<div id="tableTeams">
    <vue-dynamic-table
        class-name="table table-bordered table-responsive"
        v-bind:class="{ fullHeight }"
        v-bind:filter-enabled="true"
        v-bind:expandable-row="true"
        v-bind:columns="sourceColumns"
        v-bind:data-model="listTeams"
        v-on:go-to-page="goToPage"
        v-bind:pagination-options="pageOptions">

            <template slot="add" scope="row">
                    <div  class="ui-button bg-Light-Blue overflowInherit" >
                        <el-popover
                            id="popover"
                            ref="popover4"
                            placement="right"
                            width="250"
                            max-height="400"
                            trigger="click" >

                                <span role="button"
                                 title="Asigna otro empleado"
                                 v-on:click="onClickForm"
                                 class="closeTab fa fa-plus"></span>
                                <a style="cursor:pointer;" v-on:click="saveChangesLits(row.object)"><span class="glyphicon glyphicon-floppy-disk btn-lg"></span></a>
                                <el-select
                                    v-model="Employee"
                                    multiple
                                    filterable
                                    remote
                                    :remote-method="remoteMethod"
                                    :loading="loading">
                                    <el-option
                                      v-for="item in listEmployee"
                                      :key="item.value"
                                      :label="item.label"
                                      :value="item.value">
                                    </el-option>
                                </el-select>

                                <h4>Empleados</h4>
                                <ul id="example-1">
                                    <div class="list-group">
                                        <li v-for="employee in row.object.employee">
                                            <a class="list-group-item">
                                                <div v-if ="(employee.picture !== '[none]')" class="pull-left contentMiddle">
                                                    <img
                                                        v-bind:src="'https://cdn.tuadmin.com/' + employee.picture"
                                                        class="img-circle h35"
                                                        style="margin-right: 10px;">
                                                </div>
                                                <div class="h40">
                                                    ${ employee ?
                                                    (employee.name + ' '+
                                                    employee.father_surname + ' ' +
                                                    employee.mother_surname) : 'S/A' }
                                                </div>
                                                <span
                                                    role="button"
                                                    class="closeTab delMiddle20 fa fa-times"
                                                    title="Quitar este empleado de la oportunidad"
                                                    v-on:click="onDeleteMember(row.object.id, employee.id)">
                                                </span>
                                            </a>
                                        </li>
                                    </div>
                                </ul>
                        </el-popover>

                        <a v-on:click="loadAll(row.object)" class="btn btn-info align-right has-tooltip" data-tooltip="ver" v-popover:popover4><span class="glyphicon glyphicon-eye-open"></span></a>
                    </div>

            </template>

            <template slot="actions" scope="row">
                <div v-if= "row.object.employee != ''" class="ui-button bg-Light-Blue overflowInherit">
                    <div class="secondary">
                        <a class="btn btn-info" disabled v-on:click="noChanges">
                            <span class="glyphicon glyphicon-edit"></span>
                        </a>

                        <a class="btn align-right" disabled v-on:click="noChanges">
                            <span class="glyphicon glyphicon-trash"></span>
                        </a>
                    </div>
                </div>

                <div v-else  class="ui-button bg-Light-Blue overflowInherit">
                    <div class="secondary">
                        <a class="btn btn-info align-right has-tooltip" data-tooltip="Editar" v-on:click="onEditClick(row.object)">
                            <span class="glyphicon glyphicon-edit"></span>
                        </a>

                        <a class="btn align-right has-tooltip" data-tooltip="Eliminar" v-on:click="onRemoveClick(row.object)">
                            <span class="glyphicon glyphicon-trash"></span>
                        </a>
                    </div>
                </div>
            </template>

    </vue-dynamic-table>

</div>
