<section>
  <div id="FormPositionRisk">
    <div class="header-buttons">
      <div class="btn-group main-buttons">
        <button
          class="btn btn-success"
          @click="positionRiskValidate">
          <span class="glyphicon glyphicon-ok"></span>
          Guardar
        </button>
        <button
          class="btn btn-danger"
          data-action="closeTab">
          <span class="glyphicon glyphicon-remove"></span>
            Cancelar
        </button>
      </div>
    </div>
    <div class="panel-content">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Riesgo de Puesto:</h3>
        </div>
        <form v-on:submit.prevent="positionRiskValidate('FormPositionRisk')" id="">
          <div class="modal-body">
            <input type="hidden" name="id" v-model="positionRisk.id">
            <div class="form-group">
              <label for="c_RiesgoPuesto">Riesgo de Puesto:</label>
              <input v-model="positionRisk.c_RiesgoPuesto" class="form-control" type="text" name="c_RiesgoPuesto" @keypress="clearPositionRiskValidatorError('c_RiesgoPuesto')">
              <span v-if="positionRiskValidatorErrors != null" class="cRed">
                ${ positionRiskValidatorErrors.first('c_RiesgoPuesto') }
              </span>
            </div>
            <div class="form-group">
              <label for="positionRisk_description">Descripción:</label>
              <input v-model="positionRisk.description" class="form-control" type="text" name="positionRisk_description" @keypress="clearPositionRiskValidatorError('Descripción')">
              <span v-if="positionRiskValidatorErrors != null" class="cRed">
                ${ positionRiskValidatorErrors.first('Descripción') }
              </span>
            </div>    
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
<script id="scriptContainer" type="text/javascript">
    uiVars['title'] = '{{title}}';
    uiVars['view'] = {{view}};
    uiVars['data']   = {{data|json_encode|raw}};
    init.lenght = 0;
    init = [ {
        title: uiVars['title'],
        file: 'Payroll/PositionRisks/form.js',
        functions: [ {
            name: 'initPayrollFormPositionRisks',
            args: [ uiVars['data'], uiVars['view']]
        } ]
    } ];
</script>
