<script type="text/x-template" id="address-form">
	<div>
	    <div class="form-group">
	       <vue-google-autocomplete
	                :id="id"
	                type="regions"
	                classname="input"
	                placeholder="Buscar su Direccion"
	                @placechanged="getAddressData"
	                country="mx"
	                >
	       </vue-google-autocomplete>
		</div>
		
	    <div class="form-group">
	        <label for="street">Calle:</label>
	        <input id="street" name="street" v-model="value.street" @keypress="clearValidationError('street')">
	        <span v-if="validationErrors != null" class="cRed">${ validationErrors.street }</span>
	    </div>
	    <div class="row">
	        <div class="col-md-4">
	            <div class="form-group">
	                <label for="external_number">No Ext.*</label>
	                <input id="external_number" name="external_number" class="form-control" v-model="value.externalNumber" @keypress="clearValidationError('externalNumber')">
	                <span v-if="validationErrors != null" class="cRed">${ validationErrors.externalNumber }</span>
	            </div>
	        </div>
	        <div class="col-md-4">
	            <div class="form-group">
	                <label for="internal_number">No Int.*</label>
	                <input id="internal_number" name="internal_number" class="form-control" v-model="value.internalNumber" @keypress="clearValidationError('internalNumber')">
	                <span v-if="validationErrors != null" class="cRed">${ validationErrors.internalNumber }</span>
	            </div>
	        </div>
	        <div class="col-md-4">
	            <div class="form-group">
	                <label for="postal_code">CP</label>
	                <input id="postal_code" name="postal_code" class="form-control" v-model="value.postalCode" @keypress="clearValidationError('postalCode')">
	                <span v-if="validationErrors != null" class="cRed">${ validationErrors.postalCode }</span>
	            </div>
	        </div>
	    </div>
	    <div class="row">
	        <div class="col-md-6">
	            <div class="form-group">
	                <label for="suburb">Colonia*</label>
	                <input id="suburb" name="suburb" class="form-control" v-model="value.suburb" @keypress="clearValidationError('suburb')">
	                <span v-if="validationErrors != null" class="cRed">${ validationErrors.suburb }</span>
	            </div>
	        </div>
	        <div class="col-md-6">
	            <div class="form-group">
	                <label for="municipality">Municipio*</label>
	                <input id="municipality" name="municipality" class="form-control" v-model="value.municipality" @keypress="clearValidationError('municipality')">
	                <span v-if="validationErrors != null" class="cRed">${ validationErrors.municipality }</span>
	            </div>
	        </div>
	    </div>
	    <div class="row">
	        <div class="col-md-6">
	            <div class="form-group">
	                <label for="town">Ciudad*</label>
	                <input id="town" name="town" class="form-control" v-model="value.town" @keypress="clearValidationError('town')">
	                <span v-if="validationErrors != null" class="cRed">${ validationErrors.town }</span>
	            </div>
	        </div>
	        <div class="col-md-6">
	            <div class="form-group">
	                <label for="state">Estado*</label>
	                <input id="state" name="state" class="form-control" v-model="value.state" @keypress="clearValidationError('state')">
	                <span v-if="validationErrors != null" class="cRed">${ validationErrors.state }</span>
	            </div>
	        </div>
	    </div>
	    <div class="form-group">
	        <label for="country">País*</label>
	        <input id="country" name="country" class="form-control" v-model="value.country" @keypress="clearValidationError('country')">
	        <span v-if="validationErrors != null" class="cRed">${ validationErrors.country }</span>
	    </div>
	    <div class="form-group">
	        <label for="reference">Referencias</label>
	        <input id="reference" name="reference" class="form-control" v-model="value.reference" @keypress="clearValidationError('reference')">
	        <span v-if="validationErrors != null" class="cRed">${ validationErrors.reference }</span>
	    </div>
	</div>
</script>