{% block content %}
    <section id="listDeliveryProviders">
        <div class="header-buttons">
           <div class="btn-group main-buttons">
                <a
                    role="button"
                    v-on:click="onClick"
                    class="btn btn  btn-success ">
                    <i class="fa fa-plus " aria-hidden="true"></i>
                    Agregar Proveedor De Envío</a>
            </div>
        </div>
        <div class="panel-content">
            {% include '/Logistic/DeliveryProviders/add.twig' %}
            <div id="tableDeliveryProviders">
                <vue-dynamic-table-rbc
                    box-classes="box box-primary full-height"
                    class-name="table table-bordered table-hover"
                    :remote-method="remoteSearch"
                    :source-columns="columns"
                    :data-model="datasource"
                    :favorites="dynamicTableFavorites"
                    @save-to-favorites="saveToFavorites"
                    @loaded-favorite="loadedFavorite"
                    :total-results="totalResults"
                    :pagination-options="{pageSizes: [20, 50, 100], pageSize: 100}"
                    hide-export 
                    hide-import 
                    template-file-name="Proveedores de Envio">
                    
                    {% include '/Logistic/DeliveryProviders/slots.twig' %}

                </vue-dynamic-table-rbc>
            </div>
        </div>
    </section>
{% endblock %}
{% block loadScripts %}
    <script id="scriptContainer">
        init.length = 0;
        uiVars['userId'] = '{{ userId }}';
        init = [{
            title: 'Proveedores De Envío',
            file: 'Logistic/Catalogs/deliveryProvider.js',
            functions: [ {
                name: 'initDeliveryProvider',
                args: [ uiVars['userId'] ]
            } ]
        }];
    </script>
{% endblock %}
