<template slot="deliveryProvidersActions" scope="row">
    <div class="ui-button bg-Light-Blue overflowInherit">
    <div class="secondary">
        <a 
            data-tooltip="Editar"
            role="button"
            class="has-tooltip btn align-right" 
            v-on:click="onEditClick(row.object)">
            <span class="glyphicon glyphicon-edit"></span>
        </a>
        <a 
            data-tooltip="Eliminar"
            role="button"
            class="has-tooltip btn align-right" 
            v-on:click="onRemoveClick(row.object)">
            <span class="glyphicon glyphicon-trash"></span>
        </a>
    </div>
    </div>
</template>
<template slot="no-rows-found">
    <span>No se encontrarón resultados</span>
</template>