<div id="tableListProductTypes">
    <!-- Dynamic Table -->
    <vue-dynamic-table-rbc
        box-classes="box box-primary full-height"
        class-name="table table-bordered table-hover"


        :source-columns="sourceColumns"
        :data-model="listDataProductTypes"

        :remote-method="remoteSearch"
        :total-results="totalResults"

        {# FAVORITOS #}
        :favorites="dynamicTableFavorites"
        @save-to-favorites="saveToFavorites"
        @loaded-favorite="loadedFavorite"

        :select-options="selectOptions"

        :pagination-options="{pageSizes: [5, 10], pageSize: 5}"
        >

        <template slot="description" scope="row">
            <div class="expand">
                ${ row.object.product_type_description }
            </div>
        </template>
        <template slot="accountingAccount" scope="row">
            <div class="expand">
                {# ${ row.object.accountingAccount.strCurrent } #}
            </div>
        </template>
        <template slot="actions" scope="row">
            <div class="ui-button bg-Light-Blue overflowInherit">
                <div class="secondary">
                    <a
                            class="has-tooltip btn align-right"
                            role="button"
                            data-tooltip="Editar línea"
                            role="button"
                            class="btn btn-success pull-left"
                            data-action="openLateral"
                            :data-route="'warehouse/productTypes/edit/'+row.object.product_type_id"
                            data-panelsize="sm">
                        <span class="glyphicon glyphicon-edit"></span>
                    </a>
                    <a
                            class="has-tooltip btn align-right"
                            role="button"
                            data-tooltip="Eliminar línea"
                            @click="deleteHandler(row.object)">
                        <span class="glyphicon glyphicon-trash"></span>
                    </a>
                </div>
            </div>
        </template>
        <template slot="no-rows-found">
            <span>No se encontraron resultados</span>
        </template>
    </vue-dynamic-table-rbc>
</div>
