{#
Este es la forma pasada de creación de prospecto; fue rechazado por jorge
created by: Carlos Sifuentes
created at: 2017-07-14
#}
{% block content %}
<section>
    <div id="formCreateProspect">
        {# <div class="header-buttons">
            <div class="btn-group main-buttons">
                <a @click="saveProspect" class="btn btn-success">
                    <i class="fa fa-floppy-o" aria-hidden="true"></i> Guardar Prospecto
                </a>
            </div>
        </div> #}
        <div{# class="panel-content" #}>
            <div class="row">
                {# Panel de datos generales de prospecto #}
                <div class="col-md-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">${prospectDetailsTitle}</h3>
                        </div>
                        <div class="panel-body">
                            {% include 'crm/Prospect/partials/createForm.twig' %}
                        </div>
                        <div class="panel-footer">
                        </div>
                    </div>
                </div>
                {# Panel de sucursales del prospecto #}
                <div class="col-md-6">
                    <div class="panel panel-defualt">
                        <div class="panel-heading">
                            <h3 class="panel-title">Sucursales / Establecimientos</h3>
                        </div>
                        <div class="panel-body">
                            <div v-if="!showSubsidiaryForm">{# Tabla de sucursales #}
                                <div class="row">
                                    <div class="col-md-12">
                                        <button type="button" class="btn btn-success" @click="newSubsidiary()">
                                            <span class="fa fa-plus"></span> Nueva Sucursal
                                        </button>
                                    </div>
                                </div>
                                <vue-dynamic-table class-name="table table-striped" :pagination-options="subsidiariesTablePageOptions" @go-to-page="goToPageSubsidiariesTable"
                                    :data-model="getSublistSubsidiaries()" :columns="subsidiariesTableColumnsModel">
                                    <template slot="no-rows-found">
                                        Sin sucursales
                                    </template>
                                    <template slot="actions" scope="row">
                                        <div class="text-right">
                                            <a role="button" @click="editSubsidiary(row.index)">
                                                    <span class="fa fa-pencil"></span>
                                                </a>
                                            <a role="button" @click="askForDeleteSubsidiary(row.index)">
                                                    <span class="fa fa-remove"></span>
                                                </a>
                                        </div>
                                    </template>
                                </vue-dynamic-table>
                            </div>
                            <div v-if="showSubsidiaryForm">{# Formulario para agregar/editar una sucursal #}
                                <div class="form-group">
                                    <label>Nombre:</label>
                                    <input type="text" v-model="subsidiary.name">
                                </div>
                                <div class="form-group">
                                    <label>Descripción:</label>
                                    <textarea v-model="subsidiary.description"></textarea>
                                </div>
                                <ul class="nav nav-tabs" role="tablist">
                                    {# Definicion de tabs de una sucursal: Dirección y Contactos #}
                                    <li role="presentation" class="active"><a href="#address" aria-controls="address" role="tab" data-toggle="tab">Dirección</a></li>
                                    <li role="presentation"><a href="#contacts" aria-controls="contacts" role="tab" data-toggle="tab">Contactos</a></li>
                                </ul>
                                <div class="tab-content">
                                    <div id="address" role="tabpanel" class="tab-pane active">
                                        {# tab de direccion de sucursal de un prospecto #}
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label>Calle:</label>
                                                    <input type="text" v-model="subsidiary.address.street">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label>No Ext.</label>
                                                    <input type="text" v-model="subsidiary.address.externalNumber">
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label>No Int.</label>
                                                    <input type="text" v-model="subsidiary.address.internalNumber">
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label>CP</label>
                                                    <input type="text" v-model="subsidiary.address.postalCode">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label>Referencias</label>
                                                    <input type="text" v-model="subsidiary.address.reference">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label>Colonia</label>
                                                    <input type="text" v-model="subsidiary.address.suburb">
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label>Ciudad</label>
                                                    <input type="text" v-model="subsidiary.address.town">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label>Municipio</label>
                                                    <input type="text" v-model="subsidiary.address.municipality">
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label>Estado</label>
                                                    <input type="text" v-model="subsidiary.address.state">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label>Pais</label>
                                                    <input type="text" v-model="subsidiary.address.country">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="contacts" role="tabpanel" class="tab-pane">
                                        {# tab de contactos de una sucursal de prospecto #}
                                        <div v-if="!showContactForm">
                                            {# tabla de contactos de la sucursal #}
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <button class="btn btn-success" @click="newContact">
                                                        <span class="fa fa-plus"></span> Nuevo Contacto
                                                    </button>
                                                </div>
                                            </div>
                                            <vue-dynamic-table class-name="table table-striped" :pagination-options="contactsTablePageOptions" @go-to-page="goToPageContactsTable"
                                                :columns="contactsTableColumnsModel" :data-model="chunksListContacts()[contactsTablePageOptions.currentPage -1]">
                                                <template slot="no-rows-found">
                                                    Sin contactos
                                                </template>
                                                <template slot="actions" scope="row">
                                                    <div class="text-right">
                                                        <a role="button" @click="editContact(row.index)">
                                                                <span class="fa fa-pencil"></span>
                                                        </a>
                                                        <a role="button" @click="askForDeleteContact(row.index)">
                                                                <span class="fa fa-remove"></span>
                                                        </a>
                                                    </div>
                                                </template>
                                            </vue-dynamic-table>
                                        </div>
                                        <div v-if="showContactForm" style="margin-bottom: 10px;">
                                            {# formulario para crear un contacto para la sucursal #}
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <label>Nombre:</label>
                                                        <input type="text" v-model="contact.name">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <label>Área:</label>
                                                        <input type="text" v-model="contact.workArea">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <label>Descripción:</label>
                                                        <input type="text" v-model="contact.description">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <el-select v-model="phone" filterable allow-create placeholder="Escriba el numero" @change="phoneChange">
                                                        <el-option v-for="item in contact.phones"
                                                        :key="item.phone" :label="item.phone" :value="item.phone">
                                                        </el-option>
                                                    </el-select>
                                                </div>
                                                <div class="col-md-6">
                                                    <el-select v-model="mail" filterable allow-create placeholder="Escriba el correo" @change="mailChange">
                                                        <el-option
                                                            v-for="item in contact.mails"
                                                            :key="item.email" :label="item.email" :value="item.email">
                                                        </el-option>
                                                    </el-select>
                                                </div>
                                            </div>
                                            <div class="row" style="margin-top: 5px;">
                                                <div class="col-md-12">
                                                    <button type="button" class="btn btn-primary" @click="saveContact()">
                                                        <span class="fa fa-floppy-o"></span> Guardar contacto
                                                    </button>
                                                    <button type="button" class="btn btn-warning" @click="cancelContact()">
                                                        <span class="fa fa-ban"></span> Cancelar
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <button type="button" class="btn btn-primary" @click="saveSubsidiary()">
                                        <span class="fa fa-floppy-o"></span> Guardar sucursal
                                    </button>
                                        <button type="button" class="btn btn-warning" @click="cancelSubsidiary()">
                                        <span class="fa fa-ban"></span> Cancelar
                                    </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel-footer"></div>
                    </div>
                </div>
            </div>
        </div>
        {% include 'crm/Prospect/partials/editModal.twig' %}
    </div>
</section>
{% endblock %}
{% block loadScripts %}
<script id="scriptContainer" type="text/javascript">
init.length = 0;
{% if prospect %}
uiVars['prospect'] = {{ prospect | json_encode | raw }};
uiVars['tabTitle'] = "Editar prospecto";
uiVars['prospectDetailsTitle'] = "Editar datos de prospecto";
{% else %}
uiVars['prospect'] = null;
uiVars['tabTitle'] = "Nuevo prospecto";
uiVars['prospectDetailsTitle'] = "Agregar nuevo prospecto";
{% endif %}
init=[{
    title: uiVars['tabTitle'],
    file: 'CrmJs/Prospect/create.js',
    functions: [{
      name: 'initCreateProspect',
      args: [
        uiVars['prospect'],
        uiVars['prospectDetailsTitle']
      ]
    }]
}];
</script>
{% endblock %}
