{#
created by: Carlos Sifuentes
created at: 2017-07-27
#}
{% block content %}
<section>
    <div id="createSubsidiaryContainer">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">${subsidiaryDetailsTitle}</h3>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>Nombre:</label>
                                    <input type="text" v-model="subsidiary.name">
                                </div>
                                <div class="form-group">
                                    <label>Descripción:</label>
                                    <textarea v-model="subsidiary.description"></textarea>
                                </div>
                            </div>
                        </div>
                        {# direccion de sucursal #}
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>Calle:</label>
                                    <input type="text" v-model="subsidiary.address.street">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>No Ext.</label>
                                    <input type="text" v-model="subsidiary.address.externalNumber">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>No Int.</label>
                                    <input type="text" v-model="subsidiary.address.internalNumber">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>CP</label>
                                    <input type="text" v-model="subsidiary.address.postalCode">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>Referencias</label>
                                    <input type="text" v-model="subsidiary.address.reference">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Colonia</label>
                                    <input type="text" v-model="subsidiary.address.suburb">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Ciudad</label>
                                    <input type="text" v-model="subsidiary.address.town">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Municipio</label>
                                    <input type="text" v-model="subsidiary.address.municipality">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Estado</label>
                                    <input type="text" v-model="subsidiary.address.state">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>Pais</label>
                                    <input type="text" v-model="subsidiary.address.country">
                                </div>
                            </div>
                        </div>
                        {# termina direccion de sucursal #}
                        <div class="row" style="margin-top: 10px;">
                            <div class="col-md-12">
                                <button type="button" class="btn btn-primary pull-right" @click="saveSubsidiary">
                                    <span class="fa fa-floppy-o"></span> Guardar
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer">
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Contactos</h3>
                    </div>
                    <div class="panel-body">
                        {# tabla de contactos de la sucursal #}
                        <div class="row">
                            <div class="col-md-12">
                                <button class="btn btn-success" @click="newContact" :disabled="subsidiary.id ? false : true">
                                    <span class="fa fa-plus"></span> Nuevo Contacto
                                </button>
                            </div>
                        </div>
                        <vue-dynamic-table-rbc
                            box-classes="box box-primary full-height"
                            class-name="table table-bordered table-hover"
                            :remote-method="remoteSearch"
                            :source-columns="columns"
                            :data-model="contactsDatasource"
                            :total-results="totalResults"
                            hide-export
                            hide-import
                            hide-favorites>
                            <template slot="no-rows-found">
                                Sin contactos
                            </template>
                            <template slot="mails" scope="row">
                                <el-popover 
                                    ref="pop-mails"
                                    placement="left"
                                    min-width="150"
                                    max-height="400"
                                    trigger="hover">
                                    <h4>Correos</h4>
                                    <div v-if="row.object.mails.length > 0">
                                        <ul>
                                            <div class="list-group">
                                                <li class="list-group-item" v-for="email in row.object.mails">
                                                    ${email.email}
                                                </li>
                                            </div>
                                        </ul>
                                    </div>
                                    <div v-else>
                                        <em>No se han agregado correos.</em>
                                    </div>
                                </el-popover>
                                <el-button class="block" size="mini" v-popover:pop-mails>Ver</el-button>
                            </template>
                            <template slot="phones" scope="row">
                                <el-popover
                                    ref="pop-phones"
                                    placement="right"
                                    min-width="100"
                                    max-height="400"
                                    trigger="hover">
                                    <h4>Telefonos</h4>
                                    <div v-if="row.object.phones.length > 0">
                                        <ul>
                                            <div class="list-group">
                                                <li class="list-group-item" v-for="phone in row.object.phones">
                                                    ${phone.phone}
                                                </li>
                                            </div>
                                        </ul>
                                    </div>
                                    <div v-else>
                                        <em>No se han agregado telefonos.</em>
                                    </div>
                                </el-popover>
                                <el-button class="block" size="mini" v-popover:pop-phones>Ver</el-button>
                            </template>
                            <template slot="actions" scope="row">
                                <div class="ui-button bg-Light-Blue overflowInherit">
                                    <div class="secondary">
                                        <a 
                                            data-tooltip="Editar"
                                            role="button"
                                            class="btn btn-info"
                                            v-on:click="editContact(row.object)"
                                            style="color:  #fff;">
                                            <span class="glyphicon glyphicon-edit"></span>
                                        </a>
                                        <a 
                                            data-tooltip="Eliminar"
                                            role="button"
                                            class="has-tooltip btn align-right" 
                                            v-on:click="askForDeleteContact(row.object)">
                                            <span class="glyphicon glyphicon-trash"></span>
                                        </a>
                                    </div>
                                </div>
                            </template>
                        </vue-dynamic-table-rbc>
                    </div>
                    <div class="panel-footer"></div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
{% block loadScripts %}
<script id="scriptContainer" type="text/javascript">
init.length = 0;
{% if subsidiary %}
uiVars['subsidiary'] = {{ subsidiary | json_encode | raw }};
uiVars['tabTitle'] = "Editar sucursal/establecimiento";
uiVars['subsidiaryDetailsTitle'] = "Editar datos de sucursal/establecimiento";
{% else %}
uiVars['subsidiary'] = null;
uiVars['tabTitle'] = "Nuevo sucursal/establecimiento";
uiVars['subsidiaryDetailsTitle'] = "Agregar nueva sucursal/establecimiento";
{% endif %}
uiVars['prospectId'] = {{ prospectId }};
init=[{
    title: uiVars['tabTitle'],
    file: 'CrmJs/Prospect/createSubsidiary.js',
    functions: [{
      name: 'initCreateSubsidiary',
      args: [
        uiVars['subsidiary'],
        uiVars['subsidiaryDetailsTitle'],
        uiVars['prospectId']
      ]
    }]
}];
</script>
{% endblock %}