{% block main_customer %}
    <div id="admin-container">
        {% include( 'Admin/Packet/partials/buttons.twig' ) %}
        <div class="row">

            <div class="col-md-3">
                <h4>Filtros</h4>
            </div>
            <div class="col-md-9">
                <h4>Tabla Paquetes</h4>
            </div>
        </div>
    </div>
{% endblock %}
{% block loadScripts %}
    <script></script>
{% endblock %}
