{% block main_customer %}
    <section>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-3">
                    <h4>
                        <i class="fa fa-user" aria-hidden="true"></i>
                        Agregar Usuarios</h4>
                    <form id="addUsers">
                        <addusersform></addusersform>
                    </form>
                </div>
                <div class="col-md-9">

                    <!-- <div class="row">

                  <div class="col-md-3">
                    <h4><i class="fa fa-filter" aria-hidden="true"></i> Filtros</h4>
                    <div class="form-group">
                    <label for="rol">Roles</label>
                    <select name="rol" id="userRol">
                      <option v-for="item in rolItems" v-bind:value="item.id">
                         ${item.name}
                       </option>
                    </select>
                  </div>
                  </div>
              </div> -->

                    <div id="example-2">
                        <simple-counter></simple-counter>
                        <simple-counter></simple-counter>
                        <simple-counter></simple-counter>
                    </div>

                    <div id="adminusers-module">
                        <h4>
                            <i class="fa fa-user" aria-hidden="true"></i>
                            Tabla Usuarios</h4>
                        <!-- Dynamic Table -->
                        <vue-dynamic-table
                            class-name="table table-bordered table-hover"
                            v-bind:filter-enabled="true"
                            v-bind:expandable-row="true"
                            v-bind:columns="sourceColumns"
                            v-bind:data-model="listUsers"
                            v-on:go-to-page="goToPage"
                            v-bind:pagination-options="PaginationOptions">
                            <template slot="actions" scope="row">
                                <div class="ui-button">
                                    <div class="secondary">
                                       <a role="button"
                                       class="btn bgGreen"
                                       v-on:click="onEditClick(row.object)">
                                         <i class="glyphicon glyphicon-edit"  aria-hidden="true"></i>
                                       </a>
                                       <a role="button"
                                       class="btn bgRed"
                                       v-on:click="onRemoveClick(row.object)">
                                         <i class="glyphicon glyphicon-trash"></i>
                                       </a>

                                    </div>
                                </div>
                            </template>
                        </vue-dynamic-table>
                        <!-- Dynamic Table -->
                    </div>
                </div>
                <div class="col-md-1"></div>
            </div>
        </div>
        <div
            class="modal fade"
            id="modal-edit-user"
            tabindex="-1"
            role="dialog"
            aria-labelledby="modal-edit-user">
            <div class="modal-dialog modal-sm" role="document">
                <form id="formModalEditUser" method="post">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <h4 class="modal-title" id="modal-title-edit-user">
                                <small></small>
                            </h4>
                        </div>
                        <div class="modal-body row">
                            {% include('/Admin/User/partials/editUser.twig') %}
                        </div>
                        <div class="modal-footer" id="modal-edit-user-footer"></div>
                    </div>
                </form>
            </div>
        </div>
    </section>
{% endblock %}

{% block loadScripts %}
    <script id="scriptContainer" type="text/javascript">
        init.length = 0;
        init = [{
          title: 'Listado De Usuarios'
        }];
        iniciarModuloAdminUsers( );
        getRoles( );
        formAddUsers( );
    </script>
{% endblock %}
