{% block content %}
    <section id="tablePurchaseOrders">
        <div class="header-buttons">
            <div class="btn-group main-buttons">
                <a role="button" data-action="openLateral" class="btn btn-default" data-module="compras"  data-panelSize="md" data-route="compras/ordenes/nueva">
                    <span class="fa fa-plus"></span> Nueva Orden de Compra
                </a>
                <a role="button"
                    class="btn btn-primary"
                    data-toggle="collapse"
                    href="#collapseOrders">
                    Ver métricas
                </a>
            </div>
            <div class="clearfix">
            </div>
            <div class="collapse" id="collapseOrders">
                <div class="block h100">
                    <div class="contentMiddle content-fluid">
                        <div class="description-block border-right">
                            <h5 class="description-header">$${ totalCost }</h5>
                            <span class="description-text">TOTAL COSTO</span>
                        </div>
                    </div>
                    <div class="contentMiddle content-fluid">
                        <div class="description-block border-right">
                            <h5 class="description-header">${ totalPur }</h5>
                            <span class="description-text">TOTAL ORDENES</span>
                        </div>
                    </div>
                    <div class="contentMiddle content-fluid">
                        <div class="description-block border-right">
                            <h5 class="description-header">${ totalRec }</h5>
                            <span class="description-text">COMPRAS RECBIDAS</span>
                        </div>
                    </div>
                    <div class="contentMiddle content-fluid">
                        <div class="description-block">
                            <h5 class="description-header">${ totalProd }</h5>
                            <span class="description-text">TOTAL PRODUCTOS PEDIDOS</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel-content">
            <vue-file-modal ref="fileModal" :module="'purchases/orders'"></vue-file-modal>
            <vue-dynamic-table-rbc
                box-classes="box box-primary full-height"
                :pagination-options="{ pageSizes: [ 20, 50, 100 ], pageSize: 100 }"
                class-name="table table-bordered table-hover"
                :source-columns="columns"
                :select-options="selectOptions"
                :data-model="datasource"
                @export="exportTable"
                :remote-method="remoteSearch"
                template-file-name="Ordenes de Compras"
                :total-results="totalResults">
                {% include 'Purchases/Orders/slots.twig' %}
            </vue-dynamic-table-rbc>
        </div>
    </section>
{% endblock %}
{% block loadScripts  %}
	<script id="scriptContainer" type="text/javascript">
        init.length = 0;
        init = [ {
            title: 'Ordenes de Compras',
			file: 'Purchase/Orders/list.js',
			functions: [ {
				name: 'initPurchaseOrdersList',
				args: []
			} ]
		} ];
	</script>
{% endblock %}
