{% block content %}
	<div class="row">
		<div class="col-md-4">
			<form>
				<div class="form-group req">
					<label for="provider">Proveedor: </label>
					<input type="text" name="provider" class="form-control" value="{{ provider.business_name }}" disabled>
				</div>
				<div class="form-group req">
					<label for="provider">E-mail: </label>
					<input type="text" name="provider" class="form-control">
				</div>
				<div class="form-group req">
					<label for="provider">Asunto: </label>
					<input type="text" name="provider" class="form-control">
				</div>
				<div class="form-group req">
					<label for="provider">Mensaje: </label>
					<textarea class="form-control"></textarea>
				</div>
				<button id="sendMail" class="btn btn-block bgBlue cWhite"> Enviar</button>
			</form>
		</div>
		<div class="col-md-8">
			<div class="panel panel-default">
				<div class="panel-heading">
					Vista previa
				</div>
				<div class="panel-body">
					<div class="text-center">
						<iframe id="preview" src="{{ url('compras/imprimir/' ~ purchase.id) }}" width="100%" height="90%" frameborder="0"></iframe>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
{% block loadScripts  %}
	<script data-load="script" type="text/javascript">
		var init = [ {
	        file: 'Purchase/Purchases/send.js',
	        functions: [ {
	            name: 'initSendPurchase',
	            args: [ ]
	        } ]
	    } ];
	    initModule( init, 'Enviar Orden de Compra' );
    </script>
{% endblock %}