<template slot="expanded-row" scope="row">
    <div>
        <div class="col-md-12">
            <p><strong>Fecha de requerido: </strong> ${ (row.object.requisition_date != 'Invalid date')? row.object.requisition_date : 'N/A' }
            <h4>Detalle de Productos</h4>
            <table class="table">
                <thead>
                    <tr>
                        <th>Codigo de Barras</th>
                        <th>Producto</th>
                        <th>Decripción</th>
                        <th>Unidades</th>
                        <th>Precio Por unidades</th>
                        <th>Cantidad</th>
                        <th>Subtotal</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="item in row.object.details">
                        <td>${ item.barcode  }</td>
                        <td>${ item.name     }</td>
                        <td><div class="col-lg expand">${ item.description }</div></td>
                        <td>${ item.unit }</td>
                        <td>${ item.unit_cost }</td>
                        <td>${ item.quantity }</td>
                        <td>${ item.subtotal }</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</template>
<template slot="no-rows-found">
    <span>No se encontraron resultados</span>
</template>
<template slot="comment" scope="row">
    <div class="expand">
        ${row.object.comment}
    </div>
</template>
<template slot="actions" scope="row">
    <div class="ui-button bg-Light-Blue overflowInherit">
        <div class="secondary">
            <a
                role="button"
                class="has-tooltip btn align-right"
                v-on:click="showFiles(row.object.id)"
                data-tooltip="Ver archivos">
                <i class="fa fa-lg fa-folder-open" aria-hidden="true"></i></i>
            </a>
            <a
                role="button"
                class="has-tooltip btn align-right"
                data-tooltip="Editar orden"
                @click="editPurchase(row.object)" >
                <i class="glyphicon glyphicon-edit" aria-hidden="true"></i>
            </a>
            <a
                role="button"
                class="has-tooltip btn align-right"
                data-tooltip="Imprimir"
                @click="printPurchase(row.object)">
                <i class="fa fa-lg fa-print" aria-hidden="true"></i>
            </a>
        </div>
    </div>
</template>
<template slot="status" scope="row">
    <el-button class="block" @click="openPurchase(row.object.purchase.id)" size="mini" type="success" v-if="row.object.purchase">
        <i class="fa fa-check" aria-hidden="true"></i> 
        Comprado
    </el-button>
    <div v-else>
        <el-popover 
            ref="popover-status"
            placement="right"
            width="200"
            trigger="click">
            <el-select v-model="selectedStatus" placeholder="Selecciona Estatus">
                <el-option
                    v-for="item in statusOptions"
                    :key="item.id"
                    :label="item.name"
                    :value="item.id">
                </el-option>
            </el-select>
            <el-checkbox v-if="selectedStatus == 3" v-model="convertToPurchase">Convertir en Compra</el-checkbox>
            <el-button style="margin-top: 5px" size="small" class="btn-block" type="primary" @click="changeStatus(row.object)">Guardar</el-button>
        </el-popover>
        <el-button class="block" @click="showStatus(row.object.purchase_order_status_id)" size="mini" v-popover:popover-status>${ (row.object.status) ? row.object.status.name : 'Sin Estatus' }</el-button>
    </div>
</template>