p{% block body %}
<section >
<form id="register-user-form" enctype="multipart/form-data">
  <div class="header-buttons">
    <div class="btn-group main-buttons">
      <button 
        v-on:click="registerUser"
        class="btn btn-primary"
        type="button"
        name="button">
        Registrar
      </button>
    </div>
  </div>
  <div class="panel-content">
    <div class="box box-primary fullHeight">
      <div class="box-container">
       
          <div class=" box-title">
            <h4> Registro de Usuarios</h4>
          </div>
          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3" style="text-align: center;">
              <div style="">
                <div class="logo-image">
                  <img src="https://cdn.tuadmin.com/src/img/caption_icon.svg" id="logoimg" height="150px" width="120px">
                </div>
                <div class="form-group">
                  <input id="user_logo" name="user_logo" v-on:change="onFileSelected" type="file" accept="image/gif, image/jpeg, image/png" multiple/>
                </div>
              </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5">
              <h4 class="box-title">Datos de Usuario</h4>
              <div class="form-group">
                <label for="usuario">Nombre(s):</label>
                <input type="text" class="form-control" id="rf-user" placeholder="Introducir Nombre" name="usuario" v-model="daName" v-validate="'required'">
              </div>
              <div class="form-group">
                <label for="usuario">Apellido Paterno:</label>
                <input type="text" class="form-control" id="rf-user" placeholder="Introducir Apellido Paterno" name="apellidoPat" v-model="daApePat" v-validate="'required'">
              </div>
              <div class="form-group">
                <label for="usuario">Apellido Materno:</label>
                <input type="text" class="form-control" id="rf-user" placeholder="Introducir Apellido Materno" name="apellidoMat" v-model="daApeMat" v-validate="'required'">
              </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
              <h4 class="box-title">Datos para Autenticación</h4>
              <div class="form-group">
                <label for="usuario">Usuario:</label>
                <input type="text" class="form-control" id="rf-user" placeholder="Introducir Usuario" name="usr" v-model="authUsr" v-validate="'required'">
              </div>
              <div class="form-group">
                <label for="password">Contraseña:</label>
                <input type="password" class="form-control" id="rf-pass" placeholder="Introducir Contraseña" name="password"  v-model= "authPass" v-validate="'required'">
              </div>
              <div class="form-group">
                <label for="cpassword">Confirmar Contraseña:</label>
                <input type="password" class="form-control" id="rf-cpass" placeholder="Confirmar Contraseña" name="cpassword" v-model="cauthPass" v-validate="'required'">
              </div>
            </div>
          </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
        <div class="box box-primary fullHeight">
          <div id="checklistRol">
            <div class="box-header">
              <h4 class="box-title">Roles</h4>
            </div>
            <div class="box-body mh300 h300 overflowAuto">
              <ul class="list-group">
                <li class="list-group-item" name="listRol"  v-for="rol in rolList">
                  <input
                    type="checkbox"
                    :name="'rolId'+rol.id"
                    :id="'rolId'+rol.id"
                    v-bind:value="rol.id"
                    v-model="checkedNames">
                  <label for="checkbox">${ rol.name }</label>
                </li>
              </ul>
            </div>
            <div class="box-footer">
              <span>Checked names: ${ checkedNames }</span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
        <div class="box box-primary fullHeight"> 
          <div id="checklistGroup">
            <div class="box-header">
              <h4 class="box-title">Grupos</h4>
            </div>
            <div class="box-body mh300 h300 overflowAuto">
              <ul class="list-group">
                <li class="list-group-item"  v-for="group in groupList">
                  <input
                    type="checkbox"
                    :name="'group'+group.id"
                    :id="'group'+group.id"
                    v-bind:value="group.id"
                    v-model="checkedNamesGroup">
                  <label for="checkbox">${ group.name }</label>
                </li>
              </ul>
            </div>
            <div class="box-footer">
              <span>Checked names: ${ checkedNamesGroup }</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
</section>
              <!--<div class="form-group">
              <label for="employee_id">Id Empleado (Opcional)</label>
              <input type="text" class="form-control" id="rf-emp_id" placeholder="ID" name="employee_id" v-model="employee_id" v-validate="'required'">
              </div>-->
{% endblock %}
 <script id="scriptContainer" type="text/javascript">
  init.lenght = 0;
        init = [ {
            title: 'Nuevo Usuario',
            file: 'Dashboard/User/register.js',
            functions: [ {
                name: 'addUser',
                args: []
            } ]
        } ];
 </script>
