{% block modulenav %}
<ul class="nav navbar-nav navbar-left">
    <li>
        <div class="navbar-brand s15 h30 block centered noPadding">
            <div class="content contentMiddle">
                <span class="padd5 cWhite text-uppercase">
                    {{ nombrem }}
                </span>
            </div>
        </div>
    </li>
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            Acciones
            <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
            <li>
                <a role="button" data-action="openTab" data-route="/almacenes/proveedores/create">Nuevo Usuario</a>
            </li>
            <li>
              <a
                role="button"
                data-action="openTab"
                data-route="/almacenes/proveedores/create">Bloquear Usuario</a>
            </li>
        </ul>
    </li>
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            Listados
            <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
            <li>
                <a href="#">Usuarios</a>
            </li>
            <li>
                <a href="#">Roles</a>
            </li>
            <li>
                <a href="#">Grupos</a>
            </li>
        </ul>
    </li>
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            Configuración
            <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
            <li>
                <a href="#">Action</a>
            </li>
            <li>
                <a href="#">Another action</a>
            </li>
            <li>
                <a href="#">Something else here</a>
            </li>
        </ul>
    </li>
</ul>
{% endblock %}
