<div class="header-buttons">
    <div class="btn-group main-buttons">
        <a  role="button" class="btn btn-success pull-left"
        data-action="openLateral"
        data-route="crm/catalogos/mail_templates/Add"
        data-panelsize="xs">
           Nueva Plantillas de Correo</a>
    </div>
</div>
