{% block content %}
    <section id="formMailTemplate">
        <div class="box box-default">
            <div class="box-header">
                <h3 class="box-title" >{% if Editar == 1 %} Editar Plantilla de correo {% else %} Nueva Plantilla de correo {% endif %}</h3>
                <div class="box-tools pull-right">

                </div>
            </div>
            <div class="box-body">
                <div class="modal-body">
                      <div class="form-group">
                          <label for="">Nombre</label>
                          <input type="text" v-model="name">
                      </div>
                      <div class="form-group">
                          <label for="">Cuerpo del correo</label>
                          <textarea v-model="body" style="height: 200"></textarea>
                      </div>
                </div>
            </div>
            <div class="box-footer">
                <button type="button" class="btn btn-default" v-on:click="saveOrEditTag">Guardar</button>
            </div>
        </div>
    </section>
{% endblock %} {% block loadScripts %}
    <script id="scriptContainer" type="text/javascript">
    uiVars['MailTemplate'] =  {{ MailTemplate|json_encode|raw }};
    var editar =uiVars['Editar'] = {{ Editar|json_encode|raw }};
    var title;
        if(editar == 1){ title = 'Editar Plantilla de correo' }else{ title ='Nueva Plantilla de correo'}
        init.lenght = 0;
        init = [{
            title: title ,
            file: 'CrmJs/MailTemplate/MailTemplate.js',
            functions: [{
                name: 'initForm',
                args: [
                    uiVars['MailTemplate']
                ]
            }]
        }];
    </script>
{% endblock %}
