<section id="404Page">
    <div class="header-buttons noShadow">
    </div>
    <div class="panel-content error-page noPadding bgWhite">
        <div class="block h500">
            <div class="content contentMiddle">
                <h1 class="headline text-yellow text-center text-bold s200 text-shadow">
                    404
                </h1>
                <div class="clear"></div>
                <div class="error-content text-center">
                    <h3 class="s30 text-bold">
                        <i class="fa fa-warning text-yellow"></i>
                        Oops! La sección solicitada no existe.
                    </h3>
                    <p class="s20 text-bold">No pudimos encontrar la sección que intentabas acceder.</p>
                    <p>Este es un error nuestro. Intenta refrescar la pestaña haciendo: <i><strong>click derecho > Refresar Tab</strong></i> sobre la pestaña.</p>
                    <p>Si no mejora, contacta al equipo de soporte o inténtalo más tarde.</p>
                </div>
                <div class="clear h100"></div>
            </div>
        </div>
    </div>
</section>
