{% block body %}

<section>
    <div id="invoice-settings-module">

        <div>
            <div class="row">
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="panel-group" role="tablist">
                                <div class="panel panel-default">
                                    <div class="panel-heading" role="tab" id="headingOne">
                                        <h4 class="panel-title">
                                            <a role="button" data-toggle="collapse" href="#certificate" aria-expanded="true">
                                                Configuración de Certificado SAT <i class="fa fa-caret-down" aria-hidden="true"></i>
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="certificate" class="panel-collapse collapse in" role="tabpanel">
                                        <el-progress v-if="loading" 
                                                        :stroke-width="5" 
                                                        :percentage="progress" 
                                                        :show-text="false">
                                        </el-progress>
                                        <div class="panel-body"  
                                             v-loading="loading"
                                             element-loading-text="Cargando Certificado...">
                                            <div class="row">
                                                <div class="col-md-3">
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <h4 class="text-center">Estado</h4>
                                                        </div>
                                                        <div class="col-md-12">
                                                            <div v-if="!certificateStatus || !certificateValid" class="text-center">
                                                                <el-progress 
                                                                    type="circle" 
                                                                    :percentage="100" 
                                                                    status="exception" 
                                                                    :width="70"></el-progress>                              
                                                            </div> 
                                                            <div v-else class="text-center">
                                                                <el-progress 
                                                                    type="circle" 
                                                                    :percentage="100" 
                                                                    status="success" 
                                                                    :width="70"></el-progress>                              
                                                            </div>                                                    
                                                        </div>
                                                        <div class="col-md-12">         
                                                            <br>                                           
                                                            <h4 v-if="!certificateStatus"
                                                                class="text-center">
                                                                Certificado no configurado</h4>
                                                            <h4 v-else-if="!certificateValid"
                                                                class="text-center">
                                                                El certificado ha expirado</h4>
                                                            <h4 v-else
                                                                class="text-center">
                                                                Certificado configurado correctamente</h4>          
                                                        </div>                                              
                                                        <div class="col-md-12">
                                                            <br>
                                                            <h4>Archivos:</h4>
                                                            <h5>${certificateCerFileName}</h5>
                                                            <h5>${certificateKeyFileName}</h5>
                                                        </div>  
                                                        <div class="col-md-12">          
                                                            <br>                                          
                                                            <h4>Vigente hasta:</h4>
                                                            <h5>${certificateEndDate}</h5>
                                                        </div>
                                                    </div>                                             
                                                </div>
                                                <div class="col-md-9">
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <div class="form-group req">
                                                                <label>RFC:</label> 
                                                                <input 
                                                                    type="text"
                                                                    v-model="certificateRFC">
                                                            </div>                                                    
                                                        </div>   
                                                        <div class="col-md-12">
                                                            <div class="form-group req">
                                                                <label>Archivo CER</label><br>
                                                                <input 
                                                                    type="file"                                                        
                                                                    accept=".cer"
                                                                    ref="cerInput"
                                                                    @change="onChangeCerFile">
                                                            </div>                                            
                                                        </div>  
                                                        <div class="col-md-12">
                                                            <div class="form-group req">
                                                                <label>Archivo KEY</label><br>
                                                                <input 
                                                                    type="file"                                                        
                                                                    accept=".key"
                                                                    ref="keyInput"
                                                                    @change="onChangeKeyFile">
                                                            </div>                                            
                                                        </div>
                                                        <div class="col-md-12">
                                                            <div class="form-group req">
                                                                <label>Contraseña SAT:</label>
                                                                <input 
                                                                    type="password" 
                                                                    v-model="certificatePassword"
                                                                    maxlength="20">
                                                            </div>
                                                        </div> 
                                                        <div class="col-md-6 col-md-offset-6">
                                                            <br>
                                                            <div class="ui-button bgGreen">
                                                                <a role="button" class="btn" @click="validateSaveSATCertificate">
                                                                    <span class="ui ui-done"></span>
                                                                    Guardar
                                                                </a>
                                                            </div>
                                                        </div>                                       
                                                    </div>                                             
                                                </div>
                                            </div>
                                        </div>
                                        <div class="panel-footer">
                                            <a role="button" class="remove-panel-footer">
                                                <i aria-hidden="true" class="fa fa-times-circle fa-lg cBlack"></i>
                                            </a>
                                            <strong>Instrucciones:</strong> <br>
                                            (1) Escribe tu RFC con el que vas a facturar<br>
                                            (2) Ingresa tu archivo .cer y .key emitido por el SAT <a href="http://www.sat.gob.mx/">http://www.sat.gob.mx/</a><br>
                                            (3) Ingresa la contraseña de tu certificado y presiona Guardar<br>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>   
                        <div class="col-md-12">
                            <div class="panel-group" role="tablist">
                                <div class="panel panel-default">
                                    <div class="panel-heading" role="tab" id="headingOne">
                                        <h4 class="panel-title">
                                            <a role="button" data-toggle="collapse" href="#password" aria-expanded="true">
                                                Opciones de contraseña para timbrado <i class="fa fa-caret-down" aria-hidden="true"></i>
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="password" class="panel-collapse collapse in" role="tabpanel">                                
                                        <div class="panel-body"
                                             v-loading="loadingPassword"
                                             element-loading-text="Actualizando Configuración...">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <h4 class="text-center">Estado</h4>                                             
                                                    <h4 v-if="!askPassword" 
                                                        class="text-center">No se pide contraseña</h4>
                                                    <h4 v-else-if="askPassword && passwordOption == '0'" 
                                                        class="text-center">Usar contraseña de certificado</h4>
                                                    <h4 v-else-if="passwordOption == '1'" 
                                                        class="text-center">Usar contraseña personalizada</h4>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <el-checkbox 
                                                            v-model="newAskPassword">
                                                            Pedir siempre contraseña antes de timbrar                     
                                                        </el-checkbox>
                                                    </div>                                                    
                                                </div>
                                            </div>
                                            <div v-if="newAskPassword" class="row">
                                                <div class="col-md-12 col-md-offset-1">
                                                    <div class="form-group">
                                                        <el-radio 
                                                            class="radio" 
                                                            v-model="newPasswordOption" 
                                                            label="0">Pedir siempre contraseña de certificado</el-radio>
                                                    </div>                                                    
                                                </div>
                                                <div class="col-md-12 col-md-offset-1">
                                                    <div class="form-group">
                                                        <el-radio 
                                                            class="radio" 
                                                            v-model="newPasswordOption" 
                                                            label="1">Pedir siempre la siguiente contraseña</el-radio>
                                                    </div>                                                    
                                                </div>    
                                                <div v-if="newPasswordOption == '1'" class="col-md-12">
                                                    <div class="form-group req">
                                                        <label>Contraseña</label>
                                                        <input 
                                                            type="password"
                                                            v-model="passwordText"
                                                            maxlength="20">
                                                    </div>
                                                </div>                                     
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6 col-md-offset-3">
                                                    <br>
                                                    <div class="ui-button bgGreen">
                                                        <a role="button" class="btn" @click="ajaxSavePasswordSettings">
                                                            <span class="ui ui-done"></span>
                                                            Guardar
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>                      
                    </div>                    
                </div>
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="panel-group" role="tablist">
                                <div class="panel panel-default">
                                    <div class="panel-heading" role="tab" id="headingOne">
                                        <h4 class="panel-title">
                                            <a role="button" data-toggle="collapse" href="#issuer" aria-expanded="true">
                                                Datos de Facturación <i class="fa fa-caret-down" aria-hidden="true"></i>
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="issuer" class="panel-collapse collapse in" role="tabpanel">
                                        <div class="panel-body"
                                             v-loading="loadingData"
                                             element-loading-text="Actualizando Configuración...">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <h4>Opciones predeterminadas</h4>
                                                </div> 
                                                <div class="col-md-12">                                            
                                                    <h5 v-if="enterpriseOrIndividual">Persona Moral</h5>
                                                    <h5 v-else>Persona Física</h5>
                                                    <div class="form-group">
                                                        <el-tooltip 
                                                            content="El RFC aparece automáticamente cuando un certificado es configurado correctamente (No se puede cambiar a menos que cambie el certificado)" 
                                                            placement="left">
                                                            <i class="el-icon-information"></i>
                                                        </el-tooltip>
                                                        <label>RFC</label>
                                                        <input type="text" 
                                                               v-model="RFC" 
                                                               disabled>                    
                                                    </div>                
                                                </div>
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <el-tooltip 
                                                            content="El Nombre de Empresa aparece automáticamente cuando un certificado es configurado correctamente pero puede ajustarlo" 
                                                            placement="left">
                                                            <i class="el-icon-information"></i>
                                                        </el-tooltip>
                                                        <label>Nombre/Razón Social</label>
                                                        <input type="text"
                                                               v-model="enterpriseName">                                                
                                                    </div>                                                    
                                                </div>
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <el-tooltip 
                                                            content="Código Postal predeterminado" 
                                                            placement="left">
                                                            <i class="el-icon-information"></i>
                                                        </el-tooltip>
                                                        <label>Lugar de Expedición (Código Postal)</label>
                                                        <input type="text"
                                                               v-model="enterpriseExpeditionPlace">                           
                                                    </div>                                                    
                                                </div>
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <label>Regimen Fiscal</label>
                                                        <el-select 
                                                            v-model="selectedRegime"
                                                            filterable
                                                            clearable>
                                                            <el-option
                                                                v-for="item in regimes"
                                                                :key="item.id"
                                                                :label="item.CFDIcode + ' ' + item.name"
                                                                :value="item.id">
                                                            </el-option>
                                                        </el-select>                                  
                                                    </div>                                                    
                                                </div>
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <label>Moneda</label>
                                                        <el-select 
                                                            v-model="selectedCurrency"
                                                            filterable
                                                            clearable>
                                                            <el-option
                                                                v-for="item in currencies"
                                                                :key="item.id"
                                                                :label="item.CFDIcode + ' ' + item.name"
                                                                :value="item.id">
                                                            </el-option>
                                                        </el-select>                                  
                                                    </div>                                                    
                                                </div>
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <label>Forma de Pago</label>
                                                        <el-select 
                                                            v-model="selectedPaymentWay"
                                                            filterable
                                                            clearable>
                                                            <el-option
                                                                v-for="item in paymentWays"
                                                                :key="item.id"
                                                                :label="item.CFDIcode + ' ' + item.name"
                                                                :value="item.id">
                                                            </el-option>
                                                        </el-select>                                  
                                                    </div>                                                    
                                                </div>
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <label>Método de Pago</label>
                                                        <el-select 
                                                            v-model="selectedPaymentMethod"
                                                            filterable
                                                            clearable>
                                                            <el-option
                                                                v-for="item in paymentMethods"
                                                                :key="item.id"
                                                                :label="item.CFDIcode + ' ' + item.name"
                                                                :value="item.id">
                                                            </el-option>
                                                        </el-select>                                  
                                                    </div>                                                    
                                                </div>
                                                <div class="col-md-12">
                                                    <h4 style="display: inline;">Dirección a mostrar en los CFDI</h4>
                                                    <el-tooltip 
                                                        content="Los datos que completes se mostrarán en la factura impresa" 
                                                        placement="right">
                                                        <i class="el-icon-information"></i>
                                                    </el-tooltip>        
                                                </div>
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <el-checkbox 
                                                            v-model="use_subsidiary">
                                                            Usar dirección de sucursal                    
                                                        </el-checkbox>
                                                        <el-tooltip 
                                                            content="La direccion de la factura depende de la sucursal seleccionada" 
                                                            placement="left">
                                                            <i class="el-icon-information"></i>
                                                        </el-tooltip>
                                                    </div>                                                    
                                                </div>
                                                <template v-if="!use_subsidiary">
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <label>Correos</label>
                                                        <input type="text"
                                                               v-model="enterpriseMail">                                                 
                                                    </div>                                                    
                                                </div>
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <label>Teléfonos</label>
                                                        <input type="text"
                                                               v-model="enterprisePhones">                                                 
                                                    </div>                                                    
                                                </div>                                     
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <label>Calle</label>
                                                        <input type="text"
                                                               v-model="enterpriseStreet">                                                 
                                                    </div>                                                    
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label>Número</label>
                                                        <input type="text"
                                                               v-model="enterpriseNumber">                                                 
                                                    </div>                                                    
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label>Número exterior</label>
                                                        <input type="text"
                                                               v-model="enterpriseNumber2">                                                 
                                                    </div>                                                    
                                                </div>
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <label>Referencias</label>
                                                        <input type="text"
                                                               v-model="enterpriseReference">
                                                    </div>                                                    
                                                </div>
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <label>Colonia</label>
                                                        <input type="text"
                                                               v-model="enterpriseSuburb">                                                
                                                    </div>                                                    
                                                </div>
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <label>Ciudad</label>
                                                        <input type="text"
                                                               v-model="enterpriseCity">                                              
                                                    </div>                                                    
                                                </div>  
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <label>Municipio</label>
                                                        <input type="text"
                                                               v-model="enterpriseMunicipality">              
                                                    </div>                                                    
                                                </div>                                                                                
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <label>Código Postal</label>
                                                        <input type="text"
                                                               v-model="enterpriseZipCode">                           
                                                    </div>                                                    
                                                </div> 
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <label>Estado</label>
                                                        <input type="text"
                                                               v-model="enterpriseState">              
                                                    </div>                                                    
                                                </div>
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <label>País</label>
                                                        <el-select 
                                                            v-model="selectedCountry"
                                                            filterable>
                                                            <el-option
                                                                v-for="item in countries"
                                                                :key="item.id"
                                                                :label="item.CFDIcode + ' ' + item.name"
                                                                :value="item.id">
                                                            </el-option>
                                                        </el-select>                                  
                                                    </div>                                                    
                                                </div>                                                
                                                </template>
                                            </div>                                    
                                            <div class="row">
                                                <div class="col-md-6 col-md-offset-3">
                                                    <br>
                                                    <div class="ui-button bgGreen">
                                                        <a role="button" class="btn" @click="ajaxSaveEnterpriseData">
                                                            <span class="ui ui-done"></span>
                                                            Guardar
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="panel-footer">
                                            <a role="button" class="remove-panel-footer">
                                                <i aria-hidden="true" class="fa fa-times-circle fa-lg cBlack"></i>
                                            </a>
                                            <strong>Instrucciones:</strong> <br>
                                            * Son los datos de la empresa que se mostrarán en todas las facturas <br>
                                            (1) Datos principales y obligatorios que pide el SAT de parte del Emisor en Factura 3.3 son: RFC y El Código Postal del Lugar de Expedición <br>
                                            (2) Los datos de dirección fiscal son opcionales pero recomendamos completarlos por cuestiones de formalidad a los clientes.
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>  
                        
                    </div>
                </div>


            </div>
        </div>

    </div>
</section>
{% endblock %}

{% block loadScripts %}
    <script id="scriptContainer" type="text/javascript">
        var loadSettings = {{ settings|json_encode|raw }};
        var catalogs = {{ catalogs|json_encode|raw }};
        init.length = 0;
        init = [ {
            title: 'Configuración Facturación',
            file:  'Invoices/invoiceSettings.js',
            functions: [ {
                name: 'initInvoiceSettingsModule',
                args: [loadSettings, catalogs]
            } ]
        } ];
    </script>
{% endblock %}
