{% block content %}
<section>
	<div id="commission-plan-list-container">
		<div class="header-buttons">
            <div class="btn-group main-buttons">
                <button
                    class="btn btn-success"
                    @click="onNewClick()">
                    <span class="glyphicon glyphicon-plus-sign"></span>
                    Nuevo
                </button>
            </div>
        </div>
		<div class="panel-content">
			<div class="row">
				<div class="col-md-12">
					<div class="panel panel-default">
						<div class="panel-body">
							<vue-dynamic-table-rbc
		                        box-classes="box box-primary full-height"
		                        class-name="table table-bordered table-hover"
		                        :remote-method="remoteSearch"
		                        :source-columns="columns"
		                        {# :select-options="selectOptions" #}
		                        :data-model="plansDatasource"
		                        :total-results="totalResults"
		                        :pagination-options="{pageSizes:[10, 20, 30], pageSize: 10}"
		                        hide-export
		                        hide-import
		                        hide-favorites>
		                        <template slot="exceptions" scope="row">
		                        	<el-popover
		                        		ref="popover-exceptions"
		                        		placement="left"
		                        		width="400"
		                        		trigger="click">
		                        		<h4>Mercados</h4>
		                        		<ul style="padding-left: 10px;">
		                        			<li v-for="marketException in row.object.marketExceptions">
		                        				${marketException.market.name}
		                        			</li>
		                        		</ul>
		                        		<h4>Categorias</h4>
		                        		<ul style="padding-left: 10px;">
		                        			<li v-for="categoryException in row.object.categoryExceptions">
		                        				${categoryException.category.name}
		                        			</li>
		                        		</ul>
		                        		<h4>Grupos</h4>
		                        		<ul style="padding-left: 10px;">
		                        			<li v-for="groupException in row.object.groupExceptions">
		                        				${groupException.group.name}
		                        			</li>
		                        		</ul>
		                        		<h4>Lineas</h4>
		                        		<ul style="padding-left: 10px;">
		                        			<li v-for="lineException in row.object.lineExceptions">
		                        				${lineException.line.name}
		                        			</li>
		                        		</ul>
		                        		<h4>Marcas</h4>
		                        		<ul style="padding-left: 10px;">
		                        			<li v-for="brandException in row.object.brandExceptions">
		                        				${brandException.brand.name}
		                        			</li>
		                        		</ul>
		                        		<h4>Productos</h4>
		                        		<ul style="padding-left: 10px;">
		                        			<li v-for="productException in row.object.productExceptions">
		                        				${productException.product.name}
		                        			</li>
		                        		</ul>
		                        	</el-popover>
		                        	<el-button size="small" v-popover:popover-exceptions>Ver</el-button>
		                        </template>
		                        <template slot="sale_reps" scope="row">
		                        	<el-popover
		                        		ref="popover-reps"
		                        		placement="right"
		                        		width="300"
		                        		trigger="click">
		                        		<div v-if="row.object.saleRepresentatives.length > 0">
		                        			<span class="cGrey">Vendedores:</span>
		                        			<ul>
		                        				<li v-for="rep in row.object.saleRepresentatives">
		                        					${rep.name}
		                        				</li>
		                        			</ul>
		                        		</div>
		                        		<div v-else>
		                        			<em>Sin vendedores asociados</em>
		                        		</div>
		                        	</el-popover>
		                        	<el-button size="small" v-popover:popover-reps>Ver</el-button>
		                        </template>
		                        <template slot="actions" scope="row">
		                        	<div class="ui-button bg-Light-Blue overflowInherit">
			                            <div class="secondary">
			                                <a
			                                    data-tooltip="Editar"
			                                    role="button"
			                                    class="btn btn-info"
			                                    v-on:click="onEditClick(row.object)"{#TODO: declare and implement#}
			                                    style="color:  #fff;">
			                                    <span class="glyphicon glyphicon-edit"></span>
			                                </a>
			                                <a
			                                    data-tooltip="Eliminar"
			                                    role="button"
			                                    class="has-tooltip btn align-right"
			                                    v-on:click="onRemoveClick(row.object)">{#TODO: declare and implement#}
			                                    <span class="glyphicon glyphicon-trash"></span>
			                                </a>
			                            </div>
			                        </div>
		                        </template>
		                    </vue-dynamic-table-rbc>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
{% endblock %}
{% block loadScripts %}
<script id="scriptContainer" type="text/javascript">
init.length = 0;
init = [
    {
        title: 'Lista de planes de comisiones',
        file: 'Sale/commissionPlanList.js',
        functions: [{
            name: 'initCommissionPlanList',
            //args: arguments
        }]
    },
];
</script>
{% endblock %}
