{% block content %}
<section>
  <div id="formPayment">
    <div class="header-buttons">
        <div class="btn-group main-buttons">
            <button 
                @click="savePayment"
                class="btn btn-success">
                <i class="fa fa-floppy-o" aria-hidden="true"></i> Guardar Pago
            </button>
        </div>
        <div class="btn-group secondary-buttons">
            <a rol="button" class="btn btn-primary cWhite" data-toggle="modal" data-target="#importModal">
                <i class="fa fa-file-text" aria-hidden="true"></i> Importar Archivos
            </a>
        </div>
    </div>
    <div class="panel-content">
        <div class="box">
            <div class="box-header">    
                <h3 class="box-title">
                    Agregar nuevo pago
                </h3>
                <div class="box-tools pull-right">
                      <button type="button" class="btn btn-box-tool" data-toggle="collapse" data-target=".collapsePayment" aria-expanded="false" aria-controls="collapsePayment" data-toggle="tooltip"  title="Indicaciones">
                      <i class="ui ui-help_outline"></i>
                      </button>
               </div> 
            </div>
            <div class="indication collapse collapsePayment">
                <div class="indication-content">
                    <div class="indication-img">
                        <span class="indication-icon ui ui-help"></span>
                    </div>
                    <div class="indication-text">
                        Instrucciones nuevo pago: Ingrese los datos requeridos para generar un nuevo pago.
                    </div>
                </div>
            </div>
            <div class="box-body">
                <div v-if="purchaseId">
                    <p>Pago para compra con folio: ${ purchaseId }</p>
                    <hr>
                </div>
                {% include 'Payment/fields.twig' %}
            </div>
            <div class="panel-footer">
            </div>
        </div>
    </div>
</section>
{% endblock %}
{% block loadScripts %}
<script id="scriptContainer" type="text/javascript">
    init.length = 0;
    uiVars['purchaseId'] = {{ purchaseId|json_encode|raw }};
    init=[{
        title: 'Nuevo pago',
        file: 'Payment/form.js',
        functions: [{
            name: 'initCreatePayment',
            args: [ uiVars['purchaseId'] ]
        }]
    }];
</script>
{% endblock %}
