<div class="box box-default">
    <div class="box-header with-border">
        <h3 class="box-title">Datos básicos del {{ typeName }}</h3>
        <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-toggle="collapse" data-target=".collapseExample"
                aria-expanded="false" aria-controls="collapseExample" data-toggle="tooltip"
                    title="Indicaciones">
                <i class="ui ui-help_outline"></i>
            </button>
            <button type="button" class="btn btn-box-tool" data-widget="collapse"
                    data-toggle="tooltip"
                    title="Minimizar">
                <i class="fa fa-minus"></i>
            </button>
        </div>
    </div>
    <div class="indication collapse collapseExample">
        <div class="indication-content">
            <div class="indication-img">
                <span class="indication-icon ui ui-help"></span>
            </div>
            <div class="indication-text">
                Agregue los datos que se piden para crear un producto, mínimo los obligatorios.
                Los campos obligatorios son los que tienen un * en el título.
            </div>
        </div>
    </div>
    <div class="box-body">
        <div class="row">
            <div class="col-md-12">
                <div class="req form-group">
                    <label for="">Nombre </label>
                    <input
                        v-model="product.name"
                        @input="$v.product.name.$touch()"
                        type="text"
                        class="form-control"
                    />
                    <div class="validation-text">
                        <span v-if="$v.product.name.$dirty && !$v.product.name.required">
                            El nombre es obligatorio
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="">Nombre Popular</label>
                    <input type="text" class="form-control"
                           v-model="product.popularName" placeholder="Nombre Popular">
                </div>
            {% if (type != 2) %} {# ocultar en servcio #}
                <div class="form-group">
                    <label for="">Punto de reorden</label>
                    <input type="text" class="form-control" v-model="product.reorderPoint"
                           placeholder="Punto de reorden">
                </div>
            {% endif %}
                <div class="req form-group">
                    <label>ID o Código</label>
                    <input
                        v-model="product.code"
                        @input="$v.product.code.$touch()"
                        type="text"
                        class="form-control"
                        placeholder="ID o Código">
                    <div class="validation-text">
                        <span v-if="$v.product.code.$dirty && !$v.product.code.required">
                            El ID o Código es obligatorio
                        </span>
                    </div>
                </div>
            {% if (type != 2) %} {# ocultar en servcio #}
                <div class="form-group">
                    <label for="">Código de barras</label>
                    <input type="text" class="form-control"
                        v-model="product.barcode" placeholder="Código de barras">
                </div>
                <div class="req form-group">
                    <label>SKU: </label>
                    <input
                        v-model="product.sku"
                        @input="$v.product.sku.$touch()"
                        placeholder="SKU">
                    <div class="validation-text">
                        <span v-if="$v.product.sku.$dirty && !$v.product.sku.required">
                            El SKU es obligatorio
                        </span>
                    </div>
                </div>
            {% endif %}
                <div class="form-group">
                    <label for="products_description">Descripción</label>
                    <textarea type="text" class="form-control"
                        v-model="product.description"
                        placeholder="Descripción del {{ typeName }}"></textarea>
                </div>

                <div class="req form-group">
                    <label>Código SAT</label>
                    <el-select
                        v-model="product.invoiceProductService"
                        @change="$v.product.invoiceProductService.$touch()"
                        filterable
                        clearable>
                        <el-option
                            v-for="option in $store.getters['invoiceProductService/dataForSelects'].options"
                            :key="option.id"
                            :value="option.id"
                            :label="option.name + '  ' + option.CFDIcode"
                            >
                            <div>${ option.name }</div>
                            <div style="color: #DDD; font-size: 0.8em;">${ option.CFDIcode }</div>
                        </el-option>
                    </el-select>
                    <div class="validation-text">
                        <span v-if="$v.product.invoiceProductService.$dirty && !$v.product.invoiceProductService.required">
                            El código SAT es obligatorio
                        </span>
                    </div>
                </div>

            </div>
            <div class="col-md-12">
                <div class="col-xs-12 col-sm-7">
                    <div class="form-group">
                        <div class="block">
                            <div class="col-xs-8">
                                <label for="inventariable">Inventariable</label>
                            </div>
                            <div class="col-xs-4">
                                <input type="checkbox" id="inventariable"
                                       v-model="product.inventariable"/>
                            </div>
                        </div>
                    </div>
                </div>
            {% if (type != 3) %} {# ocultar en activo fijo #}
                <div class="col-xs-12 col-sm-5">
                    <div class="form-group">
                        <div class="block">
                            <div class="col-xs-8">
                                <label for="active">Activo</label>
                            </div>
                            <div class="col-xs-4">
                                <input type="checkbox" id="active" v-model="product.active"/>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-7">
                    <div class="form-group">
                        <div class="block">
                            <div class="col-xs-8">
                                <label for="ecommerceExcluded" style="white-space:normal!important;">Excluir de la tienda en
                                    línea</label>
                            </div>
                            <div class="col-xs-4">
                                <input type="checkbox" id="ecommerceExcluded"
                                       v-model="product.ecommerceExcluded"/>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
            {% if type != 2 %} {# ocultar en servcio #}
                <div class="col-xs-12 col-sm-5">
                    <div class="form-group">
                        <div class="block">
                            <div class="col-xs-8">
                                <label for="expried">Perecedero</label>
                            </div>
                            <div class="col-xs-4">
                                <input v-model="product.expried" type="checkbox"
                                       id="expried"/>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-7">
                    <div class="form-group">
                       <div class="block">
                            <div class="col-xs-8">
                                <label for="serialNumbers">Número de serie</label>
                            </div>
                           <div class="col-xs-4">
                                <input type="checkbox" v-model="product.serialNumbers"
                                     id="serialNumbers"/>
                           </div>
                       </div>
                    </div>
                </div>
            {% endif %}
                <div class="col-xs-12 col-sm-5">
                    <div class="form-group">
                        <div class="block">
                            <div class="col-xs-8">
                                <label for="favorite">Favorito</label>
                            </div>
                            <div class="col-xs-4">
                                <input type="checkbox" v-model="product.favorite"
                                       id="favorite"/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>