<div class="box box-default">
    <div class="box-header with-border">

        <h3 class="box-title">Grupos y Líneas</h3>

        <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-toggle="collapse" data-target=".collapseExample2"
                aria-expanded="false" aria-controls="collapseExample2" data-toggle="tooltip"
                    title="Indicaciones">
                <i class="ui ui-help_outline"></i>
            </button>
            <button type="button" class="btn btn-box-tool" data-widget="collapse"
                    data-toggle="tooltip" title="Minimizar">
                <i class="fa fa-minus"></i>
            </button>
        </div>
    </div>

    <div class="indication collapse collapseExample2">
        <div class="indication-content">
            <div class="indication-img">
                <span class="indication-icon ui ui-help"></span>
            </div>
            <div class="indication-text">
                <div class="indication-justified">
                    Defina a que Grupo y a que Línea pertenece el producto en caso de llevar
                    el manejo de ello en su empresa.
                </div>
            </div>
        </div>
    </div>

    <div class="box-body">
        <div class="col-md-12">
            <div class="form-group">
                <label>Grupo:</label>
                <el-select
                    v-model="product.group"
                    @change="onChangeGroup">
                    <el-option
                        v-for="group in $store.getters['group/dataForSelect'].options"
                        :key="group.id"
                        :value="group.id"
                        :label="group.name">
                    </el-option>
                </el-select>
            </div>
        </div>
        <div class="col-md-12">
            <div class="form-group">
                <label for="phones">Línea:</label>
                <el-select v-model="product.line">
                    <el-option
                        v-for="line in lines"
                        :key="line.id"
                        :value="line.id"
                        :label="line.name"
                        >
                        </el-option>
                </el-select>
            </div>
        </div>
    </div>
</div>