<div class="box box-default">
    <div class="box-header with-border">
        <h3 class="box-title">Impuestos</h3>
        <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-toggle="collapse" data-target=".collapseExample4"
                aria-expanded="false" aria-controls="collapseExample4" data-toggle="tooltip"
                    title="Indicaciones">
                <i class="ui ui-help_outline"></i>
            </button>
            <button type="button" class="btn btn-box-tool" data-widget="collapse"
                    data-toggle="tooltip" title="Minimizar">
                <i class="fa fa-minus"></i>
            </button>
        </div>
    </div>
    <div class="indication collapse collapseExample4">
        <div class="indication-content">
            <div class="indication-img">
                <span class="indication-icon ui ui-help"></span>
            </div>
            <div class="indication-text">
                Seleccione el o los impuestos que aplicarán al comercializar el producto.
                Esto sirve para que aparezcan por default al momento de cargarlos en el
                movimiento pero también cuenta con la opción de modificar en caso de ser
                necesario.
            </div>
        </div>
    </div>
    <div class="box-body">
        <div class="col-md-12">
            <div class="form-group">
                <label for="phones">Impuestos:</label>
                <vue-selectize-js
                        :selectize-settings="selectizeTaxesSettings"
                        :selectize-options="selectizeTaxesOptions"
                        v-model="product.taxes">
                </vue-selectize-js>
            </div>
        </div>
    </div>
</div>