{% block content %}
    <section>
        <div id="forma-cotizacion">
            <sm-form-buttons
                modulo="cotizaciones"
                :data="cotizacion"
                :id-proceso="0"
                @cargar="value => { cargar(value) }"
                @limpiar="limpiar()">
            </sm-form-buttons>
            <div class="panel-content">
                <div class="row">
                    <div class="col-md-3">
                        <sm-form-salesman
                            :muestra-vigencia="{{ render['effectiveDate']|json_encode|raw }}"
                            :folio="cotizacion.folio"
                            @folio="value => { cotizacion.folio = value }"
                            :vendedor="cotizacion.responsibleId"
                            @vendedor="value => { cotizacion.responsibleId = value }"
                            :sucursal="cotizacion.subsidiaryId"
                            @sucursal="value => { cotizacion.subsidiaryId = value }"
                            :vigencia="cotizacion.effectiveDate"
                            @vigencia="value => { cotizacion.effectiveDate = value }"
                            :creacion="cotizacion.createdAt"
                            @creacion="value => { cotizacion.createdAt = value }"
                            :vendedor-options="vendedorOptions"
                            :sucursal-options="sucursalOptions">
                        </sm-form-salesman>
                        <sm-form-customer
                            :muestra-contacto="{{ render['contact']|json_encode|raw }}"
                            :id-cliente="cotizacion.customerId"
                            @id-cliente="value => { cotizacion.customerId = value }"
                            :nombre="cotizacion.businessName"
                            @nombre="value => { cotizacion.businessName = value }"
                            :nombre-legal="cotizacion.legalName"
                            @nombre-legal="value => { cotizacion.legalName = value }"
                            :rfc="cotizacion.rfc"
                            @rfc="value => { cotizacion.rfc = value }"
                            :moneda="cotizacion.currency"
                            @moneda="value => { cotizacion.currency = value }"
                            :lista-precio="cotizacion.priceId"
                            @lista-precio="value => { cotizacion.priceId = value }"
                            :contacto="cotizacion.contactName"
                            @contacto="value => { cotizacion.contactName = value }"
                            :contacto-options="contactoOptions"
                            @contacto-options="value => { contactoOptions = value }"
                            :moneda-options="monedaOptions"
                            :id-proceso="cotizacion.id">
                        </sm-form-customer>
                       {# Pendiente de hacer componente :p#}
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-md-12">
                                        <label>
                                            <input type="checkbox" v-model="enviar" @click="marcaEnviar()">
                                            Enviar por correo
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="panel-body mh350 overflowAuto">
                                <div v-if="enviar">
                                    <div v-for="contacto in cotizacion.contacts">
                                        <div class="col-md-12">
                                            <div class="panel panel-info">
                                                <a role="button" class="close" @click="quitarContacto(contacto.index)">
                                                    <span aria-hidden="true">&times;</span>
                                                </a>
                                                <div class="panel-body">
                                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                                        <div class="form-group">
                                                            <label>Contacto:</label>
                                                            <el-select v-model="contacto.contacto.name"
                                                                placeholder="Contactos"
                                                                filterable
                                                                allow-create
                                                                @change="infoContacto(contacto)">
                                                                <el-option
                                                                    v-for="contactoOption in contactoOptions"
                                                                    :key="contactoOption.name"
                                                                    :label="contactoOption.name"
                                                                    :value="contactoOption.name">
                                                                </el-option>
                                                            </el-select>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                                        <div class="form-group">
                                                            <label>E-Mail:</label>
                                                            <el-select v-model="contacto.email"
                                                                placeholder="E-Mail"
                                                                filterable
                                                                allow-create>
                                                                <el-option
                                                                    v-for="emailOption in contacto.emailOptions"
                                                                    :key="emailOption.email"
                                                                    :label="emailOption.email"
                                                                    :value="emailOption.email">
                                                                </el-option>
                                                            </el-select>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="panel-footer" v-if="enviar">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="pull-right">
                                            <a role="button" class="btn-sm btn-success" @click="agregaContacto()">
                                                <span class="glyphicon glyphicon-plus"></span> Agregar
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {# hasta aqui #}
                    </div>
                    <div class="col-md-9">
                        <div class="row">
                            <div class="col-md-12">
                                <sm-table-products
                                    :render="render"
                                    :conceptos="cotizacion.concepts"
                                    :conceptos-eliminados="cotizacion.delProducts"
                                    :nuevos-conceptos="nuevosConceptos"
                                    :inserta-productos="agregaConceptos"
                                    @subtotal="value => { cotizacion.subtotalAmount = value }"
                                    @impuestos="value => { cotizacion.taxes = value }"
                                    @descuento="value => { cotizacion.discountAmount = value }"
                                    @total="value => { cotizacion.totalAmount = value }"
                                    @modal-impuestos="value => { mostrarImpuestos(value) }"
                                    @modal-productos="mostrarBusquedaProd()"
                                    id-cantidad="c-sm-cantidad">
                                </sm-table-products>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-9">
                                <div class="panel panel-default" >
                                    <div class="panel-body">
                                        <div class="row" id="c-forma-condicion">
                                            <div class="col-md-8">
                                                <div class="form-group">
                                                    <label>Cuenta a depositar:</label>
                                                    <el-select v-model="cotizacion.conditions.bankAccountId"
                                                        filterable placeholder="Selecciona Cuenta Bancaria">
                                                        <el-option
                                                            v-for="cuentaOption in cuentaOptions"
                                                            :key="cuentaOption.id"
                                                            :label="cuentaOption.account"
                                                            :value="cuentaOption.id">
                                                            <span style="float: left">${ cuentaOption.account }</span>
                                                            <span style="float: right; color: #8492a6; font-size: 13px">
                                                                ${ cuentaOption.description }
                                                            </span>
                                                        </el-option>
                                                    </el-select>
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <textarea class="form-control"
                                                        v-model="cotizacion.conditions.paymentCondition"
                                                        placeholder="Condiciones">
                                                    </textarea>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <sm-form-comment
                                    :comentario="cotizacion.comment">
                                </sm-form-comment>
                            </div>
                            <div class="col-md-3">
                                <sm-form-sumarize
                                    :subtotal="cotizacion.subtotalAmount"
                                    :impuestos="cotizacion.taxes"
                                    :descuento="cotizacion.discountAmount"
                                    :total="cotizacion.totalAmount">
                                </sm-form-sumarize>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <sm-modal-products
                id-modal="c-sm-busca-productos"
                :lista-precio="cotizacion.priceId"
                :agregar="agregaConceptos"
                @conceptos="value => { nuevosConceptos = value }"
                @inserta-productos="value => { agregaConceptos = value }">
            </sm-modal-products>
            <sm-modal-taxes
                id-modal="c-sm-taxes"
                :taxes="taxes"
                :indice="indice"
                :render="render"
                @renderizar="value => { render = value }">
            </sm-modal-taxes>
        </div>
    </section>
            
{% endblock %}
{% block loadScripts %}
    <script id="scriptContainer" type="text/javascript">
        uiVars['filtros'] = {{ filters|json_encode|raw }};

        init.length = 0;
        init = [
            {
                file: 'Sale/components/c_modalProducts.js',
            },
            {
                file: 'Sale/components/c_modalTaxes.js',
            },
            {
                file: 'Sale/components/c_formButtons.js',
            },
            {
                file: 'Sale/components/c_formSalesman.js',
            },
            {
                file: 'Sale/components/c_formCustomer.js',
            },
            {
                file: 'Sale/components/c_tableProducts.js',
            },
            {
                file: 'Sale/components/c_formComment.js',
            },
            {
                file: 'Sale/components/c_formSumarize.js',
            },
            {
                title: 'Cotización',
                file: 'Sale/quotation.js',
                functions: [ {
                    name: 'initModuleNewQuotation',
                    args: [ uiVars['filtros'] ]
                }]
            },
            
        ];
    </script>
{% endblock %}
