<div id="tableListBusinessTypes">
    <!-- Dynamic Table -->
    <vue-dynamic-table-rbc
        box-classes="box box-primary full-height"
        class-name="table table-bordered table-hover"

        :source-columns="sourceColumns"
        :data-model="listDataBusinessTypes"

        :remote-method="remoteMethod"
        :total-results="totalResults"

        {# FAVORITOS #}
        :favorites="dynamicTableFavorites"
        @save-to-favorites="saveToFavorites"
        @loaded-favorite="loadedFavorite"
        >
        <template slot="description" scope="row">
            <div class="expand">
                ${ row.object.business_type_description }
            </div>
        </template>
        <template slot="actions" scope="row">
          <div class="ui-button bg-Light-Blue overflowInherit">
                <div class="secondary">
                    <a
                        role="button"
                        class="has-tooltip btn align-right"
                        data-tooltip="Editar Giro Comercial"
                        v-on:click="onEditClick(row.object)">
                        <span class="glyphicon glyphicon-edit"></span>
                    </a>
                    <a
                        role="button"
                        class="has-tooltip btn align-right"
                        data-tooltip="Eliminar Giro Comercial"
                        v-on:click="onRemoveClick(row.object)">
                        <span class="glyphicon glyphicon-trash"></span>
                    </a>
                </div>
            </div>
        </template>
        <template slot="no-rows-found">
            <span>No se encontraron resultados</span>
        </template>
    </vue-dynamic-table-rbc>
    <!-- Dynamic Table -->
</div>
