<nav id="lateral-nav" class="bg-uiColor-dark">
    <ul class="navigation noMargin">
        <div class="form-section block h70">
            <div class="content contentMiddle">
                <div class="form-group noMargin">
                    <div class="input-group noMargin">
                        <input type="text">
                        <a role="button" class="input-group-addon btn">
                            <span class="fa fa-search"></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </ul>
    <ul class="navigation">
        <li class="item-has-children">
            <a role="button">Metricas</a>
            <ul class="sub-menu">
                <li>
                    <a role="button">Metrica 1</a>
                </li>
                <li>
                    <a role="button">Metrica 2</a>
                </li>
                <li>
                    <a role="button">Metrica 3</a>
                </li>
            </ul>
        </li>
        <!-- item-has-children -->
        <li class="item-has-children">
            <a role="button">Panel de Tareas</a>
            <ul class="sub-menu">
                <li>
                    <a role="button">Tarea 1</a>
                </li>
                <li>
                    <a role="button">Tarea 2</a>
                </li>
                <li>
                    <a role="button">Tarea 3</a>
                </li>
                <li>
                    <a role="button">Tarea 4</a>
                </li>
                <li>
                    <a role="button">Tarea 5</a>
                </li>
            </ul>
        </li>
        <!-- item-has-children -->
        <li class="item-has-children">
            <a role="button">Historial</a>
            <ul class="sub-menu">
                <li>
                    <a role="button">1</a>
                </li>
                <li>
                    <a role="button">2</a>
                </li>
                <li>
                    <a role="button">3</a>
                </li>
                <li>
                    <a role="button">4</a>
                </li>
            </ul>
        </li>
        <!-- item-has-children -->
    </ul>
    <!-- cd-navigation -->
    <ul class="navigation cd-single-item-wrapper">
        <li>
            <a role="button">Link</a>
        </li>
        <li>
            <a role="button">Link</a>
        </li>
        <li>
            <a role="button">Link</a>
        </li>
        <li>
            <a role="button">Link</a>
        </li>
        <li>
            <a role="button">Link</a>
        </li>
        <li>
            <a role="button">Link</a>
        </li>
    </ul>
    <div class="panel square bgTransparent">
        <div class="panel-heading noPadding">
            <h4 class="noMargin text-bold cGray">Notas</h4>
            <div class="clear"></div>
        </div>
        <div class="panel-body noPadding">
            <div class="form-group">
                <textarea id="nota" rows="8" draggable="false" class="noDirt" placeholder="Escribe tu nota aqui"></textarea>
                <select class="noDirt">
                    <option>modulo x</option>
                    <option>modulo y</option>
                    <option>modulo z</option>
                </select>
                <select class="noDirt">
                    <option>user 1</option>
                    <option>user 2</option>
                    <option>user 3</option>
                </select>
            </div>
        </div>
        <div class="panel-footer block noPadding">
            <div class="btn btn-danger content-fluid square">Cancelar</div>
            <div class="btn btn-success content-fluid square">Guardar</div>
        </div>
    </div>
    <!-- cd-single-item-wrapper -->

    <!-- <div class="navigation socials">
        <a class="twitter cd-img-replace" role="button">Twitter</a>
        <a class="github cd-img-replace" role="button">Git Hub</a>
        <a class="facebook cd-img-replace" role="button">Facebook</a>
        <a class="google cd-img-replace" role="button">Google Plus</a>
    </div>-->
    <!-- socials -->
</nav>
