{% block body %}
<link rel="stylesheet" type="text/css" href="{{ url('public/css/dashboard/stylesheet.css') }}" />
<div id="permissionsListElement">

<div class="header-buttons">
   <div class="btn-group main-buttons">
       <select class="permissionType" v-model="typeList" @change="getTypeList">
           <option value="">Seleccione una Opcion</option>
           <option value="usuarios">Usuario</option>
           <option value="roles">Rol</option>
           <option value="grupos">Grupo</option>
       </select>
   </div>
   <div class="btn-group main-buttons">
       <a name="add"
        role="button"
        class="btn btn-success"
        data-action="openLateral"
        data-module="usuarios"
        data-route="usuarios/registro">
         <i lass="fa fa-plus-square" aria-hidden="true"></i>
         Asignar Facultades
       </a>
   </div>
</div>

<div  class="panel-content faculty-assign-control">
    <div class="col-md-3">

    <div class="panel panel-default">

        <div :class="{'panel-heading': true, 'bg-dash-primary': (typeList != ''), 'bg-dash-red': (typeList == '')}">
            <template>
                <span v-if="typeList != ''"><b>Listado ${typeList}</b></span>
                <span v-else><b>Listado vacio</b></span>
            </template>
        </div>

        <div class="panel-body">
                <template>
                   <span v-if="typeList == ''"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> Selecciona Una Opcion</span>
                   <transition v-else name="fade">
                   <ul  v-if="show" class="dash-list">
                       <li v-for="item in dataList"><input type="checkbox" v-bind:value="item.id" v-model="checkedTypeList" v-on:change="changeTypeList"><span>${item.label}</span></li>
                   </ul>
                   </transition>
                </template>
        </div>

        <div class="panel-footer">
                <template>
                   <span v-if="typeList == ''"><i class="fa fa-window-close" aria-hidden="true"></i> Sin Resultados</span>
                   <span v-else><i class="fa fa-list" aria-hidden="true"></i> <b class="color-dash-green">${dataListLength}</b> Resultados - checked: ${checkedTypeList}</span>
                </template>
        </div>

    </div>
</div>

    <div class="col-md-3">
        <div class="panel panel-default">
          <div class="panel-heading bg-dash-primary">Panel Header</div>
          <div class="panel-body">Panel Content</div>
          <div class="panel-footer">Panel Footer</div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="panel panel-default">
          <div class="panel-heading bg-dash-primary">Panel Header</div>
          <div class="panel-body">Panel Content</div>
          <div class="panel-footer">Panel Footer</div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="panel panel-default">
          <div class="panel-heading bg-dash-primary">Panel Header</div>
          <div class="panel-body">Panel Content</div>
          <div class="panel-footer">Panel Footer</div>
        </div>
    </div>
</div>
</div>
{% endblock %}
{% block loadScripts %}
 <script id="scriptContainer" type="text/javascript">
       init.length = 0;
       uiVars['companyId'] = {{ session.userData.company | json_encode | raw }}
       init = [{
           title: 'Permisos',
           file: '/Dashboard/Permissions/script.js',
           functions: [{
               name: 'iniciarPermisos',
               args: [uiVars['companyId']]
           }]
       }];
</script>
{% endblock %}
