<script type="text/x-template" id="consignees-form">
<div>
    <div v-show="!editingConsignee">
        <div class="row">
            <div class="col-md-12">
                <button class="btn btn-success" @click="addNewConsignee">
                    <span class="fa fa-plus"></span> Nuevo Consignatorio
                </button>
            </div>
        </div>
        <vue-dynamic-table
                class-name="table table-striped"

                @go-to-page="gotoPage"
                :pagination-options="paginationOptions"

                :columns="columnsModel"
                :data-model="getSubList()">
            <template slot="no-rows-found">
                Sin contactos
            </template>
            <template slot="actions" scope="row">
                <div class="text-right">
                    <a role="button" @click="editConsignee(row.index)">
                        <span class="fa fa-pencil"></span>
                    </a>
                    <a role="button" @click="askForDeleteConsignee(row.index)">
                        <span class="fa fa-remove"></span>
                    </a>
                </div>
            </template>
        </vue-dynamic-table>
    </div>
    <div v-show="editingConsignee">
        <h4>Nuevo consignatario</h4>
        <div class="form-group">
            <label for="sub-street">Nombre:</label>
            <input id="sub-street" name="street" v-model="consignee.name" @keypress="removeValidationError('name')">
            <p v-if="hasValidationError('name')">
            	${ validationErrors.name }
            </p>
        </div>
        <address-form
            v-model="consignee.address"
            id="subsidiary-consignee-address">
        </address-form>
        <!--
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="phones">Telefono:</label>
                    <vue-selectize-js
                            selectize-type="Tags"
                            :selectize-settings="selectizePhoneSettings"
                            v-model="consignee.phones">
                    </vue-selectize-js>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="emails">Email:</label>
                    <vue-selectize-js
                            selectize-type="Tags"
                            :selectize-settings="selectizeEmailSettings"
                            v-model="consignee.emails">
                    </vue-selectize-js>
                </div>
            </div>
        </div>
        -->
        <div class="row">
            <div class="col-md-12">
                <button type="button" class="btn btn-primary" @click="saveConsignee()">
                    <span class="fa fa-floppy-o"></span> Guardar
                </button>
                <button type="button" class="btn btn-warning hola" @click="cancel()">
                    <span class="fa fa-ban"></span> Cancelar
                </button>
            </div>
        </div>
    </div>
</div>
</script>