{% block body %}
    <section>
    
        {% include( 'System/Zones/partials/buttonadd.twig' ) %}
        <div class="panel-content">
            {% include( 'System/Zones/partials/list.twig' ) %}
        </div>
    </section>
{% endblock %}
{% block loadScripts %}
    <script id="scriptContainer" type="text/javascript">
        init.lenght = 0;
        init = [ {
            title: 'Zonas',	
            file: 'System/Zones/zones.js',
            functions: [ {
                name: 'initList',
                args: []
            } ]
        } ];
    </script>
{% endblock %}