<section>
    <div id="formCandidate">
        <div class="header-buttons">
            <div class="btn-group main-buttons">
                <button
                    class="btn btn-success"
                    @click="candidateValidate">
                    <span class="glyphicon glyphicon-floppy-disk"></span>
                    Guardar
                </button>
                <button
                    class="btn btn-danger"
                    data-action="closeTab">
                    <span class="glyphicon glyphicon-remove"></span>
                    Cancelar
                </button>
            </div>
        </div>
        <div class="panel-content">
            {% include '/HumanResources/Candidates/basic.twig' %}
            {% include '/HumanResources/Candidates/reference.twig' %}
            {% include '/HumanResources/Candidates/studiesHistory.twig' %}
            {% include '/HumanResources/Candidates/workHistory.twig' %}
            {% include '/HumanResources/Candidates/social.twig' %}
        </div>
    </div>
</section>
<script id="scriptContainer" type="text/javascript">
    uiVars['title']  = '{{title}}';
    uiVars['view']   = {{view}};
    uiVars['data']   = {{data|json_encode|raw}};
    uiVars['info']   = {{info|json_encode|raw}};
    init.lenght = 0;
    init = [ {
        title: uiVars['title'],
            file: 'HumanResources/Candidates/form.js',
            functions: [ {
                name: 'initFormCandidate',
                args: [ uiVars['data'], uiVars['info']]
        } ]
    } ];
</script>
