{% block body %}
<section>
    <div id="candidate-module">
        <div class="header-buttons">
            <div class="btn-group main-buttons">
                <a id="btnNewCandidate"
                    role="button"
                    class="btn btn-success"
                    data-action="openLateral"
                    data-route="recursosHumanos/candidatos/nuevo">
                    <i class="fa fa-plus " aria-hidden="true"></i> Agregar Candidato
                </a>
            </div>
        </div>
        <div class="panel-content">
            <div class="row">
                <div class="col-md-12">
                    <vue-dynamic-table-rbc
                        box-classes="box box-primary full-height"
                        class-name="table table-bordered table-hover"
                        :remote-method="ajaxCandidateSearch"
                        :source-columns="candidateSourceColumns"
                        :select-options="catalogs"
                        :data-model="candidateList"
                        :total-results="candidateResults"
                        >

                        <template slot="emails_personal" scope="row">
                            ${row.object.emails_personal}
                        </template>
                        <template slot="skill" scope="row">
                            ${row.object.skill}
                        </template>
                        <template slot="phone" scope="row">
                            ${row.object.phones_personal.phone}
                        </template>
                        <template slot="address" scope="row">
                            <div class="expand">
                                ${row.object.full_address}
                            </div>
                        </template>
                        <template slot="actions" scope="row">
                            <div class="ui-button bg-Light-Blue overflowInherit">
                                <div class="secondary">
                                    <a
                                        role="button"
                                        class="has-tooltip btn align-right"
                                        data-tooltip="Editar"
                                        v-on:click="onEditClick(row.object.id)">
                                        <span class="glyphicon glyphicon-edit"></span>
                                    </a>
                                    <a
                                        class="has-tooltip btn align-right"
                                        data-tooltip="Eliminar"
                                        role="button"
                                        v-on:click="onRemoveClick(row)">
                                        <span class="glyphicon glyphicon-trash"></span>
                                    </a>
                                </div>
                            </div>
                        </template>
                    </vue-dynamic-table-rbc>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
{% block loadScripts %}
<script id="scriptContainer" type="text/javascript">
var catalogs = {{ catalogs|json_encode|raw }};
init.length = 0;
init = [ {
    title: 'Listado Candidatos',
    file:  'HumanResources/Candidates/list.js',
    functions: [ {
        name: 'initCandidatesListModule',
        args: [catalogs]
    } ]
} ];
</script>
{% endblock %}
