{% extends "/HumanResources/Partials/box.twig" %}
{% block boxTitle %}Vacantes{% endblock %}
{% block boxContent %}
<div class="row-md-6">
    <div class="form-group">
        <label for="">Vacante:</label>
        <el-select
        @change="clearVacanciesError('Vacante')"
        v-model="candidate.vacancies"
        placeholder="Selecciona una vacante">
        <el-option
        v-for="item in data.vacancies"
        :key="item.id"
        :label="item.position"
        :value="item.id">
    </el-option>
</el-select>
<span class="error-validate" :class="vacanciesErrorsClass" v-if="vacanciesValidatorErrors != null">${ vacanciesValidatorErrors.first('Vacante') }</span>
<div class="row-md-6">
    <div class="form-group">
        <label for="name">Salario:</label>
        <label id="salary" name="salary"  >
        </div>
    </div>
</div>
</div>
{% endblock %}
