<template slot="desc" scope="row">
    <div class="expand">
        ${row.object.description}
    </div>
</template>

<template slot="dateActivity" scope="row">
    <div v-if="row.object != null">
        <el-tooltip 
            class="item" 
            effect="dark" 
            :content="row.object.title" 
            placement="bottom-start">
            <a role="button" class="activityTag btn-success linkId" style="color: white;">
                {#<div>
                    ${formatDate(row.object.start_attention_date, 'dddd')}
                </div>#}
                <div>
                    ${formatDate(row.object.start_attention_date, 'DD MMMM')}
                <br>
                    ${formatDate(row.object.start_attention_date, 'h:mm a')}
                </div>
                <i class="fa fa-caret-left " aria-hidden="true"></i>
            </a>
        </el-tooltip>
    </div>
</template>

<template slot="attentionStatus" scope="row">
    <div v-if="row.object.attention_date != null">
        Atendida
    </div>
    <div v-else>
        Pendiente
    </div>
    
</template>


<template slot="expiratedDate" scope="row">
    <div class="inline_vMiddle">
        <el-tooltip 
            class="item" 
            effect="dark" 
            :content="Date.parse(row.object.expiration_date) < Date.now() ? 
                'Oportunidad expirada' : 'Fecha de cierre'" 
            placement="bottom-start">
            <i 
                :style="Date.parse(row.object.expiration_date) < Date.now() ? 
                    'color:#d9473a;' : 'color:#359bdc;'"
                :class="Date.parse(row.object.expiration_date) < Date.now() ? 
                    'fa fa-exclamation-triangle' : 'fa fa-clock-o'"></i>
        </el-tooltip>
    </div>
    <div class="inline_vMiddle">
        ${formatDate(row.object.expiration_date, 'dddd')}
        <br>
        ${formatDate(row.object.expiration_date, 'DD MMMM YYYY')}
    </div>
</template>




<template slot="user" scope="row" >
    <div class="expand">
        <a href="#" class="padd5" style="display: block;">
            <div v-if="(row.object.created_by.picture !== '[none]')" class="pull-left contentMiddle ">
                <img 
                    v-bind:src="'https://cdn.tuadmin.com/' + row.object.created_by.picture" 
                    alt="User Image" 
                    class="img-circle h35 mw35" 
                    style="margin-right: 10px;">
            </div>
            <div class="mh55">{# mih40 mh55#}
                <strong class="card-title" style="color: #555;">                                   
                    ${row.object.created_by.nickname}
                </strong>
                <div class="card-content">
                    <el-tooltip 
                        class="item" 
                        effect="dark" 
                        :content="row.object.created_by ?
                        (row.object.created_by.name + ' '+
                        (row.object.created_by.lastname ? row.object.created_by.lastname : '') + ' ' +
                        (row.object.created_by.surname ? row.object.created_by.surname : '')) : 'S/A'" 
                        placement="bottom-start">
                        <i class="fa fa-address-card"></i>
                    </el-tooltip>
                    ${ row.object.created_by ?
                    (row.object.created_by.name + ' '+
                    (row.object.created_by.lastname ? row.object.created_by.lastname : '') + ' ' +
                    (row.object.created_by.surname ? row.object.created_by.surname : '')) : 'S/A' }
                </div>
            </div>
        </a>
    </div>
</template>
<template slot="asignedToActivity" scope="row">
    <el-popover 
        ref="popover4"
        placement="bottom-end"
        width="700"
        popper-class="h-select-pop"
        trigger="click">
        {% include 'crm/assignedCards.twig'%}
    </el-popover>
    <div class="ui-button bg-Light-Blue overflowInherit">
        <div class="secondary">
            <a role="button"  class=" btn align-right" v-popover:popover4>
                <span class="fa fa-users"></span>
            </a>
        </div>
    </div>
</template>
<template slot="requisitionsActions" scope="row">
    <div class="ui-button bg-Light-Blue overflowInherit">
        <div class="secondary">
            <a 
                data-tooltip="Editar"
                role="button"
                class="btn btn-info"
                v-on:click="opTab('crm/seguimiento/editar/'+row.object.id,'md')"
                style="color:  #fff;">
                <span class="glyphicon glyphicon-edit"></span>
            </a>
            <a 
                data-tooltip="Eliminar"
                role="button"
                class="has-tooltip btn align-right" 
                v-on:click="onRemoveClick(row.object)">
                <span class="glyphicon glyphicon-trash"></span>
            </a>
        </div>
    </div>
</template>