{% block content %}
    <div class="row">
        <form action="" method="post" enctype="multipart/form-data" id="formAddWarehouseAndUbications">
            {% include ('Warehouse/Warehouse/partials/addWarehouse.twig') %}
            {% include ('Warehouse/Warehouse/partials/addUbications.twig') %}

            <div class="col-md-12">
                <button style="margin-top: 10px; margin-bottom: 10px;" type="submit" id="btnAddWarehose" class="btn btn-success block">Guardar Todo</button>
            </div>
        </form>
    </div>
{% endblock %}
{% block loadScripts %}
    <script id="scriptContainer" type="text/javascript">
        init.length = 0;
            init = [{
                title: '',
                file: 'Warehouse/warehouses.js',
                functions: [{
                    name: 'lateralOpenWarehouse',
                    args: []
                }]
            } ];
    </script>
{% endblock %}