<div class="header-buttons">
    <div class="btn-group main-buttons">
        <!-- id="openTabNewWarehouse" -->
        <a
            role="button"
            class="btn btn-success pull-left"
            data-action="openLateral"
            data-route="warehouse/lateralNewWarehouse"
            data-panelsize="md">
            Nuevo Almacén</a>

        {#<a
            role="button"
            class="btn btn-success"
            data-toggle="modal"
            data-target="#modal-select-fields">Ver/Ocultar Columnas</a>#}


             <a
            role="button"
            class="btn btn-success pull-left"
            data-action="openLateral"
            data-route="AdditionalFeatures/warehouses"
            data-panelsize="md">
            Caracteristicas</a>
    </div>
</div>

<div
    class="modal fade"
    id="modal-select-fields"
    tabindex="-1"
    role="dialog"
    aria-labelledby="myModalLabel"
    data-backdrop="false">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">Selecciona los campos</h4>
            </div>
            <div class="modal-body">
                <ul>
                    <div class="form-group" v-for="(column, index) in sourceColumns">
                        <input
                            type="checkbox"
                            v-bind:id="'column-visible' + index"
                            v-model="column.visible"
                            class="checkbox">
                        <label v-bind:for="'column-visible' + index" class="checkbox-label">${ column.title }</label>
                        <!-- <input type="checkbox" v-on:click="check(index)" v-bind:checked="isChecked(index)"> ${ column.title } -->
                    </div>
                </ul>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>
