{% block content %}
    <section>
        {% include( 'Warehouse/Warehouse/buttons.twig' ) %}
        <div class="panel-content">
            {% include( 'Warehouse/Warehouse/list.twig' ) %}
        </div>
    </section>
{% endblock %}
{% block loadScripts %}
    <script id="scriptContainer" type="text/javascript">
        init.length = 0;
        init = [ {
            title: 'Almacenes',
            file: 'Warehouse/warehouses.js',
            functions: [ {
                name: 'initWarehouseData',
                args: [ ]
            } ]
        } ];
    </script>
{% endblock %}
