<!--
@Author:
@Date:   2016-12-23T18:41:53-06:00
@Email:  juan.ideasyproyectos@gmail.com
@Project: TuAdmin
@Last modified by:   Cache
@Last modified time: 2017-02-15T17:05:15-06:00
-->

<!DOCTYPE html>
<html>
    <head>
        <title>Error</title>
    </head>
    <body>
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-12 col-md-offset-0">
                    <h1>Error</h1>
                    <ul class="list-group">
                        <li class="list-group-item trace-item bgOrangeClear">
                            {% if exception.getPrevious() == null %}
                            <span class="error">File: {{ exception.getFile() }} [Line: {{ exception.getLine() }}]</span>
                            <span class="message">Message: {{ exception.getMessage() }}</span> {% else %}
                            <span class="error">File: {{ exception.getPrevious().getFile() }} [Line: {{ exception.getPrevious().getLine() }}]</span>
                            <span class="message">Message: {{ exception.getPrevious().getMessage() }}</span> {% endif %}
                        </li>
                        {% for traceItem in exception.getTrace() %}
                        <li class="list-group-item trace-item">
                            <span class="file">File: {{ traceItem['file'] }} [Line:{{ traceItem['line'] }}]</span>
                            <span class="function">Method: {{ traceItem['class'] }} {{ traceItem['type'] }} {{ traceItem['function'] }}</span>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </body>
</html>
