{% block content %}
<section>
    <div id="customsList">
        <div class="header-buttons">

        </div>
        <div class="panel-content">
            <vue-dynamic-table-rbc
                box-classes="box box-primary full-height"
                class-name="table table-bordered table-hover"
                :total-results="datasource.total"
                :source-columns="columns"
                :remote-method="loadData"
                :data-model="datasource.data">
                <template slot="no-rows-found">
                    <span>No se encontrarón resultados</span>
                </template>
                <template slot="customActivation" scope="row">
                    <button v-if="row.object.deleted_at !== null" @click="activeCustom(row.object)" type="button"
                     class="btn btn-success btn-block" name="button">
                        Activar
                    </button>
                    <button v-else type="button" name="button" class="btn btn-warning btn-block"
                     @click="deactiveCustom(row.object)">
                        Desactivar
                    </button>
                </template>
            </vue-dynamic-table-rbc>
        </div>
    </div>
</section>
{% endblock %}
{% block loadScripts %}
<script type="text/javascript" id="scriptContainer">
    init.length = 0;
    init = [{
        title: 'Aduanas',
        file: 'Invoices/Catalogs/customs.js',
        functions: [{
            name: 'initCustomsList',
            args: []
        }]
    }];
</script>
{% endblock %}
