{% block content %}
<section>
    <div id="productsServicesList">
        <div class="header-buttons">

        </div>
        <div class="panel-content">
            <div class="row">
                <div class="col-md-12">
                    <vue-dynamic-table-rbc
                        box-classes="box box-primary full-height"
                        class-name="table table-bordered table-hover"
                        :total-results="datasource.total"
                        :source-columns="columns"
                        :remote-method="loadData"
                        :data-model="datasource.data">
                        <template slot="no-rows-found">
                            <span>No se encontrarón resultados</span>
                        </template>
                    </vue-dynamic-table-rbc>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
{% block loadScripts %}
<script type="text/javascript" id="scriptContainer">
    init.length = 0;
    init = [{
        title: 'Productos/Servicios',
        file: 'Invoices/Catalogs/productsServices.js',
        functions: [{
            name: 'initProductsServicesList',
            args: []
        }]
    }];
</script>
{% endblock %}
