{% block content %}
    <section>
        {% include( 'Warehouse/Attributes/buttons.twig' ) %}
        <div class="panel-content">
            {% include( 'Warehouse/Attributes/partials/list.twig' ) %}
        </div>
    </section>
{% endblock %}
{% block main_attributes %}
    {# PARA PERMISOS, dijo meny que con un botón de nuevo y un modal para
    añadir nuevos items, separar también todo al 100% #}
    {% block loadScripts %}
        <script id="scriptContainer" type="text/javascript">
            init.length = 0;
            init = [ {
                title: 'Atributos',
                file: 'Warehouse/Attributes/attributes.js',
                functions: [ {
                    name: 'initAttributesVue',
                    args: [ ]
                } ]
            } ];
        </script>
    {% endblock %}
{% endblock %}
