{% block content %}
<section>
    <div class="header-buttons">
        <div class="btn-group main-buttons">
            {% include( 'Warehouse/Categories/buttons.twig' ) %}
        </div>
    </div>
    <div class="panel-content">
        {% include( 'Warehouse/Categories/partials/list.twig' ) %}
    </div>
</section>
{% endblock %}
{% block loadScripts %}
    <script id="scriptContainer" type="text/javascript">
        init.length = 0;
        init = [ {
            title: 'Categorías',
            file: 'Warehouse/Categories/categories.js',
            functions: [ {
                name: 'initCategoriesListVue',
                args: [ ]
            } ]
        } ];
    </script>
{% endblock %}
