{% block body %}
<section id="edit-group-form">
  <div class="header-buttons">
    <div class="btn-group main-buttons">
      <button 
        type="button" 
        name="button" 
        v-on:click="editGroup" 
        class="btn btn-primary">
        Editar
      </button>
    </div>
  </div>
  <div class="panel-content">
    <div class="box box-primary fullHeight">
      <div class="box-container"> 
        <div class="box-header">
          <h4 class="box-title">Editar Grupo</h4>
        </div>
        <form id="">
        <!-- <h5 class="box-title">Datos para Autenticación</h5> -->
          <div class="form-group">
            <label for="grupo">Grupo:</label>
            <input type="hidden" name="groupid" value="" id="gfe-id" v-model="gid">
            <input v-validate="'required'" type="text" class="form-control" id="rf-user" placeholder="Introducir Grupo" name="grupo" v-model="gname">
            <span class="cRed" v-show="errors.has('grupo')">${ errors.first('grupo') }</span>
          </div>
          <div class="form-group">
            <label for="descripcion">Descripcion:</label>
            <textarea class="form-control" id="rf-pass" placeholder="Introducir Descripcion" name="descripcion" v-model="gdesc"></textarea>
          </div>
        </form>
      </div>
     </div>
  </div>  
</section>
{% endblock %}
{% block loadScripts %}
 <script id="scriptContainer" type="text/javascript">
 var editGroupForm = new Vue({
    el: '#edit-group-form',
    data: {
      gid:"",
      gname:"",
      gdesc:"",
    },
    mounted: function() {
      this.$nextTick(function () {
      console.log(groupId);
      $.ajax({
          url: AJAX_PATH + 'dashboard/group/data',
          data: {
            id: groupId
          },
          type: 'POST'
      }).done( function( response ) {
        response = response.data[0];
        editGroupForm.gid = response.id;
        editGroupForm.gname = response.name;
        editGroupForm.gdesc = response.description;
      });

      })
    },
    methods: {
      editGroup:function(){
        this.$validator.validateAll().then(() => {

          var groupData = $('#edit-group-form input, #edit-group-form textarea').serializeArray();
          var jsonGroupData = {};
          $.each(groupData, function(i, item) {
              jsonGroupData[item.name] = item.value;
          });

          $.ajax({
              url: AJAX_PATH + 'dashboard/group/update',
              data: jsonGroupData,
              type: 'POST'
          }).done( function( response ) {
            switch (response.data[0].status) {
              case 0:
              this.$message({
                        message: 'El Grupo No Puede Ser Registrado.',
                        type: 'warning'
                    });
                break;
             case 1:
             this.$message({
                       message: 'Registro exitoso.',
                       type: 'success'
                   });
             groupsTable.loadGroups();
                  break;
              default:
              this.$message({
                        message: 'El Grupo No Puede Ser Registrado.',
                        type: 'warning'
                    });
                break;
            }

          }.bind(this));

        }).catch(( ) => {
          this.$message({
          message: 'Completa el formulario como se indica.',
          type: 'warning'
          });
        });
      }
    },
    computed: {
    },
    watch: {
    },
    delimiters: ['${', '}']
  });
 </script>
{% endblock %}
