<vue-dynamic-table
 class-name="table table-hover table-bordered"
 v-bind:filter-enabled="true"
 v-bind:expandable-row="false"
 v-bind:columns="columns"
 v-bind:pagination="true"
 v-bind:pagination-options="paginationOptions"
 v-on:go-to-page="goToPage"
 v-bind:data-model="datasource">
<template slot="description" scope="row">
	<span v-if="row.object.description" class="has-tooltip comment-table" :data-tooltip="row.object.description">
		<a class="btn" data-toggle="modal" data-target="#modalFormStatus" @click="editQuick(row)">
			<i class="fa fa-2x fa-commenting" aria-hidden="true"></i>
		</a>
	</span>
	<span v-else >
		<a  class="btn" data-toggle="modal" data-target="#modalFormStatus" @click="editQuick(row)">
			<i class="fa fa-2x fa-comment" aria-hidden="true"></i>
		</a>
	</span>
</template>
<template slot="types" scope="row">
	<div v-if="row.object.type===0">Requisicion</div>
	<div v-else-if="row.object.type===1">Orden de Compra</div>
	<div v-else-if="row.object.type===2">Compra</div>
	<div v-else-if="row.object.type===3">Cotizaciones</div>
	<div v-else></div>
</template>
<template slot="actions" scope="row">
	<a @click="editQuick(row)" role="button" data-toggle="modal" data-target="#modalFormStatus"><i class="fa fa-pencil-square fa-2x" aria-hidden="true"></i></a>
	<a @click="deleteStatus(row)" role="button"><i class="fa fa-trash fa-2x" aria-hidden="true"></i></a>
</template>
<template slot="no-rows-found">
	<span>No se encontraron resultados</span>
</template>
</vue-dynamic-table>
