<div class="header-buttons">
    <div class="btn-group main-buttons">
        <a id="buttonSave" role="button" class="btn btn-success pull-left"
           data-panelsize="lg" v-on:click="Config">
            <span class="glyphicon glyphicon-floppy-disk"></span>
            Guardar Configuracion</a>
    </div>
</div>




