{% block content %}
    <section>
        <div class="row" id="lateralCategoryVue">
            <div class="header-buttons">
                <div class="btn-group main-buttons">
                    <el-tooltip placement="top">
                        <div slot="content">
                            Guarda la categoría y cierra el formulario
                        </div>
                        <el-button class="btn" type="primary"
                                   @click.prevent="saveCategory()">
                            Guardar categoría
                        </el-button>
                    </el-tooltip>
                </div>
            </div>
            <div class="panel-content">
                <div class="box box-default">
                    <div class="box-header">
                        <h3 class="box-title">Categorías</h3>
                        <div class="box-tools pull-right">
                            <idp-saving-status
                                :status="$store.getters['category/createStatus']">
                            </idp-saving-status>

                            <button type="button" class="btn btn-box-tool" data-widget="collapse"
                                    data-toggle="tooltip" title="Minimizar">
                                <i class="fa fa-minus"></i>
                            </button>
                        </div>
                    </div>
                    <div class="box-body">
                        <div class="col-md-8">
                            <div class="req form-group">
                                <label for="category_name">Nombre: </label>
                                <input type="text" v-model="name"
                                       id="category_name">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="category_code">Código: </label>
                                <input type="text" v-model="code"
                                       id="category_code">
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="category_description">Descripción: </label>
                                <textarea type="text" v-model="description"
                                          id="category_description"></textarea>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="category_description">Insertar debajo de: </label>
                                <el-select class="block" v-model="parentId"
                                           filterable placeholder="Categorías">
                                    <el-option label="Ninguno" value="0"></el-option>
                                    <el-option
                                            v-for="item in $store.getters['category/dataForSelect'].options"
                                            :key="item.id"
                                            :label="item.name"
                                            :value="item.id">
                                        <span style="float: left">${ item.name }</span>
                                        <span style="float: right; color: #8492a6; font-size: 13px">${ item.code }</span>
                                    </el-option>
                                </el-select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="box box-default">
                    <div class="box-header">
                        <h3 class="box-title">Contabilidad</h3>
                        <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse"
                                    data-toggle="tooltip" title="Minimizar">
                                <i class="fa fa-minus"></i>
                            </button>
                        </div>
                    </div>
                    <div class="box-body">
                        <div class="alert alert-dismissible" role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span></button>
                            <p>
                                Añada la cuenta contable de la categoria en caso de ser necesario.
                                Seleccione primero cuál sería su cuenta padre para saber específicamente en
                                dónde aparecerá, luego se le sugerirá una cuenta de la categoria.
                            </p>
                        </div>
                        <div class="col-md-8">
                            <div class="form-group">
                                <label for="phones">Cuenta Padre:</label>
                                <vue-selectize-js
                                        v-on:select-option="onSelectAccount($event)"
                                        :selectize-settings="selectizeAccountingAccountsSettings"
                                        :selectize-options="selectizeAccountingAccountsOptions"
                                        v-model="accountingAccount">
                                </vue-selectize-js>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <input type="text" class="form-control" v-model="accountConcatName"
                                       name=""
                                       id=""
                                       placeholder="000-000-000-000" disabled="disabled">
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="gruop_id">Cuenta Contable Sugerida: </label>
                            <input type="text" class="form-control" v-model="accountConcatNextName"
                                   name="" id="" placeholder="000-000-000-000" disabled="disabled">
                        </div>
                    </div>
                </div>

                <div class="box box-default">
                    <div class="box-header">
                        <h3 class="box-title">Detalles extra</h3>
                        <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse"
                                    data-toggle="tooltip" title="Minimizar">
                                <i class="fa fa-minus"></i>
                            </button>
                        </div>
                    </div>
                    <div class="box-body">
                        <div class="alert alert-dismissible" role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span></button>
                            <p>
                                Añada la cuenta contable del tipo de producto en caso de ser necesario.
                                Seleccione primero cuál sería su cuenta padre para saber específicamente en
                                dónde aparecerá, luego se le sugerirá una cuenta al tipo de producto.
                            </p>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="category_code">Atributos: </label>
                                <el-select class="block" v-model="categoryAttributes"
                                           multiple filterable placeholder="Atributos">
                                    <el-option
                                            v-for="item in attributes"
                                            :key="item.id"
                                            :label="item.name"
                                            :value="item.id">
                                        {#<span style="float: left">${ item.name }</span>
                                        <span style="float: right; color: #8492a6; font-size: 13px">${ item.code }</span>#}
                                    </el-option>
                                </el-select>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="category_code">Mercados: </label>
                                <el-select class="block" v-model="categoryMarkets"
                                           multiple filterable placeholder="Mercados">
                                    <el-option
                                            v-for="item in markets"
                                            :key="item.id"
                                            :label="item.name"
                                            :value="item.id">
                                        <span style="float: left">${ item.name }</span>
                                        <span style="float: right; color: #8492a6; font-size: 13px">${ item.code }</span>
                                    </el-option>
                                </el-select>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="category_code">Giros Comerciales: </label>
                                <el-select class="block" v-model="categoryBusinessTypes"
                                           multiple filterable placeholder="Giros Comerciales">
                                    <el-option
                                            v-for="item in businessTypes"
                                            :key="item.id"
                                            :label="item.name"
                                            :value="item.id">
                                        {#<span style="float: left">${ item.name }</span>
                                        <span style="float: right; color: #8492a6; font-size: 13px">${ item.code }</span>#}
                                    </el-option>
                                </el-select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
{% block loadScripts %}
    <script id="scriptContainer" type="text/javascript">
        init.length = 0;
        init = [{
            title: 'Categorìas y Subcategorìas',
            file: 'Warehouse/Categories/categories.js',
            functions: [{
                name: 'addOrUpdateCategoriesVue',
                args: []
            }]
        }];
    </script>
{% endblock %}
