{% block content %}
    <section id="letterCarrier">
        <div class="header-buttons">
           <div class="btn-group main-buttons">
                <a
                    role="button"
                    class="btn btn  btn-success ">
                    <i class="fa fa-print" aria-hidden="true"></i>
                    Imprimir</a>
            </div>
        </div>
        <div class="panel-content">
            <div class="box">
                <div class="box-body">
                    <div class="printable">
                        <div class="letter cartaPorte boxShadow">
                            <!-- <table>
                                <tbody style="width:100%;   ">
                                    <tr class="tr" style="width:100%;height: 50px;">
                                        <td class="fh" style="width:100%;">
                                            <h1 style="margin: 0 auto;text-align:center;">
                                                CARTA PORTE
                                            </h1>
                                        </td>
                                    </tr>
                                </tbody>
                            </table> -->
                            <!-- <div class="container-fluid"> -->
                                <div class="row row-border">
                                    <div class="col-xs-5">
                                        <p class="text">No. de Folio</p>
                                    </div>
                                    <div class="col-xs-7">
                                        <div class="row bBottom">
                                            <div class="col-xs-4">
                                                <p class="text">Fecha:</p>
                                            </div>
                                        </div>
                                        <div class="row bBottom">
                                            <div class="col-xs-4">
                                                <p class="text">Fecha Entrega:</p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xs-5">
                                                <p class="text">Fecha Vencimiento:</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row row-border mTop5">
                                    <div class="col-xs-12">
                                        <div class="row bBottom">
                                            <div class="col-xs-1">
                                                <p class="text">1</p>
                                            </div>
                                            <div class="col-xs-11">
                                                <p class="text text-center">DATOS DEL REMITENTE</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-12">
                                        <div class="row bBottom">
                                            <div class="col-xs-6">
                                                <p class="text">Nombre o Razon Social:</p>
                                            </div>
                                            <div class="col-xs-3">
                                                <p class="text">RFC:</p>
                                            </div>
                                            <div class="col-xs-3">
                                                <p class="text">CP:</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-12">
                                        <div class="row bBottom">
                                            <div class="col-xs-6">
                                                <p class="text">Domicilio Fiscal:</p>
                                            </div>
                                            <div class="col-xs-6">
                                                <p class="text">Establecimiento:</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-12">
                                        <div class="row bBottom">
                                            <div class="col-xs-6">
                                                <p class="text">Estado</p>
                                            </div>
                                            <div class="col-xs-6">
                                                <p class="text">Localidad:</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-12">
                                        <div class="row">
                                            <div class="col-xs-4">
                                                <p class="text">Calle:</p>
                                            </div>
                                            <div class="col-xs-5">
                                                <p class="text">Colonia:</p>
                                            </div>
                                            <div class="col-xs-3">
                                                <p class="text">No.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row row-border mTop5">
                                    <div class="col-xs-12">
                                        <div class="row bBottom">
                                            <div class="col-xs-1">
                                                <p class="text">2</p>
                                            </div>
                                            <div class="col-xs-11 ">
                                                <p class="text text-center">DATOS DE LA MERCANCIA</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-12">
                                        <div class="row bBottom">
                                            <div class="col-xs-4">
                                                <p class="text">Categoría:</p>
                                            </div>
                                            <div class="col-xs-4">
                                                <p class="text">Subcategoría:</p>
                                            </div>
                                            <div class="col-xs-4">
                                                <p class="text">Folio del envío</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-12">
                                        <div class="row bBottom">
                                            <div class="col-xs-9">
                                                <div class="row">
                                                    <div class="col-xs-1">
                                                        <div class="row border">
                                                            <div class="col-xs-12">
                                                                <p class="text mless">#</p>
                                                            </div>
                                                            <div class="col-xs-12 h15"></div>
                                                        </div>
                                                    </div>
                                                    <div class="col-xs-2">
                                                        <div class="row border">
                                                            <div class="col-xs-12">
                                                                <p class="text">Cantidad</p>
                                                            </div>
                                                            <div class="col-xs-12 h15"></div>
                                                        </div>
                                                    </div>
                                                    <div class="col-xs-3">
                                                        <div class="row border">
                                                            <div class="col-xs-12">
                                                                <p class="text">Descripción</p>
                                                            </div>
                                                            <div class="col-xs-12 h15"></div>
                                                        </div>
                                                    </div>
                                                    <div class="col-xs-2">
                                                        <div class="row border">
                                                            <div class="col-xs-12">
                                                                <p class="text">Largo</p>
                                                            </div>
                                                            <div class="col-xs-12 h15"></div>
                                                        </div>
                                                    </div>
                                                    <div class="col-xs-2">
                                                        <div class="row border">
                                                            <div class="col-xs-12">
                                                                <p class="text">Ancho</p>
                                                            </div>
                                                            <div class="col-xs-12 h15"></div>
                                                        </div>
                                                    </div>
                                                    <div class="col-xs-1">
                                                        <div class="row border">
                                                            <div class="col-xs-12">
                                                                <p class="text mless">Alto</p>
                                                            </div>
                                                            <div class="col-xs-12 h15"></div>
                                                        </div>
                                                    </div>
                                                    <div class="col-xs-1">
                                                        <div class="row border">
                                                            <div class="col-xs-12">
                                                                <p class="text mless">Peso</p>
                                                            </div>
                                                            <div class="col-xs-12 h15"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row border">
                                                    <div class="col-xs-12 h20 bBottom">
                                                        <p class="text text-center">Articulos Extra</p>
                                                    </div>
                                                    <div class="col-xs-12 h70"></div>
                                                </div>
                                            </div>
                                            <div class="col-xs-3">
                                                <div class="row">
                                                    <div class="col-xs-12">
                                                        <div class="row border">
                                                            <div class="col-xs-12">
                                                                <p class="text">Peso Total</p>
                                                            </div>
                                                            <div class="col-xs-12 h15"></div>
                                                        </div>
                                                    </div>
                                                    <div class="col-xs-12">
                                                        <div class="row border">
                                                            <div class="col-xs-12 h20 bBottom">
                                                                <p class="text text-center">Info. Extra</p>
                                                            </div>
                                                            <div class="col-xs-12 h70"></div>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row row-border mTop5">
                                    <div class="col-xs-12">
                                        <div class="row bBottom">
                                            <div class="col-xs-1">
                                                <p class="text">3</p>
                                            </div>
                                            <div class="col-xs-11">
                                                <p class="text text-center">ORIGEN DE LA MERCANCIA</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-12">
                                        <div class="row bBottom">
                                            <div class="col-xs-6">
                                                        <p class="text">Dirección:</p>
                                            </div>
                                            <div class="col-xs-6">
                                                        <p class="text">Tipo de Residencia:</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-12">
                                        <div class="row bBottom">
                                            <div class="col-xs-4">
                                                        <p class="text">Colonia:</p>
                                            </div>
                                            <div class="col-xs-4">
                                                        <p class="text">Ciudad:</p>
                                            </div>
                                            <div class="col-xs-4">
                                                        <p class="text">CP:</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-12">
                                        <div class="row bBottom">
                                            <div class="col-xs-6">
                                                        <p class="text">Estado:</p>
                                            </div>
                                            <div class="col-xs-6">
                                                    <p class="text">País:</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row row-border mTop5">
                                    <div class="col-xs-12">
                                        <div class="row bBottom">
                                            <div class="col-xs-1">
                                                <p class="text">4</p>
                                            </div>
                                            <div class="col-xs-11">
                                                <p class="text text-center">ENTREGA DE LA MERCANCIA</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-12">
                                        <div class="row bBottom">
                                            <div class="col-xs-6">
                                                        <p class="text">Nombre:</p>
                                            </div>
                                            <div class="col-xs-6">
                                                        <p class="text">Teléfono:</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-12">
                                        <div class="row bBottom">
                                            <div class="col-xs-6">
                                                        <p class="text">Dirección:</p>
                                            </div>
                                            <div class="col-xs-6">
                                                        <p class="text">Tipo de Residencia:</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-12">
                                        <div class="row bBottom">
                                            <div class="col-xs-4">
                                                        <p class="text">Colonia:</p>
                                            </div>
                                            <div class="col-xs-4">
                                                        <p class="text">Ciudad:</p>
                                            </div>
                                            <div class="col-xs-4">
                                                        <p class="text">CP:</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-12">
                                        <div class="row bBottom">
                                            <div class="col-xs-6">
                                                        <p class="text">Estado:</p>
                                            </div>
                                            <div class="col-xs-6">
                                                        <p class="text">País:</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row row-border mTop5">
                                    <div class="col-xs-12">
                                        <div class="row bBottom">
                                            <div class="col-xs-1">
                                                <p class="text">5</p>
                                            </div>
                                            <div class="col-xs-11">
                                                <p class="text text-center">DATOS DEL TRANSPORTE Y DEL RESPONSABLE</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-12">
                                        <div class="row bBottom">
                                            <div class="col-xs-8">
                                                        <p class="text">Nombre del Responsable:</p>
                                            </div>
                                            <div class="col-xs-4">
                                                        <p class="text">RFC:</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-12">
                                        <div class="row bBottom">
                                            <div class="col-xs-6">
                                                        <p class="text">No. de Operativo:</p>
                                            </div>
                                            <div class="col-xs-6">
                                                        <p class="text">No. Pedido:</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-12">
                                        <div class="row bBottom">
                                            <div class="col-xs-4">
                                                        <p class="text">Colonia:</p>
                                            </div>
                                            <div class="col-xs-4">
                                                        <p class="text">Ciudad:</p>
                                            </div>
                                            <div class="col-xs-4">
                                                        <p class="text">CP:</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-12">
                                        <div class="row bBottom">
                                            <div class="col-xs-8">
                                                        <p class="text">Empresa Transportista o Razón Social:</p>
                                            </div>
                                            <div class="col-xs-4">
                                                        <p class="text">RFC:</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-12">
                                        <div class="row bBottom">
                                            <div class="col-xs-4">
                                                        <p class="text">Situación ante el IVA:</p>
                                            </div>
                                            <div class="col-xs-5">
                                                        <p class="text">Conductor:</p>
                                            </div>
                                            <div class="col-xs-3">
                                                        <p class="text">Kms a recorrer:</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row row-border mTop5">
                                    <div class="col-xs-12">
                                        <div class="row bBottom">
                                            <div class="col-xs-1">
                                                <p class="text">6</p>
                                            </div>
                                            <div class="col-xs-11">
                                                <p class="text text-center">DATOS A COMPLETAR EN LUGAR DE DESTINO Y DESCARGA</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-12">
                                        <div class="row bBottom">
                                            <div class="col-xs-5">
                                                <div class="row">
                                                    <div class="col-xs-3">
                                                        <p class="text text-center">Arribo</p>
                                                    </div>
                                                    <div class="col-xs-9">
                                                        <p class="text">Fecha:</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-xs-7">
                                                <div class="row">
                                                    <div class="col-xs-4">
                                                        <p class="text">Hora:</p>
                                                    </div>
                                                    <div class="col-xs-4">
                                                        <p class="text">Peso:</p>
                                                    </div>
                                                    <div class="col-xs-4">
                                                        <p class="text">Cantidad:</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-12">
                                        <div class="row bBottom">
                                            <div class="col-xs-5">
                                                <div class="row">
                                                    <div class="col-xs-3">
                                                        <p class="text text-center">Descarga</p>
                                                    </div>
                                                    <div class="col-xs-9">
                                                        <p class="text">Fecha:</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-xs-7">
                                                <div class="row">
                                                    <div class="col-xs-4">
                                                        <p class="text">Hora:</p>
                                                    </div>
                                                    <div class="col-xs-4">
                                                        <p class="text">Peso:</p>
                                                    </div>
                                                    <div class="col-xs-4">
                                                        <p class="text">Cantidad:</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row  row-border mTop5">
                                    <div class="col-xs-4">
                                        <div class="row bBottom">
                                            <div class="col-xs-12 h50"></div>
                                            <div class="col-xs-12">
                                                <p class="text text-center">Firma Destinatario</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-4">
                                        <div class="row bBottom">
                                            <div class="col-xs-12 h50"></div>
                                            <div class="col-xs-12">
                                                <p class="text text-center">Firma Remitente</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-4">
                                        <div class="row bBottom">
                                            <div class="col-xs-12 h50"></div>
                                            <div class="col-xs-12">
                                                <p class="text text-center">Firma Responsable</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
{% block loadScripts %}
    <script id="scriptContainer">
        init.length = 0;
        init = [{
            title: 'Carta Porte',
            file: 'Logistic/Deliveries/letterCarrier.js',
            functions: [{
                name: 'initLetterCarrier',
                args: [  ]
            }]
        },
        {
            file: 'printable.css',
            // helpers.css y grid.css
        },
        {
            file: 'cartaPorte.css',
            // helpers.css y grid.css
        }
        ];
    </script>
{% endblock %}
