<li class="treeview onhover up">
    <a role="button" class="tree sidebar-menu-button-warehouses" >
        <i class="icon ta-icon almacenes"></i>
        <span class="text-uppercase">Almacenes</span>
        <span class="pull-right-container">
            <i class="treeview-indent fa fa-angle-right pull-right"></i>
        </span>
    </a>
    <ul class="treeview-menu">
        <li class="favorite">
            <a
                data-action="openTab"
                data-module="warehouse"
                href="?tabs=almacenes/movimientos">
                Movimientos
            </a>
        </li>
        <li class="favorite">
            <a
                data-action="openTab"
                data-module="warehouse"
                href="?tabs=almacenes/inventarios/pendientes">
                Inventarios Programados
            </a>
        </li>
        <li class="favorite">
            <a
                role="button"
                data-action="openTab"
                data-module="warehouse"
                href="?tabs=warehouse/products">
                Productos
            </a>
        </li>
        <div class="clear"></div>
        <li class="treeview child up">
            <a role="button" class="tree">
                <span>Listados</span>
                <span class="pull-right-container">
                    <i class="treeview-indent fa fa-angle-right pull-right"></i>
                </span>
            </a>
            <ul class="treeview-menu">
                {#<li>
                    <a
                        data-action="openTab"
                        data-module="warehouse"
                        href="?tabs=almacenes/inventarios/actual">
                        Inventario Actual
                    </a>
                </li>#}
                <li>
                    <a
                        data-action="openTab"
                        data-module="warehouse"
                        href="?tabs=almacenes/movimientos">
                        Movimientos
                    </a>
                </li>
                <li>
                    <a
                        data-action="openTab"
                        data-module="warehouse"
                        href="?tabs=almacenes/inventarios/pendientes">
                        Inventarios Programados
                    </a>
                </li>
                <li>
                    <a
                        role="button"
                        data-action="openTab"
                        data-module="warehouse"
                        href="?tabs=almacenes/backorders">
                        Backorders
                    </a>
                </li>
            </ul>
        </li>
        <li class="treeview child up">
            <a role="button" class="tree">
                <span>Acciones</span>
                <span class="pull-right-container">
                    <i class="treeview-indent fa fa-angle-right pull-right"></i>
                </span>
            </a>
            <ul class="treeview-menu">
                <li>
                    <a
                        data-action="openTab"
                        data-module="warehouse"
                        href="?tabs=almacenes/movimientos/crear">
                        Nuevo Movimiento
                    </a>
                </li>
                <li>
                    <a
                        data-action="openTab"
                        data-module="warehouse"
                        href="?tabs=almacenes/inventarios/programacion">
                        Programar Conteo
                    </a>
                </li>
                <li>
                    <a
                        data-action="openTab"
                        data-module="warehouse"
                        href="?tabs=almacenes/inventarios/ajuste">
                        Ajuste de Existencias
                    </a>
                </li>
                <li>
                    <a
                        data-action="openTab"
                        data-module="warehouse"
                        href="?tabs=almacenes/backorders/nuevo">
                        Nuevo Backorder
                    </a>
                </li>
            </ul>
        </li>
        <li class="treeview child up">
            <a role="button" class="tree sidebar-menu-button-warehouses__catalogs">
                <span>Catálogos</span>
                <span class="pull-right-container">
                    <i class="treeview-indent fa fa-angle-right pull-right"></i>
                </span>
            </a>
            <ul class="treeview-menu">
                <li>
                    <a
                        data-action="openTab"
                        data-module="warehouse"
                        href="?tabs=warehouse/tariffCodes">
                        Fraccion Arancelaria
                    </a>
                </li>
                <li>
                    <a
                        data-action="openTab"
                        data-module="warehouse"
                        href="?tabs=warehouse/packagingtypes">
                        Tipo de Empaquetado
                    </a>
                </li>
                <li>
                    <a
                        role="button"
                        data-action="openTab"
                        data-module="warehouse"
                        href="?tabs=warehouse/products">
                        Productos
                    </a>
                </li>
                <li>
                    <a
                        data-action="openTab"
                        data-module="warehouse"
                        href="?tabs=warehouse/productTypes">
                        Tipos de Producto
                    </a>
                </li>
                <li>
                    <a
                        data-action="openTab"
                        data-module="warehouse"
                        href="?tabs=warehouse/warehouse">
                        Almacenes
                    </a>
                </li>
                <li>
                    <a
                        data-action="openTab"
                        data-module="warehouse"
                        href="?tabs=warehouse/categories">
                        Categorías
                    </a>
                </li>
                <li>
                    <a
                        class="sidebar-menu-button-warehouses__catalogs-brands"
                        data-action="openTab"
                        data-module="warehouse"
                        href="?tabs=warehouse/marcas">
                        Marcas
                    </a>
                </li>
                <li>
                    <a
                        data-action="openTab"
                        data-module="warehouse"
                        href="?tabs=warehouse/attributes">
                        Atributos
                    </a>
                </li>
                <li>
                    <a
                        data-action="openTab"
                        data-module="warehouse"
                        href="?tabs=warehouse/businessTypes">
                        Giros Comerciales
                    </a>

                </li>
                <li>
                    <a
                        data-action="openTab"
                        data-module="warehouse"
                        href="?tabs=warehouse/mercados">
                        Mercados
                    </a>
                </li>
                <li>
                    <a
                        data-action="openTab"
                        data-module="warehouse"
                        href="?tabs=warehouse/tags">
                        Etiquetas
                    </a>
                </li>
                <li>
                    <a
                        data-action="openTab"
                        data-module="warehouse"
                        href="?tabs=warehouse/lines">
                        Líneas
                    </a>
                </li>
                <li>
                    <a
                        data-action="openTab"
                        data-module="warehouse"
                        href="?tabs=warehouse/groups">
                        Grupos
                    </a>
                </li>
                <li>
                    <a
                        data-action="openTab"
                        data-module="warehouse"
                        href="?tabs=precios">
                        Listas de Precios
                    </a>
                </li>
                <li>
                    <a
                        data-action="openTab"
                        data-module="sistema"
                        href="?tabs=sistema/unidades">
                        Unidades de Medida
                    </a>
                </li>
            </ul>
        </li>
        <li class="treeview child up">
            <a role="button" class="tree">
                <span>Reportes</span>
                <span class="pull-right-container">
                <i class="treeview-indent fa fa-angle-right pull-right"></i>
                </span>
            </a>
            <ul class="treeview-menu">
                <li>
                    <a
                        data-action="openTab"
                        data-module="warehouse"
                        href="?tabs=almacenes/inventarios/historial">
                        Historial de Conteos
                    </a>
                </li>
                <li>
                    <a
                        data-action="openTab"
                        data-module="warehouse"
                        href="?tabs=almacenes/inventarios/actual">
                        Existencias
                    </a>
                </li>
            </ul>
        </li>
        <li class="treeview child up">
            <a role="button" class="tree">
                <span>Configuración</span>
                <span class="pull-right-container">
                    <i class="treeview-indent fa fa-angle-right pull-right"></i>
                </span>
            </a>
            <ul class="treeview-menu">
                <li></li>
            </ul>
        </li>
        <div class="clear"></div>
    </ul>
</li>
