<li class="treeview onhover up">
    <a role="button" class="tree">
        <i class="icon ta-icon bancos"></i>
        <span class="text-uppercase">Bancos</span>
        <span class="pull-right-container">
            <i class="treeview-indent fa fa-angle-right pull-right"></i>
        </span>
    </a>
    <ul class="treeview-menu">
        <li class="favorite">
            <a
                data-action="openTab"
                data-module="bancos"
                href="?tabs=bancos/movimientos">
                Movimientos bancarios
            </a>
        </li>
        <li class="favorite">
            <a
                data-action="openTab"
                data-module="bancos"
                href="?tabs=bancos/cuentas">
                Cuentas Bancarias
            </a>
        </li>
        <li class="favorite">
            <a
                data-action="openTab"
                data-module="bancos"
                href="?tabs=bancos/movimientos/crear">
                Nuevo Movimiento
            </a>
        </li>
        {# <li class="favorite">
            <a
                data-action="openTab"
                data-module="bancos"
                href="?tabs=bancos/catalogos/tipos-movimientos">
                Tipo de movimientos
            </a>
        </li> #}
        <div class="clear"></div>
        <li class="treeview child up">
            <a role="button" class="tree">
                <span>Listados</span>
                <span class="pull-right-container">
                    <i class="treeview-indent fa fa-angle-right pull-right"></i>
                </span>
            </a>
            <ul class="treeview-menu">
                <li>
                    <a
                        data-action="openTab"
                        data-module="bancos"
                        href="?tabs=bancos/movimientos">
                        Movimientos bancarios
                    </a>
                </li>
                <li>
                    <a
                        data-action="openTab"
                        data-module="bancos"
                        href="?tabs=bancos/cuentas">
                        Cuentas Bancarias
                    </a>
                </li>
            </ul>
        </li>
        <li class="treeview child up">
            <a role="button" class="tree">
                <span>Acciones</span>
                <span class="pull-right-container">
                    <i class="treeview-indent fa fa-angle-right pull-right"></i>
                </span>
            </a>
            <ul class="treeview-menu">
                <li>
                    <a
                        data-action="openTab"
                        data-module="bancos"
                        href="?tabs=bancos/movimientos/crear">
                        Nuevo Movimiento
                    </a>
                </li>
            </ul>
        </li>
        {# <li class="treeview child up">
            <a role="button" class="tree">
                <span>Catálogos</span>
                <span class="pull-right-container">
                    <i class="treeview-indent fa fa-angle-right pull-right"></i>
                </span>
            </a>
            <ul class="treeview-menu">
                <li></li>
            </ul>
        </li> #}
        {# <li class="treeview child up">
            <a role="button" class="tree">
                <span>Reportes</span>
                <span class="pull-right-container">
                    <i class="treeview-indent fa fa-angle-right pull-right"></i>
                </span>
            </a>
            <ul class="treeview-menu">
                <li></li>
            </ul>
        </li> #}
        {# <li class="treeview child up">
            <a role="button" class="tree">
                <span>Configuración</span>
                <span class="pull-right-container">
                    <i class="treeview-indent fa fa-angle-right pull-right"></i>
                </span>
            </a>
            <ul class="treeview-menu">
                <li></li>
            </ul>
        </li> #}
        <div class="clear"></div>
    </ul>
</li>
