<li class="treeview onhover up">
    <a role="button" class="tree">
        <i class="icon ta-icon compras"></i>
        <span class="text-uppercase">Compras</span>
        <span class="pull-right-container">
            <i class="treeview-indent fa fa-angle-right pull-right"></i>
        </span>
    </a>
    <ul class="treeview-menu">
        <li class="favorite">
            <a
               data-action="openTab"
               data-module="compras"
               href="?tabs=compras/requisiciones">
               Requisiciones
           </a>
        </li>
        <li class="favorite">
            <a
                data-action="openTab"
                data-module="compras"
                href="?tabs=compras/ordenes">
                Ordenes de Compras
            </a>
        </li>
        <li class="favorite">
            <a
                data-action="openTab"
                data-module="compras"
                href="?tabs=compras">
                Compras
            </a>
        </li>
        <div class="clear"></div>
        <li class="treeview child up">
            <a role="button" class="tree">
                <span>Listados</span>
                <span class="pull-right-container">
                    <i class="treeview-indent fa fa-angle-right pull-right"></i>
                </span>
            </a>
            <ul class="treeview-menu">
                <li>
                    <a
                        data-action="openTab"
                        data-module="compras"
                        href="?tabs=compras/requisiciones">
                        Requisiciones
                    </a>
                </li>
                <li>
                    <a
                        data-action="openTab"
                        data-module="compras"
                        href="?tabs=compras/ordenes">
                        Ordenes de Compra
                    </a>
                </li>
                <li>
                    <a
                        data-action="openTab"
                        data-module="compras"
                        href="?tabs=compras">
                        Compras
                    </a>
                </li>
                <li>
                    <a
                        data-action="openTab"
                        data-module="compras"
                        href="?tabs=compras/catalogos/cajasChicas/movimientos">
                        Movimientos Cajas Chicas
                    </a>
                </li>
            </ul>
        </li>
        <li class="treeview child up">
            <a role="button" class="tree">
                <span>Catálogos</span>
                <span class="pull-right-container">
                    <i class="treeview-indent fa fa-angle-right pull-right"></i>
                </span>
            </a>
            <ul class="treeview-menu">
                <li>
                    <a
                        data-action="openTab"
                        data-module="sistema"
                        href="?tabs=compras/catalogos/cajasChicas">
                        Cajas Chicas
                    </a>
                </li>
                <li>
                    <a
                        href="?tabs=compras/catalogos/gastos"
                        data-action="openTab"
                        data-module="compras">
                        Gastos
                    </a>
                </li>
                {# <li>
                    <a
                        data-action="openTab"
                        data-module="sistema"
                        href="?tabs=almacenes/proveedores">
                        Proveedores
                    </a>
                </li> #}
            </ul>
        </li>
        <li class="treeview child up">
            <a role="button" class="tree">
                <span>Acciones</span>
                <span class="pull-right-container">
                    <i class="treeview-indent fa fa-angle-right pull-right"></i>
                </span>
            </a>
            <ul class="treeview-menu">
                <li>
                    <a
                       data-action="openTab"
                       data-module="compras"
                       href="?tabs=compras/requisiciones/nueva">
                       Nueva Requisición
                   </a>
                </li>
                <li>
                    <a
                        role="button"
                        data-action="openTab"
                        data-module="compras"
                        href="?tabs=compras/ordenes/nueva">
                        Nueva Orden de Compra
                    </a>
                </li>
                <li>
                    <a
                        data-action="openTab"
                        data-module="compras"
                        href="?tabs=compras/nueva">
                        Nueva Compra
                    </a>
                </li>
            </ul>
        </li>
        {# <li class="treeview child up">
            <a role="button" class="tree">
                <span>Reportes</span>
                <span class="pull-right-container">
                    <i class="treeview-indent fa fa-angle-right pull-right"></i>
                </span>
            </a>
            <ul class="treeview-menu">
                <li>
                    <a
                      href="?tabs=compras/historiales/costos"
                      data-action="openTab"
                      data-module="compras">
                      Historial de costos
                    </a>
                </li>
            </ul>
        </li>
        <li class="treeview child up">
            <a role="button" class="tree">
                <span>Configuración</span>
                <span class="pull-right-container">
                    <i class="treeview-indent fa fa-angle-right pull-right"></i>
                </span>
            </a>
            <ul class="treeview-menu">
                <li></li>
            </ul>
        </li>
        <div class="clear"></div> #}
    </ul>
</li>
