<li class="treeview onhover up">
    <a role="button" class="tree">
        <i class="icon ta-icon contabilidad"></i>
        <span class="text-uppercase">contabilidad</span>
        <span class="pull-right-container">
            <i class="treeview-indent fa fa-angle-right pull-right"></i>
        </span>
    </a>
    <ul class="treeview-menu">
        <li class="favorite">
            <a
                data-action="openTab"
                data-module="contabilidad"
                href="?tabs=contabilidad/catalogos/cuentascontables">
                Cuentas Contables
            </a>
        </li>
        <li class="favorite">
            <a
                data-action="openTab"
                data-module="contabilidad"
                href="?tabs=contabilidad/impuestos">
                Impuestos
            </a>
        </li>
        <li class="favorite">
            <a
                data-action="openTab"
                data-module="contabilidad"
                href="?tabs=contabilidad/centro-contable">
                Centro Contable
            </a>
        </li>
        <div class="clear"></div>
        <li class="treeview child up">
            <a role="button" class="tree">
                <span>Listados</span>
                <span class="pull-right-container">
                    <i class="treeview-indent fa fa-angle-right pull-right"></i>
                </span>
            </a>
            <ul class="treeview-menu">
                <li>
                    <a
                        data-action="openTab"
                        data-module="contabilidad"
                        href="?tabs=contabilidad/centro-contable">
                        Centro Contable
                    </a>
                </li>
                <li>
                    <a
                        data-action="openTab"
                        data-module="contabilidad"
                        href="?tabs=contabilidad/polizas/listado">
                        Listado de Polizas
                    </a>
                </li>
            </ul>
        </li>
        {#<li class="treeview child up">
            <a role="button" class="tree">
                <span>acciones</span>
                <span class="pull-right-container">
                    <i class="treeview-indent fa fa-angle-right pull-right"></i>
                </span>
            </a>
            <ul class="treeview-menu">
                <li></li>
            </ul>
        </li>#}
        <li class="treeview child up">
            <a role="button" class="tree">
                <span>Catálogos</span>
                <span class="pull-right-container">
                    <i class="treeview-indent fa fa-angle-right pull-right"></i>
                </span>
            </a>
            <ul class="treeview-menu">
                <li>
                    <a
                        data-action="openTab"
                        data-module="contabilidad"
                        href="?tabs=contabilidad/catalogos/cuentascontables">
                        Cuentas Contables
                    </a>
                </li>
                <li>
                    <a
                        data-action="openTab"
                        data-module="contabilidad"
                        href="?tabs=contabilidad/diario">
                        Tipos de Diarios
                    </a>
                </li>
                <li>
                    <a
                        data-action="openTab"
                        data-module="contabilidad"
                        href="?tabs=contabilidad/impuestos">
                        Impuestos
                    </a>
                </li>
                <li>
                    <a
                        data-action="openTab"
                        data-module="contabilidad"
                        href="?tabs=contabilidad/polizas/tipos">
                        Tipos de polizas
                    </a>
                </li>
            </ul>
        </li>
        <li class="treeview child up">
            <a role="button" class="tree">
                <span>Reportes</span>
                <span class="pull-right-container">
                    <i class="treeview-indent fa fa-angle-right pull-right"></i>
                </span>
            </a>
            <ul class="treeview-menu">
                <li class="child">
                    <a
                        data-action="openTab"
                        data-module="contabilidad"
                        href="?tabs=contabilidad/reportes/mayoresYAuxiliares"
                    >Resumen de cuentas de mayor</a>
                    <a
                        data-action="openTab"
                        data-module="contabilidad"
                        href="?tabs=contabilidad/reportes/balanceGeneral">
                        Balance General
                    </a>
                    {#<a
                    data-action="openTab"
                    data-module="contabilidad"
                    href="?tabs=contabilidad/reportes/estadoResultados"
                    >
                    Estado de Resultados
                    </a>#}
                </li>
            </ul>
        </li>
        <li class="treeview child up">
            <a role="button" class="tree">
                <span>Configuración</span>
                <span class="pull-right-container">
                    <i class="treeview-indent fa fa-angle-right pull-right"></i>
                </span>
            </a>
            <ul class="treeview-menu">
                <li>
                    <a
                    href="?tabs=contabilidad/configuracion/periodos"
                    data-action="openTab"
                    data-module="contabilidad"
                    >Periodos Contables</a>
                </li>
                <!--
                <li>
                    <a
                        href="?tabs=contabilidad/config"
                        data-action="openTab"
                        data-module="contabilidad">
                        Configuracion Contable
                    </a>
                </li>
                -->
            </ul>
        </li>
    </ul>
</li>
