<li class="treeview onhover up">
    <a role="button" class="tree">
        <i class="icon ta-icon CRM"></i>
        <span class="text-uppercase">CRM</span>
        <span class="pull-right-container">
            <i class="treeview-indent fa fa-angle-right pull-right"></i>
        </span>
    </a>
    <ul class="treeview-menu">
        <li class="favorite">
            <a
                data-action="openTab"
                data-module="warehouse"
                href="?tabs=crm/prospectos/lista">
                Prospectos
            </a>
        </li>
        <li class="favorite">
            <a
                data-action="openTab"
                data-module="warehouse"
                href="?tabs=crm/seguimiento/followUpList">
                Oportunidades
            </a>
        </li>
        <li class="favorite">
            <a
                data-action="openTab"
                data-module="warehouse"
                href="?tabs=crm/actividades">
                Actividades
            </a>
        </li>
        <li class="treeview child up">
            <a role="button" class="tree">
                <span>Catálogos</span>
                <span class="pull-right-container">
                    <i class="treeview-indent fa fa-angle-right pull-right"></i>
                </span>
            </a>
            <ul class="treeview-menu">
                <li>
                    <a
                        data-action="openTab"
                        data-module="crm"
                        href="?tabs=crm/catalogos/categories-activities">
                        Categoria de Actividades
                    </a>
                </li>
                <li>
                    <a
                        data-action="openTab"
                        data-module="crm"
                        href="?tabs=crm/catalogos/customer-tags">
                        Tipo de Clientes
                    </a>
                </li>
                <li>
                    <a
                        role="button"
                        data-action="openTab"
                        data-module="crm"
                        href="?tabs=crm/catalogos/follow-up-status">
                        Estatus
                    </a>
                </li>
                <li>
                    <a
                        data-action="openTab"
                        data-module="crm"
                        href="?tabs=crm/catalogos/follow-up-categories">
                        Categorias
                    </a>
                </li>
                <li>
                    <a
                        data-action="openTab"
                        data-module="crm"
                        href="?tabs=crm/catalogos/tags">
                        Etiquetas
                    </a>
                </li>
                <li>
                    <a
                        data-action="openTab"
                        data-module="crm"
                        href="?tabs=crm/catalogos/mail_templates">
                        Plantillas de correo
                    </a>
                </li>
                <li>
                    <a
                        data-action="openTab"
                        data-module="crm"
                        href="?tabs=crm/catalogos/teams">
                        Equipos
                    </a>
                </li>
            </ul>
        </li>
        <li class="treeview child up">
            <a role="button" class="tree">
                <span>Listados</span>
                <span class="pull-right-container">
                    <i class="treeview-indent fa fa-angle-right pull-right"></i>
                </span>
            </a>
            <ul class="treeview-menu">
                <li>
                    <a
                        data-action="openTab"
                        data-module="crm"
                        href="?tabs=crm/prospectos/lista">Prospectos</a>
                </li>
                <li>
                    <a
                        data-action="openTab"
                        data-module="crm"
                        href="?tabs=crm/actividades">Actividades</a>
                </li>
            </ul>
        </li>
        <div class="clear"></div>
    </ul>
</li>
