<li class="treeview onhover up">
    <a role="button" class="tree">
        <i class="icon ta-icon facturacion"></i>
        <span class="text-uppercase">Facturación</span>
        <span class="pull-right-container">
            <i class="treeview-indent fa fa-angle-right pull-right"></i>
        </span>
    </a>
    <ul class="treeview-menu">
        <li class="favorite">
            <a
                role="button">
                Nuevo Comprobante
            </a>
        </li>
        <li>
            <a
                role="button"
                data-action="openTab"
                data-module="invoices"
                href="?tabs=facturacion">
                <span>Listado Comprobantes</span>
            </a>
        </li>
        <li>
            <a
                data-action="openTab"
                data-module="contabilidad"
                href="?tabs=contabilidad/impuestos">
                Impuestos
            </a>
        </li>
        <div class="clear"></div>
        <li class="treeview child up">
            <a role="button" class="tree">
                <span>Catálogos</span>
                <span class="pull-right-container">
                    <i class="fa fa-angle-right pull-right"></i>
                </span>
            </a>
            <ul class="treeview-menu">
                <li>
                    <a
                        data-action="openTab"
                        data-module="contabilidad"
                        href="?tabs=contabilidad/impuestos">
                        Impuestos
                    </a>
                </li>
            </ul>
        </li>
        <li class="treeview child up">
            <a role="button" class="tree">
                <span>Catálogos SAT</span>
                <span class="pull-right-container">
                    <i class="fa fa-angle-right pull-right"></i>
                </span>
            </a>
            <ul class="treeview-menu">
                <li>
                    <a
                        data-action="openTab"
                        data-module="facturacion"
                        href="?tabs=facturacion/catalogos/regimenes-fiscales">
                        Régimenes fiscales
                    </a>
                </li>
                <li>
                    <a
                    data-action="openTab"
                    data-module="facturacion"
                    href="?tabs=facturacion/catalogos/tasas-y-cuotas">
                        Reglas de tasas y cuotas
                    </a>
                </li>
                <li>
                    <a
                    data-action="openTab"
                    data-module="facturacion"
                    href="?tabs=facturacion/catalogos/aduanas">
                        Aduanas
                    </a>
                </li>
                <li>
                    <a
                    data-action="openTab"
                    data-module="facturacion"
                    href="?tabs=facturacion/catalogos/patentes-aduanales">
                        Patentes aduanales
                    </a>
                </li>
                <li>
                    <a href="?tabs=sistema/metodos-de-pago"
                     data-action="openTab" data-module="facturacion">
                        Métodos de pago
                    </a>
                </li>
                <li>
                    <a
                    data-action="openTab"
                    data-module="facturacion"
                    href="?tabs=sistema/formas-de-pago">
                        Formas de pago
                    </a>
                </li>
                <li>
                    <a href="?tabs=facturacion/catalogos/tipos-de-relacion"
                     data-action="openTab" data-module="facturacion">
                        Tipos de relación
                    </a>
                </li>
                <li>
                    <a href="?tabs=facturacion/catalogos/productos-servicios"
                     data-action="openTab" data-module="facturacion">
                        Productos / Servicios
                    </a>
                </li>
                <li>
                    <a href="?tabs=sistema/unidades"
                     data-action="openTab" data-module="facturacion">
                        Unidades de medida
                    </a>
                </li>
                <li class="child">
                    <a
                        data-action="openTab"
                        data-module="sistema"
                        href="?tabs=sistema/paises">
                        Paises
                    </a>
                </li>
                <li class="child">
                    <a
                        data-action="openTab"
                        data-module="sistema"
                        href="?tabs=sistema/monedas">
                        Monedas
                    </a>
                </li>
                <li class="child">
                    <a
                        data-action="openTab"
                        data-module="sistema"
                        href="?tabs=facturacion/catalogos/uso-de-comprobantes">
                        Uso de comprobantes
                    </a>
                </li>
            </ul>
        </li>
        <div class="clear"></div>
        <li>
            <a
                role="button"
                class="tree"
                data-action="openTab"
                data-module="invoices"
                href="?tabs=facturacion/configuracion">
                <span>Configuración Facturación</span>
            </a>
        </li>
    </ul>
</li>
