<li class="treeview onhover up">
    <a role="button" class="tree">
        <i class="icon ta-icon gestion-de-ventas"></i>
        <span class="text-uppercase">Gestión de Ventas</span>
        <span class="pull-right-container">
            <i class="treeview-indent fa fa-angle-right pull-right"></i>
        </span>
    </a>
    <ul class="treeview-menu">
        <li class="favorite">
            <a
                data-action="openTab"
                data-module="gventas"
                href="?tabs=ordenes">
                Ordenes de Venta
            </a>
        </li>
        <li class="favorite">
            <a
                data-action="openTab"
                data-module="gventas"
                href="?tabs=cotizaciones/nueva">
                Nueva cotización
            </a>
        </li>
        <li class="favorite">
            <a
                data-action="openTab"
                data-module="gventas"
                href="?tabs=ventas">
                Ventas
            </a>
        </li>
        <div class="clear"></div>
        <li class="treeview child up">
            <a role="button" class="tree">
                <span>Listados</span>
                <span class="pull-right-container">
                    <i class="treeview-indent fa fa-angle-right pull-right"></i>
                </span>
            </a>
            <ul class="treeview-menu">
                <li>
                    <a
                        data-action="openTab"
                        data-module="gventas"
                        href="?tabs=cotizaciones">
                        Cotizaciones
                    </a>
                </li>
                <li>
                    <a
                        data-action="openTab"
                        data-module="gventas"
                        href="?tabs=pedidos">
                        Pedidos a Almacén
                    </a>
                </li>
                <li>
                    <a
                        data-action="openTab"
                        data-module="gventas"
                        href="?tabs=ordenes">
                        Ordenes de Venta
                    </a>
                </li>
                <li>
                    <a
                        data-action="openTab"
                        data-module="gventas"
                        href="?tabs=ventas">
                        Ventas
                    </a>
                </li>
                <li>
                    <a
                        data-action="openTab"
                        data-module="gventas"
                        href="?tabs=tokens">
                        Tokens
                    </a>
                </li>
            </ul>
        </li>
        <li class="treeview child up">
            <a role="button" class="tree">
                <span>Acciones</span>
                <span class="pull-right-container">
                    <i class="treeview-indent fa fa-angle-right pull-right"></i>
                </span>
            </a>
           <ul class="treeview-menu">
                <li>
                    <a
                        data-action="openTab"
                        data-module="gventas"
                        href="?tabs=cotizaciones/nueva">
                        Nueva cotización
                    </a>
                </li>
                <li>
                    <a
                        data-action="openTab"
                        data-module="gventas"
                        href="?tabs=pedidos/nueva">
                        Nuevo Pedido
                    </a>
                </li>
                <li>
                    <a
                        data-action="openTab"
                        data-module="gventas"
                        href="?tabs=ordenes/nueva">
                        Nueva Orden
                    </a>
                </li>
                <li>
                   <a
                       data-action="openTab"
                       data-module="gventas"
                       href="?tabs=ventas/nueva">
                       Nueva Venta
                   </a>
                </li>
           </ul>
        </li>
        <li class="treeview child up">
            <a role="button" class="tree">
                <span>Catálogos</span>
                <span class="pull-right-container">
                    <i class="treeview-indent fa fa-angle-right pull-right"></i>
                </span>
            </a>
            <ul class="treeview-menu">
                <li></li>
            </ul>
        </li>
        <li class="treeview child up">
            <a role="button" class="tree">
                <span>Reportes</span>
                <span class="pull-right-container">
                    <i class="treeview-indent fa fa-angle-right pull-right"></i>
                </span>
            </a>
            <ul class="treeview-menu">
                <li></li>
            </ul>
        </li>
        <li class="treeview child up">
            <a role="button" class="tree">
                <span>Configuración</span>
                <span class="pull-right-container">
                    <i class="treeview-indent fa fa-angle-right pull-right"></i>
                </span>
            </a>
            <ul class="treeview-menu">
                <li></li>
            </ul>
        </li>
        <div class="clear"></div>
    </ul>
</li>
