<li class="treeview onhover up">
    <a role="button" class="tree">
        <i class="icon ta-icon facturacion"></i>
        <span class="text-uppercase">Logística</span>
        <span class="pull-right-container">
            <i class="treeview-indent fa fa-angle-right pull-right"></i>
        </span>
    </a>
    <ul class="treeview-menu">
        <li class="favorite">
            <a
                data-action="openTab"
                data-module="logistica"
                href="?tabs=logistica/requisiciones">
                Requisiciones De Envío
            </a>
        </li>
        <li class="favorite">
            <a
                data-action="openTab"
                data-module="logistica"
                href="?tabs=logistica/envios">
                Envíos
            </a>
        </li>
        <li class="favorite">
            <a
                data-action="openTab"
                data-module="logistica"
                href="?tabs=logistica/requisiciones/nuevo">
                Nueva Requisición De Envío
            </a>
        </li>
        <li class="treeview child up">
            <a role="button" class="tree">
                <span>Listados</span>
                <span class="pull-right-container">
                    <i class="treeview-indent fa fa-angle-right pull-right"></i>
                </span>
            </a>
            <ul class="treeview-menu">
                <li>
                    <a
                        data-action="openTab"
                        data-module="logistica"
                        href="?tabs=logistica/requisiciones">
                        Requisiciones De Envío
                    </a>
                </li>
                <li>
                    <a
                        data-action="openTab"
                        data-module="logistica"
                        href="?tabs=logistica/envios">
                        Envíos
                    </a>
                </li>
                <li>
                    <a
                        data-action="openTab"
                        data-module="logistica"
                        href="?tabs=logistica/choferes">
                        Choferes
                    </a>
                </li>
                {# <li>
                    <a
                        data-action="openTab"
                        data-module="logistica"
                        href="?tabs=logistica/trayectos">
                        Trayectos
                    </a>
                </li> #}
            </ul>
        </li>
        <li class="treeview child up">
            <a role="button" class="tree">
                <span>Acciones</span>
                <span class="pull-right-container">
                    <i class="treeview-indent fa fa-angle-right pull-right"></i>
                </span>
            </a>
            <ul class="treeview-menu">
                <li>
                    <a
                        data-action="openTab"
                        data-module="logistica"
                        href="?tabs=logistica/requisiciones/nuevo">
                        Nueva Requisición De Envío
                    </a>
                </li>
                <li>
                    <a
                        data-action="openTab"
                        data-module="logistica"
                        href="?tabs=logistica/choferes/nuevo">
                        Nuevo Chofer
                    </a>
                </li>
                {# <li>
                    <a
                        data-action="openTab"
                        data-module="logistica"
                        href="?tabs=logistica/trayectos/nuevo">
                        Nuevo Trayecto
                    </a>
                </li> #}
            </ul>
        </li>
        <li class="treeview child up">
            <a role="button" class="tree">
                <span>Catálogos</span>
                <span class="pull-right-container">
                    <i class="treeview-indent fa fa-angle-right pull-right"></i>
                </span>
            </a>
            <ul class="treeview-menu">
                <li>
                    <a
                        data-action="openTab"
                        data-module="logistica"
                        href="?tabs=logistica/catalogos/categoriasDeEnvio">
                        Categorías De Envío
                    </a>
                </li>
                <li>
                    <a
                        data-action="openTab"
                        data-module="logistica"
                        href="?tabs=logistica/catalogos/proveedoresDeEnvio">
                        Proveedores De Envío
                    </a>
                </li>
                <li>
                    <a
                        data-action="openTab"
                        data-module="logistica"
                        href="?tabs=logistica/catalogos/estatusDeEnvio">
                        Estatus De Envío
                    </a>
                </li>
            </ul>
        </li>
        {# <li class="treeview child up">
            <a role="button" class="tree">
                <span>Reportes</span>
                <span class="pull-right-container">
                    <i class="treeview-indent fa fa-angle-right pull-right"></i>
                </span>
            </a>
            <ul class="treeview-menu">
            </ul>
        </li>
        <li class="treeview child up">
            <a role="button" class="tree">
                <span>Configuración</span>
                <span class="pull-right-container">
                    <i class="treeview-indent fa fa-angle-right pull-right"></i>
                </span>
            </a>
            <ul class="treeview-menu">
            </ul>
        </li> #}
    </ul>
</li>
