<li class="treeview onhover up">
    <a role="button" class="tree">
        <i class="icon ta-icon nominas"></i>
        <span class="text-uppercase">Nómina</span>
        <span class="pull-right-container">
            <i class="treeview-indent fa fa-angle-right pull-right"></i>
        </span>
    </a>
    <ul class="treeview-menu">
        <li class="favorite">
            <a
                data-action="openTab"
                data-module="nominas"
                href="?tabs=nominas/contratos">
                Contratos
            </a>
        </li>
        <li class="favorite">
            <a
                data-action="openTab"
                data-module="nominas"
                href="?tabs=nominas/periodicidades">
                Periodicidades
            </a>
        </li>
        <li class="favorite">
            <a
                data-action="openTab"
                data-module="nominas"
                href="?tabs=nominas/tipos">
                Tipos de Nominas
            </a>
        </li>
        <li class="favorite">
            <a
                data-action="openTab"
                data-module="nominas"
                href="?tabs=nominas/turnos/nuevo">
                Turnos
            </a>
        </li>
        <div class="clear"></div>
        <li class="treeview child up">
            <a role="button" class="tree">
                <span>Listados</span>
                <span class="pull-right-container">
                    <i class="treeview-indent fa fa-angle-right pull-right"></i>
                </span>
            </a>
            <ul class="treeview-menu">
                <li></li>
            </ul>
        </li>
        <li class="treeview child up">
            <a role="button" class="tree">
                <span>acciones</span>
                <span class="pull-right-container">
                    <i class="treeview-indent fa fa-angle-right pull-right"></i>
                </span>
            </a>
            <ul class="treeview-menu">
                <li>
                    <a
                        data-action="openTab"
                        data-module="nominas"
                        href="?tabs=nominas/turnos/nuevo">
                        Contratos
                    </a>
                </li>
            </ul>
        </li>
        <li class="treeview child up">
            <a role="button" class="tree">
                <span>Catálogo</span>
                <span class="pull-right-container">
                    <i class="treeview-indent fa fa-angle-right pull-right"></i>
                </span>
            </a>
            <ul class="treeview-menu">
                <li>
                    <a
                        data-action="openTab"
                        data-module="nominas"
                        href="?tabs=nominas/contratos">
                        Contratos
                    </a>
                </li>
                <li>
                    <a
                        data-action="openTab"
                        data-module="nominas"
                        href="?tabs=nominas/regimenes">
                        Regímenes Fiscales
                    </a>
                </li>
                <li>
                    <a
                        data-action="openTab"
                        data-module="nominas"
                        href="?tabs=nominas/otros-pagos">
                        Otros Tipos de Pagos
                    </a>
                </li>
                <li>
                    <a
                        data-action="openTab"
                        data-module="nominas"
                        href="?tabs=nominas/periodicidades">
                        Periodicidades
                    </a>
                </li>
                <li>
                    <a
                        data-action="openTab"
                        data-module="nominas"
                        href="?tabs=nominas/deducciones">
                        Tipos de Deducción
                    </a>
                </li>
                <li>
                    <a
                        data-action="openTab"
                        data-module="nominas"
                        href="?tabs=nominas/horas-extra">
                        Tipos de horas extra
                    </a>
                </li>
                <li>
                    <a
                        data-action="openTab"
                        data-module="nominas"
                        href="?tabs=nominas/incapacidades">
                        Tipos de Incapacidad
                    </a>
                </li>
                <li>
                    <a
                        data-action="openTab"
                        data-module="nominas"
                        href="?tabs=nominas/jornadas">
                        Tipos de Jornadas
                    </a>
                </li>
                <li>
                    <a
                        data-action="openTab"
                        data-module="nominas"
                        href="?tabs=nominas/tipos">
                        Tipos de Nominas
                    </a>
                </li>
                <li>
                    <a
                        data-action="openTab"
                        data-module="nominas"
                        href="?tabs=nominas/percepciones">
                        Tipos de Percepciones
                    </a>
                </li>
                <li>
                    <a
                        data-action="openTab"
                        data-module="nominas"
                        href="?tabs=nominas/riesgos-puesto">
                        Riesgos del Puesto
                    </a>
                </li>
                <li>
                    <a
                        data-action="openTab"
                        data-module="nominas"
                        href="?tabs=nominas/tipos-regimen">
                        Tipos de Régimen
                    </a>
                </li>
            </ul>
        </li>
        <li class="treeview child up">
            <a role="button" class="tree">
                <span>Reportes</span>
                <span class="pull-right-container">
                    <i class="treeview-indent fa fa-angle-right pull-right"></i>
                </span>
            </a>
            <ul class="treeview-menu">
                <li>
                    <a
                        data-action="openTab"
                        data-module="nominas"
                        href="?tabs=nominas/asistencia">
                        Reporte de Asistencia
                    </a>
                </li>
                <li>
                    <a
                        data-action="openTab"
                        data-module="nominas"
                        href="?tabs=nominas/turnos/nuevo">
                        Reporte de Asistencia
                    </a>
                </li>
            </ul>
        </li>
        <li class="treeview child up">
            <a role="button" class="tree">
                <span>Configuración</span>
                <span class="pull-right-container">
                    <i class="treeview-indent fa fa-angle-right pull-right"></i>
                </span>
            </a>
            <ul class="treeview-menu">
                <li></li>
            </ul>
        </li>
        <div class="clear"></div>
    </ul>
</li>
