<li class="treeview onhover up">
    <a role="button" class="tree">
        <i class="icon ta-icon pagos"></i>
        <span class="text-uppercase">Pagos</span>
        <span class="pull-right-container">
            <i class="treeview-indent fa fa-angle-right pull-right"></i>
        </span>
    </a>
    <ul class="treeview-menu">
        <li class="favorite treeview child up">
            <a
                href="?tabs=pagos"
                data-action="openTab"
                data-module="pagos">
                Listado de pagos
            </a>
            {#<ul class="treeview-menu">
                <li>
                   <a
                       data-action="openTab"
                       data-module="pagos"
                       href="?tabs=pagos/crear">
                       Nuevo Pago
                   </a>
                </li>
            </ul>#}
        </li>
        {# <li class="favorite">
            <a
                data-action="openTab"
                data-module="pagos"
                href="?tabs=pagos/catalogos/estatus">
                Estatus de pago
            </a>
        </li> #}
        {# <li class="favorite">
            <a
                href="?tabs=pagos/catalogos/categorias-de-pago"
                data-action="openTab"
                data-module="pagos">
                Categorías de pago
            </a>
        </li> #}
        <div class="clear"></div>
        <li class="treeview child up">
            <a role="button" class="tree">
                <span>Listados</span>
                <span class="pull-right-container">
                    <i class="treeview-indent fa fa-angle-right pull-right"></i>
                </span>
            </a>
            <ul class="treeview-menu">
                <li>
                    <a
                        href="?tabs=pagos"
                        data-action="openTab"
                        data-module="pagos">
                        Listado de pagos
                    </a>
                </li>
                <li>
                    <a
                        href="?tabs=pagos/proveedores"
                        data-action="openTab"
                        data-module="pagos">
                        Estados de C. Proveedores
                    </a>
                </li>
            </ul>
        </li>
        <li class="treeview child up">
            <a role="button" class="tree">
                <span>acciones</span>
                <span class="pull-right-container">
                    <i class="treeview-indent fa fa-angle-right pull-right"></i>
                </span>
            </a>
            <ul class="treeview-menu">
                <li>
                    <a
                        href="?tabs=pagos/crear"
                        data-action="openTab"
                        data-module="pagos">
                        Nuevo pago
                    </a>
                </li>
            </ul>
        </li>
        {# <li class="treeview child up">
            <a role="button" class="tree">
                <span>Catálogos</span>
                <span class="pull-right-container">
                    <i class="treeview-indent fa fa-angle-right pull-right"></i>
                </span>
            </a>
            <ul class="treeview-menu">
                 <li>
                    <a
                        data-action="openTab"
                        data-module="pagos"
                        href="?tabs=pagos/catalogos/estatus">
                        Estatus de pago
                    </a>
                </li>
                <li>
                    <a
                        href="?tabs=pagos/catalogos/categorias-de-pago"
                        data-action="openTab"
                        data-module="pagos">
                        Categorías de pago
                    </a>
                </li>
                 <li>
                    <a
                        href="?tabs=pagos/catalogos/conceptos-de-cuentas"
                        data-action="openTab"
                        data-module="pagos">
                        Conceptos de cuentas por pagar
                    </a>
                </li>
            </ul>
        </li> #}
        {# <li class="treeview child up">
            <a role="button" class="tree">
                <span>Reportes</span>
                <span class="pull-right-container">
                    <i class="treeview-indent fa fa-angle-right pull-right"></i>
                </span>
            </a>
            <ul class="treeview-menu">
                <li></li>
            </ul>
        </li>
        <li class="treeview child up">
            <a role="button" class="tree">
                <span>Configuración</span>
                <span class="pull-right-container">
                    <i class="treeview-indent fa fa-angle-right pull-right"></i>
                </span>
            </a>
            <ul class="treeview-menu">
                <li></li>
            </ul>
        </li> #}
    </ul>
</li>
