<li class="treeview onhover up">
    <a role="button" class="tree">
        <i class="icon ta-icon punto-de-ventas"></i>
        <span class="text-uppercase">Punto de Venta</span>
        <span class="pull-right-container">
            <i class="treeview-indent fa fa-angle-right pull-right"></i>
        </span>
    </a>
    <ul class="treeview-menu">
        <li class="favorite">
            <a
                data-action="openTab"
                data-module="punto-de-venta"
                href="?tabs=punto-de-venta/cajas/nuevo">
                Nueva Caja
            </a>
        </li>
        <li class="favorite">
            <a
                data-action="openTab"
                data-module="punto-de-venta"
                href="?tabs=punto-de-venta/cajas">
                Cajas
            </a>
        </li>
        <!--<li class="treeview favorite">
            <a
                data-action="openTab"
                data-module="punto-de-venta"
                >
                favorito-3
            </a>
        </li>-->
        <div class="clear"></div>
        <li class="treeview child up">
            <a role="button" class="tree">
                <span>Listados</span>
                <span class="pull-right-container">
                    <i class="treeview-indent fa fa-angle-right pull-right"></i>
                </span>
            </a>
            <ul class="treeview-menu">
                <li>
                    <a
                        data-action="openTab"
                        data-module="punto-de-venta"
                        href="?tabs=punto-de-venta/cajas">
                        Cajas
                    </a>
                </li>
            </ul>
        </li>
        <li class="treeview child">
            <a role="button" class="tree">
                <span>Acciones</span>
                <span class="pull-right-container">
                    <i class="treeview-indent fa fa-angle-right pull-right"></i>
                </span>
            </a>
            <ul class="treeview-menu">
                <li>
                    <a
                        data-action="openTab"
                        data-module="punto-de-venta"
                        href="?tabs=punto-de-venta/cajas/nuevo">
                        Nueva Caja
                    </a>
                </li>
            </ul>
        </li>
        <li class="treeview child up">
            <a role="button" class="tree">
                <span>Catálogo</span>
                <span class="pull-right-container">
                    <i class="treeview-indent fa fa-angle-right pull-right"></i>
                </span>
            </a>
            <ul class="treeview-menu">
                <li></li>
            </ul>
        </li>
        <li class="treeview child up">
            <a role="button" class="tree">
                <span>Reportes</span>
                <span class="pull-right-container">
                    <i class="treeview-indent fa fa-angle-right pull-right"></i>
                </span>
            </a>
            <ul class="treeview-menu">
                <li></li>
            </ul>
        </li>
        <li class="treeview child up">
            <a role="button" class="tree">
                <span>Configuración</span>
                <span class="pull-right-container">
                    <i class="treeview-indent fa fa-angle-right pull-right"></i>
                </span>
            </a>
            <ul class="treeview-menu">
                <li></li>
            </ul>
        </li>
        <div class="clear"></div>
    </ul>
</li>
