<li class="treeview onhover up">
    <a role="button">
        <i class="icon ta-icon recursos-humanos"></i>
        <span class="text-uppercase">Recursos Humanos</span>
        <span class="pull-right-container">
            <i class="treeview-indent fa fa-angle-right pull-right"></i>
        </span>
    </a>
    <ul class="treeview-menu">
        <li class="treeview child up">
            <a role="button">
                <span>Acciones</span>
                <span class="pull-right-container">
                    <i class="fa fa-angle-right pull-right"></i>
                </span>
            </a>
            <ul class="treeview-menu">
                <li>
                    <a
                    data-action="openTab"
                    data-module="recursosHumanos"
                    href="?tabs=recursosHumanos/candidatos/nuevo">
                    Nuevo Candidato
                </a>
            </li>
            <li>
                <a
                data-action="openTab"
                data-module="recursosHumanos"
                href="?tabs=recursosHumanos/departamentos/nuevo">
                Nuevo Departamento
            </a>
        </li>
        <li>
            <a
            data-action="openTab"
            data-module="recursosHumanos"
            href="?tabs=recursosHumanos/empleados/nuevo">
            Nuevo Empleado
        </a>
    </li>
    <li>
        <a
        data-action="openTab"
        data-module="recursosHumanos"
        href="?tabs=recursosHumanos/permisos/nuevo">
        Nuevo Permiso
    </a>
</li>
<li>
    <a
    data-action="openTab"
    data-module="recursosHumanos"
    href="?tabs=recursosHumanos/puestos/nuevo">
    Nuevo Puesto
</a>
</li>
<li>
    <a
    data-action="openTab"
    data-module="recursosHumanos"
    href="?tabs=recursosHumanos/redesSociales/nuevo">
    Nueva Red Social
</a>
</li>
<li>
    <a
    data-action="openTab"
    data-module="recursosHumanos"
    href="?tabs=recursosHumanos/permisos/tipos/nuevo">
    Nuevo Tipo de Permiso
</a>
</li>
<li>
    <a
    data-action="openTab"
    data-module="recursosHumanos"
    href="?tabs=recursosHumanos/vacantes/nuevo">
    Nueva Vacante
</a>
</li>
</ul>
</li>
<li class="treeview child up">
    <a role="button">
        <span>Catálogo</span>
        <span class="pull-right-container">
            <i class="treeview-indent fa fa-angle-right pull-right"></i>
        </span>
    </a>
    <ul class="treeview-menu">
        <li>
            <a
            data-action="openTab"
            data-module="recursosHumanos"
            href="?tabs=recursosHumanos/candidatos">
            Candidatos
        </a>
    </li>
    <li>
        <a
        data-action="openTab"
        data-module="recursosHumanos"
        href="?tabs=recursosHumanos/departamentos">
        Departamentos
    </a>
</li>
<li>
    <a
    data-action="openTab"
    data-module="recursosHumanos"
    href="?tabs=recursosHumanos/empleados">
    Empleados
</a>
</li>
<li>
    <a
    data-action="openTab"
    data-module="recursosHumanos"
    href="?tabs=recursosHumanos/logs/hr">
    Log General
</a>
</li>
<li>
    <a
    data-action="openTab"
    data-module="recursosHumanos"
    href="?tabs=recursosHumanos/logs/permisos">
    Log Permisos
</a>
</li>
<li class="treeview">
    <a
    data-action="openTab"
    data-module="recursosHumanos"
    href="?tabs=recursosHumanos/permisos">
    Permisos
</a>
</li>
<li>
    <a
    data-action="openTab"
    data-module="recursosHumanos"
    href="?tabs=recursosHumanos/puestos">
    Puestos
</a>
</li>
<li>
    <a
    data-action="openTab"
    data-module="recursosHumanos"
    href="?tabs=recursosHumanos/redesSociales">
    Redes Sociales
</a>
</li>
<li>
    <a
    data-action="openTab"
    data-module="recursosHumanos"
    href="?tabs=recursosHumanos/permisos/tipos">
    Tipos de Permisos
</a>
</li>
<li>
    <a
    data-action="openTab"
    data-module="recursosHumanos"
    href="?tabs=recursosHumanos/vacantes">
    Vacantes
</a>
</li>
</ul>
</li>
<li class="treeview child up">
    <a role="button">
        <span>Evaluaciones</span>
        <span class="pull-right-container">
            <i class="treeview-indent fa fa-angle-right pull-right"></i>
        </span>
    </a>
    <ul class="treeview-menu">
        <li>
            <a
            data-action="openTab"
            data-module="recursosHumanos"
            href="?tabs=recursosHumanos/evaluaciones">
            Empleados
        </a>
        <a
        data-action="openTab"
        data-module="recursosHumanos"
        href="?tabs=recursosHumanos/evaluaciones/tareas">
        revisión de evaluaciones
    </a>
    <a
    data-action="openTab"
    data-module="recursosHumanos"
    href="?tabs=recursosHumanos/evaluaciones/systemLogTable">
    Log del Sistema
</a>
</li>
</ul>
</li>
<li class="treeview child up">
    <a role="button">
        <span>Reportes</span>
        <span class="pull-right-container">
            <i class="treeview-indent fa fa-angle-right pull-right"></i>
        </span>
    </a>
    <ul class="treeview-menu">
        <li></li>
    </ul>
</li>
<li class="treeview child up">
    <a role="button">
        <span>Configuración</span>
        <span class="pull-right-container">
            <i class="treeview-indent fa fa-angle-right pull-right"></i>
        </span>
    </a>
    <ul class="treeview-menu">
        <li></li>
    </ul>
</li>
</ul>
</li>
