<li class="treeview onhover up">
    <a role="button" class="tree">
        <i class="icon ta-icon sistema"></i>
        <span class="text-uppercase">Sistema</span>
        <span class="pull-right-container">
            <i class="treeview-indent fa fa-angle-right pull-right"></i>
        </span>
    </a>
    <ul class="treeview-menu">
        <li class="favorite">
            <a
                href="{{ webpath ~ 'dashboard'}}">
                Dashboard
            </a>
        </li>
        <li class="favorite">
            <a
                data-action="openTab"
                data-module="sistema"
                href="?tabs=sistema/clientes/index">
                Clientes
            </a>
        </li>
        <li class="favorite">
            <a
                data-action="openTab"
                data-module="sistema"
                href="?tabs=sistema/metodos-de-pago">
                Metodos de pago
            </a>
        </li>
        <li class="favorite">
            <a
                data-action="openTab"
                data-module="sistema"
                href="?tabs=sistema/estados">
                Estados
            </a>
        </li>
        <div class="clear"></div>
        <li class="treeview child up">
            <a role="button" class="tree">
                <span>Listados</span>
                <span class="pull-right-container">
                    <i class="treeview-indent fa fa-angle-right pull-right"></i>
                </span>
            </a>
            <ul class="treeview-menu">
            </ul>
        </li>
        <li class="treeview child up">
            <a role="button" class="tree">
                <span>Acciones</span>
                <span class="pull-right-container">
                    <i class="treeview-indent fa fa-angle-right pull-right"></i>
                </span>
            </a>
            <ul class="treeview-menu">
                <li></li>
            </ul>
        </li>
        <li class="treeview child up">
            <a role="button" class="tree">
                <span>Catálogos</span>
                <span class="pull-right-container">
                    <i class="treeview-indent fa fa-angle-right pull-right"></i>
                </span>
            </a>
            <ul class="treeview-menu">
                <li>
                    <a
                        data-action="openTab"
                        data-module="sistema"
                        href="?tabs=sistema/clientstype">
                        Tipo de Clientes
                    </a>
                </li>
                <li>
                    <a
                        data-action="openTab"
                        data-module="sistema"
                        href="?tabs=sistema/codespostals">
                        Codigo postal
                    </a>
                </li>
                <li>
                    <a
                        data-action="openTab"
                        data-module="sistema"
                        href="?tabs=almacenes/proveedores">
                        Proveedores
                    </a>
                </li>
                <li>
                    <a
                        data-action="openTab"
                        data-module="sistema"
                        href="?tabs=sistema/paises">
                        Paises
                    </a>
                </li>
                <li>
                    <a
                        data-action="openTab"
                        data-module="sistema"
                        href="?tabs=customer">
                        Clientes
                    </a>
                </li>
                <li>
                    <a
                        data-action="openTab"
                        data-module="sistema"
                        href="?tabs=sistema/zones">
                        Zonas
                    </a>
                </li>
                <li>
                    <a
                        data-action="openTab"
                        data-module="sistema"
                        href="?tabs=sistema/bancos">
                        Bancos
                    </a>
                </li>
                <li>
                    <a
                        data-action="openTab"
                        data-module="sistema"
                        href="?tabs=sistema/monedas">
                        monedas
                    </a>
                </li>
                <li>
                    <a
                        data-action="openTab"
                        data-module="sistema"
                        href="?tabs=sistema/metodos-de-pago">
                        Metodos de pago
                    </a>
                </li>
                <li>
                    <a
                        data-action="openTab"
                        data-module="sistema"
                        href="?tabs=sistema/condiciones-de-pago">
                        Condiciones de pago
                    </a>
                </li>
                <li>
                    <a
                        data-action="openTab"
                        data-module="sistema"
                        href="?tabs=sistema/unidades">
                        Unidades de medida
                    </a>
                </li>
                <li>
                    <a
                        data-action="openTab"
                        data-module="sistema"
                        href="?tabs=sistema/sucursales">
                        Sucursales
                    </a>
                </li>
                <li>
                    <a
                        data-action="openTab"
                        data-module="sistema"
                        href="?tabs=sistema/nacionalidades">
                        Nacionalidades
                    </a>
                </li>
                <li>
                    <a
                        data-action="openTab"
                        data-module="sistema"
                        href="?tabs=sistema/estados">
                        Estados
                    </a>
                </li>
            </ul>
        </li>
        <li class="treeview child up">
            <a role="button" class="tree">
                <span>Reportes</span>
                <span class="pull-right-container">
                    <i class="treeview-indent fa fa-angle-right pull-right"></i>
                </span>
            </a>
            <ul class="treeview-menu">
                <li></li>
            </ul>
        </li>
        <li class="treeview child up">
            <a role="button" class="tree">
                <span>Configuración</span>
                <span class="pull-right-container">
                    <i class="treeview-indent fa fa-angle-right pull-right"></i>
                </span>
            </a>
            <ul class="treeview-menu">
                <li></li>
            </ul>
        </li>
        <div class="clear"></div>
    </ul>
</li>
