{% extends "/Payrolls/Partials/box.twig" %}
{% block boxTitle %}Asistencia{% endblock %}
{% block boxContent %}
<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <div class="form-group">
                    <label>Empleado:</label>
                    <vue-selectize-js
                        ref="attendance.id_employee"
                        selectize-type="select"
                        v-bind:selectize-settings=
                        "employeeSelectize.settings"
                        v-bind:selectize-options="employees.employees"
                        v-bind:selectize-enabled=
                        "employeeSelectize.enabled"
                        v-model="attendance.id_employee">
                    </vue-selectize-js>
                </div>
                <div class="form-group">
                    <label>Entrada:</label>
                    <el-time-select
                      v-model="attendance.check_in"
                      :picker-options="{
                        start: '00:00',
                        step: '00:15',
                        end: '24:00'
                      }"
                      placeholder="Select time">
                    </el-time-select>
                </div>

                <div class="form-group">
                    <label>Tiempo Laborado:</label>
                    <el-time-select
                      v-model="attendance.working_time"
                      :picker-options="{
                         start: '00:00',
                         step: '00:15',
                         end: '24:00'
                      }"
                      placeholder="Select time">
                    </el-time-select>
                </div>

                <div class="form-group">
                    <label>Horas Extra:</label>
                    <el-time-select
                      v-model="attendance.extras"
                      :picker-options="{
                        start: '00:00',
                        step: '01:00',
                        end: '24:00'
                      }"
                      placeholder="Select time">
                    </el-time-select>
                </div>

                <div class="form-group">
                    <label>Saldo de Tiempo:</label>
                    <el-time-select
                      v-model="attendance.working_time_diference"
                      :picker-options="{
                        start: '00:00',
                        step: '00:15',
                        end: '24:00'
                      }"
                      placeholder="Select time">
                    </el-time-select>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <div class="form-group">
                    <label>Fecha:</label>
                    <template>
                        <el-date-picker
                            v-model="attendance.date"
                            type="date"
                            placeholder="Pick a day">
                        </el-date-picker>
                    </template>
                </div>
                <div class="form-group">
                    <label>Asistencia:</label>
                    <input v-model="attendance.attendance">
                </div>
                <div class="form-group">
                    <label>Salida:</label>
                    <el-time-select
                      v-model="attendance.check_out"
                      :picker-options="{
                        start: '00:00',
                        step: '00:15',
                        end: '24:00'
                      }"
                      placeholder="Select time">
                    </el-time-select>
                </div>
                <div class="form-group">
                    <label>Tiempo a Laborar:</label>
                    <el-time-select
                      v-model="attendance.working_time_goal"
                      :picker-options="{
                        start: '00:00',
                        step: '00:15',
                        end: '24:00'
                      }"
                      placeholder="Select time">
                    </el-time-select>
                </div>
                <div class="form-group">
                    <label>Retardo:</label>
                    <el-time-select
                      v-model="attendance.late"
                      :picker-options="{
                        start: '00:00',
                        step: '00:05',
                        end: '00:30'
                      }"
                      placeholder="Select time">
                    </el-time-select>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
