<section>
	<div id="indexTypeDeduction">
		<div class="header-buttons">
			<div class="btn-group main-buttons">
				<a id="btnPayPer"
					role="button"
					class="btn btn-success"
					data-action="openLateral"
                    data-panelsize="sm"
					data-route="nominas/deducciones/nuevo"
					@click="addPayPer">
					<i class="fa fa-plus " aria-hidden="true"></i> Agregar Tipo de Deducción
				</a>
			</div>
		</div>
		<div class="panel-content">
			<div class="table-responsive">
				{% include '/HumanResources/Partials/catalog-table.twig' %}
			</div>
		</div>
	</div>
</section>
<script id="scriptContainer" type="text/javascript">
	uiVars['title'] = '{{title}}';
    init.lenght = 0;
	init = [ {
        title: uiVars['title'],
		file: 'Payroll/TypesDeduction/list.js',
		functions: [ {
			name: 'initTypesDeductionList',
			args: []
		} ]
	} ];
</script>
