<section>
    <div id="FormDepartment">
        <div class="header-buttons">
            <div class="btn-group main-buttons">
                <button
                    class="btn btn-success"
                    @click="departmentValidate">
                    <span class="glyphicon glyphicon-floppy-disk"></span>
                    Guardar
                </button>
                <button
                    class="btn btn-danger"
                    data-action="closeTab">
                    <span class="glyphicon glyphicon-remove"></span>
                    Cancelar
                </button>
            </div>
        </div>
        <div class="panel-content">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Departamento</h3>
                </div>
                <div class="panel-body">
                    <form v-on:submit.prevent="departmentValidate('FormDepartment')" id="">
                        <input type="hidden" name="id" v-model="department.id">
                        <div class="form-group">
                            <label for="departmentType">Nombre:</label>
                            <input
                                v-model="department.name"
                                class="form-control"
                                type="text"
                                @keypress="clearDepartmentValidatorError('Nombre')"
                                name="name">
                            <span v-if="departmentValidatorErrors != null" class="cRed">
                                ${ departmentValidatorErrors.first('Nombre') }
                            </span>
                        </div>
                        <div class="form-group">
                            <label for="description">Descripción:</label>
                            <input
                                v-model="department.description"
                                class="form-control"
                                type="text"
                                @keypress="clearDepartmentValidatorError('Descripción')"
                                name="description">
                            <span v-if="departmentValidatorErrors != null" class="cRed">
                                ${ departmentValidatorErrors.first('Descripción') }
                            </span>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<script id="scriptContainer" type="text/javascript">
uiVars['title'] = '{{title}}';
uiVars['view'] = {{view}};
uiVars['data'] = {{data|json_encode|raw}} ;
init.lenght = 0 ;
init = [ {
    title: uiVars['title'],
    file: 'HumanResources/Departments/form.js',
    functions: [ {
        name: 'initHumanResourcesFormDepartments',
        args: [ uiVars['data'], uiVars['view'] ]
    } ]
} ];
</script>
