{% block content %}
<section>
	<div class="box box-default">
        <div class="box-header">
            <h3 class="box-title">DATOS PARA AGREGAR NUEVO DIARIO</h3>
            <div class="box-tools pull-right">

            </div>
        </div>
        <div class="box-body" >
            <form method="POST" id="addnewcodepostal">
                <div class="row">
                    <div class="col-md-12">
                        
                        <div class="form-group">
                            <label for="">Codigo </label>
                            <input type="text" class="form-control" name="code"
                            id="code"
                            placeholder="Codigo"  >

                        </div>

                        <div class="req form-group">
                            <label for="">Estado</label>
                            <input type="text" class="form-control" id="state"
                            name="state"
                            placeholder="Estado" >

                        </div>
                        <div class="req form-group">
                            <label for="">Municipio</label>
                            <input type="text" class="form-control" id="municipality"
                            name="municipality"
                            placeholder="Municipio" >

                        </div>
                        <div class="req form-group">
                            <label for="">localidad</label>
                            <input type="text" class="form-control" id="location"
                            name="location"
                            placeholder="localidad">

                        </div>

                    

                    </div>


                </div>
 <div class="modal-footer">
                <button   class="btn btn-success">Guardar</button>
            </div>
</form>

            </div>

           
        </div>
    </div>

</div>
</section>
{% endblock %}

