<div id="tablecodesPostals">
	 <vue-dynamic-table
        class-name="table table-bordered"
        v-bind:class="{ fullHeight }"
        v-bind:expandable-row="true"
        v-bind:filter-enabled="true"
        v-bind:columns="sourceColumns"
        v-bind:data-model="listCodesPostals"
        v-on:go-to-page="goToPage"
        v-bind:pagination-options="pageOptions">

        <template slot="description" scope="row">
            <div class="expand">
                ${ row.object.product_description }
            </div>
        </template>
   

    </vue-dynamic-table>
    
    

</div>