{#
created by: Angel Sandoval
created at: 2017-07-15
#}
{% block content %}
    <section id="listOpportunities">
        <div class="header-buttons">
           <div class="btn-group main-buttons">
                <a
                    role="button"
                    class="btn btn  btn-success "
                    v-on:click="opTab('crm/seguimiento/nuevo','lg')">
                    <i class="fa fa-plus " aria-hidden="true"></i>
                    Nueva Oportunidad</a>
            </div>
        </div>
        <div class="panel-content">
            <div id="tableOpportunities">
                <vue-dynamic-table
                    class-name="table table-bordered"
                    v-bind:class="{ fullHeight }"
                    v-bind:filter-enabled="true"
                    v-bind:expandable-row="true"
                    v-bind:columns="columns"
                    sort-indicator-asc-class="fa fa-caret-up"
                    sort-indicator-desc-class="fa fa-caret-down"
                    v-bind:pagination="true"
                    v-bind:pagination-options="paginationOptions"
                    v-on:go-to-page="goToPage"
                    v-bind:data-model="datasource">
                    <template slot="desc" scope="row">
                        <div class="expand">
                            ${row.object.description}
                        </div>
                    </template>
                    <template slot="expiratedDate" scope="row">

                        <div v-if="Date.parse(row.object.expiration_date) < Date.now()"
                            data-tooltip="Fecha expirada"
                            role="button"
                            class="has-tooltip align-right" 
                            style="color:#d9473a; display: inline-block;" >
                            <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                        </div>
                        <div v-else
                            data-tooltip="Fecha de cierre"
                            role="button"
                            class="has-tooltip align-right" 
                            style="color:rgb(3, 125, 182); display: inline-block;" >
                            <i class="fa fa-clock-o" aria-hidden="true"></i>
                        </div>
                            ${returnDate(row.object.expiration_date)}
                    </template>
                    <template slot="createdBy" scope="row">
                        <el-popover
                            ref="popover1"
                            placement="bottom-end"
                            width="200"
                            trigger="hover">
                            <a href="#" class="list-group-item padd5">
                                <div v-if="(row.object.crated_by.picture !== '[none]')" class="pull-left contentMiddle">
                                    <img 
                                        v-bind:src="'https://cdn.tuadmin.com/' + row.object.crated_by.picture" 
                                        alt="User Image" 
                                        class="img-circle h35 mw35" 
                                        style="margin-right: 10px;">
                                </div>
                                <div class="mih40 mh55">
                                    <strong class="card-title">                                             
                                        ${row.object.crated_by.nickname}
                                    </strong>
                                    <div class="card-content">
                                        <el-tooltip 
                                            class="item" 
                                            effect="dark" 
                                            content="Nombre" 
                                            placement="bottom-start">
                                            <i class="fa fa-address-card"></i>
                                        </el-tooltip>
                                        ${ row.object.crated_by ?
                                        (row.object.crated_by.name + ' '+
                                        (row.object.crated_by.lastname ?row.object.crated_by.lastname : '') + ' ' +
                                        (row.object.crated_by.surname ? row.object.crated_by.surname : '')) : 'S/A' }
                                    </div>
                                </div>
                            </a>
                        </el-popover>
                        <div role="button" v-popover:popover1>${ row.object.crated_by.nickname }</div>
                    </template>
                   {#*** Popover de usuarios y epleados #}
                    <template slot="asignedToOportunity" scope="row">
                        <el-popover 
                            ref="popover4"
                            placement="bottom-end"
                            width="800"
                            popper-class="h-select-pop"
                            trigger="click">
                            {% include 'crm/assignedCards.twig'%}
                        </el-popover>
                        <div class="ui-button bg-Light-Blue overflowInherit">
                            <div class="secondary">
                                <a role="button"  class=" btn align-right" v-popover:popover4>
                                    <span class="fa fa-users"></span>
                                </a>
                            </div>
                        </div>
                    </template>
                    <template slot="requisitionsActions" scope="row">
                        <div class="ui-button bg-Light-Blue overflowInherit">
                            <div class="secondary">
                                <a 
                                    data-tooltip="Editar"
                                    role="button"
                                    class="has-tooltip btn align-right" 
                                    v-on:click="opTab('crm/seguimiento/editar/'+row.object.id,'md')">
                                    <span class="glyphicon glyphicon-edit"></span>
                                </a>
                                <a 
                                    data-tooltip="Eliminar"
                                    role="button"
                                    class="has-tooltip btn align-right" 
                                    v-on:click="">
                                    <span class="glyphicon glyphicon-off"></span>
                                </a>
                            </div>
                        </div>
                    </template>
                    <template slot="no-rows-found">
                        <span>No se encontrarón resultados</span>
                    </template>
                </vue-dynamic-table>
            </div>
        </div>
    </section>
{% endblock %}
{% block loadScripts %}
    <script id="scriptContainer">
        init.length = 0;
        init = [{
            title: 'Oportunidades',
            file: 'CrmJs/FollowUp/OpportunitiesListOld.js',
            functions: [ {
                name: 'opportunitiesList',
                args: [ ]
            } ]
        }];
    </script>
{% endblock %}

