{#
created by: Angel Sandoval
created at: 2017-08-30
#}
{% block content %}
    <section id="listOpportunities">
        <div class="header-buttons">
           <div class="btn-group main-buttons">
                <a
                    role="button"
                    class="btn btn  btn-success "
                    data-action="openLateral"
                    href="?tabs=logistica/requisiciones/nuevo"
                    data-panelsize="md">
                    <i class="fa fa-plus" aria-hidden="true"></i>
                    Nueva Oportunidad</a>
            </div>
        </div>
        <div class="panel-content">

            <div id="tableFollowUp">
                <vue-dynamic-table-rbc
                    box-classes="box box-primary full-height"
                    class-name="table table-bordered table-hover"
                    :remote-method="remoteSearch"
                    :source-columns="columns"
                    :select-options="selectOptions"
                    :data-model="datasource"
                    :favorites="dynamicTableFavorites"
                    @save-to-favorites="saveToFavorites"
                    @loaded-favorite="loadedFavorite"
                    :total-results="totalResults"
                    :pagination-options="{pageSizes: [20, 50, 100], pageSize: 100}"
                    hide-export
                    hide-import
                    template-file-name="Oportunidades">

                    {#Slots#}
                    <template slot="desc" scope="row">
                        <div class="expand">
                            ${row.object.description}
                        </div>
                    </template>



                    <template slot="CustomerProspect" scope="row">
                        <div class="expand">
                            <a href="#" class="padd5" style="display: block;">
                                <div class="mh55" >
                                    <strong class="card-title" style="color: #555;">
                                        ${ row.object.follow_up_customer ? row.object.follow_up_customer.legal_name : (
                                            row.object.follow_up_prospect ? row.object.follow_up_prospect.legal_name : ''
                                        ) }
                                    </strong>
                                    <div class="card-content" v-if="row.object.follow_up_customer|| row.object.follow_up_prospect">
                                        <el-tooltip
                                            class="item"
                                            effect="dark"
                                            content="Nombre del CLiente/Prospecto"
                                            placement="bottom-start">
                                            <i class="fa fa-industry"></i>
                                        </el-tooltip>
                                       ${ row.object.follow_up_customer ? row.object.follow_up_customer.business_name : (
                                            row.object.follow_up_prospect ? row.object.follow_up_prospect.business_name : ''
                                        )}
                                        <div class="card-date">
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </template>

                    <template slot="expiratedDate" scope="row">
                        <a href="#" class="padd5" style="display: block;">
                            <div
                                class="pull-left contentMiddle "
                                :style="Date.parse(row.object.expiration_date) < Date.now() ?
                                            'color:#d9473a;' : 'color:#359bdc;'">
                                <el-tooltip
                                class="item"
                                effect="dark"
                                :content="Date.parse(row.object.expiration_date) < Date.now() ?
                                    'Oportunidad expirada' : 'Fecha de cierre'"
                                placement="bottom-start">
                                    <i
                                        style="font-size: 15px;"
                                        :class="Date.parse(row.object.expiration_date) < Date.now() ?
                                            'fa fa-exclamation-triangle' : 'fa fa-clock-o'"></i>
                                </el-tooltip>
                            </div>
                            <div class="mh55">
                                <strong class="card-title" style="color: #555;">
                                    ${formatDate(row.object.expiration_date, 'dddd')}
                                </strong>
                                <div class="card-content">
                                    ${formatDate(row.object.expiration_date, 'DD MMMM YYYY')}
                                </div>
                            </div>
                        </a>
                    </template>

                    <template slot="user" scope="row" >
                        <div class="expand">
                            <a href="#" class="padd5" style="display: block;">
                                <div v-if="(row.object.crated_by.picture !== '[none]')" class="pull-left contentMiddle ">
                                    <img
                                        v-bind:src="'https://cdn.tuadmin.com/' + row.object.crated_by.picture"
                                        alt="User Image"
                                        class="img-circle h35 mw35"
                                        style="margin-right: 10px;">
                                </div>
                                <div class="mh55">{# mih40 mh55#}
                                    <strong class="card-title" style="color: #555;">
                                        ${row.object.crated_by.nickname}
                                    </strong>
                                    <div class="card-content">
                                        <el-tooltip
                                            class="item"
                                            effect="dark"
                                            :content="row.object.crated_by ?
                                            (row.object.crated_by.name + ' '+
                                            (row.object.crated_by.lastname ? row.object.crated_by.lastname : '') + ' ' +
                                            (row.object.crated_by.surname ? row.object.crated_by.surname : '')) : 'S/A'"
                                            placement="bottom-start">
                                            <i class="fa fa-address-card"></i>
                                        </el-tooltip>
                                        ${ row.object.crated_by ?
                                        (row.object.crated_by.name + ' '+
                                        (row.object.crated_by.lastname ? row.object.crated_by.lastname : '') + ' ' +
                                        (row.object.crated_by.surname ? row.object.crated_by.surname : '')) : 'S/A' }
                                    </div>
                                </div>
                            </a>
                        </div>
                    </template>

                    <template slot="activity" scope="row">
                        <div v-if="row.object.activities != null">
                            <el-tooltip
                                class="item"
                                effect="dark"
                                placement="bottom-start">
                                <div slot="content" style="text-align: center;">
                                    ${'Actividad: ' + row.object.activities[0].title}
                                    <br>
                                    (click para ver listado de actividades)
                                </div>
                                <a role="button" class="activityTag btn-success linkId" style="color: white;">
                                    {#<div>
                                        ${formatDate(row.object.activities[0].start_attention_date, 'dddd')}
                                    </div>#}
                                    <div>
                                        ${formatDate(row.object.activities[0].start_attention_date, 'DD MMMM')}
                                    <br>
                                        ${formatDate(row.object.activities[0].start_attention_date, 'h:mm a')}
                                    </div>
                                    <i class="fa fa-caret-left " aria-hidden="true"></i>
                                </a>
                            </el-tooltip>
                        </div>
                    </template>

                    <template slot="activitiesList" scope="row">
                        <h4 class="idp-title-subtitle">
                            <div class="btn-group main-buttons" >
                                <a
                                    role="button"
                                    class="btn btn "
                                    data-action="openLateral"
                                    href="?tabs=logistica/requisiciones/nuevo"
                                    data-panelsize="lg">
                                    <i class="fa fa-plus " aria-hidden="true"></i>
                                    Nueva Actividad
                                </a>
                            </div>
                            Actividades |
                            <span class="subtitle">${row.object.title}</span>
                        </h4>
                        <div class="box box-lg box-centered idp-dynamic-table" style=" max-width: 1300px; width: auto; height: 200px; z-index: 1;">
                            <vue-dynamic-table-rbc
                                box-classes="box box-primary full-height"
                                class-name="table table-bordered table-hover"
                                {#:remote-method="remoteSearch"#}
                                :source-columns="columnsActiv"
                                :select-options="selectOptions"
                                :data-model="row.object.activities"
                                :favorites="dynamicTableFavorites"
                                @save-to-favorites="saveToFavorites"
                                @loaded-favorite="loadedFavorite"
                                :total-results="row.object.activities.length"
                                :pagination-options="{pageSizes: [10, 20, 50], pageSize: 10}"
                                hide-export
                                hide-import
                                {#hide-main-bar#}
                                template-file-name="activities">
                                {% include 'crm/Activity/slot.twig' %}
                            </vue-dynamic-table-rbc>

                        </div>

                    </template>

                    <template slot="asignedToOportunity" scope="row">
                        <el-popover
                            ref="popover4"
                            placement="bottom-end"
                            width="700"
                            popper-class="h-select-pop"
                            trigger="click">
                            {% include 'crm/assignedCards.twig'%}
                        </el-popover>
                        <div class="ui-button bg-Light-Blue overflowInherit">
                            <div class="secondary">
                                <a role="button"  class=" btn align-right" v-popover:popover4>
                                    <span class="fa fa-users"></span>
                                </a>
                            </div>
                        </div>
                    </template>

                    <template slot="requisitionsActions" scope="row">
                        <div class="ui-button bg-Light-Blue overflowInherit">
                            <div class="secondary">
                                <a
                                    data-tooltip="Editar"
                                    role="button"
                                    class="btn btn-info has-tooltip align-right"
                                    data-tooltip="Editar"
                                    v-on:click="opTab('crm/seguimiento/editar/'+row.object.id,'md')"
                                    style="color:  #fff;">
                                    <span class="glyphicon glyphicon-edit"></span>
                                </a>
                                <a
                                    data-tooltip="Eliminar"
                                    role="button"
                                    class="has-tooltip btn align-right"
                                    v-on:click="onRemoveClick(row.object)">
                                    <span class="glyphicon glyphicon-trash"></span>
                                </a>
                            </div>
                        </div>
                    </template>
                    {#fin Slots#}
                </vue-dynamic-table-rbc>
            </div>
        </div>
    </section>
{% endblock %}
{% block loadScripts %}
    <script id="scriptContainer">
        init.length = 0;
        uiVars['userId'] = '{{ userId }}';
        uiVars['info'] = {{info|json_encode|raw}};
        init = [{
            title: 'Oportunidades',
            file: 'CrmJs/FollowUp/OpportunitiesList.js',
            functions: [ {
                name: 'opportunitiesList',
                args: [ uiVars['userId'], uiVars['info'] ]
            } ]
        }];
    </script>
{% endblock %}
