{% block content %}
    <section id="formDeliveryRequisitionsFromMov">
        <div class="header-buttons">
           <div class="btn-group main-buttons">
                <a
                    role="button"
                    class="btn btn  btn-success "
                    v-on:click="onSaveRequisition">
                    <i class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></i>
                    Guardar Requisición</a>
            </div>
        </div>
        <div class="panel-content">
            <form>
                <div class="row">
                    <div class="col-lg-12 col-md-5">
                        <div class="box box-default">
                            <div class="box-header">
                                <h3 class="box-title">${ titleRequisitionDeliv }</h3>
                            </div>
                            <div class="box-body">
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label for="requisitionDate">Fecha Requisición</label>
                                            <el-date-picker
                                                name="requisitionDate"
                                                v-model="requisitionDate"
                                                type="date"
                                                placeholder="Fecha de requisición"
                                                :picker-options="pickerOptions">
                                            </el-date-picker>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label for="deliveryProvider">Proveedor De Envíos</label>
                                            <el-select v-model="deliveryProvider" name="deliveryProvider" placeholder="Selecciona un proveedor de envíos">
                                                <el-option
                                                    v-for="item in dataProviders"
                                                    :key="item.id"
                                                    :label="item.name"
                                                    :value="item.id">
                                                    <span>${ item.name }</span>
                                                </el-option>
                                            </el-select>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-8">
                                        <div class="form-group">
                                            <label for="movement">Movimiento</label>
                                             <el-select
                                                v-on:change="movementChange($event)"
                                                v-model="movement"
                                                name="movement"
                                                id="selectMovements"
                                                placeholder="Selecciona un movimiento">

                                                <el-option
                                                    v-for="item in dataMovements"
                                                    :key="item.id"
                                                    :label="'Movimiento con ID: ' + item.id + ' (' + item.type.description + ')'"
                                                    :value="item.id">
                                                </el-option>

                                            </el-select>
                                         </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 col-md-5">
                        <div class="box box-default">
                            <div class="box-header">
                                <h3 class="box-title">${ titleSippingDetails }</h3>
                                <div class="box-tools pull-right">
                                    <button type="button" class="btn btn-box-tool" data-widget="collapse"
                                            data-toggle="tooltip"
                                            title="Minimizar">
                                        <i class="fa fa-minus"></i>
                                    </button>
                                </div>
                            </div>
                            {#INICIA CONTENIDO DEL ENVIO#}
                            <div class="box-body">
                                <div class="row">
                                    <div class="col-lg-12 col-md-12">
                                        <div class="table-responsive">
                                            <table class="table table-bordered">
                                                <thead>
                                                    <tr>
                                                        <th class="col-md">Código</th>
                                                        <th class="col-md">Código Barras</th>
                                                        <th class="col-xl">Nombre</th>
                                                        <th class="col-md">Unidad</th>
                                                        <th class="col-md">Cantidad a Salir</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr v-for="item in datasource">
                                                        <td>${ item.code }</td>
                                                        <td>${ item.barcode }</td>
                                                        <td>${ item.name }</td>
                                                        <td>${ item.unit_id }</td>
                                                        <td>${ item.pivot ? item.pivot.to_receive : 0 }</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {#TERMINA CONTENIDO DEL ENVIO#}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 col-md-5">
                        <div class="box box-default">
                            <div class="box-header">
                                <h3 class="box-title">DATOS DE REMITENTE</h3>
                                <div class="box-tools pull-right">
                                    <button type="button" class="btn btn-box-tool" data-widget="collapse"
                                            data-toggle="tooltip"
                                            title="Minimizar">
                                        <i class="fa fa-minus"></i>
                                    </button>
                                </div>
                            </div>
                            <div class="box-body">
                                <div v-if="!(flagBtnsPickup)" class="row">
                                    <div class="col-md-12">
                                        <a
                                            v-if="hasMovement"
                                            role="button"
                                            class="btn btn-success"
                                            v-on:click="onEditAddressPick"
                                            data-panelsize="md">
                                            <i class="glyphicon glyphicon-edit" aria-hidden="true"></i>
                                            Editar Dirección</a>
                                        <a
                                            v-if="flagIsCustomerPick"
                                            role="button"
                                            class="btn btn-info "
                                            data-action="openLateral"
                                            :href="'?tabs=logistica/requisiciones/direccionesDeCliente/'+idSender"
                                            data-panelsize="xl">
                                            <i class="glyphicon glyphicon-eye-open" aria-hidden="true"></i>
                                             Ver Direcciones</a>

                                        <a
                                            v-if="flagIsProviderPick"
                                            role="button"
                                            class="btn btn-info "
                                            data-action="openLateral"
                                            :href="'?tabs=logistica/requisiciones/direccionesDeProveedor/'+idSender"
                                            data-panelsize="xl">
                                            <i class="glyphicon glyphicon-eye-open" aria-hidden="true"></i>
                                             Ver Direcciones</a>
                                    </div>
                                </div>
                                <div v-if="(flagIsProviderPick || flagIsCustomerPick)" class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="selectPickupAddresses">Direcciones</label>
                                            <el-select v-on:change="changePickupAddress" v-model="selectPickupAddresses" name="selectPickupAddresses" placeholder="">
                                                <el-option
                                                    v-for="item in pickupAddresses"
                                                    :key="item.id"
                                                    :label="item.country + ', ' + item.town + ', ' + item.street"
                                                    :value="item.id">
                                                    <span>${ item.country + ', ' + item.town + ', ' + item.street }</span>
                                                </el-option>
                                            </el-select>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="sender">Remitente</label>
                                            <input type="text" class="form-control" v-model="sender" name="sender" :readonly="hasMovement"/>
                                        </div>
                                    </div>
                                    <div v-if="hasMovement" class="col-md-6">
                                        <div class="form-group">
                                            <label for="idSender">${ lblClientWareOrProvPick }</label>
                                            <input type="text" class="form-control" v-model="idSender" name="idSender" readonly="true"/>
                                        </div>
                                    </div>
                                </div>
                                <div v-if="(!(hasMovement) || flagBtnsPickup)" class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label>Buscar Dirección</label>
                                            <vue-google-autocomplete
                                                id="mapPick"
                                                type="regions"
                                                classname="input"
                                                placeholder=""
                                                v-on:placechanged="getAddressDataPick"
                                                country="mx"
                                            >
                                            </vue-google-autocomplete>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label for="streetPick">Calle</label>
                                            <input type="text" class="form-control" v-model="streetPick" name="streetPick" :readonly="flagReadOnlyPickup"/>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <label for="numExtPick">No Ext.</label>
                                            <input type="number" class="form-control" v-model="numExtPick" name="numExtPick" onKeyPress="if(this.value.length==10) return false;" :readonly="flagReadOnlyPickup"/>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <label for="numIntPick">No Int.</label>
                                            <input type="number" class="form-control" v-model="numIntPick" name="numIntPick" onKeyPress="if(this.value.length==10) return false;" :readonly="flagReadOnlyPickup"/>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label for="colPick">Colonia</label>
                                            <input type="text" class="form-control" v-model="colPick" name="colPick" :readonly="flagReadOnlyPickup"/>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <label for="zipCodePick">C.P.</label>
                                            <input type="number" class="form-control" v-model="zipCodePick" name="zipCodePick" onKeyPress="if(this.value.length==10) return false;" :readonly="flagReadOnlyPickup"/>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label for="townPick">Localidad</label>
                                            <input type="text" class="form-control" v-model="townPick" name="townPick" :readonly="flagReadOnlyPickup"/>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label for="municipalityPick">Municipio</label>
                                            <input type="text" class="form-control" v-model="municipalityPick" name="municipalityPick" :readonly="flagReadOnlyPickup"/>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label for="statePick">Estado</label>
                                            <input type="text" class="form-control" v-model="statePick" name="statePick" :readonly="flagReadOnlyPickup"/>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label for="countryPick">Pais</label>
                                            <input type="text" class="form-control" v-model="countryPick" name="countryPick" :readonly="flagReadOnlyPickup"/>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label for="referencePick">Referencias</label>
                                            <input type="text" class="form-control" v-model="referencePick" name="referencePick" :readonly="flagReadOnlyPickup"/>
                                        </div>
                                    </div>
                                </div>
                                <div v-if="flagBtnsPickup" class="row">
                                    <div class="col-md-12">
                                        <a
                                            role="button"
                                            class="btn btn btn-danger pull-right"
                                            v-on:click="onCancelEditAddressPickup">
                                            <i class="glyphicon glyphicon-remove-circle" aria-hidden="true"></i>
                                            Cancelar</a>
                                        <a
                                            role="button"
                                            class="btn btn btn-success pull-right"
                                            v-on:click="onSaveAddressPickup">
                                            <i class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></i>
                                            Guardar Dirección</a>
                                    </div>
                                </div>
                            <div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 col-md-5">
                        <div class="box box-default">
                            <div class="box-header">
                                <h3 class="box-title">DATOS DE DESTINATARIO</h3>
                            </div>
                            <div class="box-body" id="boxAddressDeliv">
                                <div v-if="!(flagBtnsDelivery)" class="row">
                                    <div class="col-md-12">
                                        <a
                                            v-if="hasMovement"
                                            role="button"
                                            class="btn btn-success"
                                            v-on:click="onEditAddressDeliv"
                                            data-panelsize="md">
                                            <i class="glyphicon glyphicon-edit" aria-hidden="true"></i>
                                            Editar Dirección</a>
                                        <a
                                            v-if="flagIsCustomerDeliv"
                                            role="button"
                                            class="btn btn-info "
                                            data-action="openLateral"
                                            :href="'?tabs=logistica/requisiciones/direccionesDeCliente/'+idAddressee"
                                            data-panelsize="xl">
                                            <i class="glyphicon glyphicon-eye-open" aria-hidden="true"></i>
                                             Ver Direcciones</a>

                                        <a
                                            v-if="flagIsProviderDeliv"
                                            role="button"
                                            class="btn btn-info "
                                            data-action="openLateral"
                                            :href="'?tabs=logistica/requisiciones/direccionesDeProveedor/'+idAddressee"
                                            data-panelsize="xl">
                                            <i class="glyphicon glyphicon-eye-open" aria-hidden="true"></i>
                                             Ver Direcciones</a>
                                    </div>
                                </div>
                                <div v-if="(flagIsProviderDeliv || flagIsCustomerDeliv)" class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="selectDeliveryAddresses">Direcciones</label>
                                            <el-select v-on:change="changeDeliveryAddress" v-model="selectDeliveryAddresses" name="selectDeliveryAddresses" placeholder="">
                                                <el-option
                                                    v-for="item in deliveryAddresses"
                                                    :key="item.id"
                                                    :label="item.country + ', ' + item.town + ', ' + item.street"
                                                    :value="item.id">
                                                    <span>${ item.country + ', ' + item.town + ', ' + item.street }</span>
                                                </el-option>
                                            </el-select>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="addressee">Destinatario</label>
                                            <input type="text" class="form-control" v-model="addressee" name="addressee" :readonly="flagReadOnlyDeliv"/>
                                        </div>
                                    </div>
                                    <div v-if="hasMovement" class="col-md-6">
                                        <div class="form-group">
                                            <label for="idAddressee">${ lblClientWareOrProvDeliv }</label>
                                            <input type="text" class="form-control" v-model="idAddressee" name="idAddressee" readonly="true"/>
                                        </div>
                                    </div>
                                </div>
                                <div v-if="(!(hasMovement) || flagBtnsDelivery)" class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label>Buscar Dirección</label>
                                            <vue-google-autocomplete
                                                id="mapDeliv"
                                                type="regions"
                                                classname="input"
                                                placeholder=""
                                                v-on:placechanged="getAddressDataDeliv"
                                                country="mx"
                                            >
                                            </vue-google-autocomplete>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label for="streetDeliv">Calle</label>
                                            <input type="text" class="form-control" v-model="streetDeliv" name="streetDeliv" :readonly="flagReadOnlyDeliv"/>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <label for="numExtDeliv">No Ext.</label>
                                            <input type="number" class="form-control" v-model="numExtDeliv" name="numExtDeliv" onKeyPress="if(this.value.length==10) return false;" :readonly="flagReadOnlyDeliv"/>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <label for="numIntDeliv">No Int.</label>
                                            <input type="number" class="form-control" v-model="numIntDeliv" name="numIntDeliv" onKeyPress="if(this.value.length==10) return false;" :readonly="flagReadOnlyDeliv"/>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label for="colDeliv">Colonia</label>
                                            <input type="text" class="form-control" v-model="colDeliv" name="colDeliv" :readonly="flagReadOnlyDeliv"/>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <label for="zipCodeDeliv">C.P.</label>
                                            <input type="number" class="form-control" v-model="zipCodeDeliv" name="zipCodeDeliv" onKeyPress="if(this.value.length==10) return false;" :readonly="flagReadOnlyDeliv"/>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label for="townDeliv">Localidad</label>
                                            <input type="text" class="form-control" v-model="townDeliv" name="townDeliv" :readonly="flagReadOnlyDeliv"/>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label for="municipalityDeliv">Municipio</label>
                                            <input type="text" class="form-control" v-model="municipalityDeliv" name="municipalityDeliv" :readonly="flagReadOnlyDeliv"/>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label for="stateDeliv">Estado</label>
                                            <input type="text" class="form-control" v-model="stateDeliv" name="stateDeliv" :readonly="flagReadOnlyDeliv"/>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label for="countryDeliv">Pais</label>
                                            <input type="text" class="form-control" v-model="countryDeliv" name="countryDeliv" :readonly="flagReadOnlyDeliv"/>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label for="referenceDeliv">Referencias</label>
                                            <input type="text" class="form-control" v-model="referenceDeliv" name="referenceDeliv" :readonly="flagReadOnlyDeliv"/>
                                        </div>
                                    </div>
                                </div>
                                <div v-if="flagBtnsDelivery" class="row">
                                    <div class="col-md-12">
                                        <a
                                            role="button"
                                            class="btn btn btn-danger pull-right"
                                            v-on:click="onCancelEditAddressDeliv">
                                            <i class="glyphicon glyphicon-remove-circle" aria-hidden="true"></i>
                                            Cancelar</a>
                                        <a
                                            role="button"
                                            class="btn btn btn-success pull-right"
                                            v-on:click="onSaveAddressDeliv">
                                            <i class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></i>
                                            Guardar Dirección</a>
                                    </div>
                                </div>
                            <div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </section>
{% endblock %}
{% block loadScripts %}
    <script id="scriptContainer">
        init.length = 0;
        init = [{
            title: 'Nueva Requisición De Envío',
            file: 'Logistic/DeliveryRequisitons/newDeliveryRequisitionFromMov.js',
            functions: [{
                name: 'initNewDeliveryRequisitions',
                args: [  ]
            }]
        }];
    </script>
{% endblock %}
