{% block content %}
<section>
	<div class="box box-default">
        <div class="box-header">
            <h3 class="box-title">DATOS PARA AGREGAR NUEVA Zona</h3>
            <div class="box-tools pull-right">

            </div>
        </div>
        <div class="box-body" >
            <form method="POST" id="addnewZone">
                <div class="row">
                    <div class="col-md-12">
                    <input  type="hidden" id="id_zones" name="id_zones" value="{{ zonesList.id }}"> 
                        <div class="form-group">
                            <label for="">Codigo </label>
                            <input type="text" class="req form-control" name="code"
                            id="code" value="{{ zonesList.code }}">
                          
                           
                        </div>

                    </div>

                    <div class="col-md-12">
                        <div class="req form-group">
                            <label for="">Nombre </label>
                            <input type="text" class="form-control" name="name"
                            id="name" value="{{ zonesList.name }}">
                          
                           
                        </div>

                    </div>



                </div>

                <div class="modal-footer">
                    <button  class="btn btn-success" id="save_new_fraccion_arancelaria">Guardar</button>
                </div>

            </div>
        </div>
    </form>
</div>
</section>
{% endblock %}

{% block loadScripts %}

<script id="scriptContainer" type="text/javascript">
    init.lenght = 0;
    init = [ {
        title: 'Agregar Zona',
        file: 'Warehouse/Zones/addZone.js',
        functions: [ {
            name: 'addnewZone',
            args: []
        } ]
    } ];
</script>

{% endblock %}
