<div id="tableZones">
	 <vue-dynamic-table
         class-name="table table-bordered"
        v-bind:expandable-row="true"
        v-bind:filter-enabled="true"
        v-bind:columns="sourceColumns"
        v-bind:data-model=" listZones"
        v-on:go-to-page="goToPage"
        v-bind:pagination-options="pageOptions">

        <template slot="description" scope="row">
            <div class="expand">
                ${ row.object.product_description }
            </div>
        </template>
        <template slot="actions" scope="row">
        <a href="javascript:void(0);"  class="has-tooltip"  data-tooltip="Editar"
           v-on:click="onEditClick(row.object)">
            <span class="glyphicon glyphicon-edit"></span>
        </a>
        <a  class="has-tooltip"  data-tooltip="Eliminar" href="javascript:void(0);"
            v-on:click="onRemoveClick(row.object)">
            <span class="glyphicon glyphicon-trash"></span>
        </a>
    </template>

    </vue-dynamic-table>
    
    

</div>