<div class="panel panel-default">
	<div class="panel-body">
		<div class="row" id="{{ prefix }}-forma-comentario">
			<div class="col-md-12">
				<div class="form-group">
					<textarea class="form-control"
						v-model="comentario"
						placeholder="Comentarios">
					</textarea>
				</div>
			</div>
		</div>
	</div>
</div>
