<div class="panel panel-default">
    <div class="panel-body">
        <div id="{{ prefix }}-forma-cliente">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12" v-if="nuevo">
                    <div class="req form-group">
                        <label>Cliente:</label>
                        <el-select
                            v-model="cliente"
                            filterable
                            remote
                            placeholder=""
                            :remote-method="searchCustomer"
                            :loading="isLoading"
                            @change="onSelectCliente($event)">
                            <el-option
                                v-for="clienteOption in clienteOptions"
                                :key="clienteOption"
                                :label="clienteOption.legalName"
                                :value="clienteOption">
                                <div>
                                    <span class="pull-left">${ clienteOption.legalName }</span>
                                    <span class="pull-right" style="font-size: 12px; color: light-gray;">${ clienteOption.rfc }</span>
                                </div>
                            </el-option>
                        </el-select>
                        {#<span class="input-group-btn">
                            <a role="button" class="btn-sm btn-success" @click="nuevoCliente()">
                                <span class="glyphicon glyphicon-plus"></span>
                            </a>
                        </span>#}
                    </div>
                </div>
                <div class="col-md-12 col-sm-12 col-xs-12" v-else>
                    <div class="req form-group">
                        <label>Cliente:</label>
                        <input type="text"
                            v-model="cliente.legalName"
                            disabled>
                    </div>
                </div>
                <div class="col-md-12 col-sm-12">
                    <div class="form-group">
                        <label>RFC: </label>
                        <input class="form-control" 
                            v-model="cliente.rfc"
                            disabled>
                    </div>
                </div>
                {% if render['contact'] is defined %}
                <div class="col-md-12 col-sm-12">
                    <div class="form-group">
                        <label>Atención a:</label>
                        <el-select v-model="contacto"
                            placeholder="Persona de contacto"
                            filterable
                            allow-create>
                            <el-option
                                v-for="contactoOption in contactoOptions"
                                :key="contactoOption.name"
                                :label="contactoOption.name"
                                :value="contactoOption.name">
                            </el-option>
                        </el-select>
                    </div>
                </div>
                {% endif %}
            </div>
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <div class="req form-group">
                        <label>Lista de precios: </label>
                        <el-select v-model="listaPrecio"
                            placeholder="Seleccione la lista"
                            filterable
                            @change="onSelectLista($event)">
                            <el-option
                                v-for="listaPrecioOption in listaPrecioOptions"
                                :key="listaPrecioOption.id"
                                :label="listaPrecioOption.name"
                                :value="listaPrecioOption.id">
                            </el-option>
                        </el-select>
                    </div>
                </div>
                <div class="col-md-8 col-sm-12">
                    <div class="req form-group">
                        <label style="text-align: right;">Moneda:</label>
                        <el-select v-model="moneda"
                            placeholder="Seleccione la lista"
                            filterable
                            @change="onSelectLista($event)">
                            <el-option
                                v-for="monedaOption in monedaOptions"
                                :key="monedaOption.code"
                                :label="monedaOption.code"
                                :value="monedaOption.code">
                            </el-option>
                        </el-select>
                    </div>
                </div>
            </div>
        </div>
    </div>
{#  <div class="panel-footer">
        <a role="button" class="remove-panel-footer">
            <i aria-hidden="true" class="fa fa-times-circle fa-lg cBlack"></i>
        </a>
        <strong>Instrucciones:</strong>
        Seleccione un cliente, y agregue los prodctos para la venta.
        <br>
        Al agregar productos, se irá calculando el monto total, se pueden agregar impuestos por producto, en caso de que alguno no tenga uno dado de alta.
        <br>
        Puede importar datos de una cotización, pedido de almacén u orden de venta.
        <br>
        En caso de ser requerido, puede agregar datos de entrega, para enviarle la mercancía al cliente o a uno de sus consignatarios
    </div>#}
</div>
