<div class="panel-group"
	id="accordion-conditions"
	role="tablist"
	aria-multiselectable="true">
	<div class="panel panel-default">
		<div class="panel-heading" role="tab" id="headingOne">
			<h4 class="panel-title" style="width:100%;">
				<a role="button"
					data-toggle="collapse"
					data-parent="#accordion-conditions"
					href="#v-panel-condiciones"
					aria-expanded="true"
					aria-controls="v-panel-condiciones"
					style="width:100%;">
					Condiciones de pago
					<i class="fa fa-caret-down" aria-hidden="true"></i>
				</a>
			</h4>
		</div>
		<div id="v-panel-condiciones"
			class="panel-collapse collapse in"
			role="tabpanel"
			aria-labelledby="headingOne">
			<div class="panel-body">
				<div class="row">
					<div class="col-md-12">
						<div class="col-md-12 col-sm-12">
							<div class="req form-group">
								<label style="text-align: right;">Método de pago:</label>
								<el-select
									v-model="venta.paymentMethodId"
                                    placeholder="Método de pago"
                                    filterable
                                    allow-create>
                                    <el-option
                                        v-for="metodosOption in metodosOptions"
                                        :key="metodosOption.id"
                                        :label="metodosOption.name"
                                        :value="metodosOption.id">
                                    </el-option>
                                </el-select>
							</div>
						</div>
						<div class="col-md-12 col-sm-12">
							<div class="req form-group">
								<label style="text-align: right;">Fecha de inicio:</label>
								<vue-datetimepicker
									v-bind:min-date="venta.createdAt"
									class-name="form-control"
									format="d/M/Y"
									v-model="paymentDate">
								</vue-datetimepicker>
								<span class="input-group-addon">
									<span class="glyphicon glyphicon-calendar"></span>
								</span>
							</div>
						</div>
						<div class="col-md-12 col-sm-12">
							<div class="req form-group">
								<label style="text-align: right;">Fecha de vencimiento:</label>
								<vue-datetimepicker
									v-bind:min-date="paymentDate"
									class-name="form-control"
									format="d/M/Y"
									v-model="dueDate">
								</vue-datetimepicker>
								<span class="input-group-addon">
									<span class="glyphicon glyphicon-calendar"></span>
								</span>
							</div>
						</div>
					{#}	<div class="col-md-12 col-sm-12">
							<div class="form-group">
								<label style="text-align: right; font-weight: normal;">
									<input type="checkbox" v-model="anticipar"> Dar anticipo
								</label>
							</div>
						</div>#}
					</div>
					<div class="col-md-12" v-if="venta.paymentMethodId != 1">
						<div class="col-md-12 col-sm-12">
							<div class="form-group">
								<label style="text-align: right;">Parcialidades:</label>
								<el-input-number
									size="small"
									v-model="venta.partialities"
									:min="1"
									:max="12">
								</el-input-number>
							</div>
						</div>
						<div class="col-md-12 col-sm-12">
							<label style="text-align: right; font-weight: normal;">
								Periodicidad:
							</label><br>
							<label style="font-weight: normal;">
								<input type="radio" :value="1" v-model="venta.periodicity"> Mensual
							</label>
							<label style="font-weight: normal;">
								<input type="radio" :value="2" v-model="venta.periodicity"> Bimestral
							</label>
							<label style="font-weight: normal;">
								<input type="radio" :value="3" v-model="venta.periodicity"> Trimestral
							</label>
							<label style="font-weight: normal;">
								<input type="radio" :value="4" v-model="venta.periodicity"> Cuatrimestral
							</label>
							<label style="font-weight: normal;">
								<input type="radio" :value="6" v-model="venta.periodicity"> Semestral
							</label>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
