<div class="panel panel-default" style="height: 100%;" id="{{ prefix }}-forma-resumen">
	<div class="panel-body" style="height: 90%; vertical-align: middle;">
		<table style="font-size: 12px;" class="center">
			<tbody>
				<tr>
					<td><strong class="padd5">Subtotal:</strong></td>
					<td style="text-align:right;">$${ subtotal.toFixed(2) }</td>
				</tr>
				<tr>
					<td><strong class="padd5">Descuento:</strong></td>
					<td style="text-align:right;">$${ descuento.toFixed(2) }</td>
				</tr>
				<tr v-for="impuesto in impuestos">
					<td><strong class="padd5">${ impuesto.nombre }:</strong></td>
					<td style="text-align:right;">$${ impuesto.valor.toFixed(2) }</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="panel-footer">
		<div class="row">
			<div class="col-md-12 center">
				<label style="font-size: 15px;">
					<strong>Total:</strong>
					$${ renderTotal() }
				</label>
			</div>
		</div>
	</div>
</div>
