<template slot="waysActions" scope="row">
    <div class="ui-button bg-Light-Blue overflowInherit">
        <div class="secondary">
            <a 
                data-tooltip="Editar"
                role="button"
                class="btn btn-info has-tooltip"
                v-on:click="onEditClick(row.object)"
                style="color:  #fff;">
                <span class="glyphicon glyphicon-edit"></span>
            </a>
            <a 
                data-tooltip="Eliminar"
                role="button"
                class="has-tooltip btn align-right" 
                v-on:click="onRemoveClick(row.object)">
                <span class="glyphicon glyphicon-trash"></span>
            </a>
        </div>
    </div>
</template>

<template slot="expanded-row" scope="row">
    <div class="row">
        <div class="col-md-12">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>No.</th>
                        <th>Tipo De Parada</th>
                        <th>Dirección</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="(item, i) in wayStops[row.index]" >
                        <td class="col-xs">${ (i + 1) }</td>
                        <td class="col-sm">${ item.target_type }</td>
                        <td class="col-lg">${ item.target }</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</template>

<template slot="showStops" scope="row">
    <el-button class="block" size="mini" type="default">
        <a v-if="row.object.stops > 0" style="color: #359bdc;">
            <i class="fa fa-eye" aria-hidden="true"></i> 
            Paradas (${ row.object.stops })
        </a>
        <a v-else style="color: #dd4b39;">
            <i class="fa fa-eye" aria-hidden="true"></i> 
            Paradas (${ row.object.stops })
        </a> 
    </el-button>
</template>