{% block body %}
<section>
    <div id="tableAssigmentList">
        <div class="header-buttons">

        </div>
        <div class="panel-content">
            <div class="row">
                <div class="col-md-12">
                    <vue-dynamic-table-rbc
                    box-classes="box box-primary full-height"
                    class-name="table table-bordered table-hover"
                    :remote-method="ajaxAssigmentSearch"
                    :source-columns="assigmentSourceColumns"
                    :select-options="catalogs"
                    :data-model="assigmentList"
                    :total-results="assigmentResults"
                    >
                    <template slot="status" scope="row">
                        ${getStatus(row.object.id)}
                    </template>
                    <template slot="actions" scope="row">
                        <div class="ui-button bg-Light-Blue overflowInherit">
                            <div class="secondary">
                                <a class="btn btn-info"  v-on:click="onCaseClick(row.object.sender, row.object.type, row.object.id)">
                                    <span class="glyphicon glyphicon-edit"></span> Abrir Revisión
                                </a>
                                {#<a class="btn align-right"  v-on:click="onRemoveClick(row.object.id)">
                                    <span class="glyphicon glyphicon-trash"></span> Eliminar
                                </a>#}
                            </div>
                        </div>
                    </template>
                </vue-dynamic-table-rbc>
            </div>
        </div>
    </div>
</div>
</section>
{% endblock %}
{% block loadScripts %}
<script id="scriptContainer" type="text/javascript">
var catalogs = {{ catalogs|json_encode|raw }};
init.length = 0;
init = [ {
    title: 'Revisiones',
    file:  'HumanResources/PerformanceAssessment/list.js',
    functions: [ {
        name: 'initAssigmentList',
        args: [catalogs]
    } ]
} ];
</script>
{% endblock %}
