<section>
    <div id="overview-module">
        <div class="header-buttons">
            <div class="row">
                <div class="col-sm-9"></div>
            </div>
        </div>

        <div class="panel-content" id="auxiliar">
            <div class="row">
                <div class="col-lg-12">
                    {%  include
                    'Accounting/Reports/AccountTransactions/Partials/account_details.twig'  %}
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    {%  include 'Accounting/Reports/AccountTransactions/Partials/period.twig'  %}
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12"
                     v-loading="loading"
                     :element-loading-text="loadingText">
                    {%  include 'Accounting/Reports/AccountTransactions/Partials/table.twig'  %}
                </div>
            </div>
        </div>
    </div>
</section>

<script id="scriptContainer" type="text/javascript">
    var account = {{ account|json_encode|raw }};
    var periods = {{ periods|json_encode|raw }};
    var exercices = {{ exercices|json_encode|raw }};
    var catalogs =  {{ catalogs|json_encode|raw }}
    init.length = 0;
    init = [{
        title: 'Movimientos de la cuenta',
        file:  'Accounting/Reports/accountTransactions.js',
        functions: [{
             name: 'initAccountTransactions',
             args: [account, exercices, periods, catalogs]
        }]
    }];
</script>
