<section>
    <!-- %CONTENT% -->
    <div id="taxesList">
        <div class="panel panel-default">
            <div class="panel-heading">
                <p>Agregar nuevo impuesto</p>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Tipo de impuesto:</label>
                            <el-select v-model="selectedType" placeholder="Seleccione..." @change="loadRules()">
                                <el-option
                                  v-for="item in types"
                                  :key="item.id"
                                  :label="item.CFDIcode + ' ' + item.description"
                                  :value="item.id">
                                </el-option>
                             </el-select>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Regla</label>
                            <el-select v-model="selectedRule" placeholder="Seleccione..." @change="selectRule()">
                                <el-option
                                  v-for="item in rules"
                                  :key="item.id"
                                  :label="item.name"
                                  :value="item.id">
                                </el-option>
                            </el-select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Nombre:</label>
                            <input type="text" v-model="name">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Factor</label>
                            <el-input v-model="factor" :disabled="true"></el-input>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group" v-if="permitWriteValue">
                            <label>Valor:</label>
                            <el-input-number v-model="taxValue" :min="0"></el-input-number>
                        </div>
                        <div class="form-group" v-else>
                            <label>Valor:</label>
                            <el-input-number v-model="taxValue" :disabled="true"></el-input-number>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Origen</label>
                            <el-select v-model="selectedOrigin" placeholder="Seleccione...">
                                <el-option
                                  v-for="item in origins"
                                  :key="item.id"
                                  :label="item.description"
                                  :value="item.id">
                                </el-option>
                             </el-select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Comportamiento:</label>
                            <el-select v-model="selectedBehavior" placeholder="Seleccione...">
                                <el-option
                                  v-for="item in behaviors"
                                  :key="item.id"
                                  :label="item.description"
                                  :value="item.id">
                                </el-option>
                             </el-select>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Cuenta Contable:</label>
                            <el-select v-model="accountingAccount" placeholder="Seleccione...">
                                <el-option
                                    v-for="item in accountingAccounts"
                                    :key="item.id"
                                    :label="item.name"
                                    :value="item.id">
                                    <span style="float: left">${ item.name }</span>
                                    <span style="float: right; color: #8492a6; font-size: 13px">${ item.account }</span>
                                </el-option>
                            </el-select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <el-input
                                type="textarea"
                                :rows="2"
                                placeholder="descripción..."
                                v-model="description">
                            </el-input>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-footer">
                <button type="button" class="btn btn-success" @click="saveTax">Guardar</button>
            </div>
        </div>
    </div>
</section>
<!-- /%CONTENT% -->
{% block loadScripts %}
    <script id="scriptContainer" type="text/javascript">
        uiVars['taxEdit'] = {{ taxEdit[0]|json_encode|raw }};
        uiVars['taxesTypeValue'] = {{ taxesTypeValue|json_encode|raw }};
        init.length = 0;
        init = [ {
            title: 'Nuevo impuesto',
            file: 'Accounting/Taxes/taxes.js',
            functions: [ {
                name: 'loadTaxesListNew',
                args: []
                //args: [ uiVars['taxEdit'], uiVars['taxesTypeValue'] ]
            } ]
        } ];
    </script>
{% endblock %}
