{% block content %}
<div id="preview-reporte">
	<div class="header-buttons" id="prv-forma-botones">
		<div class="btn-group main-buttons">
			<button class="btn btn-success" @click="imprimir()">
				<span class="glyphicon glyphicon-print"></span> Imprimir
			</button>
			<button class="btn btn-success" @click="cancelar()">
				<span class="ui ui-close"></span> Cancelar
			</button>
		</div>
		
		
	</div>
	<div class="panel-content">
		<div class="row">
			<div class="col-md-3">
				<div class="panel panel-default">
					<div class="panel-body">
						<form :id="idForma"
							:action="accionForma"
							enctype="application/json"
							method="post"
							target="_blank">
							<input type="hidden" name="id" value="{{ data.id }}">
							<div class="row">
								<div class="col-md-12">
									<div class="panel panel-info">
										<div class="panel-heading">
											Datos del cliente
										</div>
										<div class="panel-body">
											<div class="form-group">
												<label><input type="checkbox"
													name="cliente[nombre]"
													v-model="cliente.nombre"> Nombre de cliente</label>
											</div>
											<div class="form-group">
												<label><input type="checkbox"
													name="cliente[rfc]"
													v-model="cliente.rfc"> RFC</label>
											</div>
										</div>
									</div>
								</div>
								<div class="col-md-12">
									<div class="panel panel-info">
										<div class="panel-heading">
											Conceptos
										</div>
										<div class="panel-body">
											<div class="form-group">
												<label><input type="checkbox"
													name="conceptos[codigo]"
													v-model="conceptos.codigo"> Código</label>
											</div>
											<div class="form-group">
												<label><input type="checkbox"
													name="conceptos[nombre]"
													v-model="conceptos.nombre"> Nombre</label>
											</div>
											<div class="form-group">
												<label><input type="checkbox"
													name="conceptos[precioUnitario]"
													v-model="conceptos.precioUnitario"> Precio unitario</label>
											</div>
											<div class="form-group">
												<label><input type="checkbox"
													name="conceptos[cantidad]"
													v-model="conceptos.cantidad"> Cantidad</label>
											</div>
											<div class="form-group">
												<label><input type="checkbox"
													name="conceptos[subtotal]"
													v-model="conceptos.subtotal"> Subtotal</label>
											</div>
											<div class="form-group">
												<label><input type="checkbox"
													name="conceptos[impuestos]"
													v-model="conceptos.impuestos"> Impuestos</label>
											</div>
											<div class="form-group">
												<label><input type="checkbox"
													name="conceptos[descuento]"
													v-model="conceptos.descuento"> Descuento</label>
											</div>
										</div>
									</div>
								</div>
								<div class="col-md-12">
									<div class="panel panel-info">
										<div class="panel-heading">
											Condiciones
										</div>
										<div class="panel-body">
											<div class="form-group">
												<label><input type="checkbox"
													name="condiciones[condiciones]"
													v-model="condiciones.condiciones"> Condiciones de pago</label>
											</div>
											<div class="form-group">
												<label><input type="checkbox"
													name="condiciones[cuenta]"
													v-model="condiciones.cuenta"> Cuenta bancaria</label>
											</div>
											<div class="form-group">
												<label><input type="checkbox"
													name="condiciones[comentarios]"
													v-model="condiciones.comentarios"> Comentarios</label>
											</div>
										</div>
									</div>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
			<div class="col-md-9">
				<div class="panel panel-default">
					<div class="panel-body">
						<div class="row">
							<div class="col-md-12">
								{% include( 'Sale/print.twig' ) %}
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}
{% block loadScripts %}
	<script id="scriptContainer" type="text/javascript">
		uiVars['datos'] = {{ data|json_encode|raw }};

		init.length = 0;
		init = [
			{
				file: 'Sale/preview.js',
				functions: [ {
					name: 'iniciaPreview',
					args: [ uiVars['datos'] ]
				}]
			},
			{
	            file: 'printable.css',
	            // helpers.css y grid.css
	        }
		];
	</script>
{% endblock %}