<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<link href="{{ url('public/css/bootstrap/bootstrap.min.css') }}" rel="stylesheet">
	<link href="{{ url('public/css/grid.css') }}" rel="stylesheet">
	<link href="{{ url('public/css/helpers.css') }}" rel="stylesheet">
	<link href="{{ url('public/css/printable.css') }}" rel="stylesheet">
</head>
<body>
	<div class="col-md-12">
	{% include( 'Sale/print2.twig' ) %}
	</div>
</body>
</html>