				<div class="modal-dialog" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
							<h4 class="modal-title" id="myModalLabel">Detalle de Impuestos</h4>
						</div>
						<div class="modal-body">
							<div class="table-responsive">
								<table class="table">
									<thead>
										<tr>
											<th>Impuesto</th>
											<th>Tipo</th>
											<th>Tasa</th>
											<th>Importe</th>
										</tr>
									</thead>
									<tbody>
										<tr v-for="tax in listSaleTaxProducts">
											<td>${ tax.tax }</td>
											{# <td>${ tax.tax_type }</td> #}
											<td>Trasladado</td>
											<td>${ Number(tax.rate).toFixed(2) }%</td>
											<td>$${ Number(tax.amount).toFixed(2) }</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-default"
								data-dismiss="modal"
								v-on:click="closeModalSaleProducts">
								Cerrar
							</button>
							<button type="button" class="btn btn-primary">
								<span class="glyphicon glyphicon-list-alt"></span> Ir a Venta
							</button>
						</div>
					</div>
				</div>