		<!-- Modal para búsqueda de productos-->
		<div class="modal-dialog modal-md" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h4 class="modal-title" id="myModalLabel">

					</h4>
				</div>
				<div class="modal-body">
					<div class="col-md-12">
						<div class="form-group">
							<label>Producto:</label>
							<input type="text" v-model="nombreProducto" @keyup.enter="buscar()">
						</div>
					</div>
					{#<div class="col-md-6">
						<div class="form-group">
							<label>Precio mínimo:</label>
							<input type="text" v-model="precioMin">
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group">
							<label>Precio máximo:</label>
							<input type="text" v-model="precioMax">
						</div>
					</div>#}
					<div class="row">
						<div class="col-md-12" style="text-align: right;">
							<a role="button" class="btn btn-success" @click="buscar()">
								<span class="glyphicon glyphicon-search"></span> Buscar
							</a>
						</div>
					</div>
					<br>
					<div class="col-md-12">
						<div class="table-responsive" style="max-height:400px;">
							<vue-dynamic-table 
								class-name="table table-bordered table-hover"
								v-bind:class="{ fullHeight }"
								v-bind:columns="sourceColumns"
								v-bind:data-model="listProducts"
								v-bind:filter-enabled="false">
								<template slot="slotCheck" scope="row">
									<el-checkbox v-model="row.object.chk" name="productId"></el-checkbox>
								</template>
							</vue-dynamic-table>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal" @click="aceptar()">Agregar</button>
				</div>
			</div>
		</div>
