<div id="modalFormPaymentStatus" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
          <h4 class="modal-title">Agregar estatus de pago</h4>
        </div>
        <div id="formPaymentStatus">
          <div class="modal-body">
            <input type="hidden" name="id" v-model="id">
            <div class="form-group">
              <label for="name">Nombre:</label>
              <input
                  type="text"
                  v-model="name"
                  name="name"
                  v-validate="'required'"
                  data-vv-as="Nombre"
                  :class="{'validate': errors.has('name') }"
                  autocomplete="off">
              <span v-show="errors.has('name')" class="cRed">${ errors.first('name') }</span>
            </div>
            <div class="form-group">
              <label for="description">Descripción:</label>
              <input
                  type="text"
                  v-model="description"
                  name="description"
                  v-validate="'required'"
                  data-vv-as="Descripción"
                  :class="{'validate': errors.has('description') }"
                  autocomplete="off">
              <span v-show="errors.has('description')" class="cRed">${ errors.first('description') }</span>
            </div>
          </div>
        <div class="modal-footer">
          <button type="button" v-on:click="onSubmit" class="btn btn-success" name="button">Guardar</button>
          <button type="button" name="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
        </div>
      </div>
    </div>
  </div>
</div>
