<section>
    <div class="window container-fluid" id="formPermissionType">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Tipo de Permiso</h3>
                    </div>
                    <form v-on:submit.prevent="permissionTypeValidate('formPermissionType')" id="">
                        <div class="modal-body">
                            <input type="hidden" name="id" v-model="permissionType.id">
                            <div class="row">
                                <div class="col-md-8">
                                    <label for="concept">Concepto:</label>
                                    <div class="form-group">
                                        <input
                                        v-model="permissionType.concept"
                                        class="form-control"
                                        type="text"
                                        @keypress="clearPermissionTypeValidatorError('Concepto')"
                                        name="concept">
                                        <span v-if="permissionTypeValidatorErrors != null" class="cRed">
                                            ${ permissionTypeValidatorErrors.first('Concepto') }
                                        </span>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <label for="suggested_days">Dias Sugeridos</label>
                                    <div class="form-group">
                                        <input
                                        v-model="permissionType.suggested_days"
                                        class="form-control"
                                        type="text"
                                        @keypress="clearPermissionTypeValidatorError('Dias Sugeridos')"
                                        name="suggested_days">
                                        <span v-if="permissionTypeValidatorErrors != null" class="cRed">
                                            ${ permissionTypeValidatorErrors.first('Dias Sugeridos') }
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="row" v-if="see === false">
            <div class="row col-md-12 ">
                <div class="block centered h100 ">
                    <div class="content contentMiddle text-center">
                        <a class="btn btn-success" @click="permissionTypeValidate"><i class="glyphicon glyphicon-ok"></i> Guardar</a>
                        <a class="btn btn-danger" data-action="closeTab"><i class="glyphicon glyphicon-remove"></i> Cancelar</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script id="scriptContainer" type="text/javascript">
{% if id %}
uiVars['see'] = false;
uiVars['id']   = {{id}};
uiVars['data']   = {{data|json_encode|raw}};
{% if uiVars['see'] %}
uiVars['title'] = "Ver Tipo de Permiso";
uiVars['see'] = true;
{% else %}
uiVars['title'] = "Editar Tipo de Permiso";
{% endif %}
init.lenght = 0;
init = [ {
    title: uiVars['title'],
    file: 'HumanResources/Permissions/Types/form.js',
    functions: [ {
        name: 'initFormPermissionTypes',
        args: [ uiVars['id'], uiVars['data'], uiVars['see']]
    } ]
} ];
{% else %}
uiVars['title'] = "Nuevo Tipo de Permiso";
init.lenght = 0;
init = [ {
    title: uiVars['title'],
    file: 'HumanResources/Permissions/Types/form.js',
    functions: [ {
        name: 'initFormPermissionTypes',
        args: []
    } ]
} ];
{% endif %}
</script>
