<section>
  <div  id="formTypesRegime">
    <div class="row">
      <div class="col-md-12">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Tipos de Régimen</h3>
          </div>
          <form v-on:submit.prevent="typesRegimeValidate('formTypesRegime')" id="">
            <div class="modal-body">
              <input type="hidden" name="id" v-model="typesRegime.id">
              <div class="row">
                <div class="col-md-3">
                      <div class="form-group">
                          <label for="contractType" class="block">c_TipoRegimen:</label>
                          <input v-model="typesRegime.c_TipoRegimen" type="text" name="" @keypress="clearTypesRegimeValidatorError('c_TipoRegimen')">
                          <span v-if="typesRegimeValidatorErrors != null" class="cRed">
                              ${ typesRegimeValidatorErrors.first('c_TipoRegimen') }
                          </span>
                      </div>
                </div>
                <div class="col-md-8">
                      <div class="form-group">
                          <label for="contract_description" class="block">Descripción:</label>
                          <input v-model="typesRegime.description" class="form-control" type="text" name="" @keypress="clearTypesRegimeValidatorError('Descripción')">
                          <span v-if="typesRegimeValidatorErrors != null" class="cRed">
                               ${ typesRegimeValidatorErrors.first('Descripción') }
                          </span>
                      </div>
                </div>
                <div class="clear clearfix"></div>

                <div class="col-md-3">
                  <div class="form-group">
                      <label class="block" for="">Fecha de inicio de vigencia:</label>
                    <vue-datetimepicker
                      class-name="form-control"
                      v-bind:format="datePicker.format"
                      v-bind:time-picker="datePicker.timePicker"
                      v-model="validity_start_date">
                    </vue-datetimepicker>
                    <span v-if="typesRegimeValidatorErrors != null" class="cRed">
                      ${ typesRegimeValidatorErrors.first('Vigencia Inicio') }
                    </span>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="form-group">
                      <label class="block" for="">Fecha de fin de vigencia:</label>
                    <vue-datetimepicker
                      class-name="form-control"
                      v-bind:format="datePicker.format"
                      v-bind:time-picker="datePicker.timePicker"
                      v-model="validity_end_date">
                    </vue-datetimepicker>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="row" v-if="view === false">
      <div class="row col-md-12 ">
        <div class="block centered h100 ">
          <div class="content contentMiddle text-center">
            <a class="btn btn-success" @click="typesRegimeValidate"><i class="glyphicon glyphicon-ok"></i> Guardar</a>
            <a class="btn btn-danger" data-action="closeTab"><i class="glyphicon glyphicon-remove"></i> Cancelar</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<script id="scriptContainer" type="text/javascript">
  uiVars['title'] = '{{title}}';
  uiVars['view'] = {{view}};
  uiVars['data']   = {{data|json_encode|raw}};
  init.lenght = 0;
  init = [ {
    title: uiVars['title'],
    file: 'Payroll/TypesRegimes/form.js',
    functions: [ {
      name: 'initPayrollsFormTypesRegime',
      args: [ uiVars['data'], uiVars['view']]
    } ]
  } ];
</script>