{% block content %}
    <section>
        {% include( 'Warehouse/ProductTypes/buttons.twig' ) %}
        <div class="panel-content">
            {% include( 'Warehouse/ProductTypes/partials/list.twig' ) %}
        </div>
    </section>
{% endblock %}
{% block loadScripts %}
    <script id="scriptContainer" type="text/javascript">
        init.length = 0;
        init = [{
            title: 'Tipo de productos',
            file: 'Warehouse/ProductTypes/productTypeList.js',
            functions: [ {
                name: 'initproductTypeList',
                args: []
            }]
        } ];
    </script>
{% endblock %}
