<section>
    <div class="window container-fluid" id="formState">
        <div class="row">
            <div class="col-md-9">
                <div class="panel panel-default">
                    <div class="panel-heading"> <h3 class="panel-title">Datos del régimen fiscal</h3> </div>
                    <form v-on:submit.prevent="stateValidate('formState')" id="">
                        <div class="modal-body">
                            <input type="hidden" name="id" v-model="state.id">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="c_Estado" class="block">c_Estado:</label>
                                        <input v-model="state.c_Estado" type="text" name="c_Estado" @keypress="clearStateValidatorError('c_Estado')">
                                        <span v-if="stateValidatorErrors != null" class="cRed">
                                            ${ stateValidatorErrors.first('c_Estado') }
                                        </span>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="name" class="block">Nombre del estado:</label>
                                        <input v-model="state.name" class="form-control" type="text" name="name" @keypress="clearStateValidatorError('Nombre')">
                                        <span v-if="stateValidatorErrors != null" class="cRed">
                                            ${ stateValidatorErrors.first('Nombre') }
                                        </span>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="country_id" class="block">Pais:</label>
                                        <vue-selectize-js
                                            ref="state.country_id"
                                            selectizeType="select"
                                            v-bind:selectize-settings="countrySelectize.settings"
                                            v-bind:selectize-options="countrySelectize.options"
                                            v-bind:selectize-enabled="countrySelectize.enabled"
                                            v-on:select-option="onSelectCountry($event)"
                                            v-model="state.country_id"
                                            @change="clearStateValidatorError('c_Pais')">
                                        </vue-selectize-js>
                                    </div>
                                </div>
                                <div class="clear clearfix"></div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="c_Pais" class="block">c_Pais:</label>
                                        <input v-model="c_Pais" class="form-control" type="text" name="c_Pais" @keypress="clearStateValidatorError('c_Pais')">
                                        <span v-if="stateValidatorErrors != null" class="cRed">
                                           ${ stateValidatorErrors.first('c_Pais') }
                                       </span>
                                   </div>
                               </div>
                           </div>
                       </div>
                   </form>
               </div>
           </div>
       </div>
       <div class="row" v-if="see === false">
            <div class="row col-md-12 ">
                <div class="block centered h100 ">
                    <div class="content contentMiddle text-center">
                        <a class="btn btn-success" @click="stateValidate"><i class="glyphicon glyphicon-ok"></i> Guardar</a>
                        <a class="btn btn-danger" data-action="closeTab"><i class="glyphicon glyphicon-remove"></i> Cancelar</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script id="scriptContainer" type="text/javascript">
    {% if id %}
        uiVars['see'] = false;
        uiVars['id']   = {{id}};
        uiVars['data']   = {{data|json_encode|raw}};
        {% if uiVars['see'] %}
            uiVars['title'] = "Ver Estado";
            uiVars['see'] = true;
        {% else %}
            uiVars['title'] = "Editar Estado";
        {% endif %}
        init.lenght = 0;
        init = [ {
            title: uiVars['title'],
            file: 'System/States/form.js',
            functions: [ {
                name: 'initSystemsFormState',
                args: [ uiVars['id'], uiVars['data'], uiVars['see']]
            } ]
        } ];
    {% else %}
        uiVars['title'] = "Nuevo Estado";
        init.lenght = 0;
        init = [ {
            title: uiVars['title'],
            file: 'System/States/form.js',
            functions: [ {
                name: 'initSystemsFormState',
                args: []
            } ]
        } ];
    {% endif %}
</script>