<div class="header-buttons">
    <div class="btn-group main-buttons">
        <button id="openTabNewCompany" role="button" class="btn btn-primary pull-left"
           data-action="openLateral"
           data-route="admin/company/add"
           data-panelsize="lg"
           type="button">
           Registrar Empresa</button>
    </div>
</div>
