    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
            <label>Busca Tu Dirección</label>
                <vue-google-autocomplete
                    id="map"
                    type="regions"
                    classname="input"
                    placeholder=""
                    v-on:placechanged="getAddressData"
                    country="mx"
                >
                </vue-google-autocomplete>
            </div>
            <div class="form-group">
                <label for="street">Calle:</label>
                <input id="street" name="street" v-model="employee.address.street" @keypress="clearEmployeeError('Calle')">
                <span v-if="employeeValidatorErrors != null"  class="error-validate" :class="employeeErrorsClass">${ employeeValidatorErrors.first('Calle') }</span>
            </div>
            <div class="row">
                <div class="col-md-4 col-sm-4">
                    <div class="form-group">
                        <label for="external_number" >No Ext.:*</label>
                        <input id="external_number" name="external_number" class="form-control" v-model="employee.address.external_number" @keypress="clearEmployeeError('Numero Exterior')">
                        <span v-if="employeeValidatorErrors != null"  class="error-validate" :class="employeeErrorsClass">${ employeeValidatorErrors.first('Numero Exterior') }</span>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4">
                    <div class="form-group">
                        <label for="internal_number" >No Int.:*</label>
                        <input id="internal_number" name="internal_number" class="form-control" v-model="employee.address.internal_number" @keypress="clearEmployeeError('Numero Interior')">
                        <span v-if="employeeValidatorErrors != null"  class="error-validate" :class="employeeErrorsClass">${ employeeValidatorErrors.first('Numero Interior') }</span>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4">
                    <div class="form-group">
                        <label for="postal_code" >CP:</label>
                        <input id="postal_code" name="postal_code" class="form-control" v-model="employee.address.postal_code" @keypress="clearEmployeeError('Código Postal')">
                        <span v-if="employeeValidatorErrors != null"  class="error-validate" :class="employeeErrorsClass">${ employeeValidatorErrors.first('Código Postal') }</span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="reference">Referencias:</label>
                <input id="reference" name="reference" v-model="employee.address.reference" @keypress="clearEmployeeError('Referencias')">
                <span v-if="employeeValidatorErrors != null"  class="error-validate" :class="employeeErrorsClass">${ employeeValidatorErrors.first('Referencias') }</span>
            </div>
            <div class="form-group">
                <label for="suburb" >Colonia:*</label>
                <input id="suburb" name="suburb" class="form-control" v-model="employee.address.suburb" @keypress="clearEmployeeError('Colonia')">
                <span v-if="employeeValidatorErrors != null"  class="error-validate" :class="employeeErrorsClass">${ employeeValidatorErrors.first('Colonia') }</span>
            </div>
            <div class="row">
                <div class="col-md-6 col-sm-6">
                    <div class="form-group">
                        <label for="municipality" >Municipio:*</label>
                        <input id="municipality" name="municipality" class="form-control" v-model="employee.address.municipality" @keypress="clearEmployeeError('Municipio')">
                        <span v-if="employeeValidatorErrors != null"  class="error-validate" :class="employeeErrorsClass">${ employeeValidatorErrors.first('Municipio') }</span>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6">
                    <div class="form-group">
                        <label for="town" >Ciudad:*</label>
                        <input id="town" name="town" class="form-control" v-model="employee.address.town" @keypress="clearEmployeeError('Ciudad')">
                        <span v-if="employeeValidatorErrors != null"  class="error-validate" :class="employeeErrorsClass">${ employeeValidatorErrors.first('Ciudad') }</span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-sm-6">
                    <div class="form-group">
                        <label for="state">Estado:*</label>
                        <input id="state" name="state" class="form-control" v-model="employee.address.state" @keypress="clearEmployeeError('Estado')">
                        <span v-if="employeeValidatorErrors != null"  class="error-validate" :class="employeeErrorsClass">${ employeeValidatorErrors.first('Estado') }</span>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6">
                    <div class="form-group">
                        <label for="country">País:*</label>
                        <input id="country" name="country" class="form-control" v-model="employee.address.country" @keypress="clearEmployeeError('País')">
                        <span v-if="employeeValidatorErrors != null"  class="error-validate" :class="employeeErrorsClass">${ employeeValidatorErrors.first('País') }</span>
                    </div>
                </div>
            </div>
        </div>
    </div>