{% extends "/HumanResources/Partials/box.twig" %}
{% block boxTitle %}Información complementaria{% endblock %}
{% block boxContent %}
<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
        <h4 style="text-align: center;">Información</h4>
        <div class="form-group">
            <label for="emails" >Emails de Trabajo:</label>
            <vue-selectize-js
                    selectize-type="Tags"
                    v-bind:selectize-settings="emailsWorkSelectize.settings"
                    v-bind:selectize-enabled="emailsWorkSelectize.enabled"
                    v-model="employee.emails_work"
                    >
            </vue-selectize-js>
        </div>
        <div class="form-group">
            <label for="phones" >Teléfonos de Trabajo:</label>
            <vue-selectize-js
                selectize-type="Tags"
                v-bind:selectize-settings="phonesWorkSelectize.settings"
                v-bind:selectize-enabled="phonesWorkSelectize.enabled"
                v-model="employee.phones_work"
                >
            </vue-selectize-js>
        </div>
        <div class="form-group">
            <label for="admissionDate" >Fecha de Ingreso:</label>
            <el-date-picker
                v-model="admissionDate"
                type="date"
                @change="changeAdmisionDate($event)"
                placeholder="Selecciona una fecha">
            </el-date-picker>
            <span  class="error-validate" :class="employeeErrorsClass" v-if="employeeValidatorErrors != null">${ employeeValidatorErrors.first('Fecha de Ingreso') }</span>
        </div>
        <div class="form-group">
            <label for="positions">Puestos:</label>
            <vue-selectize-js
                selectize-type="select"
                v-bind:selectize-settings="positionsSelectize.settings"
                v-bind:selectize-options="data.positions"
                v-bind:selectize-enabled="positionsSelectize.enabled"
                v-on:select-option="onSelectPositions($event)"
                v-model="employee.positions">
            </vue-selectize-js>
        </div>
        <div class="form-group">
            <label for="departments">Departamentos:</label>
            <vue-selectize-js
                selectize-type="select"
                v-bind:selectize-settings="departmentsSelectize.settings"
                v-bind:selectize-options="data.deparments"
                v-bind:selectize-enabled="departmentsSelectize.enabled"
                v-model="employee.departments"
                >
            </vue-selectize-js>
        </div>
        <div class="form-group">
            <label for="departments">Sueldo:</label>
            <input type="number" step="any"
                v-model="employee.salary">
        </div>
        <div class="form-group">
            <label for="admissionDate" >Fecha de Culminación laboral:</label>
            <el-date-picker
                v-model="finishDate"
                type="datetime"
                placeholder="Selecciona una fecha">
            </el-date-picker>
        </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
        <h4 style="text-align: center;">Nómina</h4>
        {% include '/HumanResources/Employees/payroll.twig' %}
    </div>
</div>

{% endblock %}
