
    <div class="" v-if="employee.id!=null">
        <div v-if="employee!=undefined">
            <dl id="checkboxes">
                <dt>Documentos</dt>
                {# Acta de Nacimiento #}
                {# verifica si existe el certificado #}
                <div v-if="employee.birth_certificate.length==1">
                    {# si existe el certificado crea el checkbox con el atributo checked #}
                        <input type="checkbox" id="checkboxBirthCertificate" checked>
                        <label>Acta de Nacimiento</label>
                    {# verifica si no existe la url para el certificado #}
                <div v-if="employee.birth_certificate[0].url==null">
                {# si no existe habilita el input file #}
                    <input type="file" id="fileBirthCertificate" class="inputfile"  >
                    </input>
                </div>
                <div v-else>
                {# si existe el url habilita el boton de descargar y eliminar#}
                    <button class="btn btn-primary" id='buttonDownloadBirthCertificate' @click="downloadCertificate">
                    <span class="fa fa-download" aria-hidden="true"></span> Descargar
                    </button>
                    <button class="btn btn-primary" id='btnDeleteBirthCertificate' @click="deleteCertificate">
                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Eliminar
                    </button>
                </div>
                </div>
                <div v-else>
                {# si no existe el certificado crea el checkbox sin el atributo checked  #}
                    <input type="checkbox" id="checkboxBirthCertificate" >
                    <label>Acta de Nacimiento</label>
                {# crea el input file para el checkbox vacio  #}
                    <input type="file" id="fileBirthCertificate" class="inputfile" >
                    </input>
                </div>
                {# Curriculum #}
                {# verifica si existe el curriculum #}
                <div v-if="employee.curriculum.length==1">
                {# si existe el curriculum crea el checkbox con el atributo checked #}
                    <input type="checkbox" id="checkboxCurriculum" checked>
                    <label>Currículum y/o Solicitud Elaborada</label>
                {# verifica si no existe la url para el curriculum #}
                <div v-if="employee.curriculum[0].url==null">
                {# si no existe habilita el input file #}
                    <input type="file" id="fileCurriculum" class="inputfile">
                    </input>
                </div>
                <div v-else>
                {# si existe el url habilita el boton de descargar y eliminar #}
                    <button class="btn btn-primary" id='buttonDownloadCurriculum' @click="downloadCurriculum">
                    <span class="fa fa-download" aria-hidden="true"></span> Descargar
                    </button>
                    <button class="btn btn-primary" id='btnDeleteCurriculum' @click="deleteCurriculum">
                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Eliminar
                    </button>
                </div>
                </div>
                <div v-else>
                {# si no existe el curriculum crea el checkbox sin el atributo checked  #}
                    <input type="checkbox" id="checkboxCurriculum">
                    <label>Currículum y/o Solicitud Elaborada</label>
                {# crea el input file para el checkbox vacio  #}
                    <input type="file" id="fileCurriculum" class="inputfile">
                    </input>
                </div>
                {# Credencial de Elector #}
                {# verifica si existe la credencial #}
                <div v-if="employee.voting_lisense.length==1">
                {# si existe la credencial crea el checkbox con el atributo checked #}
                    <input type="checkbox" id="checkboxVotingLisense" checked>
                    <label>Credencial de Elector</label>
                {# verifica si no existe la url para la credencial #}
                    <div v-if="employee.voting_lisense[0].url==null">
                {# si no existe habilita el input file #}
                    <input type="file" id="fileVotingLisense" class="inputfile">
                    </input>
                </div>
                <div v-else>
                {# si existe el url habilita el boton de descargar y eliminar #}
                    <button class="btn btn-primary" id='buttonDownloadVotingLisense' @click="downloadLisense">
                    <span class="fa fa-download" aria-hidden="true"></span> Descargar
                    </button>
                    <button class="btn btn-primary" id='btnDeleteVotingLisense' @click="deleteLisense">
                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Eliminar
                    </button>
                </div>
                </div>
                <div v-else>
                {# si no existe la credencial crea el checkbox sin el atributo checked  #}
                    <input type="checkbox" id="checkboxVotingLisense">
                    <label>Credencial de Elector</label>
                {# crea el input file para el checkbox vacio  #}
                    <input type="file" id="fileVotingLisense" class="inputfile">
                    </input>
                </div>
                {# Comprobante de Estudios #}
                {# verifica si existe el comprobante #}
                <div v-if="employee.studies_certificate.length==1">
                {# si existe el comprobante crea el checkbox con el atributo checked #}
                    <input type="checkbox" id="checkboxStudiesCertificate" checked>
                    <label>Comprobante de Estudios</label>
                {# verifica si no existe la url para el comprobante #}
                <div v-if="employee.studies_certificate[0].url==null">
                {# si no existe habilita el input file #}
                    <input type="file" id="fileStudiesCertificate" class="inputfile">
                    </input>
                </div>
                <div v-else>
                {# si existe el url habilita el boton de descargar y eliminar #}
                    <button class="btn btn-primary" id='buttonDownloadStudiesCertificate' @click="downloadStudies">
                    <span class="fa fa-download" aria-hidden="true"></span> Descargar
                    </button>
                    <button class="btn btn-primary" id='btnDeleteSudiesCertificate' @click="deleteStudies">
                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Eliminar
                    </button>
                </div>
                </div>
                <div v-else>
                {# si no existe el comprobante crea el checkbox sin el atributo checked  #}
                    <input type="checkbox" id="checkboxStudiesCertificate">
                    <label>Comprobante de Estudios</label>
                {# crea el input file para el checkbox vacio  #}
                    <input type="file" id="fileStudiesCertificate" class="inputfile">
                    </input>
                    </div>
                {# Comprobante de Domicilio #}
                {# verifica si existe el comprobante #}
                    <div v-if="employee.address_proof.length==1">
                {# si existe el comprobante crea el checkbox con el atributo checked #}
                    <input type="checkbox" id="checkboxAddressProof" checked>
                    <label>Comprobante de Domicilio</label>
                {# verifica si no existe la url para el comprobante #}
                    <div v-if="employee.address_proof[0].url==null">
                {# si no existe habilita el input file #}
                    <input type="file" id="fileAddressProof" class="inputfile">
                    </input>
                </div>
                <div v-else>
                {# si existe el url habilita el boton de descargar y eliminar #}
                    <button class="btn btn-primary" id='buttonDownloadAddressProof' @click="downloadAddress">
                    <span class="fa fa-download" aria-hidden="true"></span> Descargar
                    </button>
                    <button class="btn btn-primary" id='btnDeleteAddressProof' @click="deleteAddress">
                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Eliminar
                    </button>
                </div>
                </div>
                <div v-else>
                {# si no existe el comprobante crea el checkbox sin el atributo checked  #}
                    <input type="checkbox" id="checkboxAddressProof">
                    <label>Comprobante de Domicilio</label>
                {# crea el input file para el checkbox vacio  #}
                    <input type="file" id="fileAddressProof" class="inputfile">
                    </input>
                </div>
                {# Carta de Recomendacion #}
                {# verifica si existe la carta #}
                <div v-if="employee.letter_recomendation.length==1">
                {# si existe la carta, crea el checkbox con el atributo checked #}
                    <input type="checkbox" id="checkboxLetterRecomendation" checked>
                    <label>Carta de Recomendacion</label>
                {# verifica si no existe la url para la carta #}
                <div v-if="employee.letter_recomendation[0].url==null">
                {# si no existe habilita el input file #}
                    <input type="file" id="fileLetterRecomendation" class="inputfile">
                    </input>
                </div>
                <div v-else>
                {# si existe el url habilita el boton de descargar y eliminar #}
                    <button class="btn btn-primary" id='buttonDownloadLetterRecomendation' @click="downloadRecommendation">
                    <span class="fa fa-download" aria-hidden="true"></span> Descargar
                    </button>
                    <button class="btn btn-primary" id='btnDeleteLetterRecomendation' @click="deleteRecomendation">
                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Eliminar
                    </button>
                </div>
                </div>
                <div v-else>
                {# si no existe la carta, crea el checkbox sin el atributo checked  #}
                    <input type="checkbox" id="checkboxLetterRecomendation" >
                    <label>Carta de Recomendacion</label>
                {# crea el input file para el checkbox vacio  #}
                    <input type="file" id="fileLetterRecomendation" class="inputfile">
                    </input>
                </div>
            </dl>
        </div>
    </div>
        <div v-else>
            <dl id="checkboxes">
                <dt>Documentos</dt>
                <div>
                {# crea el checkbox sin el atributo checked  #}
                    <input type="checkbox" id="checkboxBirthCertificate">
                    <label>Acta de Nacimiento</label>
                {# crea el input file para el checkbox vacio  #}
                    <input type="file" id="fileBirthCertificate" class="inputfile" >
                    </input>
                </div>
                <div>
                {# crea el checkbox sin el atributo checked  #}
                    <input type="checkbox" id="checkboxCurriculum">
                    <label>Currículum y/o Solicitud Elaborada</label>
                {# crea el input file para el checkbox vacio  #}
                    <input type="file" id="fileCurriculum" class="inputfile">
                    </input>
                </div>
                <div>
                {# crea el checkbox sin el atributo checked  #}
                    <input type="checkbox" id="checkboxVotingLisense">
                    <label>Credencial de Elector</label>
                {# crea el input file para el checkbox vacio  #}
                    <input type="file" id="fileVotingLisense" class="inputfile">
                    </input>
                </div>
                <div>
                {# crea el checkbox sin el atributo checked  #}
                    <input type="checkbox" id="checkboxStudiesCertificate">
                    <label>Comprobante de Estudios</label>
                {# crea el input file para el checkbox vacio  #}
                    <input type="file" id="fileStudiesCertificate" class="inputfile">
                    </input>
                </div>
                <div>
                {# crea el checkbox sin el atributo checked  #}
                    <input type="checkbox" id="checkboxAddressProof">
                    <label>Comprobante de Domicilio</label>
                {# crea el input file para el checkbox vacio  #}
                    <input type="file" id="fileAddressProof" class="inputfile">
                    </input>
                </div>
                <div>
                {# crea el checkbox sin el atributo checked  #}
                    <input type="checkbox" id="checkboxLetterRecomendation">
                    <label>Carta de Recomendacion</label>
                {# crea el input file para el checkbox vacio  #}
                    <input type="file" id="fileLetterRecomendation" class="inputfile">
                    </input>
                </div>
            </dl>
        </div>
    
    
