
<div class="form-group">
    <label for="payment_period_id">Periodicidad del Pago:</label>
    <vue-selectize-js
    ref="employee.payment_period_id"
    selectize-type="select"
    v-bind:selectize-settings="paymentPeriodSelectize.settings"
    v-bind:selectize-options="data.paymentPeriods"
    v-bind:selectize-enabled="paymentPeriodSelectize.enabled"
    v-model="employee.payment_period_id"

    {# @change="clearEmployeeError('Periodicidad')" #}>
</vue-selectize-js>
{# <span v-if="employeeValidatorErrors != null"  class="error-validate" :class="employeeErrorsClass">
${ employeeValidatorErrors.first('Periodicidad') }
</span> #}
</div>
<div class="form-group">
    <label for="contract_id">Tipo de Contrato:</label>
    <vue-selectize-js
    ref="employee.contract_id"
    selectize-type="select"
    v-bind:selectize-settings="contractSelectize.settings"
    v-bind:selectize-options="data.contracts"
    v-bind:selectize-enabled="contractSelectize.enabled"
    v-model="employee.contract_id"
    {# @change="clearEmployeeError('Contrato')" #}>
</vue-selectize-js>
{# <span v-if="employeeValidatorErrors != null"  class="error-validate" :class="employeeErrorsClass">
${ employeeValidatorErrors.first('Contrato') }
</span> #}
</div>
<div class="form-group">
    <label for="working_day_id">Tipo de Jornada:</label>
    <vue-selectize-js
    ref="employee.working_day_id"
    selectize-type="select"
    v-bind:selectize-settings="workingDaySelectize.settings"
    v-bind:selectize-options="data.workingDays"
    v-bind:selectize-enabled="workingDaySelectize.enabled"
    v-model="employee.working_day_id"

    {# @change="clearEmployeeError('Periodicidad')" #}>
</vue-selectize-js>
{# <span v-if="employeeValidatorErrors != null"  class="error-validate" :class="employeeErrorsClass">
${ employeeValidatorErrors.first('Periodicidad') }
</span> #}
</div>
<div class="form-group">
    <label for="type_regime_id">Régimen de Contratación:</label>
    <vue-selectize-js
    ref="employee.type_regime_id"
    selectize-type="select"
    v-bind:selectize-settings="typesRegimeSelectize.settings"
    v-bind:selectize-options="data.typesRegimes"
    v-bind:selectize-enabled="typesRegimeSelectize.enabled"
    v-model="employee.type_regime_id"

    {# @change="clearEmployeeError('Periodicidad')" #}>
</vue-selectize-js>
{# <span v-if="employeeValidatorErrors != null"  class="error-validate" :class="employeeErrorsClass">
${ employeeValidatorErrors.first('Periodicidad') }
</span> #}
</div>
<div class="form-group">
    <label for="position_risk_id">Riesgo del Puesto:</label>
    <vue-selectize-js
    ref="employee.position_risk_id"
    selectize-type="select"
    v-bind:selectize-settings="positionRiskSelectize.settings"
    v-bind:selectize-options="data.positionRisks"
    v-bind:selectize-enabled="positionRiskSelectize.enabled"
    v-model="employee.position_risk_id"
    {# @change="clearEmployeeError('Periodicidad')" #}>
</vue-selectize-js>
{# <span v-if="employeeValidatorErrors != null"  class="error-validate" :class="employeeErrorsClass">
${ employeeValidatorErrors.first('Periodicidad') }
</span> #}
</div>

