{% extends "/HumanResources/Partials/box.twig" %}
{% block boxTitle %}Historial Educativo{% endblock %}
{% block boxContent %}
<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
        <div class="box-form">
            <h3 class="panel-title"></h3>
            <div class="form-group">
                <label for="">Inst. Educativa:</label>
                <input type="text" v-model="studiesHistory.institution" @keypress="clearStudiesHistoryError('Institucion')">
                <span class="error-validate" :class="studiesErrorsClass" v-if="studiesHistoryValidatorErrors != null">
                    ${ studiesHistoryValidatorErrors.first('Institucion') }
                </span>
            </div>
            <div class="form-group">
                <label for="">Carrera:</label>
                <input type="text" v-model="studiesHistory.grade" @keypress="clearStudiesHistoryError('Carrera')">
                <span class="error-validate" :class="studiesErrorsClass" v-if="studiesHistoryValidatorErrors != null">${ studiesHistoryValidatorErrors.first('Carrera') }</span>
            </div>
            <div class="form-group">
                <label for="studies" >Nivel de Estudios:</label>
                <vue-selectize-js
                    ref="employee.studies"
                    selectize-type="select"
                    v-bind:selectize-settings="studiesSelectize.settings"
                    v-bind:selectize-options="studiesSelectize.options"
                    v-bind:selectize-enabled="studiesSelectize.enabled"
                    v-model="employee.studies"
                    @change="clearEmployeeError('Estudios')">
                </vue-selectize-js>
                <span v-if="employeeValidatorErrors != null"  class="error-validate" :class="employeeErrorsClass">
                    ${ employeeValidatorErrors.first('Estudios') }
                </span>
            </div>
            <div class="form-group">
                <label for="">Fecha de inicio:</label>
                <el-date-picker
                    v-model="studiesHistory.start_date"
                    type="month"
                    :picker-options="birthdayDatePickerOptions"
                    @pick="clearStudiesHistoryError('Fecha de inicio')"
                    placeholder="Seleccione el día">
                </el-date-picker>
                <span class="error-validate" :class="studiesErrorsClass" v-if="studiesHistoryValidatorErrors != null">
                    ${ studiesHistoryValidatorErrors.first('Fecha de inicio') }
                </span>
            </div>
            <div class="form-group">
                <label for="">Fecha en que finalizó:</label>
                <el-date-picker
                    v-model="studiesHistory.end_date"
                    type="month"
                    :picker-options="birthdayDatePickerOptions"
                    @pick="clearStudiesHistoryError('Fecha en que finalizo')"
                    placeholder="Seleccione el día">
                </el-date-picker>
                <span class="error-validate" :class="studiesErrorsClass" v-if="studiesHistoryValidatorErrors != null">
                        ${ studiesHistoryValidatorErrors.first('Fecha en que finalizo') }
                </span>
            </div>
            <div class="form-group">
                <label for="">Comentarios:</label>
                <input type="text" v-model="studiesHistory.comment" @keypress="clearStudiesHistoryError('Comentarios')">
                <span class="error-validate" :class="studiesErrorsClass" v-if="studiesHistoryValidatorErrors != null">${ studiesHistoryValidatorErrors.first('Comentarios') }</span>
            </div>
        </div>
        <div class="box-btn">
            <div class="row noMargin">
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 noPadding">
                    <button class="btn btn-primary block" @click="studiesHistoryValidate()" >
                        <span class="fa fa-floppy-o"></span> Agregar
                    </button>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 noPadding">
                    <button class="btn btn-warning block" @click="cancelStudiesHistory" >
                        <span class="fa fa-ban"></span> Cancelar
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
        <div class="box-table">
            <vue-dynamic-table
                class-name="table table-striped"
                :pagination-options="studiesHistoriesTablePageOptions"
                @go-to-page="goToPageStudiesHistoriesTable"
                :data-model="chunksListStudiesHistories()[studiesHistoriesTablePageOptions.currentPage - 1]"
                :columns="studiesHistoriesTableColumnsModel" >
                <template slot="no-rows-found">
                    No se encontraron registros
                </template>
                <template slot="actions" scope="row">
                    <div class="text-right">
                        <a role="button" @click="editStudiesHistory(row.index)">
                            <span class="fa fa-pencil"></span>
                        </a>
                        <a role="button" @click="askForDeleteStudiesHistory(row.index)">
                            <span class="fa fa-remove"></span>
                        </a>
                    </div>
                </template>
            </vue-dynamic-table>
        </div>
    </div>
</div>
{% endblock %}
