{% block body %}
<section>
    <div id="employee-module">
        <div class="header-buttons">
            <div class="btn-group main-buttons">
                <a id="btnNewEmployee"
                    role="button"
                    class="btn btn-success"
                    data-action="openLateral"
                    data-route="recursosHumanos/empleados/nuevo">
                    <i class="fa fa-plus " aria-hidden="true"></i> Agregar Empleado
                </a>
            </div>
        </div>
        <div class="panel-content">
            <vue-dynamic-table-rbc
                box-classes="box box-content full-height box box-primary"
                class-name="table table-bordered table-hover"
                :remote-method="ajaxEmployeeSearch"
                :source-columns="employeeSourceColumns"
                :select-options="catalogs"
                :data-model="employeeList"
                :total-results="employeeResults">
                <template slot="emails_personal" scope="row">
                    ${row.object.emails_personal}
                </template>
                <template slot="phonePersonal" scope="row">
                    ${row.object.phones_personal.phone}
                </template>
                <template slot="phoneMovile" scope="row">
                    ${row.object.cells_personal.phone}
                </template>
                <template slot="phoneWork" scope="row">
                    ${row.object.phones_work.phone}
                </template>
                <template slot="address" scope="row">
                    <div class="expand">
                        ${ row.object.full_address}
                    </div>
                </template>
                <template slot="actions" scope="row">
                    <div class="ui-button bg-Light-Blue overflowInherit">
                        <div class="secondary">
                            <a
                                role="button"
                                class="has-tooltip btn align-right"
                                data-tooltip="Editar"
                                v-on:click="onEditClick(row.object.id)">
                                <span class="glyphicon glyphicon-edit"></span>
                            </a>
                            <a
                                class="has-tooltip btn align-right"
                                data-tooltip="Eliminar"
                                role="button"
                                v-on:click="onRemoveClick(row)">
                                <span class="glyphicon glyphicon-trash"></span>
                            </a>
                        </div>
                    </div>
                </template>
            </vue-dynamic-table-rbc>
        </div>
    </div>
</section>
{% endblock %}
{% block loadScripts %}
<script id="scriptContainer" type="text/javascript">
var catalogs = {{ catalogs|json_encode|raw }};
init.length = 0;
init = [ {
    title: 'Listado Empleados',
    file:  'HumanResources/Employees/employeeList.js',
    functions: [ {
        name: 'initEmployeeListModule',
        args: [catalogs]
    } ]
} ];
</script>
{% endblock %}
