<table id="report-table" style="width: 100%;">
    <tr>
        <th style="width: 100%; text-align: center; border-bottom: none;"
            colspan="6">
            ${ company_name }
        </th>
    </tr>
    <tr>
        <th style="width: 100%; text-align: center; border-bottom: solid; border-width: thin; border-color: #dfe6ec"
            colspan="6">
            ${ report_name }
        </th>
    </tr>
    <tr>
        <th class="account-description"
            style="width: 36%;
                   text-indent: 1em;
                   text-align: left;">
                   Cuenta
        </th>
        <th class="regular-column"
            style="width: 16%;
                   text-align: center;">
                   1
        </th>
        <th class="regular-column"
            style="width: 16%;
                   text-align: center;">
                   2
        </th>
        <th class="regular-column"
            style="width: 16%;
                   text-align: center;">
                   3
        </th>
        <th class="regular-column"
            style="width: 16%;
                   text-align: center;">
                   4
        </th>
    </tr>
    <template v-for="(nature, nkey) in natures">
        <tr>
            <td class="account-header">
                ${ nature.name }
            </td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <template v-for="(classification, ckey) in nature.data">
            <tr>
                <td class="account-classification">
                    ${ classification.name }
                </td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <template v-for="(account, akey) in classification.data">
                <tr>
                    <td class="account">
                        ${ account.name }
                    </td>
                    <td></td>
                    <td :class="classification.data[parseInt(akey) + 1] == undefined ? 'heavy-underline' : ''">
                        <span v-if="akey == 0"
                              style="float: left;">
                              $
                        </span>
                        ${ numberWithSpaces(account.balance) }
                    </td>
                    <td :class="nature.data[parseInt(ckey) + 1] == undefined && classification.data[parseInt(akey) + 1] == undefined ? 'heavy-underline' : ''">
                        <template v-if="classification.data[akey + 1] == undefined">
                            ${ numberWithSpaces(getTotal('classification-balance', nature.name, classification.name)) }
                        </template>
                    </td>
                    <td :class="nkey == 'Acreedora' && nature.data[parseInt(ckey) + 1] == undefined && classification.data[akey + 1] == undefined ? 'heavy-underline' : ''">
                        <template v-if="nature.data[parseInt(ckey) + 1] == undefined && classification.data[akey + 1] == undefined">
                            ${ numberWithSpaces(getTotal('nature-balance', nature.name)) }
                        </template>
                    </td>
                </tr>
            </template>
        </template>
    </template>
    <tr>
        <td class="account-header">
            Capital contable
        </td>
        <td></td>
        <td></td>
        <td></td>
        <td :class="account_capital() < 0 ? 'negative' : ''"
            style="border-bottom: double;">
            <span style="float: left;">
                $
            </span>
            <b>${ numberWithSpaces(account_capital()) }</b>
        </td>
    </tr>
</table>
