{% block body %}
    <section>

        {% include( 'crm/teams/partials/buttonAdd.twig' ) %}
        <div class="panel-content">
            {% include( 'crm/Teams/partials/list.twig' ) %}
        </div>
    </section>
{% endblock %}
{% block loadScripts %}
    <script id="scriptContainer" type="text/javascript">
        init.lenght = 0;
        init = [ {
            title: 'Equipos',
            file: 'CrmJs/Teams/Teams.js',
            functions: [ {
                name: 'initListTeams'
            } ]
        } ];
    </script>
{% endblock %}
