<section>
    <div  id="formWorkingDay">
        <div class="header-buttons">
            <div class="btn-group main-buttons">
                <button
                    class="btn btn-success"
                    @click="workingDayValidate">
                    <span class="glyphicon glyphicon-ok"></span>
                    Guardar
                </button>
                <button
                    class="btn btn-danger"
                    data-action="closeTab">
                    <span class="glyphicon glyphicon-remove"></span>
                    Cancelar
                </button>
            </div>
        </div>
        <div class="panel-content">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Datos del tipo de Jornada Laboral</h3>
                    </div>
                    <form v-on:submit.prevent="workingDayValidate('formWorkingDay')" id="">
                        <div class="modal-body">
                            <input type="hidden" name="id" v-model="workingDay.id">
                            <div class="form-group">
                                <label for="contractType">Tipo de Jornada:</label>
                                <input v-model="workingDay.c_TipoJornada" class="form-control" type="text" name="" @keypress="clearWorkingDayValidatorError('c_TipoJornada')">
                                <span v-if="workingDayValidatorErrors != null" class="cRed">
                                    ${ workingDayValidatorErrors.first('c_TipoJornada') }
                                </span>
                            </div>
                            <div class="form-group">
                                <label for="contract_description">Descripción:</label>
                                <input v-model="workingDay.description" class="form-control" type="text" name="" @keypress="clearWorkingDayValidatorError('Descripción')">
                                <span v-if="workingDayValidatorErrors != null" class="cRed">
                                    ${ workingDayValidatorErrors.first('Descripción') }
                                </span>
                            </div>
                        </div>
                    </form>
                </div>
        </div>
    </div>
</section>

<script id="scriptContainer" type="text/javascript">
    uiVars['title'] = '{{title}}';
    uiVars['view'] = {{view}};
    uiVars['data']   = {{data|json_encode|raw}};
    init.lenght = 0;
    init = [ {
        title: uiVars['title'],
        file: 'Payroll/WorkingDays/form.js',
        functions: [ {
            name: 'initFormWorkingDays',
            args: [ uiVars['data'], uiVars['view']]
        } ]
    } ];
</script>
