<section>
    <div id="indexTypeIncapacity">
        <div class="header-buttons">
            <div class="btn-group main-buttons">
                <a
                    id="btnPayPer"
                    role="button"
                    class="btn btn-success"
                    data-action="openLateral"
                    data-panelsize="sm"
                    data-route="nominas/jornadas/nuevo"
                    @click="addIncapacity">
                    <i class="fa fa-plus " aria-hidden="true"></i>
                    Agregar Tipo de Jornada Laboral
                </a>
            </div>
        </div>
        <div class="panel-content">
            {% include '/HumanResources/Partials/catalog-table.twig' %}
        </div>
    </div>
</section>
<script id="scriptContainer" type="text/javascript">
	uiVars['title'] = '{{title}}';
    init.lenght = 0;
    init = [ {
        title: uiVars['title'],
		file: 'Payroll/WorkingDays/list.js',
		functions: [ {
			name: 'initWorkingDaysList',
			args: []
		} ]
	} ];
</script>
