<div ref="modalPurchase" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Comprar Productos</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group req">
                            <label for="warehouse">Almacen</label>
                            <el-select v-model="warehouse" filterable placeholder="Seleccione...">
                                <el-option
                                v-for="item in warehouses"
                                :key="item.id"
                                :label="item.name"
                                :value="item.id">
                                </el-option>
                            </el-select>
                            <input
                                type="hidden"
                                name="warehouse"
                                v-model="warehouse"
                                v-validate="'required'"
                                data-vv-as="Almacén"
                                :class="{'validate': errors.has('warehouse') }">
                            <span class="cRed" v-show="errors.has('warehouse')">${ errors.first('warehouse') }</span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group req">
                            <label for="provider">Proveedor</label>
                            <el-select v-model="provider" filterable placeholder="Seleccione...">
                                <el-option
                                v-for="item in providers"
                                :key="item.id"
                                :label="item.legal_name"
                                :value="item.id">
                                </el-option>
                            </el-select>
                            <input
                                type="hidden"
                                name="provider"
                                v-model="provider"
                                v-validate="'required'"
                                data-vv-as="Proveedor"
                                :class="{'validate': errors.has('provider') }">
                            <span class="cRed" v-show="errors.has('provider')">${ errors.first('provider') }</span>
                        </div>
                    </div>
                </div>
                <div v-if="selectedRow" class="table-responsive">
                    <table class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>Comprar</th>
                                <th>Código</th>
                                <th>Nombre</th>
                                <th>Costo U.</th>
                                <th>Cantidad</th>
                                <th>Subtotal</th>
                            </tr>
                        </thead>       
                        <tbody>
                            <tr v-for="item in selectedRow.details">
                                <td>  
                                    <div v-if="item.is_purchased == 0" class="form-group">
                                        <input type="checkbox" v-model="item.checked">
                                    </div>
                                    <span v-else class="badge label-success">Comprado</span>
                                </td>
                                <td> ${ item.code } </td>
                                <td> ${ item.name } </td>
                                <td>$ ${ Number(item.unit_cost).toLocaleString('es-MX') } </td>
                                <td>$ ${ Number(item.quantity).toLocaleString('es-MX') } </td>
                                <td>$ ${ Number(item.subtotal).toLocaleString('es-MX') } </td>
                            </tr>
                        </tbody> 
                    </table>
                </div>
                <div class="radio">
                    <label><input type="radio" value="1" name="radioOption" v-model="creationOption">Crear Orden de Compra </label>
                    <el-tooltip content="Documento que se envia al proveedor para confirmar lo solicitado." placement="top">
                        <i class="fa fa-question-circle" aria-hidden="true"></i>
                    </el-tooltip>
                </div>
                <div class="radio">
                    <label><input type="radio" value="2" name="radioOption" v-model="creationOption">Crear Compra </label> 
                    <el-tooltip content="Documento final de una orden de compra concretada." placement="top">
                        <i class="fa fa-question-circle" aria-hidden="true"></i>
                    </el-tooltip>
                </div>
                <p><strong>Instrucciones:</strong> Seleccione el almacén solicitante, proveedor y los productos requeridos<br> para enviar a una Orden de Compra/Compra.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-success" @click="createPurchase()">Crear Documento</button>
            </div>
        </div>
    </div>
</div>