<template slot="expanded-row" scope="row">
    <div>
        <div class="col-md-12">
            <h4>Detalle de Productos</h4>
            <table class="table">
                <thead>
                    <tr>
                        <th>Codigo de Barras</th>
                        <th>Producto</th>
                        <th>Descripción</th>
                        <th>Unidades</th>
                        <th>Precio Por unidades</th>
                        <th>Cantidad</th>
                        <th>Subtotal</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="item in row.object.details">
                        <td>${ item.barcode }</td>
                        <td>${ item.name }</td>
                        <td><div class="col-lg expand">${ item.description }</div></td>
                        <td>${ item.unit }</td>
                        <td>${ item.unit_cost }</td>
                        <td>${ item.quantity }</td>
                        <td>${ item.subtotal }</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</template>
<template slot="comment" scope="row">
    <div class="expand">
        ${row.object.comment}
    </div>
</template>
<template slot="actions" scope="row">
    <div class="ui-button bg-Light-Blue overflowInherit">
        <div class="secondary">
            <a
                class="has-tooltip btn align-right"
                data-tooltip="Editar"
                @click="editRequisition(row.object.id)"
                role="button">
                <i
                    class="glyphicon glyphicon-edit"
                    aria-hidden="true">
                </i>
            </a>
            <a
                role="button"
                v-on:click="showFiles(row.object.id)"
                class="has-tooltip btn align-right"
                data-tooltip="Ver Documentos">
                <i
                    class="fa fa-lg fa-folder-open"
                    aria-hidden="true">
                </i>
            </a>
            <a
                role="button"
                class="has-tooltip btn align-right"
                data-tooltip="Imprimir"
                @click="printRequisition(row.object)">
                <i
                    class="fa fa-lg fa-print"
                    aria-hidden="true">
                </i>
            </a>
        </div>
    </div>
</template>
<template slot="status" scope="row">
    <el-popover
        ref="popover-status"
        placement="right"
        width="200"
        trigger="click">
        <el-select v-model="selectedStatus" placeholder="Selecciona Estatus">
            <el-option
                v-for="item in statusOptions"
                :key="item.id"
                :label="item.name"
                :value="item.id">
            </el-option>
        </el-select>
        {# <div v-if="row.object.purchase_requisition_status_id !== 2 && selectedStatus === 2">  
            <label for=""><i class="fa fa-user" aria-hidden="true"></i> Usuario</label>
            <input class="block" type="text">
            <label for=""><i class="fa fa-key" aria-hidden="true"></i> Contraseña</label>
            <input class="block" type="password">
        </div>
        <div class="form-group">
            <label>Nota</label>
            <textarea v-model="comment" placeholder="Ingrese una nota" style="width: 100%"> </textarea>
        </div> #}
        <el-button style="margin-top: 5px;" @click="changeStatus(row.object)" size="small" class="btn-block" type="primary">Guardar</el-button>
    </el-popover>
    <el-button :type="(row.object.purchase_requisition_status_id == 2) ? 'primary' : 'default'" class="block" @click="showStatus(row.object.status.id)" size="mini" v-popover:popover-status> ${ (row.object.status) ? row.object.status.name : 'Sin Estatus' }</el-button>
</template>
<template slot="progress" scope="row">
    <el-progress v-if="row.object.details.length > 0" :text-inside="true" :stroke-width="18" :percentage="calcProgress(row.object.details)"></el-progress>
</template>
<template slot="purchase" scope="row">
    <el-button @click="showPurchaseModal(row.object)" v-if="row.object.purchase_requisition_status_id == 2" class="btn-block" type="success" size="mini">
        <i class="fa fa-shopping-cart" aria-hidden="true"></i>
        Comprar
    </el-button>
    <div v-else>Sin Autorizar</div>
</template>
