{% block body %}
    <section>

        {% include( 'crm/ActivityCategories/partials/buttonAddActivity.twig' ) %}
        <div class="panel-content">
            {% include( 'crm/ActivityCategories/partials/list.twig' ) %}
        </div>
    </section>
{% endblock %}
{% block loadScripts %}
    <script id="scriptContainer" type="text/javascript">
        init.lenght = 0;
        init = [ {
            title: 'actividades',
            file: 'CrmJs/ActivityCategories/activityCategories.js',
            functions: [ {
                name: 'initListActivities'
            } ]
        } ];

        $("#btn_Activity").click(function() {
            $('#TitleModal').text('Nueva Actividad');
        });
    </script>
{% endblock %}
