<div class="header-buttons">
    <div class="btn-group main-buttons">
        <a id="btn_CustomerTag" role="button" class="btn btn-success pull-left"
        data-action="openLateral"
        data-route="crm/catalogos/customer-tags/Add"
        data-panelsize="xs">
           Nueva Tipos de Cliente</a>
    </div>
</div>
