{% block content %}
    <section id="formCustomerTag">
        <div class="box box-default">
            <div class="box-header">
                <h3 class="box-title">{% if Editar == 1 %} Editar Tipo de cliente {% else %} Nueva Tipo de cliente {% endif %}</h3>
                <div class="box-tools pull-right">

                </div>
            </div>
            <div class="box-body">
                <div class="modal-body">
                      <div class="form-group">
                          <label for="">Nombre</label>
                          <input type="text" v-model="name">
                      </div>
                </div>
            </div>
            <div class="box-footer">
                <button type="button" class="btn btn-default" v-on:click="saveOrEditActivity">Guardar</button>
            </div>
        </div>
    </section>
{% endblock %} {% block loadScripts %}
    <script id="scriptContainer" type="text/javascript">
    var editar =uiVars['Editar'] = {{ Editar|json_encode|raw }};
    var title;
        if(editar == 1){ title = 'Editar Tipo de cliente' }else{ title ='Nuevo Tipo de cliente'}
    uiVars['CustomerTags'] = {{ CustomerTags|json_encode|raw }};
        init.lenght = 0;
        init = [{
            title: title,
            file: 'CrmJs/CustomerTags/customerTags.js',
            functions: [{
                name: 'initFormCustomerTags',
                args: [
                    uiVars['CustomerTags']
                ]
            }]
        }];
    </script>
{% endblock %}
