{% block body %}
    <section>
        {% include( 'Warehouse/PackagingTypes/partials/buttonadd.twig' ) %}
        <div class="panel-content">
            {% include( 'Warehouse/PackagingTypes/partials/list.twig' ) %}
        </div>
    </section>
{% endblock %}
{% block loadScripts %}
    <script id="scriptContainer" type="text/javascript">
        init.lenght = 0;
        init = [ {
            title: 'Tipos de empaquetados',	
            file: 'Warehouse/PackagingTypes/packagingTypes.js',
            functions: [ {
                name: 'initList',
                args: []
            } ]
        } ];
    </script>
{% endblock %}
