{% block content %}
<section id="lines-list-view-container">
    <div class="header-buttons">
        <div class="btn-group main-buttons">
            {% include( 'Warehouse/Lines/buttons.twig' ) %}
        </div>
    </div>
    <div class="panel-content">
        {% include( 'Warehouse/Lines/partials/list.twig' ) %}
    </div>
</section>
{% endblock %}
{% block loadScripts %}
    <script id="scriptContainer" type="text/javascript">
        init.length = 0;
        init = [ {
            title: 'Líneas',
            file: 'Warehouse/Lines/lines.js',
            functions: [ {
                name: 'initListVue',
                args: [ ]
            } ]
        } ];
    </script>
{% endblock %}
