{% block content %}
    <div id="pedido-modulo-lista">
        <div class="header-buttons">
            <div class="btn-group main-buttons">
                <a role="button" @click="nueva()" class="btn btn-success">
                    <span class=""></span> Realizar pedido
                </a>
            </div>
            <div class="btn-group secondary-buttons">
                <a role="button" @click=""  class="btn btn-success">
                    <span class="glyphicon glyphicon-export"></span> Exportar
                </a>
                <a role="button" @click=""  class="btn btn-success">
                    <span class="glyphicon glyphicon-print"></span> Imprimir
                </a>
            </div>
        </div>
        {% include( 'Sale/Partials/list/table.twig' ) %}
        <!-- Modal detail sale -->
        {% include( 'Sale/Partials/list/modalDetails.twig' ) %}
    </div>

{% endblock %}
{% block loadScripts %}
    <script id="scriptContainer" type="text/javascript">
        uiVars['catalogs'] = {{ catalogs|json_encode|raw }};

        init = [ {
            title: 'Peridos a almacén',
            file: 'Sale/requisitionList.js',
            functions: [ {
                name: 'iniciarModuloListRequisitions',
                args: [ uiVars['catalogs'] ]
            } ]
        } ];
        // initModule( init );
    </script>
{% endblock %}
