<section>
    <div id="system-log">
        <div class="header-buttons"></div>
            <div class="panel-content">
                {% include '/HumanResources/ActivityRecord/Partials/metricsRH.twig' %}
            </div>
    </div>
</section>
<script id="scriptContainer" type="text/javascript">
var catalogs = {{ catalogs|json_encode|raw }};
init.length = 0;
init = [ {
    title: 'Listado Log General',
    file:  'HumanResources/ActivityRecord/list.js',
    functions: [ {
        name: 'listMetrics',
        args: [catalogs]
    } ]
} ];
</script>
