{% block sidebar %}

<li class="item-has-children">
    <a
        class="text-bold"
        role="button"
        type="button"
        data-toggle="collapse"
        data-target="#collapseAlmacen"
        aria-expanded="false"
        aria-controls="collapseAlmacen">
        <span class="module-icon ta ta-icon-ta-02 "></span>
        <span class="nav-text">
            Almacenesxd
        </span>
    </a>
    <div class="collapse module-collapse" id="collapseAlmacen">
        <div class="list-group noMargin">
            <ul>
                {#
                <li>
                    <a
                        data-action="openTab"
                        data-module="warehouse"
                        href="?tabs=almacenes/backorders">
                        Backorders
                    </a>
                </li>
                <li>
                    <a
                        class="indent"
                        data-action="openTab"
                        data-module="warehouse"
                        href="?tabs=almacenes/backorders/nuevo">
                        Nuevo Backorder
                    </a>
                </li>
                <li>
                    <a
                        data-action="openTab"
                        data-module="warehouse">
                        Listas de Precios
                    </a>
                </li>
                <li>
                    <a
                        class="indent"
                        data-action="openTab"
                        data-module="warehouse"
                        href="?tabs=precios/crear">
                        Nueva Lista de Precios
                    </a>
                </li>
                <li>
                    <a
                        class="indent"
                        data-action="openTab"
                        data-module="warehouse"
                        href="?tabs=precios">
                        Listado de Listas de Precios
                    </a>
                </li>
                <li>
                    <a
                        data-action="openTab"
                        data-module="warehouse"
                        href="?tabs=almacenes/movimientos">
                        Movimientos
                    </a>
                </li>
                <li>
                    <a
                        class="indent"
                        data-action="openTab"
                        data-module="warehouse"
                        href="?tabs=almacenes/movimientos/nuevo">
                        Nuevo Movimiento
                    </a>
                </li>
                <li>
                    <a
                        class="indent"
                        role="button"
                        data-action="openTab"
                        data-module="warehouse"
                        href="?tabs=almacenes/movimientos">
                        Listado de Movimientos
                    </a>
                </li>
                <li>
                    <a
                        role="button"
                        data-action="openTab"
                        data-module="warehouse"
                        href="?tabs=almacenes/inventarios/actual">
                        Inventario actual
                    </a>
                </li>
                <li>
                    <a
                        data-action="openTab"
                        data-module="warehouse"
                        href="?tabs=/">
                        Inventarios Programados
                    </a>
                </li>
                <li>
                    <a
                        data-action="openTab"
                        data-module="warehouse"
                        href="?tabs=almacenes/inventarios/pendientes">
                        Inventarios Pendientes
                    </a>
                </li>
                <li>
                    <a
                        data-action="openTab"
                        data-module="warehouse"
                        href="?tabs=warehouse/products/list">
                        Lista de productos
                    </a>
                </li>
                <li>
                    <a
                        class="indent"
                        data-action="openTab"
                        data-module="warehouse"
                        href="?tabs=warehouse/products/add">
                        Nuevo Producto
                    </a>
                </li>
                #}
                <li class="item-has-children hover-menu">
                    <a
                        role="button"
                        data-toggle="collapse"
                        data-target="#collapseAlmacenAcciones"
                        aria-expanded="false"
                        aria-controls="collapseAlmacenAcciones">
                        <span class="nav-text h30">
                            Acciones
                        </span>
                    </a>
                    <div class="collapse module-collapse" id="collapseAlmacenAcciones">
                        <div class="list-group inner">
                            <a
                                class="indent"
                                data-action="openTab"
                                data-module="warehouse"
                                href="?tabs=almacenes/movimientos/crear">
                                Nuevo Movimiento
                            </a>
                        </div>
                        <!-- <div class="list-group inner">
                            <a
                                data-action="openTab"
                                data-module="warehouse"
                                href="?tabs=almacenes/backorders/nuevo">Nuevo Backorder</a>
                        </div> -->
                        <div class="list-group inner">
                            <a
                                data-action="openTab"
                                data-module="warehouse"
                                href="?tabs=almacenes/inventarios/programacion">Programar Inventario</a>
                        </div>
                        <div class="list-group inner">
                            <a
                                data-action="openTab"
                                data-module="warehouse"
                                href="?tabs=warehouse/products/add">Nuevo Producto</a>
                        </div>
                        <div class="list-group inner">
                            <a
                                data-action="openTab"
                                data-module="warehouse"
                                href="?tabs=almacenes/proveedores/create">Nuevo Proveedor</a>
                        </div>
                        <div class="list-group inner">
                            <a
                                data-action="openTab"
                                data-module="warehouse"
                                href="?tabs=/precios/crear">Nueva Lista de Precios</a>
                        </div>
                    </div>
                </li>
                <li class="item-has-children hover-menu">
                    <a
                        role="button"
                        data-toggle="collapse"
                        data-target="#collapseAlmacenListados"
                        aria-expanded="false"
                        aria-controls="collapseAlmacenListados">
                        <span class="nav-text h30">
                            Listados
                        </span>
                    </a>
                    <div class="collapse module-collapse" id="collapseAlmacenListados">
                        <div class="list-group inner">
                            <a
                                data-action="openTab"
                                data-module="warehouse"
                                href="?tabs=">Lista de Precios</a>
                        </div>
                        <div class="list-group inner">
                            <a
                                class="list-group-item noBorder"
                                data-action="openTab"
                                data-module="warehouse"
                                href="?tabs=almacenes/movimientos">Movimientos</a>
                        </div>
                        <div class="list-group inner">
                            <a
                                class="list-group-item noBorder"
                                data-action="openTab"
                                data-module="warehouse"
                                href="?tabs=almacenes/backorders">Backorders</a>
                        </div>
                        <div class="list-group inner">
                            <a
                                class="list-group-item noBorder"
                                data-action="openTab"
                                data-module="warehouse"
                                href="?tabs=">Inventarios Programados</a>
                        </div>
                        <div class="list-group inner">
                            <a
                                class="list-group-item noBorder"
                                data-action="openTab"
                                data-module="warehouse"
                                href="?tabs=warehouse/products/list">Lista de productos</a>
                        </div>
                        <div class="list-group inner">
                            <a
                                class="list-group-item noBorder"
                                data-action="openTab"
                                data-module="warehouse"
                                href="?tabs=almacenes/backorders">Ver Backorders</a>
                        </div>
                        <div class="list-group inner">
                            <a
                                class="list-group-item noBorder"
                                data-action="openTab"
                                data-module="warehouse"
                                href="?tabs=almacenes/backorders/nuevo" >Nuevo Backorder</a>
                        </div>
                        <div class="list-group inner">
                            <a
                            class="list-group-item noBorder"
                            data-action="openTab"
                            data-module="warehouse"
                            href="?tabs=almacenes/inventarios/actual" >Inventario actual</a>
                        </div>
                        <div class="list-group inner">
                            <a
                                class="list-group-item noBorder"
                                data-action="openTab"
                                data-module="warehouse"
                                href="?tabs=almacenes/inventarios/programacion" >Programación de Inventario</a>
                        </div>
                        <div class="list-group inner">
                            <a
                                class="list-group-item noBorder"
                                data-action="openTab"
                                data-module="warehouse"
                                href="?tabs=almacenes/inventarios/pendientes">Inventarios Pendientes</a>
                        </div>
                    </div>
                </li>
                <li class="item-has-children hover-menu">
                    <a
                        class="text-bold"
                        role="button"
                        type="button"
                        data-toggle="collapse"
                        data-target="#collapseAlmacenCatalogos"
                        aria-expanded="false"
                        aria-controls="collapseAlmacenCatalogos">
                        <span class="nav-text h30">
                            Catalogos
                        </span>
                    </a>
                    <div class="collapse module-collapse" id="collapseAlmacenCatalogos">
                        <div class="list-group inner">
                            <a
                                data-action="openTab"
                                data-module="warehouse"
                                href="?tabs=warehouse/products">Productos</a>
                        </div>
                        <div class="list-group inner">
                            <a
                                data-action="openTab"
                                data-module="warehouse"
                                href="?tabs=almacenes/proveedores">Proveedores</a>
                        </div>
                        <div class="list-group inner">
                            <a
                                data-action="openTab"
                                data-module="warehouse"
                                href="?tabs=warehouse/warehouse">Almacenes</a>
                        </div>
                        <div class="list-group inner">
                            <a
                                data-action="openTab"
                                data-module="warehouse"
                                href="?tabs=warehouse/categories">Categorías</a>
                        </div>
                        <div class="list-group inner">
                            <a
                                data-action="openTab"
                                data-module="warehouse"
                                href="?tabs=warehouse/marcas">Marcas</a>
                        </div>
                        <div class="list-group inner">
                            <a
                                data-action="openTab"
                                data-module="warehouse"
                                href="?tabs=warehouse/attributes">Atributos</a>
                        </div>
                        <div class="list-group inner">
                            <a
                                data-action="openTab"
                                data-module="warehouse"
                                href="?tabs=warehouse/businessTypes">Giros Comerciales</a>
                        </div>
                        <div class="list-group inner">
                            <a
                                data-action="openTab"
                                data-module="warehouse"
                                href="?tabs=warehouse/mercados">Mercados</a>
                        </div>
                        <div class="list-group inner">
                            <a
                                data-action="openTab"
                                data-module="warehouse"
                                href="?tabs=warehouse/tags">Etiquetas</a>
                        </div>
                        <div class="list-group inner">
                            <a
                                class="list-group-item noBorder"
                                data-action="openTab"
                                data-module="warehouse"
                                href="?tabs=warehouse/lines">Líneas</a>
                        </div>
                        <div class="list-group inner">
                            <a
                                class="list-group-item noBorder"
                                data-action="openTab"
                                data-module="warehouse"
                                href="?tabs=warehouse/groups">Grupos</a>
                        </div>
                        <div class="list-group inner">
                            <a
                                class="list-group-item noBorder"
                                data-action="openTab"
                                data-module="warehouse"
                                href="?tabs=warehouse/productTypes">Tipos de Producto</a>
                        </div>
                        <div class="list-group inner">
                            <a
                                class="list-group-item noBorder"
                                data-action="openTab"
                                data-module="warehouse"
                                href="?tabs=precios">Listas de Precios</a>
                        </div>
                        <div class="list-group inner">
                            <a
                                data-action="openTab"
                                data-module="sistema"
                                href="?tabs=system/units">Unidades de Medida</a>
                        </div>
                    </div>
                </li>
            </ul>
            <!-- <a
                class="list-group-item noBorder"
                data-action="openTab"
                data-module="warehouse"
                href="?tabs=almacenes/inventarios">Listar Inventarios</a> -->
        </div>
    </div>
</li>
<li class="item-has-children">
    <a
        role="button"
        type="button"
        data-toggle="collapse"
        data-target="#collapsePurchase"
        aria-expanded="false"
        aria-controls="collapsePurchase">
        <span class="module-icon ta ta-icon-ta-03 "></span>
        <span class="nav-text">
            Compras
        </span>
    </a>
    <div class="collapse module-collapse" id="collapsePurchase">
        <div class="list-group noMargin">
            <ul>
                <li class="item-has-children">
                    <a
                        role="button"
                        type="button"
                        data-toggle="collapse"
                        data-target="#collapsePurchaseAcciones"
                        aria-expanded="false"
                        aria-controls="collapsePurchaseAcciones">
                        <span class="nav-text h30">
                            Acciones

                        </span>
                    </a>
                    <div class="collapse module-collapse" id="collapsePurchaseAcciones">
                        <div class="list-group inner">
                            <a
                                role="button"
                                data-action="openTab"
                                data-module="compras"
                                href="?tabs=compras/requisiciones/nueva">Nueva Requisición</a>
                        </div>
                        <div class="list-group inner">
                            <a
                                role="button"
                                data-action="openTab"
                                data-module="compras"
                                href="?tabs=compras/nueva">Nueva Compra</a>
                        </div>
                    </div>
                </li>
                <li class="item-has-children">
                    <a
                        role="button"
                        type="button"
                        data-toggle="collapse"
                        data-target="#collapsePurchaseListados"
                        aria-expanded="false"
                        aria-controls="collapsePurchaseListados">
                        <span class="nav-text h30">
                            Listados

                        </span>
                    </a>
                    <div class="collapse module-collapse" id="collapsePurchaseListados">
                        <div class="list-group inner">
                            <a
                                role="button"
                                class="list-group-item noBorder"
                                data-action="openTab"
                                data-module="compras"
                                href="?tabs=compras/requisiciones">Lista de Requisiciones</a>
                        </div>
                        <div class="list-group inner">
                            <a
                                role="button"
                                class="list-group-item noBorder"
                                data-action="openTab"
                                data-module="compras"
                                href="?tabs=compras">Ordenes de Compras</a>
                        </div>
                        <div class="list-group inner">
                            <a
                                role="button"
                                class="list-group-item noBorder"
                                data-action="openTab"
                                data-module="compras"
                                href="?tabs=compras/confirmadas">Lista de Compras</a>
                        </div>
                        <div class="list-group inner">
                            <a
                                role="button"
                                class="list-group-item noBorder"
                                data-action="openTab"
                                data-module="compras"
                                href="?tabs=compras/recepciones">Recepción de Compras</a>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</li>
<li class="item-has-children">
    <a
        role="button"
        type="button"
        data-toggle="collapse"
        data-target="#collapseAccouting"
        aria-expanded="false"
        aria-controls="collapseAccouting">
        <span class="module-icon ta ta-icon-ta-04">
        </span>
        <span class="nav-text">
             Contabilidad
        </span>
    </a>
    <div class="collapse module-collapse" id="collapseAccouting">
        <div class="list-group noMargin">
            <ul>
                <li class="item-has-children">
                    <a
                        role="button"
                        type="button"
                        data-toggle="collapse"
                        data-target="#collapseAccouting2"
                        aria-expanded="false"
                        aria-controls="collapseAccouting2">
                        <span class="nav-text h30">
                            Catálogos
                        </span>
                    </a>
                    <div class="collapse module-collapse" id="collapseAccouting2">
                        <div class="list-group inner">
                            <a
                                role="button"
                                class="list-group-item noBorder"
                                data-action="openTab"
                                data-module="contabilidad"
                                href="?tabs=contabilidad/catalogos/cuentascontables">Cuentas Contables</a>
                        </div>
                         <div class="list-group inner">
                            <a
                                role="button"
                                class="list-group-item noBorder"
                                data-action="openTab"
                                data-module="contabilidad"
                                data-route="contabilidad/catalogos/cuentascontablessat">Cuentas Contables SAT</a>
                            </div>

                         <div class="list-group inner">
                            <a
                                role="button"
                                class="list-group-item noBorder"
                                data-action="openTab"
                                data-module="contabilidad"
                                href="?tabs=contabilidad/impuestos/list">Impuestos Listado</a>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</li>
<li class="item-has-children">
    <a
        role="button"
        type="button"
        data-toggle="collapse"
        data-target="#collapseSales"
        aria-expanded="false"
        aria-controls="collapseSales">
        <span class="module-icon ta ta-icon-ta-05 "></span>
        <span class="nav-text">
            Gestión de Ventas
        </span>
    </a>
    <div class="collapse module-collapse" id="collapseSales">
        <div class="list-group noMargin">
            <ul>
                <li class="item-has-children">
                    <a
                        role="button"
                        type="button"
                        data-toggle="collapse"
                        data-target="#collapseSalesActions"
                        aria-expanded="false"
                        aria-controls="collapseSalesActions">
                        <span class="nav-text h35">
                            Acciones
                        </span>
                    </a>
                    <div class="collapse module-collapse" id="collapseSalesActions">
                        <div class="list-group inner">
                            <a
                                role="button"
                                class="list-group-item noBorder"
                                data-action="openTab"
                                data-module="gventas"
                                data-route="cotizaciones/nueva">Nueva cotización</a>
                        </div>
                        <div class="list-group inner">
                            <a
                                role="button"
                                class="list-group-item noBorder"
                                data-action="openTab"
                                data-module="gventas"
                                href="?tabs=ventas/orden">Orden de venta</a>
                        </div>
                        <div class="list-group inner">
                            <a
                                role="button"
                                class="list-group-item noBorder"
                                data-action="openTab"
                                data-module="gventas"
                                data-route="ventas/nueva">Nueva venta</a>
                        </div>
                    </div>
                </li>
                <li class="item-has-children">
                    <a
                        role="button"
                        type="button"
                        data-toggle="collapse"
                        data-target="#collapseSalesListados"
                        aria-expanded="false"
                        aria-controls="collapseSalesListados">
                        <span class="nav-text h30">
                            Listados

                        </span>
                    </a>
                    <div class="collapse module-collapse" id="collapseSalesListados">
                        <div class="list-group inner">
                            <a
                                role="button"
                                class="list-group-item noBorder"
                                data-action="openTab"
                                data-module="gventas"
                                href="?tabs=ventas">Ventas</a>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</li>
<li class="item-has-children">
    <a
        role="button"
        type="button"
        data-toggle="collapse"
        data-target="#collapseBill"
        aria-expanded="false"
        aria-controls="collapseBill">
        <span class="module-icon ta ta-icon-ta-06 "></span>
        <span class="nav-text">
            Facturación

        </span>
    </a>
    <div class="collapse module-collapse" id="collapseBill">
        <div class="list-group noMargin">
            <ul>
                <li class="item-has-children">
                    <a
                        role="button"
                        type="button"
                        data-toggle="collapse"
                        data-target="#collapseBillListados"
                        aria-expanded="false"
                        aria-controls="collapseBillListados">
                        <span class="nav-text h30">
                            Listados

                        </span>
                    </a>
                    <div class="collapse module-collapse" id="collapseBillListados">
                        <div class="list-group inner">
                            <a
                                role="button"
                                class="list-group-item noBorder"
                                data-action="openTab"
                                data-module="bill"
                                href="?tabs=bill">Facturación</a>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</li>
<li class="item-has-children">
    <a
        role="button"
        type="button"
        data-toggle="collapse"
        data-target="#collapseSalesPoint"
        aria-expanded="false"
        aria-controls="collapseAccouting">
        <span class="module-icon ta ta-icon-ta-07 "></span>
        <span class="nav-text">
            Punto de venta

        </span>
    </a>
    <div class="collapse module-collapse" id="collapseSalesPoint">
        <div class="list-group inner">
            <a
                    role="button"
                    class="list-group-item noBorder"
                    data-action="openTab"
                    data-module="punto-de-venta"
                    href="?tabs=punto-de-venta/cajas">Cajas</a>
        </div>
        <div class="list-group inner">
            <a
                    role="button"
                    class="list-group-item noBorder"
                    data-action="openTab"
                    data-module="punto-de-venta"
                    href="?tabs=punto-de-venta/cajas/nuevo">Nueva Caja</a>
        </div>
        <div class="list-group inner">
            <a
                    role="button"
                    class="list-group-item noBorder"
                    data-action="openTab"
                    data-module="punto-de-venta"
                    href="?tabs=punto-de-venta/cajas/apertura-cierres">Apertura y cierres de cajas</a>
        </div>
    </div>
</li>
<li class="item-has-children">
    <a
        role="button"
        type="button"
        data-toggle="collapse"
        data-target="#collapseHumanResource"
        aria-expanded="false"
        aria-controls="collapseHumanResource">
        <span class="module-icon ta ta-icon-ta-08"></span>
        <span class="nav-text">
            Recursos Humanos
        </span>
    </a>
    <div class="collapse module-collapse" id="collapseHumanResource">
        <div class="list-group noMargin">
            <ul>
              <li>
                  <a
                      role="button"
                      data-action="openTab"
                      data-module="recursos-humanos"
                      data-route="recursos-humanos/empleados">
                      Empleados
                  </a>
              </li>
              <li>
                  <a
                      class="indent"
                      role="button"
                      data-action="openTab"
                      data-module="recursos-humanos"
                      data-route="recursos-humanos/empleados/nuevo">
                      Nuevo Empleado
                  </a>
              </li>
              <a
                      role="button"
                      data-action="openTab"
                      data-module="recursos-humanos"
                      data-route="recursos-humanos/vacantes">
                      Vacantes
                  </a>
              </li>
              <li>
                  <a
                      class="indent"
                      role="button"
                      data-action="openTab"
                      data-module="recursos-humanos"
                      data-route="recursos-humanos/vacantes/nuevo">
                      Nueva Vacante
                  </a>
              </li>
              <li>
                  <a
                      role="button"
                      data-action="openTab"
                      data-module="recursos-humanos"
                      data-route="recursos-humanos/departamentos">
                      Departamentos
                  </a>
              </li>
              <li>
                  <a
                      class="indent"
                      role="button"
                      data-action="openTab"
                      data-module="recursos-humanos"
                      data-route="recursos-humanos/departamentos">
                      Nuevo Departamento
                  </a>
              </li>
              <li>
                  <a
                      role="button"
                      data-action="openTab"
                      data-module="recursos-humanos"
                      data-route="recursos-humanos/puestos">
                      Puestos
                  </a>
              </li>
              <li>
                  <a
                      class="indent"
                      role="button"
                      data-action="openTab"
                      data-module="recursos-humanos"
                      data-route="recursos-humanos/puestos/nuevo">
                      Nuevo Puesto
                  </a>
              </li>
              <li>
                  <a
                      role="button"
                      data-action="openTab"
                      data-module="recursos-humanos"
                      data-route="recursos-humanos/redesSociales">
                      Redes Sociales
                  </a>
              </li>
              <li>
                  <a
                      class="indent"
                      role="button"
                      data-action="openTab"
                      data-module="recursos-humanos"
                      data-route="recursos-humanos/redesSociales">
                      Nueva Red Social
                  </a>
              </li>
            </ul>
        </div>
    </div>
</li>
<li class="item-has-children">
    <a
        role="button"
        type="button"
        data-toggle="collapse"
        data-target="#collapsePayroll"
        aria-expanded="false"
        aria-controls="collapsePayroll">
        <span class="module-icon ta ta-20">
            <span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span><span class="path6"></span><span class="path7"></span>
        </span>
        <span class="nav-text">
            Nómina
            <span class="nav-caret fa fa-caret-down"></span>
        </span>
    </a>
    <div class="collapse bgTransparent module-collapse" id="collapsePayroll">
        <div class="list-group noMargin">
            <ul>
              <li>
                  <a
                      role="button"
                      data-action="openTab"
                      data-module="nominas"
                      data-route="nominas/contratos">
                      Contratos
                  </a>
              </li>
              <li>
                  <a
                      class="indent"
                      role="button"
                      data-action="openTab"
                      data-module="nominas"
                      data-route="nominas/contratos/nuevo">
                      Nuevo Contrato
                  </a>
              </li>
              <li>
                  <a
                      role="button"
                      data-action="openTab"
                      data-module="nominas"
                      data-route="nominas/periodicidades">
                      Periodicidades
                  </a>
              </li>
              <li>
                  <a
                      class="indent"
                      role="button"
                      data-action="openTab"
                      data-module="nominas"
                      data-route="nominas/periodicidades/nuevo">
                      Nuevo Periodicidad
                  </a>
              </li>
              <li>
                  <a
                      role="button"
                      data-action="openTab"
                      data-module="nominas"
                      data-route="nominas/regimenes">
                      Regímenes Fiscales
                  </a>
              </li>
              <li>
                  <a
                      class="indent"
                      role="button"
                      data-action="openTab"
                      data-module="nominas"
                      data-route="nominas/regimenes/nuevo">
                      Nuevo régimen fiscal
                  </a>
              </li>
              <li>
                  <a
                      role="button"
                      data-action="openTab"
                      data-module="nominas"
                      data-route="nominas/deducciones">
                      Tipos de Deducción
                  </a>
              </li>
              <li>
                  <a
                      class="indent"
                      role="button"
                      data-action="openTab"
                      data-module="nominas"
                      data-route="nominas/deducciones/nuevo">
                      Nuevo Tipo de Deducción
                  </a>
              </li>
              <li>
                  <a
                      role="button"
                      data-action="openTab"
                      data-module="nominas"
                      data-route="nominas/horas-extra">
                      Tipos de horas extra
                  </a>
              </li>
              <li>
                  <a
                      class="indent"
                      role="button"
                      data-action="openTab"
                      data-module="nominas"
                      data-route="nominas/horas-extra/nuevo">
                      Nuevo tipo de hora extra
                  </a>
              </li>
              <li>
                  <a
                      role="button"
                      data-action="openTab"
                      data-module="nominas"
                      data-route="nominas/incapacidades">
                      Tipos de Incapacidad
                  </a>
              </li>
              <li>
                  <a
                      class="indent"
                      role="button"
                      data-action="openTab"
                      data-module="nominas"
                      data-route="nominas/incapacidades/nuevo">
                      Nueva Incapacidad
                  </a>
              </li>
              <li>
                  <a
                      role="button"
                      data-action="openTab"
                      data-module="nominas"
                      data-route="nominas/jornadas">
                      Tipos de Jornadas
                  </a>
              </li>
              <li>
                  <a
                      class="indent"
                      role="button"
                      data-action="openTab"
                      data-module="nominas"
                      data-route="nominas/jornadas/nuevo">
                      Nueva Jornada
                  </a>
              </li>
              <li>
                  <a
                      role="button"
                      data-action="openTab"
                      data-module="nominas"
                      data-route="nominas/otros-pagos">
                      Otros Tipos de Pagos
                  </a>
              </li>
              <li>
                  <a
                      class="indent"
                      role="button"
                      data-action="openTab"
                      data-module="nominas"
                      data-route="nominas/otros-pagos/nuevo">
                      Nuevo Otro Tipo de Pago
                  </a>
              </li>
              <li>
                  <a
                      role="button"
                      data-action="openTab"
                      data-module="nominas"
                      data-route="nominas/tipos">
                        Tipos de Nominas
                  </a>
              </li>
              <li>
                  <a
                      class="indent"
                      role="button"
                      data-action="openTab"
                      data-module="nominas"
                      data-route="nominas/tipos/nuevo">
                      Nuevo Tipo de Nominas
                  </a>
              </li>
              <li>
                  <a
                      role="button"
                      data-action="openTab"
                      data-module="nominas"
                      data-route="nominas/percepciones">
                      Tipos de Percepciones
                  </a>
              </li>
              <li>
                  <a
                      class="indent"
                      role="button"
                      data-action="openTab"
                      data-module="nominas"
                      data-route="nominas/percepciones/nuevo">
                      Nuevo Tipo de Percepciones
                  </a>
              </li>
              <li>
                  <a
                      role="button"
                      data-action="openTab"
                      data-module="nominas"
                      data-route="nominas/riesgos-puesto">
                      Riesgos del Puesto
                  </a>
              </li>
              <li>
                  <a
                      class="indent"
                      role="button"
                      data-action="openTab"
                      data-module="nominas"
                      data-route="nominas/riesgos-puesto/nuevo">
                      Nuevo Riesgo del Puesto
                  </a>
              </li>
              <li>
                  <a
                      role="button"
                      data-action="openTab"
                      data-module="nominas"
                      data-route="nominas/tipos-regimen">
                      Tipos de Régimen
                  </a>
              </li>
              <li>
                  <a
                      class="indent"
                      role="button"
                      data-action="openTab"
                      data-module="nominas"
                      data-route="nominas/tipos-regimen/nuevo">
                      Nuevo Tipo de Régimen
                  </a>
              </li>
            </ul>
        </div>
    </div>
  </li>
<li class="item-has-children">
    <a
        role="button"
        type="button"
        data-toggle="collapse"
        data-target="#collapseSystem"
        aria-expanded="false"
        aria-controls="collapseSystem">
        <span class="module-icon ta ta-icon-ta-09"></span>
        <span class="nav-text">
            Sistema
        </span>
    </a>
    <div class="collapse module-collapse" id="collapseSystem">
        <div class="list-group noMargin">
            <ul>
                 <li class="item-has-children">
                    <a
                        role="button"
                        type="button"
                        data-toggle="collapse"
                        data-target="#collapseSystemCatalogos"
                        aria-expanded="false"
                        aria-controls="collapseSystemCatalogos">
                        <span class="nav-text h30">
                            Catálogos
                        </span>
                    </a>
                    <div class="collapse module-collapse" id="collapseSystemCatalogos">
                        <div class="list-group inner">
                            <a
                                role="button"
                                data-action="openTab"
                                data-module="sistema"
                                href="?tabs=customer">Clientes</a>
                        </div>
                        <div class="list-group inner">
                            <a
                                role="button"
                                class="list-group-item noBorder"
                                data-action="openTab"
                                data-module="customer"
                                href="?tabs=customer/nuevo">Nuevo Cliente</a>
                        </div>
                        <div class="list-group inner">
                            <a
                                role="button"
                                data-action="openTab"
                                data-module="sistema"
                                href="?tabs=almacenes/proveedores">Proveedores</a>
                        </div>
                        <div class="list-group inner">
                            <a
                                role="button"
                                data-action="openTab"
                                data-module="sistema"
                                href="?tabs=sistema/bancos">Bancos</a>
                        </div>
                        <div class="list-group inner">
                            <a
                                role="button"
                                data-action="openTab"
                                data-module="sistema"
                                href="?tabs=sistema/monedas">Monedas</a>
                        </div>
                        <div class="list-group inner">
                            <a
                                role="button"
                                data-action="openTab"
                                data-module="sistema"
                                href="?tabs=sistema/metodos-de-pago">Métodos de Pago</a>
                        </div>
                        <div class="list-group inner">
                            <a
                                role="button"
                                data-action="openTab"
                                data-module="sistema"
                                href="?tabs=sistema/condiciones-de-pago">Condiciones de Pago</a>
                        </div>
                                <div class="list-group inner">
                            <a
                                role="button"
                                data-action="openTab"
                                data-module="sistema"
                                href="?tabs=system/units">Unidades de Medida</a>
                        </div>
                        <div class="list-group inner">
                            <a
                                role="button"
                                data-action="openTab"
                                data-module="sistema"
                                href="?tabs=sistema/sucursales">Sucursales</a>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</li>


{% endblock %}
