<div id="tablePackagingTypes">
	<vue-dynamic-table-rbc
        box-classes="box box-primary full-height"
        class-name="table table-bordered table-hover"

        :remote-method="remoteSearch"

        {# FAVORITOS #}
        :favorites="dynamicTableFavorites"
        @save-to-favorites="saveToFavorites"
        @loaded-favorite="loadedFavorite"

        :source-columns="sourceColumns"

        :total-results="totalResults"

        :data-model="listPackagingTypes"
        :pagination-options="{pageSizes: [5, 10], pageSize: 5}"
        >

        <template slot="description" scope="row">
            <div class="expand">
                ${ row.object.description }
            </div>
        </template>

        <template slot="actions" scope="row">
            <div class="ui-button bg-Light-Blue overflowInherit">
                <div class="secondary">
                    <a
                        data-route="javascript:void(0);"
                        class="has-tooltip btn align-right"
                        role="button"
                        data-tooltip="Editar"
                        @click="onEditClick(row.object)">
                        <span class="glyphicon glyphicon-edit"></span>
                    </a>
                    <a
                        class="has-tooltip btn align-right"
                        role="button"
                        data-tooltip="Eliminar"
                        data-route="javascript:void(0);"
                        @click="onRemoveClick(row.object)">
                        <span class="glyphicon glyphicon-trash"></span>
                    </a>
                </div>
            </div>
        </template>

    </vue-dynamic-table-rbc>



</div>