<li class="treeview onhover">
    <a role="button">
        <i class="fa fa-users" aria-hidden="true"></i>
        <span class="text-uppercase">Usuarios</span>
        <span class="pull-right-container">
            <i class="treeview-indent fa fa-angle-right pull-right"></i>
        </span>
    </a>
    <ul class="treeview-menu">
        <li class="child">
            <a
                data-action="openTab"
                data-module="usuarios"
                href="?tabs=usuarios/listado">
                Listado
            </a>
            <!-- <ul class="treeview-menu">
                <li>
                   <a
                       data-action="openTab"
                       data-module="usuarios"
                       href="?tabs=usuarios/registro">
                       Nuevo Usuario
                   </a>
                </li>
                <li>
                   <a
                       data-action="openTab"
                       data-module="usuarios"
                       href="?tabs=usuarios/blocking">
                       Usuarios Bloqueados
                   </a>
                </li>
            </ul> -->
        </li>
    </ul>
</li>
