{% block content %}
<div id="ecommerce-settings-module" v-cloak>
    <div class="header-buttons">
        <div class="btn-group main-buttons">
            <button
                class="btn btn-success"
                @click="askForSaveSettings()">
                <span class="glyphicon glyphicon-floppy-disk"></span>
                Guardar
            </button>
        </div>
    </div>

    <div class="panel-content">
        <h1>Configuracion E-Commerce</h1>
        <div class="row">
            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="form-group">
                            <label for="">Lista de precios:</label>
                            <el-select
                                v-model="settings.priceList"
                                filterable
                                remote
                                placeholder="Please enter a keyword"
                                :remote-method="searchPriceList"
                                :loading="isLoading">
                                <el-option
                                    v-for="priceList in listPriceList"
                                    :key="priceList.id"
                                    :label="priceList.name"
                                    :value="priceList.id">
                                </el-option>
                            </el-select>
                        </div>
                        <div class="form-group">
                            <label for="">Almacenes:</label>
                            <el-select
                                v-model="settings.warehouses"
                                filterable
                                remote
                                multiple
                                placeholder="Please enter a keyword"
                                :remote-method="searchWarehouse"
                                :loading="isLoading">
                                <el-option
                                    v-for="warehouse in listWarehouse"
                                    :key="warehouse.id"
                                    :label="warehouse.name"
                                    :value="warehouse.id">
                                </el-option>
                            </el-select>
                        </div>
                        <div class="form-group">
                            <label for="">Calculo de precio:</label>
                            <el-select
                                v-model="settings.inventoryMethod"
                                placeholder="Please enter a keyword">
                                <el-option
                                    v-for="inventoryMethod in listInventoryMethods"
                                    :key="inventoryMethod.id"
                                    :label="inventoryMethod.name"
                                    :value="inventoryMethod.id">
                                </el-option>
                            </el-select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-body">
                        Recorte
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block loadScripts %}

<script id="scriptContainer" type="text/javascript">
    var args = [];

    {% if inventoryMethods %}
        args.push(
            {{ inventoryMethods | json_encode | raw }}
        );
    {% endif %}

    {% if settings %}
        args.push(
            {{ settings | json_encode | raw }}
        );
    {% endif %}

    init = [
        {
            title: 'Nueva Lista de Precios',
            file: 'ECommerce/settingsModule.js',
            functions: [ {
                name: 'iniciarModuloSettings',
                args: args
            }]
        }
    ];
</script>
{% endblock %}
