{% block content %}
    <section>
        <style>
            #containerAdditionalTag{
                height: 242px;
                overflow: auto;
            }
        </style>
        <div class="row" id="addPacketSide">
            <!-- %CONTENT% -->
            <!-- basic product data -->
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Datos Paquete</h3>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="">Paquete:</label>
                                    <input type="text" class="form-control" name="products_name" id="products_name" placeholder="Paquete">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="">Usuarios:</label>
                                    <input type="number" class="form-control"name="products_id_or_code" id="products_id_or_code" placeholder="Cantidad de Usuarios">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="">Timbres:</label>
                                    <input type="number" class="form-control"name="products_id_or_code" id="products_id_or_code" placeholder="Cantidad de Timbres">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="">Descripcion:</label>
                                    <textarea name="name"></textarea>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="">E-mails:</label>
                                    <input type="number" class="form-control"name="products_id_or_code" id="products_id_or_code" placeholder="Cantidad de E-mails">
                                </div>
                            </div>



                        </div>
                    </div>
                </div>
            </div>
            <!-- / basic product data -->
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Modulos y Secciones por Paquete</h3>
                    </div>
                    <div class="panel-body">
                      <div id="packetModList" class="col-md-3">
                        <h4><i class="fa fa-cubes" aria-hidden="true"></i> Modulos</h4>
                        <form>
                          <ul>
                            <template v-for="modulo in moduleList">
                              <li v-on:click="checkedBoxes"><span><i class="fa fa-circle" aria-hidden="true"></i></span><input type="radio" name="module" v-bind:value="modulo.id"> ${modulo.modulo}</li>
                            </template>
                          </ul>
                      </form>
                        <label>${module}</label>
                        <div class="form-group">
                          <label for="">Modulo:</label>
                          <input type="text" name="modulename" value="" v-model="module">
                        </div>
                        <button class="btn btn-success" type="button" name="button" v-on:click="registerModule">Registrar Modulo</button>
                      </div>
                      <div id="packetPageList" class="col-md-9">
                        <h4>Paginas</h4>
                        <template v-for="page in pageList">
                          <div class="col-md-3">
                            <div class="form-group">
                              <label for="">${page.nombre}</label>
                              <input type="checkbox" name="" v-bind:value="page.id" v-on:click="addPage">
                            </div>
                          </div>

                        </template>
                      </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
              <button class="btn btn-primary" type="button" name="button" v-on:click="registerPacket">Registrar Paquete</button>
              <button class="btn btn-primary" type="button" name="button">Ver Resumen</button>
            </div>
        </div>
        <!-- /%CONTENT% -->
    </section>
{% endblock %}

{% block loadScripts %}
<script id="scriptContainer" type="text/javascript">
    var curMod = "";

    $(document).on('click', '#packetModList li', function() {
        $(this).closest('ul').find('li').each(function(i, l) {
            $(this).removeClass('activeModule');
            $(this).find('span').empty();
            $(this).find('span').append('<i class="fa fa-circle" aria-hidden="true"></i>');
        });

        $(this).toggleClass('activeModule');
        $(this).find('input[type=radio]').prop('checked', true);
        if ($(this).find('input[type=radio]').is(':checked')) {
            $(this).find('span').empty();
            $(this).find('span').append('<i class="fa fa-check-circle" aria-hidden="true"></i>');
            curMod = $(this).find('input[type=radio]').val();
        }
    });

    var packetEl = new Vue({
        el: "#addPacketSide",
        data: {
            moduleList: [],
            pageList: [],
            module: "",
            buildList: []
        },
        mounted: function() {
            this.getModuleList();
            this.getPageList();
        },
        methods: {
            getModuleList: function() {
                $.ajax({
                    url: AJAX_PATH + 'admin/packet/modules',
                    type: 'POST'
                }).done(function(response) {
                    var buildJSON = [];
                    console.log(buildJSON);
                    this.moduleList = response.data;
                    $.each(this.moduleList, function(k, i) {
                        buildJSON[i.id] = {
                            'modulo': i.modulo,
                            'paginas': []
                        };
                    })
                    this.buildList = buildJSON;
                }.bind(this));
                console.log(this.buildList);
            },
            getPageList: function() {
                $.ajax({
                    url: AJAX_PATH + 'admin/packet/pages',
                    type: 'POST'
                }).done(function(response) {
                    this.pageList = response.data;
                }.bind(this));
            },
            registerModule: function() {
                $.ajax({
                    url: AJAX_PATH + 'admin/packet/modules/add',
                    data: {
                        modulo: this.module
                    },
                    type: 'POST'
                }).done(function(response) {
                    console.log(response);
                    this.getModuleList();
                }.bind(this));
            },
            registerPacket: function() {
              alert(1);
            },
            checkedBoxes: function(e) {
                $('#packetPageList input[type=checkbox]').prop('checked', false);
                var valMod = $(e.target).find('input[type=radio]').val();
                $('#packetPageList input[type=checkbox]').each(function(key, val) {
                    if (packetEl.buildList[valMod]['paginas'][$(val).val()] != undefined)
                        $(val).prop('checked', true);
                });

            },
            addPage: function(e) {
                if ($(e.target).is(':checked')) {
                    this.buildList[curMod]['paginas'][$(e.target).val()] = {
                        'status': '1'
                    };
                } else {
                    this.buildList[curMod]['paginas'].splice($(e.target).val(), 1);
                }


            }
        },
        delimiters: ['${', '}']
    })
    </script>
{% endblock %}
