<div class="header-buttons">
    <div class="btn-group main-buttons">
        <button id="openTabNewCompany" role="button" class="btn btn-primary pull-left"
           data-action="openLateral"
           data-route="admin/packet/add"
           data-panelsize="lg"
           type="button">
           Registrar Paquete</button>
    </div>
</div>
