<template slot="account" scope="row">
    <p>${ row.object.name }</p>
</template>

{# Debe #}
<template slot="debit" scope="row">
    <p>
        <span>
            $${ parseFloat(row.object.debit).toFixed(2) }
        </span>
    </p>
</template>

{# Haber #}
<template slot="credit" scope="row">
    <p>
        <span>
            $${ parseFloat(row.object.credit).toFixed(2) }
        </span>
    </p>
</template>

{# Saldo #}
<template slot="balance" scope="row">
    <p>
        <span class="" :class="['', { 'cRed text-bold' : row.object.balance != 0 }]">
            $${  parseFloat(row.object.balance).toFixed(2) }
        </span>
    </p>
</template>


<template slot="actions"
          scope="row">
    <div class="ui-button bg-Light-Blue">
        <div class="secondary">
            <el-tooltip v-if="row.object.has_children"
                        class="item"
                        effect="dark"
                        content="Expandir cuentas auxiliares"
                        placement="top-end">
                <a class="btn"
                   @click="auxiliarAccountSearch(row.object.id)">
                    <i class="fa fa-plus-circle"
                       aria-hidden="true"></i>
                </a>
            </el-tooltip>
            <el-tooltip v-else
                        class="item"
                        effect="dark"
                        content="Revisar movimientos"
                        placement="top-end">
                <a class="btn"
                   @click="accountTransactions(row.object.id)">
                   <i class="fa fa-usd" aria-hidden="true"></i>
                </a>
            </el-tooltip>
            <el-tooltip v-if="inChild"
                        class="item"
                        effect="dark"
                        content="Regresar al nivel anterior"
                        placement="top-end">
                <a class="btn"
                @click="auxiliarAccountSearch(row.object.parent_id)">
                    <i class="fa fa-arrow-circle-left"
                       aria-hidden="true"></i>
                </a>
            </el-tooltip>
        </div>
    </div>
</template>

<template slot="no-rows-found">
    <span>No se encontraron resultados</span>
</template>

{# Acciones #}
{# Descomentar cuando la expansión de Omar se concluya
<template slot="actions" scope="row">
    <template v-if="row.object.hasChildren == true">
        <div class="ui-button bg-Light-Blue overflowInherit">
            <div class="secondary">
                <a
                class="has-tooltip btn align-right"
                role="button"
                data-tooltip="Expandir"
                @click=""
                >
                <span class="glyphicon glyphicon-collapse-down"></span>
            </a>
            </div>
        </div>
    </template>
    <template v-else>
        <div class="ui-button bg-Light-Blue overflowInherit">
            <div class="secondary">
                <a
                class="has-tooltip btn align-right"
                role="button"
                data-tooltip="Pólizas"
                @click=""
                >
                <span class="glyphicon glyphicon-usd"></span>
            </a>
            </div>
        </div>
    </template>
</template>


{#Expanded row#}
<template slot="account-details" scope="row">
        <vue-dynamic-table-rbc
        box-classes="box"
        class-name="table table-bordered table-hover"
        {#class-name="table table-bordered table-hover"#}

        :hide-main-bar=true
        :hide-column-tools=true
        :hide-filter-stats=true
        :hide-numeration-column=false
        :show-footer=false
        :hide-import=true
        :hide-export=true
        :show-filters=false

        :show-numeration=true
        :show-visibility-options=true
        :remote-method="ajaxAccountDetails(row.object.id)"
        :source-columns="sourceColumns"
        :data-model="accountDetails"
        :filter-enabled=false
        >
    </vue-dynamic-table-rbc>
</template>
</template>
