<vue-dynamic-table-rbc
    box-classes="box box-primary full-height"
    class-name="table table-bordered table-hover"
    :source-columns="columns"
    :select-options="paginationOptions"
    :data-model="datasource"
    {# @export="exportTable" #}
    {# :remote-method="remoteSearch" #}
    template-file-name="Tipos Poliza"
    :total-results="totalResults">
    <template slot="actions" scope="row">
        <div class="ui-button bg-Light-Blue overflowInherit">
            <div class="secondary">
                <a
                class="has-tooltip btn align-right"
                data-tooltip="Editar"
                v-on:click="onEditClick(row)"
                role="button"
                data-toggle="modal">
                <span class="glyphicon glyphicon-edit"></span>
            </a>
            <a
            class="has-tooltip btn align-right"
            role="button"
            data-tooltip="Eliminar"
            v-on:click="onRemoveClick(row)">
            <span class="glyphicon glyphicon-trash"></span>
        </a>
    </div>
    </div>
    </template>
    <template slot="no-rows-found">
        <span>No se encontrarón resultados</span>
    </template>
</vue-dynamic-table-rbc>
