<!-- %CONTENT% -->
<div class="col-md-12" id="grouperSatList">
    <vue-dynamic-table 
            class-name="table table-bordered table-hover"
            v-bind:filter-enabled="true"
            v-on:go-to-page="goToPage"
            v-on:action-link-click="actionLink"
            v-bind:pagination-options="tablePageOptions"
            v-bind:columns="sourceColumns"
            v-bind:data-model="listSatAccounts"
            v-bind:expandable-row="true"
        >
            <template slot="slotAccount" scope="row">
              <label v-if="row.object.level != 1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
              {# <button class="btn btn-success btn-xs" v-on:click="addRow(row.index)">+</button> #}
              <button class="btn btn-primary btn-xs">></button>${row.object.account}
            </template>
            
        </vue-dynamic-table>
</div>
<!-- /%CONTENT% -->
{% block loadScripts %}
    <script id="scriptContainer" type="text/javascript">
        init.length = 0;
        init = [ {
            file: 'Accounting/Catalogs/AccountingAccount.js',
            functions: [ {
                name: 'loadSatAccountList',
                args: []
            } ]
        } ];
    </script>
{% endblock %}
