{% block content %}
<!--    <section>
        <style type="text/css">
            .important {
                color: #336699;
            }

            .dataTables_wrapper {
                font-family: tahoma;
                font-size: 13px;
                position: relative;
                clear: both;
                *zoom: 1;
                zoom: 1;
            }

            .center_text {
                text-align: center;
            }

            #tableBill {
                overflow: auto;
            }

        </style>-->
        <div class="header-buttons" data-id="" data-name="">
            
        </div>
        <div class="panel-content">
            <div class="panel panel-body" id="bills-module">
                <div class="col-md-12">
                    <h1>{{ pageData.module }}</h1>
            
                </div>
                <div class="">
                    <form id="uploadxml" action="" method="post" enctype="multipart/form-data">
                        Select xml to upload:
                        <input type="file" name="fileToUpload" id="fileToUpload">
                        <input type="submit" value="Upload Xml" name="submit">
                    </form>
                    <h4 hidden id='loading' >loading..</h4>
                    <div id="message"></div>
                </div>
                <div></div>
                <div id="tableBill">
                    <vue-dynamic-table class-name="table table-bordered"
                    v-on:go-to-page="goToPage"
                    v-on:action-link-click="actionLink"
                    {# v-on:action-button-click="actionButton" #}
                    v-bind:class="{ fullHeight }"
                    v-bind:pagination-options="billTablePageOptions"
                    v-bind:columns="sourceColumns"
                    v-bind:data-model="listBills">
                    <template slot="slotTax" scope="row">
                        <a role="button" v-on:click="showTaxDetails(row.object)">$ ${parseFloat(row.object.impuesto).toFixed(2)}</a>
                    </template>
                    <template slot="slotRetention" scope="row">
                        <a role="button" v-on:click="showRetentionDetails(row.object)">$ ${parseFloat(row.object.retencion).toFixed(2)}</a>
                    </template>
                    <template slot="slotStamp" scope="row">
                        <a role="button" v-if="!row.object.sello" v-on:click="stamp(row.object)">Timbrar</a>
                        <a v-else="">✓</a>
                    </template>
                    <template slot="files" scope="row">
                        <button class="btn btn-success btn-xs">XML</button><button class="btn btn-danger btn-xs">PDF</button>
                    </template>
                </vue-dynamic-table>
            </div>
        </div>
        <!-- Modal taxes sale -->
        <div class="modal fade" id="modal-bill-taxes" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"  data-backdrop="false">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">Detalle de Impuestos</h4>
                    </div>
                    <div class="modal-body">
                        <div class="table-responsive">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>Impuesto</th>
                                        <th>Tipo</th>
                                        <th>Tasa</th>
                                        <th>Importe</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr v-for="tax in listBillTax">
                                        <td>${ tax.tax }</td>
                                        {# <td>${ tax.tax_type }</td> #}
                                        <td v-if="tax.tax_type == '1'">Trasladado</td>
                                        <td v-else-if="tax.tax_type == '2'">Retención</td>
                                        <td>${ parseFloat(tax.rate).toFixed(0) }%</td>
                                        <td>$${parseFloat(tax.amount).toFixed(2)}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" v-on:click="closeModalSaleProducts">Cerrar</button>
                        <button type="button" class="btn btn-primary">
                            <span class="glyphicon glyphicon-list-alt"></span> Ir a Venta
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <!-- Modal detail bill -->
        <div class="modal fade" id="modal-bill-details" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"  data-backdrop="false">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">Detalle de Productos</h4>
                    </div>
                    <div class="modal-body">
                        <div class="table-responsive">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>Nombre</th>
                                        <th>Cantidad</th>
                                        <th>Unidad</th>
                                        <th>Precio Unitario</th>
                                        <th>Subtotal</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    <tr v-for="product in listBillProducts">
                                        <td>${ product.description }</td>
                                        <td>${ parseFloat(product.quantity).toFixed(2) }</td>
                                        <td>${ product.unit }</td>
                                        <td>$${parseFloat(product.unit_price).toFixed(2)}</td>
                                        <td>$${parseFloat(product.amount).toFixed(2)}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" v-on:click="closeModalBillProducts">Cerrar</button>
                        <button type="button" class="btn btn-primary">
                            <span class="glyphicon glyphicon-list-alt"></span> Ir a Venta
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="modal-select-fields" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"  data-backdrop="false">
            <div class="modal-dialog modal-sm" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">Selecciona los campos</h4>
                    </div>
                    <div class="modal-body">
                        <ul>
                            <li v-for="(column, index) in sourceColumns">
                                <input type="checkbox" v-bind:id="'column-visible' + index" v-model="column.visible">
                                <label v-bind:for="'column-visible' + index">${ column.title }</label>
                                <!-- <input type="checkbox" v-on:click="check(index)" v-bind:checked="isChecked(index)"> ${ column.title } -->
                            </li>
                        </ul>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Save changes</button>
                    </div>
                </div>
            </div>
        </div>

    </section>
    {% block loadScripts %}
        <script id="scriptContainer" type="text/javascript">
            init.length = 0;
            init = [ {
                title: '',
                file: 'Bill/bill.js',
                functions: [ {
                    name: 'iniciarModuloListBills',
                    args : [ ]
                } ]
            } ];
            // initModule( init );
            $( "#uploadxml" ).on('submit', ( function( e ) {
                e.preventDefault( );
                $( "#message" ).empty( );
                $( '#loading' ).show( );
                $.ajax({
                    url: AJAX_PATH + '/facturas/upload', // Url to which the request is send
                    type: "POST", // Type of request to be send, called as method
                    data: new FormData( this ), // Data sent to server, a set of key/value pairs (i.e. form fields and values)
                    contentType: false, // The content type used when sending data to the server.
                    cache: false, // To unable request pages to be cached
                    processData: false, // To send DOMDocument or non processed data file it is set to false
                    success: function( data ) { // A function to be called if request succeeds $( '#loading' ).hide( );$( "#message" ).html( data );
                    }
                });
            }));
            $( "#tblFacturas2" ).DataTable( );
        </script>
    {% endblock %}
{% endblock %}
