
{% block modulenav %}
<div class="navbar-brand s15 h30 block centered noPadding menumodule" role="button">
    <div class="content contentMiddle"onclick="toggleMenu()" aria-haspopup="true">
        <span class="padd5 cWhite text-uppercase" >
            {{ nombrem }}
        </span>
        <span class="caret hidde-this" ></span>
    </div>
</div>
<ul class="noMargin nav navbar-nav hidde-menu">
    <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            Acciones
            <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
            <li>
                <a
                      class="indent"
                      role="button"
                      data-action="openTab"
                      data-module="nominas"
                      data-route="nominas/contratos/nuevo">
                      Nuevo Contrato
                  </a>
            </li>
            <li>
                <a
                      class="indent"
                      role="button"
                      data-action="openTab"
                      data-module="nominas"
                      data-route="nominas/regimenes/nuevo">
                      Nuevo régimen fiscal
                  </a>
            </li>
            <li>
                <a
                      class="indent"
                      role="button"
                      data-action="openTab"
                      data-module="nominas"
                      data-route="nominas/periodicidades/nuevo">
                      Nuevo Periodicidad
                  </a>
            </li>
            <li>
                  <a
                      class="indent"
                      role="button"
                      data-action="openTab"
                      data-module="nominas"
                      data-route="nominas/deducciones/nuevo">
                      Nuevo Tipo de Deducción
                  </a>
              </li>
              <li>
                  <a
                      class="indent"
                      role="button"
                      data-action="openTab"
                      data-module="nominas"
                      data-route="nominas/horas-extra/nuevo">
                      Nuevo tipo de hora extra
                  </a>
              </li>
              <li>
                  <a
                      class="indent"
                      role="button"
                      data-action="openTab"
                      data-module="nominas"
                      data-route="nominas/incapacidades/nuevo">
                      Nueva Incapacidad
                  </a>
              </li>
              <li>
                  <a
                      class="indent"
                      role="button"
                      data-action="openTab"
                      data-module="nominas"
                      data-route="nominas/jornadas/nuevo">
                      Nueva Jornada
                  </a>
              </li>
              <li>
                  <a
                      class="indent"
                      role="button"
                      data-action="openTab"
                      data-module="nominas"
                      data-route="nominas/otros-pagos/nuevo">
                      Nuevo Otro Tipo de Pago
                  </a>
              </li>
        </ul>
    </li>
    <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            Listados
            <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
           
        </ul>
    </li>
    <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            Catálogos
            <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
            <li>
                <a
                    role="button"
                    data-action="openTab"
                    data-module="nominas"
                    data-route="nominas/contratos">
                    Contratos
                </a>
            </li>
            <li>
                  <a
                      role="button"
                      data-action="openTab"
                      data-module="nominas"
                      data-route="nominas/regimenes">
                      Regímenes Fiscales
                  </a>
            </li>
            <li>
                  <a
                      role="button"
                      data-action="openTab"
                      data-module="nominas"
                      data-route="nominas/periodicidades">
                      Periodicidades
                  </a>
              </li>
              <li>
                  <a
                      role="button"
                      data-action="openTab"
                      data-module="nominas"
                      data-route="nominas/deducciones">
                      Tipos de Deducción
                  </a>
              </li>
              <li>
                  <a
                      role="button"
                      data-action="openTab"
                      data-module="nominas"
                      data-route="nominas/horas-extra">
                      Tipos de horas extra
                  </a>
              </li>
              <li>
                  <a
                      role="button"
                      data-action="openTab"
                      data-module="nominas"
                      data-route="nominas/incapacidades">
                      Tipos de Incapacidad
                  </a>
              </li>
              <li>
                  <a
                      role="button"
                      data-action="openTab"
                      data-module="nominas"
                      data-route="nominas/jornadas">
                      Tipos de Jornadas
                  </a>
              </li>
              <li>
                  <a
                      role="button"
                      data-action="openTab"
                      data-module="nominas"
                      data-route="nominas/otros-pagos">
                      Otros Tipos de Pagos
                  </a>
              </li>
              <li>
                  <a
                      role="button"
                      data-action="openTab"
                      data-module="nominas"
                      data-route="nominas/tipos">
                        Tipos de Nominas
                  </a>
              </li>
              <li>
                  <a
                      role="button"
                      data-action="openTab"
                      data-module="nominas"
                      data-route="nominas/percepciones">
                      Tipos de Percepciones
                  </a>
              </li>
              <li>
                  <a
                      role="button"
                      data-action="openTab"
                      data-module="nominas"
                      data-route="nominas/riesgos-puesto">
                      Riesgos del Puesto
                  </a>
              </li>
              <li>
                  <a
                      role="button"
                      data-action="openTab"
                      data-module="nominas"
                      data-route="nominas/tipos-regimen">
                      Tipos de Régimen
                  </a>
              </li>
          </ul>
    </li>
    <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            Reportes
            <span class="caret"></span>
        </a>
        <!--<ul class="dropdown-menu">
            <li>
                <a href="#">Action</a>
            </li>
            <li>
                <a href="#">Another action</a>
            </li>
            <li>
                <a href="#">Something else here</a>
            </li>
        </ul>-->
    </li>
    <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            Configuración
            <span class="caret"></span>
        </a>
        <!--<ul class="dropdown-menu">
            <li>
                <a href="#">Action</a>
            </li>
            <li>
                <a href="#">Another action</a>
            </li>
            <li>
                <a href="#">Something else here</a>
            </li>
        </ul>-->
    </li>
</ul>
{% endblock %}
