{% block content %}
<section>
	<div id="sale-rep-list-container">
		<div class="header-buttons">
			<button class="btn btn-primary" @click="openNewRepModal"><i class="fa fa-plus"></i> Nuevo</button>
			<a
				href="#collapseQuery"
				class="btn btn-primary"
				role="button"
				data-toggle="collapse"><i class="fa fa-search"></i> Consulta</a>
		</div>
		<div class="panel-content">
			<div class="collapse" id="collapseQuery">
				<div class="box">
					<div class="box-header">
						<h3 class="box-title">Filtrar comisiones por periodo</h3>
					</div>
					<div class="box-body">
						<div class="row">
							<div class="col-md-4">
								<div class="form-group">
									<label>Periodo: </label>
									<el-date-picker v-model="period" type="daterange"></el-date-picker>{#TODO: add model and watcher#}
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div>
				<vue-dynamic-table-rbc
                    box-classes="box box-primary full-height"
                    class-name="table table-bordered table-hover"
                    :remote-method="remoteSearch"
                    :source-columns="columns"
                    {# :select-options="selectOptions" #}
                    :data-model="datasource"
                    :total-results="totalResults"
                    :pagination-options="{pageSizes:[10, 20, 30], pageSize: 10}"
                    hide-export
                    hide-import
                    hide-favorites>

                    <template slot="actions" scope="row">
                        <div class="ui-button bg-Light-Blue overflowInherit">
                            <div class="secondary">
                                <a
                                    class="has-tooltip btn align-right"
                                    data-tooltip="Editar"
                                    @click="editRep(row.object)"
                                    role="button">
                                    <i class="glyphicon glyphicon-edit" aria-hidden="true"></i>
                                </a>
                            </div>
                        </div>
                        <!-- <span class="not-a-link" >Editar</span> -->
                    </template>
                </vue-dynamic-table-rbc>
			</div>
		</div>
		{#Modal para crear un vendedor#}
        <div class="modal fade"
            id="modal-create-rep"
            tabindex="-1" role="dialog"
            aria-labelledby="myModalLabel"
            data-backdrop="false">
            <div class="modal-dialog modal-md" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title">${repModalTitle}</h4>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                        	<div class="col-md-6">
                        		<div class="form-group">
                        			<label>Nombre completo: </label>
                        			<input type="text" v-model="repModalName">
                        		</div>
                        	</div>
                        	<div class="col-md-6">
                        		<div class="form-group">
                        			<label>Comentario</label>
                        			<textarea v-model="repModalComment"></textarea>
                        		</div>
                        	</div>
                        </div>
                        <div class="row">
                        	<div class="col-md-6">
                            	<div class="form-group">
                            		<label>Plan de comisiones: </label>
                            		<el-select v-model="commissionPlanId" placeholder="Seleccione">
	                                	<el-option
	                                		v-for="plan in commissionPlans"
	                                		:key="plan.id"
	                                		:label="plan.name"
	                                		:value="plan.id"></el-option>
	                                </el-select>
                            	</div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="pull-right">
                                	<a class="btn btn-default" role="button" data-dismiss="modal">Cancelar</a>
                                    <a class="btn btn-success" role="button" @click="modalSaveRep">Guardar</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
	</div>
	<style>
	.not-a-link {
		text-decoration: underline;
	    color: #0000ff;
	    cursor: pointer;
	}
	.not-a-link:active {
		color: #4d4dff;
	}
	</style>
</section>
{% endblock %}
{% block loadScripts %}
<script id="scriptContainer" type="text/javascript">
init.length = 0;
init = [
	{
        title: 'Lista de vendedores',
        file: 'Sale/saleRepresentativeList.js',
        functions: [{
            name: 'initSaleRepList',
            //args: arguments
        }]
    },
];
</script>
{% endblock %}
