{% block content %}
    <section>
        <form method="post" action="" id="{{ formName }}" enctype="multipart/form-data">
            <div class="col-md-12">
                <div class="alert alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span></button>
                    <p>
                        Etsy sustainable try-hard selfies lo-fi
                        polaroid sriracha butcher PBR&B, artisan man
                        bun glossier. Health goth snackwave microdosing
                        synth dreamcatcher, brunch cronut crucifix.
                        Everyday carry pour-over meh, etsy marfa deep v health goth 90's
                        Etsy sustainable try-hard selfies lo-fi
                        polaroid sriracha butcher PBR&B, artisan man
                        bun glossier. Health goth snackwave microdosing
                        synth dreamcatcher, brunch cronut crucifix.
                        Everyday carry pour-over meh, etsy marfa deep v health goth 90's
                        Etsy sustainable try-hard selfies lo-fi
                        polaroid sriracha butcher PBR&B, artisan man
                        bun glossier. Health goth snackwave microdosing
                        synth dreamcatcher, brunch cronut crucifix.
                        Everyday carry pour-over meh, etsy marfa deep v health goth 90's
                    </p>
                </div>
            </div>
            <div class="col-md-12">
                <div class="req form-group">
                    <label for="group_name">Nombre: </label>
                    <input type="text" class="form-control" value="{{ attribute.name }}" name="attribute_name" id="attribute_name">
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    <label for="group_name">Descripción: </label>
                    <textarea type="text" class="form-control" name="attribute_description"
                              id="attribute_description">{{ attribute.description }}</textarea>
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group" id="items_name"></div>
            </div>
            <div class="col-md-12">
                <div class="ui-button bgGreen">
                    <button type="submit" class="btn">
                        <span class="fa fa-save"></span>
                        Guardar
                    </button>
                </div>
            </div>
        </form>
    </section>
{% endblock %}
{% block loadScripts %}
    <script id="scriptContainer" type="text/javascript">
        itemsAttrTwig = {{ itemsAttrTwig|json_encode|raw }};
        init.length = 0;
        init = [ {
            title: '',
            file: 'Warehouse/Attributes/attributes.js',
            functions: [ {
                name: 'buildThirdPartyAttrs',
                args: [ itemsAttrTwig ]
            } ]
        } ];
    </script>
{% endblock %}
