{% block body %}
    <section>

        {% include( 'crm/MailTemplates/partials/buttonAdd.twig' ) %}
        <div class="panel-content">
            {% include( 'crm/MailTemplates/partials/list.twig' ) %}
        </div>
    </section>
{% endblock %}
{% block loadScripts %}
    <script id="scriptContainer" type="text/javascript">
        init.lenght = 0;
        init = [ {
            title: 'Plantillas de Correo',
            file: 'CrmJs/MailTemplate/MailTemplate.js',
            functions: [ {
                name: 'initListMailTemplate'
            } ]
        } ];
    </script>
{% endblock %}
