<section>
    <div id='FormTypeJournalEntries'>
        <div class="header-buttons" v-if='!view'>
            <div class="btn-group main-buttons">
                <button
                    class="btn btn-success"
                    @click="typeJournalEntryValidate">
                    <span class="glyphicon glyphicon-floppy-disk"></span>
                    Guardar
                </button>
                <button
                    class="btn btn-danger"
                    data-action="closeTab">
                    <span class="glyphicon glyphicon-remove"></span>
                    Cancelar
                </button>
            </div>
        </div>
        <div class="panel-content" id="">
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Datos del tipo</h3>
                        </div>
                        <form v-on:submit.prevent="typeJournalEntryValidate('FormTypeJournalEntry')" id="">
                            <div class="modal-body">
                                <input type="hidden" name="id" v-model="typeJournalEntry.id">
                                <div class="row">
                                    <div class="col-md-2">
                                        <label for="typeJournalEntry_key">Clave</label>
                                        <div class="form-group">
                                            <input
                                                v-model="typeJournalEntry.key"
                                                class="form-control"
                                                type="text"
                                                @keypress="clearTypeJournalEntryValidatorError('Clave')"
                                                name="typeJournalEntry_key">
                                            <span v-if="typeJournalEntryValidatorErrors != null" class="cRed">
                                                ${ typeJournalEntryValidatorErrors.first('Clave') }
                                            </span>
                                        </div>
                                    </div>
                                     <div class="col-md-4">
                                        <label for="typeJournalEntry_name">Nombre/Prefijo</label>
                                        <div class="form-group">
                                            <input
                                                v-model="typeJournalEntry.name"
                                                class="form-control"
                                                type="text"
                                                @keypress="clearTypeJournalEntryValidatorError('Nombre/Prefijo')"
                                                name="typeJournalEntry_name">
                                            <span v-if="typeJournalEntryValidatorErrors != null" class="cRed">
                                                ${ typeJournalEntryValidatorErrors.first('Nombre/Prefijo') }
                                            </span>
                                        </div>
                                    </div>
                                     <div class="col-md-3">
                                        <label for="typeJournalEntry_type">Tipo</label>
                                        <div class="form-group">
                                            <el-select v-model="typeJournalEntry.journal_entry_sat_type_id"
                                                placeholder="Selecciona"
                                                @change="clearTypeJournalEntryValidatorError('Tipo')">
                                                <el-option
                                                    v-for="type in types"
                                                    :key="type.id"
                                                    :label="type.name"
                                                    :value="type.id">
                                                </el-option>
                                            </el-select>
                                            <span v-if="typeJournalEntryValidatorErrors != null" class="cRed">
                                                ${ typeJournalEntryValidatorErrors.first('Tipo') }
                                            </span>
                                        </div>
                                    </div>
                                     <div class="col-md-3">
                                        <label for="typeJournalEntry_description">Descripción</label>
                                        <div class="form-group">
                                            <input
                                                v-model="typeJournalEntry.description"
                                                class="form-control"
                                                type="text"
                                                @keypress="clearTypeJournalEntryValidatorError('Descripción')"
                                                name="typeJournalEntry_description">
                                            <span v-if="typeJournalEntryValidatorErrors != null" class="cRed">
                                                ${ typeJournalEntryValidatorErrors.first('Descripción') }
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        {# <label for="typeJournalEntry_option">Opción</label>
                                        <div class="">
                                            <el-radio-group
                                                name="typeJournalEntry_option"
                                                v-model="typeJournalEntry.option"
                                                @change="clearTypeJournalEntryValidatorError('Opción')">
                                                <el-radio :label="1">Un folio consecutivo para todos los tipo</el-radio>
                                                <br>
                                                <el-radio :label="2">Un folio consecutivo para cada tipo</el-radio>
                                            </el-radio-group>
                                            <br>
                                            <span v-if="typeJournalEntryValidatorErrors != null" class="cRed">
                                                ${ typeJournalEntryValidatorErrors.first('Opción') }
                                            </span>
                                        </div> #}
                                    </div>
                                    <div class="col-md-3">
                                        <label for="typeJournalEntry_folio">Folio según</label>
                                        <div class="form-group">
                                            <el-select v-model="typeJournalEntry.folio"
                                                name="typeJournalEntry_folio"
                                                placeholder="Selecciona"
                                                @change="clearTypeJournalEntryValidatorError('Folio según'),
                                                        typeFolio(typeJournalEntry.folio)">
                                                <el-option
                                                    v-for="folio in folios"
                                                    :key="folio.name"
                                                    :label="folio.name"
                                                    :value="folio.name">
                                                </el-option>
                                            </el-select>
                                            <span v-if="typeJournalEntryValidatorErrors != null" class="cRed">
                                                ${ typeJournalEntryValidatorErrors.first('Folio según') }
                                            </span>
                                        </div>
                                    </div>
                                    <div class="col-md-3" v-if="typeJournalEntry.folio == 'Personalizado'">
                                        <label for="typeJournalEntry_period">Periodo</label>
                                        <div class="form-group">
                                            <el-select v-model="typeJournalEntry.period"
                                                name="typeJournalEntry_folio"
                                                placeholder="Selecciona">
                                                <el-option
                                                    v-for="item in period"
                                                    :key="item.name"
                                                    :label="item.name"
                                                    :value="item.name">
                                                </el-option>
                                            </el-select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script id="scriptContainer" type="text/javascript">
        uiVars['title'] = '{{title}}';
        uiVars['view'] = {{view}};
        uiVars['data']   = {{data|json_encode|raw}};
        init.lenght = 0;
        init = [ {
            title: uiVars['title'],
            file: '/Accounting/JournalEntries/Types/form.js',
            functions: [ {
                name: 'formTypeJournalEntries',
                args: [ uiVars['data'], uiVars['view']]
            } ]
        } ];
</script>
