<div id="tableListGroups">
    <div class="row">
        <div class="col-md-12">
            <!-- Dynamic Table -->
            <vue-dynamic-table-rbc
                box-classes="box box-primary full-height"
                class-name="table table-bordered table-hover"

                :remote-method="remoteSearch"
                :loading-from-server="isLoading"

                :total-results="totalResults"

                :source-columns="sourceColumns"
                :data-model="listDataGroups"
                :pagination-options="{pageSizes: [3, 5], pageSize: 3}"
            >

                    {% include 'Warehouse/Groups/partials/slots.twig' %}

            </vue-dynamic-table-rbc>
            <!-- Dynamic Table -->
        </div>
    </div>
</div>
