
<div id="tableListGroups">
    <section>
        <div id="brand-list-module">
            {# <el-select
                filterable>
                <el-option
                    v-for="brand in $store.getters['brand/dataForSelect'].options"
                    :key="brand.id"
                    :label="brand.name"
                    :value="brand.id">

                </el-option>
            </el-select> #}
            <vue-dynamic-table-rbc

                box-classes="box box-primary full-height"
                class-name="table table-bordered table-hover"

                :remote-method="remoteSearch"
                :total-results="filteredBrands.totalResults"

                {# FAVORITOS #}
                :favorites="dynamicTableFavorites"
                @save-to-favorites="saveToFavorites"
                @loaded-favorite="loadedFavorite"

                :loading-from-server="filteredBrands.loading"
                :loading-error="filteredBrands.error"


                :source-columns="sourceColumns"
                :data-model="filteredBrands.data"

                :pagination-options="{pageSizes: [5, 10], pageSize: 5}">

                    <template slot="createdUserData" scope="row">
                        <div v-if="row.object.created_user">
                            ${ row.object.created_user.name } ${ row.object.created_user.lastname }
                        </div>
                        <div v-if="row.object.created_at">
                            ${ row.object.created_at }
                        </div>
                    </template>

                    <template slot="updatedUserData" scope="row">
                        <div v-if="row.object.updated_user">
                            ${ row.object.updated_user.name } ${ row.object.updated_user.lastname }
                        </div>
                        <div v-if="row.object.updated_at">
                            ${ row.object.updated_at }
                        </div>
                    </template>

                    <template slot="actions" scope="row">
                        <div class="ui-button bg-Light-Blue overflowInherit">
                            <div class="secondary">
                                <a class="has-tooltip btn align-right"
                                   role="button"
                                   data-tooltip="Editar"
                                   @click="showEditLateral(row.object)">
                                    <span class="glyphicon glyphicon-check"></span>
                                </a>
                                <a class="has-tooltip btn align-right"
                                   role="button"
                                   data-tooltip="Eliminar"
                                   @click="deleteBrand(row.object)">
                                    <span class="glyphicon glyphicon-trash"></span>
                                </a>
                            </div>
                        </div>
                    </template>

                    <template slot="no-rows-found">
                        <h4 class="text-center"><span class="glyphicon glyphicon-zoom-in"></span> No se encontraron resultados</h4>
                    </template>
            </vue-dynamic-table-rbc>


            <!-- Modal -->
            {# <div
                id="createBrandModal"
                ref="createBrandModal"
                class="modal fade"
                tabindex="-1"
                role="dialog">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button
                                type="button"
                                class="close"
                                data-dismiss="modal"
                                aria-label="Close"
                                v-on:click="resetForm">
                                    <span aria-hidden="true">&times;</span>
                            </button>
                            <h3 v-if="brandObj.brandId == 0">Añadir Marca</h3>
                            <h3 v-if="brandObj.brandId != 0">Edición de Marca: ${ brandObj.brandNameOrginal }</h3>
                        </div>
                        <div class="modal-body">
                            <div class="col-md-12">
                                <div class="alert alert-dismissible" role="alert">
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span></button>
                                    <p>
                                        Etsy sustainable try-hard selfies lo-fi
                                        polaroid sriracha butcher PBR&B, artisan man
                                        bun glossier. Health goth snackwave microdosing
                                        synth dreamcatcher, brunch cronut crucifix.
                                        Everyday carry pour-over meh, etsy marfa deep v health goth 90's
                                        Etsy sustainable try-hard selfies lo-fi
                                        polaroid sriracha butcher PBR&B, artisan man
                                        bun glossier. Health goth snackwave microdosing
                                        synth dreamcatcher, brunch cronut crucifix.
                                        Everyday carry pour-over meh, etsy marfa deep v health goth 90's
                                        Etsy sustainable try-hard selfies lo-fi
                                        polaroid sriracha butcher PBR&B, artisan man
                                        bun glossier. Health goth snackwave microdosing
                                        synth dreamcatcher, brunch cronut crucifix.
                                        Everyday carry pour-over meh, etsy marfa deep v health goth 90's
                                    </p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label>Código:</label>
                                <input
                                    type="text"
                                    maxlength="100"
                                    v-model="brandObj.brandCode"
                                    name="brandCode"
                                    data-vv-as="Código"
                                :class="{'validate': errors.has('brandCode') }">
                                <span v-show="errors.has('brandCode')" class="cRed">${ errors.first('brandCode') }</span>
                            </div>
                            <div class="form-group">
                                <label>Marca:</label>
                                <input
                                    type="text"
                                    maxlength="100"
                                    v-model="brandObj.brandName"
                                    name="brandName"
                                    v-validate="'required'"
                                    data-vv-as="Nombre"
                                    :class="{'validate': errors.has('brandName') }">
                                <span v-show="errors.has('brandName')" class="cRed">${ errors.first('brandName') }</span>
                            </div>
                            <div class="form-group">
                                <label>Descripcion:</label>
                                <textarea
                                    class="form-control"
                                    rows="3"
                                    maxlength="255"
                                    style="resize: none;"
                                    v-model="brandObj.brandDescription"></textarea>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button
                                type="button"
                                class="btn btn-default"
                                data-dismiss="modal"
                                v-on:click="resetForm">Cancelar</button>
                            <button
                                ref="catalogBrandSubmit"
                                class="btn btn-success"
                                v-on:click="createOrUpdate">GUARDAR</button>
                        </div>
                    </div>
                </div>
            </div> #}
            <!-- Modal -->

            <!-- Modal Pregunta-->
            <div
                id="questionModal"
                ref="questionModal"
                class="modal fade"
                tabindex="-1"
                role="dialog">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <h3>¿Estás seguro que deseas eliminar?</h3>
                        </div>
                        <div class="modal-body">
                            <div class="form-group">
                                <label>Código:</label>
                                <h4>${brandToDelete.code}</h4>
                            </div>
                            <div class="form-group">
                                <label>Nombre:</label>
                                <h4>${brandToDelete.name}</h4>
                            </div>
                            <div class="form-group">
                                <label>Descripción:</label>
                                <h4>${brandToDelete.description}</h4>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                            <button
                                class="btn btn-danger"
                                v-on:click="deleteBrand">ELIMINAR</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Modal Pregunta -->

        </div>
    </section>
</div>
