{% block content %}
    <section id="listAddresseeTypes">
        <div class="header-buttons">
           <div class="btn-group main-buttons">
                <a
                    role="button"
                    v-on:click="onClick"
                    class="btn btn  btn-success ">
                    <i class="fa fa-plus " aria-hidden="true"></i>
                    Agregar Tipo de Destinatario</a>
            </div>
        </div>
        <div class="panel-content">
            {% include '/Logistic/AddresseeTypes/add.twig' %}
            <div id="tableAddresseeTypes">
                <vue-dynamic-table
                    class-name="table table-bordered"
                    v-bind:class="{ fullHeight }"
                    v-bind:filter-enabled="true"
                    v-bind:expandable-row="true"
                    v-bind:columns="columns"
                    sort-indicator-asc-class="fa fa-caret-up"
                    sort-indicator-desc-class="fa fa-caret-down"
                    v-bind:pagination="true"
                    v-bind:pagination-options="paginationOptions"
                    v-on:go-to-page="goToPage"
                    v-bind:data-model="datasource">
                    <template slot="addresseeActions" scope="row">
                        <div class="ui-button bg-Light-Blue overflowInherit">
                        <div class="secondary">
                            <a 
                                data-tooltip="Editar"
                                role="button"
                                class="has-tooltip btn align-right" 
                                v-on:click="onEditClick(row.object)">
                                <span class="glyphicon glyphicon-edit"></span>
                            </a>
                            <a 
                                data-tooltip="Eliminar"
                                role="button"
                                class="has-tooltip btn align-right" 
                                v-on:click="onRemoveClick(row.object)">
                                <span class="glyphicon glyphicon-trash"></span>
                            </a>
                        </div>
                        </div>
                    </template>
                    <template slot="no-rows-found">
                        <span>No se encontrarón resultados</span>
                    </template>
                </vue-dynamic-table>
            </div>
        </div>
    </section>
{% endblock %}
{% block loadScripts %}
    <script id="scriptContainer">
        init.length = 0;
        init = [{
            title: 'Proveedores De Envío',
            file: 'Logistic/Catalogs/addresseeType.js',
            functions: [ {
                name: 'initAddresseeType',
                args: [ ]
            } ]
        }];
    </script>
{% endblock %}
