{% block content %}
    <section>
        <div id="customer-module">
            <form id="{{ pageData.action }}ClientForm">
        		<div class="row">
        			<div class="col-xs-4">
        				{# <div class="form-group">
        					<button type="button" class="btn btn-default btn-sm" v-on:click="loadCustomers">customerJson</button>
        				</div> #}
        				<div class="form-group">
        					<label>Nombre/Compañía:</label>
                            <input class="inputUnderline" type="text" v-model="customerJson.business_name">
        				</div>
        				<div><h4>Datos Fiscales:</h4></div>
        				<div class="form-group">
        					<label>Razón Social:</label>
                            <input class="inputUnderline" type="text" v-model="customerJson.legal_name">
        				</div>
        				<div class="form-group">
        					<label>RFC*:</label>
                            <input class="inputUnderline" type="text" v-model="customerJson.rfc">
        				</div>
        				<div>Dirección Fiscal:</div>
        				<div v-for="address in customerJson.addresses">
                            <div class="row">
                                <div class="col-xs-6">
                                    <div class="form-group">
                                        <label>Calle:</label><input class="inputUnderline" type="text" v-model="address.street">
                                    </div>
                                    <div class="form-group">
                                        <label>No. Ext:</label><input class="inputUnderline" type="text" v-model="address.external_number">
                                    </div>
                                    <div class="form-group">
                                        <label>C.P.:</label><input class="inputUnderline" type="text" v-model="address.postal_code">
                                    </div>
                                    <div class="form-group">
                                        <label>Estado:</label><input class="inputUnderline" type="text" v-model="address.state">
                                    </div>
                                    <div class="form-group">
                                        <label>Localidad:</label><input class="inputUnderline" type="text" v-model="address.town">
                                    </div>
                                </div>
                                <div class="col-xs-6">
                                    <div class="form-group">
                                        <label>No.Int:</label><input class="inputUnderline" type="text" v-model="address.internal_number">
                                    </div>
                                    <div class="form-group">
                                        <label>Colonia:</label><input class="inputUnderline" type="text" v-model="address.suburb">
                                    </div>
                                    <div class="form-group">
                                        <label>País:</label><input class="inputUnderline" type="text" v-model="address.country">
                                    </div>
                                    <div class="form-group">
                                        <label>Municipio:</label><input class="inputUnderline" type="text" v-model="address.municipality">
                                    </div>
                                    <div class="form-group">
                                        <label>Referencia:</label><input class="inputUnderline" type="text" v-model="address.reference">
                                    </div>
                                </div>
                            </div>
        				</div>
        			</div>
        			<div class="col-xs-8">
        				<div v-for="(subsidiary, subsidiaryIndex) in customerJson.subsidiaries">
        					<template v-if="!subsidiary.deleted">
        						<button type="button" class="btn btn-default btn-sm" v-on:click="removeSubsidiary(subsidiaryIndex)">X</button>
        						<div class="row">
    								<div class="col-xs-4">
    									<div>Dirección Sucursal:</div>
                                        <div class="form-group">
                                            <label>Nombre Sucursal:</label><input class="inputUnderline" type="text" v-model="subsidiary.name">
                                        </div>
    	                                <div v-for="address in subsidiary.addresses">
                                            <div class="row">
        		                                <div class="col-xs-6">
        											<div class="form-group">
        												<label>Calle:</label><input class="inputUnderline" type="text" v-model="address.street">
        											</div>
        											<div class="form-group">
        												<label>No. Ext:</label><input class="inputUnderline" type="text" v-model="address.external_number">
        											</div>
        											<div class="form-group">
        												<label>C.P.:</label><input class="inputUnderline" type="text" v-model="address.postal_code">
        											</div>
        											<div class="form-group">
        												<label>Estado:</label><input class="inputUnderline" type="text" v-model="address.state">
        											</div>
        											<div class="form-group">
        												<label>Localidad:</label><input class="inputUnderline" type="text" v-model="address.town">
        											</div>
        										</div>
        										<div class="col-xs-6">
        											<div class="form-group">
        												<label>No.Int:</label><input class="inputUnderline" type="text" v-model="address.internal_number">
        											</div>
        											<div class="form-group">
        												<label>Colonia:</label><input class="inputUnderline" type="text" v-model="address.suburb">
        											</div>
        											<div class="form-group">
        												<label>País:</label><input class="inputUnderline" type="text" v-model="address.country">
        											</div>
        											<div class="form-group">
        												<label>Municipio:</label><input class="inputUnderline" type="text" v-model="address.municipality">
        											</div>
        										</div>
        									</div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xs-6">
                                                <div v-for="phone in subsidiary.phones">
                                                    <div class="form-group">
                                                        <label>Telefono:</label><input class="inputUnderline" type="text" v-model="phone.phone" >
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-xs-6">
                                                <div v-for="email in subsidiary.emails">
                                                    <div class="form-group">
                                                        <label>Email:</label><input class="inputUnderline" type="text" v-model="email.email" >
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
    								</div>
        							<div class="col-xs-4">
        								<div v-for="(contact, contactIndex) in subsidiary.contacts">
        									<template v-if="!contact.deleted">
        										<button type="button" class="btn btn-default btn-sm" v-on:click="removeContact(subsidiaryIndex, contactIndex)">X</button>
    											<div>Detalle del Contacto:</div>
    											<div class="form-group">
    												<label>Nombre del contacto:</label><input class="inputUnderline" type="text" v-model="contact.name" >
    											</div>
    											<div class="form-group">
    												<label>Area:</label><input class="inputUnderline" type="text" v-model="contact.work_area"  >
    											</div>
    											<div class="form-group">
    												<label>Contraseña:</label><input class="inputUnderline" type="text" v-model="contact.password" >
    											</div>
    											<div v-for="email in contact.emails">
    												<div class="form-group">
    													<label>Email:</label><input class="inputUnderline" type="text" v-model="email.email" >
    												</div>
    											</div>
    											<div v-for="phone in contact.phones">
    												<div class="form-group">
    													<label>Telefono:</label><input class="inputUnderline" type="text" v-model="phone.phone" >
    												</div>
    											</div>
        									</template>
        								</div>
        								<div class="form-group">
        									<button type="button" class="btn btn-default btn-sm" v-on:click="addContact(subsidiaryIndex, subsidiary.contacts.length, 'push')">Agregar contacto</button>
        								</div>
        							</div>

        							<div class="col-xs-4">
        								<div v-for="(consignee, consigneeIndex) in subsidiary.consignees">
        									<template v-if="!consignee.deleted">
        										<button type="button" class="btn btn-default btn-sm" v-on:click="removeConsignee(subsidiaryIndex, consigneeIndex)">X</button>
    											<div>Dirección Consignatario:</div>
    		                                    <div class="form-group">
    		                                        <label>Nombre Consignatario:</label><input class="inputUnderline" type="text" v-model="consignee.name">
    		                                    </div>
    			                                    <div v-for="address in consignee.addresses">
                                                        <div class="row">
                                                            <div class="col-xs-6">
                                                                <div class="form-group">
                                                                    <label>Calle:</label><input class="inputUnderline" type="text" v-model="address.street">
                                                                </div>
                                                                <div class="form-group">
                                                                    <label>No. Ext:</label><input class="inputUnderline" type="text" v-model="address.external_number">
                                                                </div>
                                                                <div class="form-group">
                                                                    <label>C.P.:</label><input class="inputUnderline" type="text" v-model="address.postal_code">
                                                                </div>
                                                                <div class="form-group">
                                                                    <label>Estado:</label><input class="inputUnderline" type="text" v-model="address.state">
                                                                </div>
                                                                <div class="form-group">
                                                                    <label>Localidad:</label><input class="inputUnderline" type="text" v-model="address.town">
                                                                </div>
                                                            </div>
                                                            <div class="col-xs-6">
                                                                <div class="form-group">
                                                                    <label>No.Int:</label><input class="inputUnderline" type="text" v-model="address.internal_number">
                                                                </div>
                                                                <div class="form-group">
                                                                    <label>Colonia:</label><input class="inputUnderline" type="text" v-model="address.suburb">
                                                                </div>
                                                                <div class="form-group">
                                                                    <label>País:</label><input class="inputUnderline" type="text" v-model="address.country">
                                                                </div>
                                                                <div class="form-group">
                                                                    <label>Municipio:</label><input class="inputUnderline" type="text" v-model="address.municipality">
                                                                </div>
                                                            </div>
                                                        </div>
    												</div>
                                                    <div class="row">
                                                        <div class="col-xs-6">
                                                            <div v-for="phone in consignee.phones">
                                                                <div class="form-group">
                                                                    <label>Telefono:</label><input class="inputUnderline" type="text" v-model="phone.phone" >
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-xs-6">
                                                            <div v-for="email in consignee.emails">
                                                                <div class="form-group">
                                                                    <label>Email:</label><input class="inputUnderline" type="text" v-model="email.email" >
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
        									</template>
        								</div>
        								<div class="form-group">
        									<button type="button" class="btn btn-default btn-sm" v-on:click="addConsignee(subsidiaryIndex, subsidiary.consignees.length, 'push')">Agregar Consignatario</button>
        								</div>

        							</div>

        						</div>

        						<div class="form-group">
        							<button type="button" class="btn btn-default btn-sm" v-on:click="addSubsidiary(customerJson.subsidiaries.length, 'push')">Agregar Subsidiaria</button>
        						</div>
        					</template>

        				</div>
                    </div>
                </div>
        		<div class="row">
        			<div class="col-xs-4">
                        <div>Asignar relación personal:</div>
        				<div class="form-group">
        					<label>Lista de precios:</label><input class="inputUnderline" type="text" name="" >
        				</div>
        				<div class="form-group">
        					<label>Tipo de crédito:</label><input class="inputUnderline" type="text" name="" >
        				</div>
        				<div class="form-group">
        					<label>Monto de crédito:</label><input class="inputUnderline" type="text" name="" >
        				</div>
        				<div class="form-group">
        					<label>Moneda:</label><input class="inputUnderline" type="text" name="" >
        				</div>
        				<div class="form-group">
        					<label>Actividad:</label><input class="inputUnderline" type="text" name="" >
        				</div>
        				<div class="form-group">
        					<label>Addendas:</label><input class="inputUnderline" type="text" name="" >
        				</div>
        			</div>
        			<div class="col-xs-4">
                        <div>Cuenta Cliente:</div>
    					<div class="form-group">
    						<label>Cuenta Cliente:</label><input class="inputUnderline" type="text" name="" >
    					</div>
    					<div class="form-group">
    						<label>Cuenta Anticipos:</label><input class="inputUnderline" type="text" name="" >
    					</div>
    					<div class="form-group">
    						<label>Cuentas por Cobrar:</label><input class="inputUnderline" type="text" name="" >
    					</div>
        			</div>
        			<div class="col-xs-4">
        				<div>Cuenta Bancaria:</div>
        				<div class="form-group">
        					<label>Banco:</label><input class="inputUnderline" type="text" name="" >
        				</div>
        				<div class="form-group">
        					<label>Nombre Banco:</label><input class="inputUnderline" type="text" name="" >
        				</div>
        				<div class="form-group">
        					<label>Cuenta:</label><input class="inputUnderline" type="text" name="" >
        				</div>
        				<div class="form-group">
        					<label>Sucursal:</label><input class="inputUnderline" type="text" name="" >
        				</div>
        				<div class="form-group">
        					<label>Clabe:</label><input class="inputUnderline" type="text" name="" >
        				</div>
        			</div>
        		</div>
                <div class="row">
            		<div class="col-xs-12">
            			<div class="form-group text-center">
            				<button type="button" class="btn btn-success" data-action="submit" v-on:click="saveCustomer">Guardar</button>
            				{# <button type="button" class="btn btn-success" v-on:click="saveCustomer">Guardar Juan</button> #} |
                            <button type="button" class="btn btn-danger">Cancelar</button>
            			</div>
            		</div>
                </div>
            </form>
        </div>
    </section>
{% endblock %}
{% block loadScripts %}
    <script id="scriptContainer" type="text/javascript">
		uiVars['customersJson'] = {% if pageData.action == 'edit' %} {{ customersJson | raw }} {% else %} new Object() {% endif %};
        init.length = 0;
        init = [ {
            title: '',
            file: 'Customer/customer.js',
            functions: [ {
                name: 'iniciarModuloEditCustomers',
                args: [ uiVars['customersJson'] ]
            } ]
        } ];
    </script>
{% endblock %}
