{% block content %}
    <section >
        <div class="panel-content">
            <h1>{{ tipo }}</h1>
            <div id="customer-extra-data">
                <vue-dynamic-table class-name="table table-bordered"
                    
                    v-on:action-link-click="actionLink"
                    {# v-on:action-button-click="actionButton" #}
                    v-bind:columns="sourceColumns"
                    v-bind:data-model="listOfData">
                </vue-dynamic-table>
            </div>
        </div>
    </section>
{% endblock %}
{% block loadScripts %}
    <script id="scriptContainer" type="text/javascript">
            
        uiVars['datos'] =  {{ datos | json_encode | raw }};
        uiVars['tipo'] ={{ tipo|json_encode|raw }};
        init.length = 0;
        init = [ {
            title: uiVars['tipo'],
            file: 'Customer/customerSubTable.js',
            functions: [ {
                name: 'IniciarSubTabla',
                args: [ uiVars['datos'],uiVars['tipo']]
            }]
        } ];
    </script>
{% endblock %}