{% block content %}
<section>
	<div class="box box-default">
        <div class="box-header">
            <h3 class="box-title">Pagare del Cliente</h3>
            <div class="box-tools pull-right">

            </div>
        </div>
        <div class="box-body" >
            <form method="POST" id="savePromissoryNote">
                 <H4>Datos del pagare</H4>
       
            <div class="form-group">
                <label>Fecha de Inicio:</label>
                <el-date-picker
                    v-model="DateStart"
                    type="date"
                    placeholder="Seleccione la fecha de inicio"
                    format="dd-MM-yyyy"
                    >
                </el-date-picker>
            </div>
            <div class="form-group">
                <label>Cliente:</label>
                <input value="{{ CustomerData.legal_name }}" v-model="customer">
            </div>
            <div class="form-group">
                <label>Dias:</label>
                <input type="number" v-model="Days" >
                <a role="button" v-on:click="dateover">Calcular Dias</a>
            </div>
            <div class="form-group">
                <label>Vencimiento:</label>
                <el-date-picker
                    v-model="DateOver"
                    type="date"
                    format="dd-MM-yyyy"
                    placeholder="Seleccione la fecha de fin"
                    >
                </el-date-picker>
            </div>
            <div class="form-group">
                <label>Monto: $</label>
                <input type="number" v-model="mount">
            </div>
            </div>
        </div>
</div>
</section>
{% endblock %}
{% block loadScripts %}
    <script id="scriptContainer" type="text/javascript">
        init.lenght = 0;
        init = [{
        title: 'Pagare Del CLiente',
        file: 'Customer/createPromissoryNote.js',
        functions: [{
            name: 'savePromissoryNote',
            args: []
            }]
        }];
    </script>
{% endblock %}