{% block modulenav %}
<div class="navbar-brand s15 h30 block centered noPadding menumodule" role="button">
    <div class="content contentMiddle"onclick="toggleMenu()" aria-haspopup="true">
        <span class="padd5 cWhite text-uppercase" >
            {{ nombrem }}
        </span>
        <span class="caret hidde-this" ></span>
    </div>
</div>
<ul class="noMargin nav navbar-nav hidde-menu">
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            Acciones
            <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
            <li>
                <a role="button" data-action="openTab" data-route="/almacenes/proveedores/create">Nuevo Cliente</a>
            </li>
            <li>
                    <a

                        role="button"
                        data-action="openTab"
                        data-route="/almacenes/proveedores/create">Nuevo Backorder</a>
                </li>
                <li>
                    <a

                        role="button"
                        data-action="openTab"
                        data-module="warehouse"
                        data-route="almacenes/backorders/nuevo">Programar Inventario</a>
                </li>
                <li>
                    <a
                     class="borderBottom1"
                        role="button"
                        data-action="openTab"
                        data-module="warehouse"
                        data-route="almacenes/inventarios/programar">Nuevo Movimiento</a>
                </li>
                <li>
                    <a

                        role="button"
                        data-action="openTab"
                        data-module="warehouse"
                        data-route="almacenes/movimientos/nuevo">Nuevo Proveedor</a>
                </li>
                <li>
                    <a

                        role="button"
                        data-action="openTab"
                        data-module="warehouse"
                        data-route="precios/crear">Nueva Lista de Precios</a>
                </li>
        </ul>
    </li>
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            Listados
            <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
            <li>
                <a href="#">Clientes</a>
            </li>
            <li>
                <a href="#">Proveedores</a>
            </li>

        </ul>
    </li>
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            Catálogos
            <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
            <li>
                <a href="#">Bancos</a>
            </li>
            <li>
                <a href="#">Monedas</a>
            </li>
            <li>
                <a href="#">Método de Pago</a>
            </li>
            <li>
                <a href="#">Unidades de Medida</a>
            </li>
            <li>
                <a href="#">Condiciones de Pago</a>
            </li>
        </ul>
    </li>
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            Reportes
            <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
            <li>
                <a href="#">Action</a>
            </li>
            <li>
                <a href="#">Another action</a>
            </li>
            <li>
                <a href="#">Something else here</a>
            </li>
        </ul>
    </li>
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            Configuración
            <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
            <li>
                <a href="#">Action</a>
            </li>
            <li>
                <a href="#">Another action</a>
            </li>
            <li>
                <a href="#">Something else here</a>
            </li>
        </ul>
    </li>
</ul>
{% endblock %}
