{% block body %}
    <section>
        <style>
            .greenIcon{
                color: #26B353;
            }
            .grayIcon{
                color: #7b7b7b;
            }
            .lightGreenIcon{
                color: #5BC0DE;
            }
            .orangeIcon{
                color: #F0AD4E;
            }
            .greenTab li a
            {
                color: white !important;
                background-color: #26B353 !important;
                border-color: #1F9344 !important;
            }
            .greenTab li a:hover {
                color: #fff !important;
                background-color: #1F9344 !important;
                border-color: #1F9344 !important;
            }

            .greenTab .active a
            {
                color: black !important;
                background-color: #ABACAE !important;
                border-color: white !important;
            }
            .greenTab li.active a:hover {
                color: black !important;
                background-color: #ABACAE !important;
                border-color: white !important;
            }
            .btn-green {
                color: white !important;
                background-color: #26B353 !important;
                border-color: #1F9344 !important;
            }
            .btn-green:hover {
                color: #fff !important;
                background-color: #1F9344 !important;
                border-color: #1F9344 !important;
            }
            [v-cloak] {display: none}
        </style>

        <div id="create-price-list" v-cloak>
            <div class="header-buttons">
                <div class="btn-group main-buttons">
                    <button
                        class="btn btn-success"
                        @click="savePriceList()">
                        <span class="glyphicon glyphicon-floppy-disk"></span>
                        Guardar
                    </button>
                    <button
                        class="btn btn-success"
                        @click="savePriceList()">
                        <span class="glyphicon glyphicon-floppy-disk"></span>
                        Guardar y Nuevo
                    </button>
                </div>
            </div>

            <div class="panel-content">
                <h2>Nueva lista de precios</h2>
                <div class="row">
                    <div class="col-md-4">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <div class="form-group">
                                    <label>Nombre</label>
                                    <input
                                        type="text"
                                        name="listName"
                                        v-model="priceList.name"
                                        data-vv-as="Nombre">
                                    <p class="text-danger" v-show="hasPriceListError('name')">
                                        ${ priceListErrors.name }
                                    </p>
                                </div>
                                <div class="form-group">
                                    <label>Moneda</label>
                                    <el-select v-model="priceList.currencyId" filterable>
                                        <el-option
                                            v-for="currency in listCurrencies"
                                            :key="currency.id"
                                            :label="currency.CFDIcode + ' - ' + currency.name"
                                            :value="currency.id">
                                        </el-option>
                                    </el-select>
                                    <p class="text-danger" v-show="hasPriceListError('currencyId')">
                                        ${ priceListErrors.currencyId }
                                    </p>
                                </div>
                                <div class="form-group">
                                    <input
                                        class="checkbox"
                                        type="checkbox"
                                        id="ecommerce-checkbox"
                                        v-model="priceList.availableOnEcommerce">
                                    <label
                                        class="checkbox-label"
                                        for="ecommerce-checkbox">
                                        Disponible en E-Commerce
                                    </label>
                                </div>
                                <div class="form-group">
                                    <input
                                        class="checkbox"
                                        type="checkbox"
                                        id="client-panel-checkbox"
                                        v-model="priceList.availableOnClientPanel">
                                    <label
                                        class="checkbox-label"
                                        for="client-panel-checkbox">
                                        Disponible en Panel de cliente
                                    </label>
                                </div>
                                <div class="form-group">
                                    <label>Descripción</label>
                                    <textarea v-model="priceList.description"></textarea>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="block">
                                                <div class="has-tooltip" data-tooltip="Tipo de calculo">
                                                    <span class="glyphicon glyphicon-info-sign cGreen"></span>
                                                </div>
                                                Tipo
                                            </label>
                                            <el-select v-model="priceList.valueTypeId">
                                                <el-option
                                                    v-for="valueType in listValueTypes"
                                                    :key="valueType.id"
                                                    :label="valueType.name"
                                                    :value="valueType.id">
                                                </el-option>
                                            </el-select>
                                            <p class="text-danger" v-show="hasPriceListError('valueTypeId')">
                                                ${ priceListErrors.valueTypeId }
                                            </p>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="block">
                                                <div class="has-tooltip" data-tooltip="Utilidad deseada en las ventas">
                                                    <span class="glyphicon glyphicon-info-sign cGreen"></span>
                                                </div>
                                                Valor
                                            </label>
                                            <input
                                                type="number"
                                                name="listValue"
                                                v-model="priceList.value"
                                                class="block">
                                            <p class="text-danger" v-show="hasPriceListError('value')">
                                                ${ priceListErrors.value }
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="block">
                                        <div class="has-tooltip" data-tooltip="Descuento máximo posible">
                                            <span class="glyphicon glyphicon-info-sign cGreen"></span>
                                        </div>
                                        Tope Descuento % ${ priceList.maxDiscount }

                                        <div class="has-tooltip" data-tooltip="Si pasas el maximo vendes debajo del costo">
                                            <span class="glyphicon glyphicon-info-sign cGreen"></span>
                                        </div>
                                    </label>
                                    <input
                                        type="number"
                                        name="listMaxDisscount"
                                        v-model="priceList.maxDiscount"
                                        class="block">
                                    <p class="text-danger" v-show="hasPriceListError('maxDiscount')">
                                        ${ priceListErrors.maxDiscount }
                                    </p>
                                </div>
                                <div class="form-group">
                                    <input
                                        class="radio"
                                        type="radio"
                                        id="create-price-list-radio3"
                                        v-model="priceList.expirationType"
                                        name="expiration-type"
                                        value="1">
                                    <label class="radio-label" for="create-price-list-radio3">
                                        <div class="has-tooltip" data-tooltip="Lista siempre disponible">
                                            <span class="glyphicon glyphicon-info-sign cGreen"></span>
                                        </div>
                                        Por tiempo indefinido
                                    </label>
                                </div>
                                <div class="form-group">
                                    <input
                                        class="radio"
                                        type="radio"
                                        id="create-price-list-radio4"
                                        v-model="priceList.expirationType"
                                        name="expiration-type"
                                        value="2">
                                    <label class="radio-label" for="create-price-list-radio4">
                                        <div class="has-tooltip" data-tooltip="Lista disponible solo hasta">
                                            <span class="glyphicon glyphicon-info-sign  cGreen"></span>
                                        </div>
                                        Agregar fecha de validez
                                    </label>
                                </div>
                                <div v-if="priceList.expirationType == 2">
                                    <div class="form-group">
                                        <label for="">Fecha de expiracion</label>
                                        <el-date-picker
                                            v-model="priceList.expirationDate"
                                            type="datetime"
                                            placeholder="Select date and time">
                                        </el-date-picker>
                                        <p class="text-danger" v-show="hasPriceListError('expirationDate')">
                                            ${ priceListErrors.expirationDate }
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <el-tabs type="border-card">
                            <el-tab-pane label="Excepciones de productos">
                                <product-exceptions-module
                                    :product-exceptions="priceList.productExceptions"
                                    :list-value-types="listValueTypes"
                                    :deleted="deleted.productExceptions">
                                </product-exceptions-module>
                            </el-tab-pane>
                            <el-tab-pane label="Excepciones de lineas">
                                <line-exceptions-module
                                    :line-exceptions="priceList.lineExceptions"
                                    :list-value-types="listValueTypes"
                                    :deleted="deleted.lineExceptions">
                                </line-exceptions-module>
                            </el-tab-pane>
                            <el-tab-pane label="Excepciones de categorias">
                                <category-exceptions-module
                                    :category-exceptions="priceList.categoryExceptions"
                                    :list-value-types="listValueTypes"
                                    :deleted="deleted.categoryExceptions">
                                </category-exceptions-module>
                            </el-tab-pane>
                            <el-tab-pane label="Excepciones de marcas">
                                <brand-exceptions-module
                                    :brand-exceptions="priceList.brandExceptions"
                                    :list-value-types="listValueTypes"
                                    :deleted="deleted.brandExceptions">
                                </brand-exceptions-module>
                            </el-tab-pane>
                            <el-tab-pane label="Excepciones de mercados">
                                <market-exceptions-module
                                    :market-exceptions="priceList.marketExceptions"
                                    :list-value-types="listValueTypes"
                                    :deleted="deleted.marketExceptions">
                                </market-exceptions-module>
                            </el-tab-pane>
                            <el-tab-pane label="Excepciones de grupos">
                                <group-exceptions-module
                                    :group-exceptions="priceList.groupExceptions"
                                    :list-value-types="listValueTypes"
                                    :deleted="deleted.groupExceptions">
                                </group-exceptions-module>
                            </el-tab-pane>
                            <el-tab-pane label="Excepcion masiva">
                                <bulk-product-exceptions-module
                                    :product-exceptions="priceList.productExceptions"
                                    :list-value-types="listValueTypes">
                                </bulk-product-exceptions-module>
                            </el-tab-pane>
                            <el-tab-pane label="Asignacion">
                                <price-list-assignment-module
                                    :customer-assignments="priceList.customerAssignments"
                                    :subsidiary-assignments="priceList.subsidiaryAssignments"
                                    :deleted-customer-assignments="deleted.customerAssignments"
                                    :deleted-subsidiary-assignments="deleted.subsidiaryAssignments">
                                </price-list-assignment-module>
                            </el-tab-pane>
                        </el-tabs>
                        <br>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <template id="product-exceptions">
        {% include 'Prices/partials/product_exceptions.twig' %}
    </template>
    <template id="line-exceptions">
        {% include 'Prices/partials/line_exceptions.twig' %}
    </template>
    <template id="category-exceptions">
        {% include 'Prices/partials/category_exceptions.twig' %}
    </template>
    <template id="brand-exceptions">
        {% include 'Prices/partials/brand_exceptions.twig' %}
    </template>
    <template id="market-exceptions">
        {% include 'Prices/partials/market_exceptions.twig' %}
    </template>
    <template id="group-exceptions">
        {% include 'Prices/partials/group_exceptions.twig' %}
    </template>
    <template id="bulk-product-exceptions">
        {% include 'Prices/partials/bulk_exceptions.twig' %}
    </template>
    <template id="price-list-assignment">
        {% include 'Prices/partials/assignment.twig' %}
    </template>
{% endblock %}
{% block loadScripts %}
    <script id="scriptContainer" type="text/javascript">
        var args = [];

        args.push(
            {{ currencies | json_encode | raw }}
        );
        args.push(
            {{ valueTypes | json_encode | raw }}
        );

        {% if priceList %}
            args.push(
                {{ priceList | json_encode | raw }}
            );
        {% endif %}

        init.length = 0;
        init = [
            {
                file: 'Prices/productExceptionsModule.js'
            },
            {
                file: 'Prices/lineExceptionsModule.js'
            },
            {
                file: 'Prices/categoryExceptionsModule.js'
            },
            {
                file: 'Prices/brandExceptionsModule.js'
            },
            {
                file: 'Prices/marketExceptionsModule.js'
            },
            {
                file: 'Prices/groupExceptionsModule.js'
            },
            {
                file: 'Prices/bulkProductExceptionsModule.js'
            },
            {
                file: 'Prices/priceListAssignmentModule.js'
            },
            {
                title: 'Nueva Lista de Precios',
                file: 'Prices/createPriceList.js',
                functions: [ {
                    name: 'iniciarModuloCreatePriceList',
                    args: args
                }]
            }
        ];
    </script>
{% endblock %}
