{% block body %}
    <section>
        <style>
            .greenIcon{
                color: #26B353;
            }
            .grayIcon{
                color: #7b7b7b;
            }
            .lightGreenIcon{
                color: #5BC0DE;
            }
            .orangeIcon{
                color: #F0AD4E;
            }
            .greenTab li a
            {
                color: white !important;
                background-color: #26B353 !important;
                border-color: #1F9344 !important;
            }
            .greenTab li a:hover {
                color: #fff !important;
                background-color: #1F9344 !important;
                border-color: #1F9344 !important;
            }

            .greenTab .active a
            {
                color: black !important;
                background-color: #ABACAE !important;
                border-color: white !important;
            }
            .greenTab li.active a:hover {
                color: black !important;
                background-color: #ABACAE !important;
                border-color: white !important;
            }
            .btn-green {
                color: white !important;
                background-color: #26B353 !important;
                border-color: #1F9344 !important;
            }
            .btn-green:hover {
                color: #fff !important;
                background-color: #1F9344 !important;
                border-color: #1F9344 !important;
            }
        </style>

        <div id="edit-price-list">

            <div class="header-buttons">
                <div class="btn-group main-buttons">
                    <button class="btn btn-success" @click="updatePriceList(1)"><span class="glyphicon glyphicon-floppy-disk"></span><strong> Guardar</strong></button>
                </div>
            </div>

            <div class="panel-content">

                <div class="row">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group req">
                                    <label>Nombre</label>
                                    <input
                                        type="text"
                                        name="listName"
                                        v-model="listName"
                                        v-validate="'required'"
                                        data-vv-as="Nombre"
                                        :class="{'validate': errors.has('listName') }">
                                    <span class="cRed" v-show="errors.has('listName')">${ errors.first('listName') }</span>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Moneda</label>
                                    <vue-selectize-js
                                        :selectize-options="selectizeListCoins"
                                        :selectize-settings="selectizeCoinSettings"
                                        v-model="listCoin"
                                        >
                                    </vue-selectize-js>
                                    <!-- Campo para mostrar validacion solamente -->
                                    <input
                                        type="hidden"
                                        name="listCoin"
                                        v-model="listCoin"
                                        v-validate="'required'"
                                        data-vv-as="Moneda"
                                        :class="{'validate': errors.has('listCoin') }">
                                    <span class="cRed" v-show="errors.has('listCoin')">${ errors.first('listCoin') }</span>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <input
                                        class="checkbox"
                                        type="checkbox"
                                        id="create-price-list-checkbox"
                                        v-model="listECommerce">
                                    <label
                                        class="checkbox-label"
                                        for="create-price-list-checkbox">
                                        Disponible en E-Commerce
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Descripción</label>
                                    <textarea v-model="listDescription"></textarea>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group req">
                                    <label class="block">
                                        <div class="has-tooltip" data-tooltip="Tipo de calculo">
                                            <span class="glyphicon glyphicon-info-sign cGreen"></span>
                                        </div>
                                        Tipo
                                    </label>
                                    <select
                                        name="listType"
                                        v-model="listType"
                                        v-validate="'required|numeric'"
                                        data-vv-as="Tipo"
                                        class="block"
                                        :class="{'validate': errors.has('listType') }">
                                        <option value="1">Porcentaje</option>
                                        <option value="2">Fijo</option>
                                    </select>
                                    <span class="cRed" v-show="errors.has('listType')">${ errors.first('listType') }</span>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group req">
                                    <label class="block">
                                        <div class="has-tooltip" data-tooltip="Utilidad deseada en las ventas">
                                            <span class="glyphicon glyphicon-info-sign cGreen"></span>
                                        </div>
                                        Valor en %
                                    </label>
                                    <input
                                        type="number"
                                        name="listValue"
                                        v-model="listValue"
                                        v-validate="'required|decimal|min_value:0'"
                                        data-vv-as="Valor"
                                        class="block"
                                        :class="{'validate': errors.has('listValue') }">
                                    <span class="cRed" v-show="errors.has('listValue')">${ errors.first('listValue') }</span>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group req">
                                    <label class="block">
                                            <div class="has-tooltip" data-tooltip="Descuento máximo posible">
                                                <span class="glyphicon glyphicon-info-sign cGreen"></span>
                                            </div>
                                            Tope Descuento % (Máximo: ${listMaxDisscountRecommended}%)

                                            <div class="has-tooltip" data-tooltip="Si pasas el maximo vendes debajo del costo">
                                                <span class="glyphicon glyphicon-info-sign cGreen"></span>
                                            </div>
                                    </label>
                                    <input
                                        type="number"
                                        name="listMaxDisscount"
                                        v-model="listMaxDisscount"
                                        class="block"
                                        :class="{'validate': errors.has('listMaxDisscount') }">
                                    <span class="cRed" v-show="errors.has('listMaxDisscount')">${ errors.first('listMaxDisscount') }</span>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group req">
                                    <label class="block">
                                        <div class="has-tooltip" data-tooltip="Descuento máximo posible en excepcion">
                                            <span class="glyphicon glyphicon-info-sign cGreen"></span>
                                        </div>
                                        Tope Descuento Excepciones % (Máximo: ${listMaxDisscountRecommended}%)
                                    </label>
                                    <input
                                        type="number"
                                        name="listMaxDisscountExceptions"
                                        v-model="listMaxDisscountExceptions"
                                        class="block"
                                        :class="{'validate': errors.has('listMaxDisscountExceptions') }">
                                    <span
                                        v-show="errors.has('listMaxDisscountExceptions')"
                                        class="cRed">
                                        ${ errors.first('listMaxDisscountExceptions') }</span>
                                </div>
                            </div>
                        </div><br>
                        <div class="row">
                            <!--<div class="col-md-3">
                                <div>
                                    <div class="form-group">
                                        <input
                                            class="radio"
                                            type="radio"
                                            id="create-price-list-radio"
                                            v-model="listModality"
                                            value="1">
                                        <label class="radio-label" for="create-price-list-radio">Abierta</label>
                                    </div>
                                    <div class="form-group">
                                        <input
                                            class="radio"
                                            type="radio"
                                            id="create-price-list-radio2"
                                            v-model="listModality"
                                            value="2">
                                        <label class="radio-label" for="create-price-list-radio2">Asignación</label>
                                        <div v-if="listModality == 2">
                                            <button class="btn btn-primary">Ver / Editar Asignados</button>
                                        </div>
                                    </div>
                                </div>
                            </div>-->
                            <div class="col-md-2">
                                <div class="form-group">
                                    <input
                                        class="radio"
                                        type="radio"
                                        id="create-price-list-radio3"
                                        v-model="listDateOption"
                                        value="1">
                                    <label class="radio-label" for="create-price-list-radio3">
                                        <div class="has-tooltip" data-tooltip="Lista siempre disponible">
                                            <span class="glyphicon glyphicon-info-sign cGreen"></span>
                                        </div>
                                        Por tiempo indefinido
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <input
                                        class="radio"
                                        type="radio"
                                        id="create-price-list-radio4"
                                        v-model="listDateOption"
                                        value="2">
                                    <label class="radio-label" for="create-price-list-radio4">
                                        <div class="has-tooltip" data-tooltip="Lista disponible solo hasta">
                                            <span class="glyphicon glyphicon-info-sign cGreen"></span>
                                        </div>
                                        Agregar fecha de validez
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div>
                                    <vue-datetimepicker
                                            class-name="form-control"
                                            v-bind:min-date="listDatePickerOptions.minDate"
                                            v-bind:format="listDatePickerOptions.format"
                                            v-bind:time-picker="listDatePickerOptions.timePicker"
                                            v-model="listDate">
                                    </vue-datetimepicker>
                                    <span v-show="errors.has('listDate')" class="cRed">${ errors.first('listDate') }</span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12" style="background-color: #DDDBDC;">
                                <ul class="nav nav-pills greenTab">
                                    <li class="active"><a href="#1a" data-toggle="tab">Excepciones de Productos</a></li>
                                    <li><a href="#2a" data-toggle="tab">Exclusiones de Sucursales</a></li>
                                    <li><a href="#4a" data-toggle="tab">Exclusiones de Proveedores</a></li>
                                    <li><a href="#5a" data-toggle="tab">Exclusiones de Clientes</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12" style="background-color: #DDDBDC;">
                            <ul class="nav nav-pills greenTab">
                                <li class="active"><a href="#1a" data-toggle="tab">Excepciones de Productos</a></li>
                                <li><a href="#2a" data-toggle="tab">Exclusiones de Sucursales</a></li>
                                <!--<li><a href="#4a" data-toggle="tab">Exclusiones de Proveedores</a></li>-->
                                <li><a href="#5a" data-toggle="tab">Exclusiones de Clientes</a></li>
                            </ul>
                        </div>
                    </div><br>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="tab-content clearfix">
                                <div class="tab-pane active" id="1a">
                                    <a role="button" @click="toogleShowFilters" class="btn btn-success">
                                        <span class="glyphicon glyphicon-filter"></span> Mostrar filtros
                                    </a>
                                    <div class="row">
                                        <div :class="showProductsFilter ? 'col-md-2' : 'hidden'">
                                            <div class="form-group">
                                                <label class="block">Buscar Por Proveedores</label>
                                                <vue-selectize-js
                                                    :selectize-options="listProvidersFilter"
                                                    :selectize-settings="selectizeProviderFilterSettings"
                                                    v-model="selectedProviderFilter"
                                                    >
                                                </vue-selectize-js>
                                            </div>
                                            <div class="form-group">
                                                <label class="block">Buscar Por Categorias</label>
                                                <div ref="treeCategories"></div>
                                            </div>
                                            <div :class="showProductsFilter ? 'col-md-10 ' : ''">
                                                <vue-dynamic-table
                                                    class-name="table table-bordered"
                                                    :columns="sourceColumns"
                                                    :data-model="listProducts"
                                                    :filter-enabled="filterEnabled"
                                                    :pagination-options="paginationOptions"
                                                    @go-to-page="goToPage">
                                                    <template slot="type" scope="row">
                                                        <template v-if="row.object.exception">
                                                            <select v-model="row.object.type">
                                                                <option v-for="option in selectType.selectOptions" :value="option.value">${ option.text }</option>
                                                            </select>
                                                        </template>
                                                    </template>
                                                    <template slot="showMaxDisscount" scope="row">
                                                        ${listMaxDisscount}%
                                                    </template>
                                                    <template slot="showMaxDisscountExceptions" scope="row">
                                                        ${listMaxDisscountExceptions}%
                                                    </template>
                                                    <template slot="newValue" scope="row">
                                                        <template v-if="row.object.exception">
                                                            <input type="text" v-model="row.object.newValue"/>
                                                        </template>
                                                    </template>
                                                    <template slot="newMaxDisscount" scope="row">
                                                        <template v-if="row.object.exception">
                                                            <input type="text" v-model="row.object.newMaxDisscount"/>
                                                        </template>
                                                    </template>
                                                    <template slot="no-rows-found">
                                                        <h4 class="text-center"><span class="glyphicon glyphicon-zoom-in"></span> No se encontraron productos</h4>
                                                    </template>
                                                </vue-dynamic-table>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane" id="2a">
                                        <vue-dynamic-table
                                            class-name="table table-bordered"
                                            :columns="sourceColumnsSubsidiaries"
                                            :filter-enabled="filterEnabled"
                                            :data-model="listSubsidiaries"
                                            :filter-enabled="filterEnabled"
                                            :pagination-options="paginationOptionsSubsidiaries"
                                            @go-to-page="goToPageSubsidiaries">
                                            <template slot="no-rows-found">
                                                <h4 class="text-center"><span class="glyphicon glyphicon-zoom-in"></span> No se encontraron sucursales</h4>
                                            </template>
                                        </vue-dynamic-table>
                                    </div>
                                </div>
                                <!--<div class="tab-pane" id="4a">
                                    <vue-dynamic-table
                                        class-name="table table-bordered"
                                        :columns="sourceColumnsProviders"
                                        :filter-enabled="filterEnabled"
                                        :data-model="listProviders"
                                        :filter-enabled="filterEnabled"
                                        :pagination-options="paginationOptionsProviders"
                                        @go-to-page="goToPageProviders">
                                        <template slot="no-rows-found">
                                            <h4 class="text-center"><span class="glyphicon glyphicon-zoom-in"></span> No se encontraron proveedores</h4>
                                        </template>
                                    </vue-dynamic-table>
                                </div>-->
                                <div class="tab-pane" id="5a">
                                    <vue-dynamic-table
                                        class-name="table table-bordered"
                                        :columns="sourceColumnsCustomers"
                                        :filter-enabled="filterEnabled"
                                        :data-model="listCustomers"
                                        :filter-enabled="filterEnabled"
                                        :pagination-options="paginationOptionsCustomers"
                                        @go-to-page="goToPageCustomers">
                                        <template slot="no-rows-found">
                                            <h4 class="text-center"><span class="glyphicon glyphicon-zoom-in"></span> No se encontraron clientes</h4>
                                        </template>
                                    </vue-dynamic-table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
{% block loadScripts %}
    <script id="scriptContainer" type="text/javascript">
        uiVars['listPrice'] = {{ listPrice|json_encode|raw }};
        init.length = 0;
        init = [ {
            title: "Edición de Lista de Precios: " + uiVars['listPrice'].name;,
            file: 'Prices/editPriceList.js',
            functions: [ {
                name: 'iniciarModuloEditPriceList',
                args: [ uiVars['listPrice'] ]
            } ]
        } ];
    </script>
{% endblock %}
