<section>
    <div  id="formTypeIncapacity">
        <div class="header-buttons">
            <div class="btn-group main-buttons">
                <button
                    class="btn btn-success"
                    @click="typeIncapacityValidate">
                    <span class="glyphicon glyphicon-ok"></span>
                    Guardar
                </button>
                <button
                    class="btn btn-danger"
                    data-action="closeTab">
                    <span class="glyphicon glyphicon-remove"></span>
                    Cancelar
                </button>
            </div>
        </div>
        <div class="panel-content">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Datos del tipo de incapacidad</h3>
                </div>
                <form v-on:submit.prevent="typeIncapacityValidate('formTypeIncapacity')" id="">
                    <div class="modal-body">
                        <input type="hidden" name="id" v-model="typeIncapacity.id">
                        <div class="form-group">
                            <label for="contractType">Tipo de Incapacidad:</label>
                            <input
                                v-model="typeIncapacity.c_TipoIncapacidad"
                                class="form-control"
                                type="text"
                                @keypress="clearIncapacityValidatorError('c_TipoIncapacidad')"
                                name="">
                            <span v-if="typeIncapacityValidatorErrors != null" class="cRed">
                                ${ typeIncapacityValidatorErrors.first('c_TipoIncapacidad') }
                            </span>
                        </div>
                        <div class="form-group">
                            <label for="contract_description">Descripción:</label>
                            <input
                                v-model="typeIncapacity.description"
                                class="form-control"
                                type="text"
                                @keypress="clearIncapacityValidatorError('Descripción')"
                                name="">
                            <span v-if="typeIncapacityValidatorErrors != null" class="cRed">
                                ${ typeIncapacityValidatorErrors.first('Descripción') }
                            </span>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
<script id="scriptContainer" type="text/javascript">
    uiVars['title'] = '{{title}}';
    uiVars['view'] = {{view}};
    uiVars['data']   = {{data|json_encode|raw}};
    init.lenght = 0;
    init = [ {
        title: uiVars['title'],
        file: 'Payroll/TypeIncapacity/form.js',
        functions: [ {
            name: 'initFormtypeIncapacity',
            args: [ uiVars['data'], uiVars['view']]
        } ]
    } ];
</script>
