{% block main_customer %}
<section>
    <div id="admin-container">
          {% include( 'Admin/Packet/partials/buttons.twig' ) %}
          <div class="panel-content">
              <h4>Tabla Paquetes</h4>
              <div id="adminDT-packet">
              <vue-dynamic-table
                  class-name="table table-bordered table-hover"
                  v-bind:filter-enabled="true"
                  v-bind:expandable-row="true"
                  v-bind:columns="sourceColumns"
                  v-bind:data-model="listPackets"
                  v-on:go-to-page="goToPage"
                  v-bind:pagination-options="PaginationOptions">
                  <template slot="nusers" scope="row">
                      <button v-if="row.object.users == 0" type="button" name="button" class="btn btn-success">Ilimitados</button>
                      <button v-else type="button" name="button" class="btn btn-primary">${row.object.users}</button>
                  </template>
                  <template slot="nstamps" scope="row">
                      <button v-if="row.object.stamps == -1" type="button" name="button" class="btn btn-success">Ilimitados</button>
                      <button v-else type="button" name="button" class="btn btn-primary">${row.object.stamps}</button>
                  </template>
                  <template slot="nmails" scope="row">
                      <button v-if="row.object.mails == -1" type="button" name="button" class="btn btn-success">Ilimitados</button>
                      <button v-else type="button" name="button" class="btn btn-primary">${row.object.mails}</button>
                  </template>
                  <template slot="cost" scope="row">
                      <button v-if="row.object.price == 0" type="button" name="button" class="btn btn-success">Gratuito</button>
                      <button v-else type="button" name="button" class="btn btn-primary">$ ${row.object.price}</button>
                  </template>
                  <template slot="actions" scope="row">
                    <div class="ui-button">
                              <div class="secondary">
                                 <a role="button"
                                 class="btn bgGreen"
                                 data-action="openLateral"
                                 data-route="admin/packet/edit"
                                 data-panelsize="lg"
                                 v-on:click="onEditClick(row.object)">
                                   <i class="fa fa-pencil"  aria-hidden="true"></i>
                                 </a>
                                 <a role="button"
                                 class="btn bgRed"
                                 v-on:click="onRemoveClick(row.object)">
                                   <i class="fa fa-trash"></i>
                                 </a>

                              </div>
                          </div>
                </template>
              </vue-dynamic-table>
            </div>
          </div>
    </div>
</section>

{% endblock %}


{% block loadScripts %}
<script id="scriptContainer" type="text/javascript">
  init.length = 0;
  init = [{
    title: 'Listado De Paquetes'
  }];


//variable globales
(function() {
var adminPacketList;
var editData;
})();

function iniciarModuloAdminPages(){
    adminPacketList = new Vue({
        el: '#adminDT-packet',
        data: {
            dataTable: null,
            selectedColumns: [],
            listPackets: [],
            PaginationOptions: {
                position: 'bottom',
                classSizeOption: 'pull-left form-control page-size',
                classPaginator: 'pull-right list-inline',
                classPageOption: 'btn btn-primary',
                sizeOptions: [20, 30, 50, 100],
                size: 20,
                paginatorClass: 'list-inline',
                pageOptionClass: 'btn btn-primary',
                currentPage: 1,
                lastPage: null
            },
            sourceColumns: [
              {
                    name: 'id',
                    title: 'ID',
                    visible: true,
                    sortable: true,
                    filterable: true,
                    class: 'col-xs',
                    filter: {
                        type: 'text',
                        filterClass: 'form-control'
                    }
                },

                {
                    name: 'name',
                    title: 'Paquete',
                    visible: true,
                    sortable: true,
                    filterable: true,
                    class: 'col-md',
                    filter: {
                        type: 'text',
                        filterClass: 'form-control'
                    }
                },
                {
                    name: 'description',
                    title: 'Descripcion',
                    visible: true,
                    sortable: true,
                    filterable: true,
                    class: 'col-md',
                    filter: {
                        type: 'text',
                        filterClass: 'form-control'
                    }
                },
                {
                    title: '# Usuarios',
                    class: 'col-md',
                    customRender: {
                        slot: 'nusers'
                    },
                    visible: true
                },
                {
                    title: '# Timbres',
                    class: 'col-md',
                    customRender: {
                        slot: 'nstamps'
                    },
                    visible: true
                },
                {
                    title: '# E-Mails',
                    class: 'col-md',
                    customRender: {
                        slot: 'nmails'
                    },
                    visible: true
                },
                {
                    title: 'Costo',
                    class: 'col-md',
                    customRender: {
                        slot: 'cost'
                    },
                    visible: true
                },{
                    title: 'Acciones',
                    class: 'col-md acciones',
                    customRender: {
                        slot: 'actions'
                    },
                    visible: true
                }
            ],
            currentPage: 1,
            lastPage: 1,
            pageSize: 100
        },
        mounted: function() {
            this.loadPackets();
        },
        methods: {
          loadPackets: function() {
              var filters = {};
              this.sourceColumns.map(function(column) {
                  column.filterTag = false
              })
              filters.size = this.PaginationOptions.size;
              filters.page = this.PaginationOptions.currentPage;
              //obtiene datos para la tabla
              $.get(AJAX_PATH + 'admin/packet/table', filters, function(response) {
                  var paginator = response.data;
                  this.PaginationOptions.lastPage = paginator.last_page;
                  this.listPackets = response.data.data;
              }.bind(this));
        },
        goToPage: function(page) {
            this.PaginationOptions.currentPage = page;
            this.loadModules();
        },
        onRemoveClick: function(row) {
                     this.$confirm('Desea eliminar el Paquete Permenantemente?', 'Warning', {
        confirmButtonText: 'OK',
        cancelButtonText: 'Cancel',
        type: 'warning'
      }).then(() => {
        $.ajax({
            url: AJAX_PATH + 'admin/packet/remove',
            data:{
              id: row.id
            },
            type: 'POST'
        }).done( function( response ) {
          adminPacketList.loadPackets();
          switch (response.data[0].status) {
            case 0:
            adminPacketList.$message({
                      message: 'Este Paquete No Puede Ser Eliminado.',
                      type: 'warning'
                  });
              break;
            case 1:
              adminPacketList.loadPackets();
             this.$message({
                       message: 'Paquete Eliminado Correctamente.',
                       type: 'success'
                   });
              break;
            default:
              break;
          }

        }.bind(this));
        adminPacketList.$message({
          type: 'success',
          message: 'Paquete Eliminado'
        });
      }).catch(() => {
        this.$message({
          type: 'info',
          message: 'Operacion Cancelada'
        });
      });
        },
        onEditClick: function(row){
          $.ajax({
              url: AJAX_PATH + 'admin/packet/get',
              data: {
                  id: row.id
              },
              type: 'POST'
          }).done(function(response){
              editData = response;
          }.bind(this));
        }
      },
      computed: {},
      watch: {},
      delimiters: ['${', '}']
      });
    }

    iniciarModuloAdminPages();
</script>
{% endblock %}
