{% block body %}
<div class="header-buttons">
   <div class="btn-group main-buttons">
       <a name="savePageFaculties" role="button" class="btn btn-primary" id="savePageFaculties">
         <i class="fa fa-floppy-o" aria-hidden="true"></i>
         Guardar Cambios
       </a>
       <a name="add" role="button" class="btn btn-primary" data-action="openLateral" data-module="usuarios" data-route="usuarios/registro">
         <i class="fa fa-list" aria-hidden="true"></i>
         Listado de Paginas
       </a>
       <a name="add" role="button" class="btn btn-primary" data-action="openLateral" data-module="usuarios" data-route="usuarios/registro">
         <i class="fa fa-list" aria-hidden="true"></i>
         Listado de Facultades
       </a>
   </div>
</div>
<div id="facultiesByPage" class="panel-content">
  <div class="row">
    <div class="col-md-8">
      <div class="card-item">

        <form id="registerPageFrom">
          <div class="form-group">
            <label for="pagename">Pagina</label>
            <input v-validate="'required'" data-vv-as="Pagina" type="text" class="form-control" name="pagename" id="pagina" v-model="page">
            <span class="cRed"  v-show="errors.has('pagename')">${errors.first('pagename')}</span>

            <label for="pagepath">Path</label>
            <input v-validate="'required'" data-vv-as="Path" type="text" class="form-control" name="pagepath" id="path"v-model="path">
            <span class="cRed"  v-show="errors.has('pagepath')">${errors.first('pagepath')}</span>

            <label for="pagedesc">Descripcion</label>
            <input type="text" class="form-control" name="pagedesc" id="description" v-model="description">

            <span class="input-group-btn">
              <button class="btn btn-success" type="button" v-on:click="registerPage">Registrar</button>
            </span>
          </div>
        </form>

    </div>
    </div>
    <div class="col-md-4">
      <div class="card-item">
        <form id="registerFacultyFrom">
          <div class="form-group">
             <label for="descripcion">Facultad</label>
             <input v-validate="'required'" type="text" class="form-control" name="faculty" v-model="faculty">
             <span class="cRed" v-show="errors.has('faculty')">${errors.first('faculty')}</span>

             <span class="input-group-btn">
               <button class="btn btn-success" type="button" v-on:click="registerFaculty">Registrar</button>
             </span>
          </div>
        </form>
      </div>
    </div>
  </div>
<div class="row">
  <div id="checkList" class="col-md-4">
    <h4>Paginas</h4>
    <template >
          <el-tree
           :data="pages"
           show-checkbox
           node-key="id"
           ref="refPages"
           @check-change="getCheckedPages"
           :props="defaultProps">
          </el-tree>
    </template>
  </div>
  <div id="facultyCheckList" class="col-md-8">
    <h4>Facultades</h4>
    <div id="FaultyChecker" class="form-control">
            <ul class="list-inline">
                <template v-for="faculty in faculties">
                    <li class="list-inline-item"><input type="checkbox" name="" v-bind:value="faculty.id" v-model="checkedFaculties" @change="setFaculties">${faculty.label}</li>
                </template>
            </ul>
            ${checkedFaculties}
    </div>
  </div>
</div>
</div>

{% endblock %}
{% block loadScripts %}
<script id="scriptContainer">
        init.length = 0;
        init = [{
            title: 'Facultades Por Pagina',
            file: 'Admin/Package/pageFaculties.js',
            functions: [{
                name: 'initPageFaculties',
                args: []
            }]
        }];
</script>
{% endblock %}
