<div id="tableJournal">
    <vue-dynamic-table-rbc
        box-classes="box box-primary full-height"
        class-name="table table-bordered table-hover"
        :source-columns="sourceColumns"
        :select-options="pageOptions"
        :data-model="listJournal"
        {# @export="exportTable" #}
        {# :remote-method="remoteSearch" #}
        template-file-name="Diarios"
        :total-results="totalResults">
        <template slot="description" scope="row">
            <div class="expand">
                ${ row.object.product_description }
            </div>
        </template>
        <template slot="actions" scope="row">
            <div class="ui-button bg-Light-Blue overflowInherit">
                <div class="secondary">
                    <a
                        role="button"
                        data-route="javascript:void(0);"
                        class="has-tooltip btn align-right"
                        data-tooltip="Editar"
                        v-on:click="onEditClick(row.object)">
                        <span class="glyphicon glyphicon-edit"></span>
                    </a>
                    <a
                        role="button"
                        class="has-tooltip btn align-right"
                        data-tooltip="Eliminar"
                        data-route="javascript:void(0);"
                        v-on:click="onRemoveClick(row.object)">
                        <span class="glyphicon glyphicon-trash"></span>
                    </a>
                </div>
            </div>
        </template>
    </vue-dynamic-table-rbc>
</div>
