<section>
    <div id="FormPermission">
        <div class="header-buttons">
            <div class="btn-group main-buttons">
                <button
                    class="btn btn-success"
                    @click="permissionValidate">
                    <span class="glyphicon glyphicon-floppy-disk"></span>
                    Guardar
                </button>
                <button
                    class="btn btn-danger"
                    data-action="closeTab">
                    <span class="glyphicon glyphicon-remove"></span>
                    Cancelar
                </button>
            </div>
        </div>
        <div class="panel-content">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Datos del Solicitante </h3>
                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-toggle="collapse" data-target=".collapsePermissions" aria-expanded="false" aria-controls="collapsePermissions" data-toggle="tooltip"  title="Indicaciones">
                        <i class="ui ui-help_outline"></i>
                        </button>
                    </div>
                </div>
                <div class="indication collapse collapsePermissions">
                    <div class="indication-content">
                        <div class="indication-img">
                            <span class="indication-icon ui ui-help"></span>
                        </div>
                        <div class="indication-text">
                            Instrucciones: Añade los datos del permiso obligatorios (*). Selecciona el tipo de ausencia.
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    <form v-on:submit.prevent="permissionValidate('FormPermission')" id="">
                        <input type="hidden" name="id" v-model="permission.id">  
                        <div class="row mTop20">
                            <div class="col-md-4">
                                <label for="employee">* Empleado</label>
                                <div class="form-group">
                                    <el-select v-model="permission.employee_id" filterable
                                        @change="clearPermissionValidatorError('Empleado'), antiquityCalculate(permission.employee_id)"
                                        {# v-on:change="antiquityCalculate(this.selected)" #} >
                                        <el-option 
                                            v-for="employee in employees"
                                            :key="employee.id"
                                            :label="employee.name + ' ' + employee.father_surname + ' ' + employee.mother_surname"
                                            :value="employee.id">
                                                <span style="float: left;">${ 
                                                    employee.name + " " + employee.father_surname + " " + employee.mother_surname }</span>
                                                <span style="float: right; color: #8492a6; font-size: 13px">${ employee.id }</span>
                                        </el-option>
                                    </el-select>
                                    <span v-if="permissionValidatorErrors != null" class="cRed">
                                        ${ permissionValidatorErrors.first('Empleado') }
                                    </span>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <label for="employee">Tipo de ausencia</label>
                                <div class="form-group">
                                    <el-radio-group v-model="isVacations">
                                        <el-radio :label="true">Vacaciones</el-radio>
                                        <el-radio :label="false">Permisos</el-radio>
                                    </el-radio-group>
                                </div>
                            </div>
                            <div class="col-md-4" v-if="!isVacations">
                                <label for="">Tipo de Permiso</label>
                                <div class="form-group">
                                    <el-select v-model="permission.type_permission_id" filterable
                                        @change="typeOfPermission(permission.type_permission_id)">
                                        <el-option
                                            v-for="permission in types"
                                            :label="permission.concept"
                                            :value="permission.id">
                                            <span style="float: left;">
                                                ${ permission.concept  }
                                            </span>
                                            <span style="float: right; color: #8492a6; font-size: 13px">
                                                ${ permission.suggested_days }
                                            </span>
                                        </el-option>
                                    </el-select>
                                </div>
                            </div>
                        </div>
                        <div class="row mTop20">
                            <div class="col-md-4" v-if="isVacations">
                                <label for="antiquity">Antigüedad</label>
                                <div class="form-group">
                                    <label for="">
                                        ${permission.antiquity}
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-4" v-if="isVacations">
                                <label for="available" >Días Disponibles</label>
                                <div class="form-group">
                                    <label for="">${ permission.available_days }</label>
                                </div>
                            </div>
                            <div class="col-md-4" v-if="isVacations">
                                <label for="days_spent">Días Consumidos</label>
                                <div class="form-group">
                                    <label for=""> ${ permission.days_spent } </label>
                                </div>
                            </div>
                        </div>
                        <div class="row mTop20">    
                            <div class="col-md-4">
                                <label for="daysRequired">Días Requeridos</label>
                                <div class="form-group">
                                    <input
                                        v-model="daysRequired"
                                        class="form-control"
                                        type="number"
                                        @keypress='clearPermissionValidatorError("Días Requeridos")'
                                        name="daysRequired">
                                </div>
                                <span v-if="permissionValidatorErrors != null" class="cRed">
                                    ${ permissionValidatorErrors.first('Días Requeridos') }
                                </span>
                            </div>
                            <div class="col-md-4">
                                <label for="antiquity">* Lapso</label>
                                <div class="block">
                                    <el-date-picker
                                        :picker-options='dateAvailablePickerOptions'
                                        range-separator=' / '
                                        v-model="dateRange"
                                        type="daterange"
                                        placeholder="Seleccione la fecha">
                                    </el-date-picker>
                                </div>
                                <span v-if="permissionValidatorErrors != null" class="cRed">
                                    ${ permissionValidatorErrors.first('Lapso') }
                                </span>
                            </div>
                            <div class="col-md-4">
                                <label for="comments">Comentarios</label>
                                <div class="form-group">
                                    <input
                                        v-model="permission.comments"
                                        class="form-control"
                                        type="text"
                                        name="comments">
                                </div>
                            </div>
                        </div>
                    </form>       
                </div>
            </div>
        </div>
    </div>
</section>
<script id="scriptContainer" type="text/javascript">
uiVars['title'] = '{{title}}';
uiVars['view'] = {{view}};
uiVars['data']   = {{data|json_encode|raw}};
var employee = {{ employee|json_encode|raw}};
init.lenght = 0;
init = [ {
    title: uiVars['title'],
    file: 'HumanResources/Permissions/form.js',
    functions: [ {
        name: 'formPermissions',
        args: [ uiVars['data'], uiVars['view'],employee]
    } ]
} ];
</script>
