{% block body %}
<section>
    <div id="permissions-module">
        <div class="header-buttons">
            <div class="btn-group main-buttons">
                <a id="btnNewPermissions"
                    role="button"
                    class="btn btn-success"
                    data-action="openLateral"
                    data-panelsize="sm"
                    data-route="recursosHumanos/permisos/nuevo">
                    <i class="fa fa-plus " aria-hidden="true"></i> Agregar Permiso
                </a>
            </div>
        </div>
        <div class="panel-content">
            <vue-dynamic-table-rbc
                box-classes="box box-primary full-height"
                class-name="table table-bordered table-hover"
                :remote-method="ajaxPermissionsSearch"
                :source-columns="permissionsSourceColumns"
                :select-options="catalogs"
                :data-model="permissionsList"
                :total-results="permissionsResults"
                >
                <template slot="typePermission" scope="row">
                    <div v-if="row.object.type_permission === 0" class="cDark">
                        ${ row.object.concept='Vacaciones' }
                    </div>
                    <div v-else class="text-capitalize " >
                        ${ row.object.concept }
                    </div>
                </template>
                <template slot="concept" scope="row">
                    ${row.object.concept}
                </template>
                <template slot="status" scope="row">
                    ${row.object.status}
                </template>
                <template slot="comments" scope="row">
                    ${row.object.comments}
                </template>
                <template slot="actions" scope="row">
                    <div class="ui-button bg-Light-Blue overflowInherit">
                        <div class="secondary">
                            <a
                                role="button"
                                class="has-tooltip btn align-right"
                                data-tooltip="Editar"
                                v-on:click="onEditClick(row.object.id)">
                                <span class="glyphicon glyphicon-edit"></span>
                            </a>
                            <a
                                class="has-tooltip btn align-right"
                                data-tooltip="Eliminar"
                                role="button"
                                v-on:click="onRemoveClick(row)">
                                <span class="glyphicon glyphicon-trash"></span>
                            </a>
                        </div>
                    </div>
                </template>
                <template slot="status" scope="row">
                    <a v-on:click="onEditStatus(row)"
                        role="btn btn-primary"
                        data-toggle="modal"
                        style="cursor:hand"
                        data-target="#permissionModalChanges">
                        <div v-if="row.object.status==='Aprobada'">
                            <el-tag type="success">${ row.object.status }</el-tag>
                        </div>
                        <div v-if="row.object.status==='Pendiente'">
                            <el-tag type="warning">${ row.object.status }</el-tag>
                        </div>
                        <div v-if="row.object.status==='Rechazada'">
                            <el-tag type="danger">${ row.object.status }</el-tag>
                        </div>
                        <div v-if="row.object.status==='Finalizada'">
                            <el-tag type="primary">${ row.object.status }</el-tag>
                        </div>
                    </a>
                </template>
            </vue-dynamic-table-rbc>
<div
class="modal fade"
id="permissionModalChanges"
tabindex="-1"
role="dialog"
aria-labelledby="myModalLabel">
<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="modal-title" id="myModalLabel">Status de permiso </h4>
        </div>
        <div class="modal-body">
            <div class="form-group">
                <label for="">Cambiar de Estatus</label>
                <el-select v-model="status.id" placeholder="Select">
                    <el-option
                    v-for="item in permission.statusList"
                    :key="item.id"
                    :label="item.status"
                    :value="item.id">
                    <span style="float: left">${ item.status }</span>
                    <span style="float: right; color: #8492a6; font-size: 13px">${ item.id }</span>
                </el-option>
            </el-select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
        <button
        type="button"
        class="btn btn-primary"
        @click="changeStatusPermission()">Guardar</button>
    </div>
</div>
</div>
</div>
</div>
</div>
</section>
{% endblock %}
{% block loadScripts %}
<script id="scriptContainer" type="text/javascript">
var catalogs = {{ catalogs|json_encode|raw }};
init.length = 0;
init = [ {
    title: 'Listado Permisos',
    file:  'HumanResources/Permissions/list.js',
    functions: [ {
        name: 'initPermissionsListModule',
        args: [catalogs]
    } ]
} ];
</script>
{% endblock %}
