{% block content  %}
    <div id="index-cashbox-opening-module">
        <div class="header-buttons">
            <div class="btn-group main-buttons">
                <a role="button" @click="showNewOpening()" class="btn btn-success ">
                    <span class="fa fa-plus"></span> Nueva apertura
                </a>
                <a role="button" class="btn btn-success ">
                    <span class="fa fa-check-square"></span> Campos
                </a>
            </div>
        </div>
        <div class="panel-content">
            <div class="row">
                <div class="col-md-2">
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingOne">
                            <h4 class="panel-title">
                                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    Sucursales
                                </a>
                            </h4>
                        </div>
                        <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                            <div class="panel-body">
                                <div class="form-group noMargin noPadding" v-for="subsidiary in listSubsidiaries">
                                    <input class="checkbox" name="subsidiaries" type="checkbox" v-model="subsidiaries" :id="subsidiary.name" :value="subsidiary.id" >
                                    <label class="checkbox-label filter-option" :for="subsidiary.name">${ subsidiary.name }</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingThree">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                    Cajeros
                                </a>
                            </h4>
                        </div>
                        <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                            <div class="panel-body">
                                <div class="form-group noMargin noPadding" v-for="cashier in listCashiers">
                                    <input name="cashier" type="checkbox" v-model="cashiers" :value="cashier.id" >
                                    <label class="checkbox-label filter-option">${ cashier.name }</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    -->
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingFour">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                    Periodo
                                </a>
                            </h4>
                        </div>
                        <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
                            <div class="panel-body">
                                <vue-datetimepicker-range
                                        v-model="range">
                                </vue-datetimepicker-range>

<!--
                                <div class="period">
                                    <div class="form-group">
                                        <label for="">Año:</label>
                                        <select name="" id="" >
                                            <option v-for="n in range(1950, 2050)" :value="n">${ n }</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="period">
                                </div>
                                <div class="period">
                                    <div class="form-group">
                                        <label for="">Cuatrimestre:</label>
                                        <select>
                                            <option value="">Enero - Abril</option>
                                            <option value="">Mayo - Agosto</option>
                                            <option value="">Septiembre - Diciembre</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="period">
                                    <div class="form-group">
                                        <label for="">Semestre:</label>
                                        <select>
                                            <option value="">Enero - Febrero</option>
                                            <option value="">Marzo - Abril</option>
                                            <option value="">Mayo - Junio</option>
                                            <option value="">Julio - Agosto</option>
                                            <option value="">Septiembre - Octubre</option>
                                            <option value="">Noviembre - Diciembre</option>
                                        </select>
                                    </div>
                                </div>
                                -->
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-10">
                    <vue-dynamic-table
                            class-name="table table-bordered"
                            :pagination="true"
                            :pagination-options="paginationOptions"
                            @go-to-page="gotoPage($event)"
                            :columns="columns"
                            :data-model="listOpenings">
                        <template slot="no-rows-found">
                            No se encontrarón resultados
                        </template>
                        <template slot="opening-open-date" scope="row">
                            ${ moment(row.object.openAt).format('DD-MMM-YYYY h:mm a') }
                        </template>
                        <template slot="opening-close-date" scope="row">
                            <div v-if="row.object.closeAt != null">
                                ${ moment(row.object.closeAt).format('DD-MMM-YYYY h:mm a') }
                            </div>
                        </template>
                        <template slot="number" scope="row">
                            ${ ((paginationOptions.currentPage - 1) * paginationOptions.size) + row.index + 1 }
                        </template>
                        <template slot="openAt" scope="row">
                            ${ moment(row.object.fromDate).format("YYYY-MM-DD H:mm") }
                        </template>
                        <template slot="actions" scope="row">
                            <button class="btn btn-primary btn-xs" @click="showOpeningDetails(row.index)">
                                <span class="fa fa-eye"></span> Detalles
                            </button>
                        </template>
                    </vue-dynamic-table>
                </div>
            </div>
        </div>
    </div>


    {% block loadScripts %}
        <script id="scriptContainer" type="text/javascript">
            var listSubsidiaries = {{ subsidiaries | json_encode | raw }};
            var listCashiers     = {{ cashiers | json_encode | raw }};
            (function(listSubsidiaries, listCashiers) {
                var columns = [
                    {
                        title: 'No.',
                        customRender: {
                            slot: 'number'
                        },
                        visible: true
                    },
                    {
                        name: 'subsidiaryName',
                        title: 'Sucursal',
                        visible: true
                    },
                    {
                        name: 'cashboxName',
                        title: 'Caja',
                        visible: true
                    },
                    {
                        name: 'cashierName',
                        title: 'Cajero',
                        visible: true
                    },
                    {
                        title: 'Apertura',
                        visible: true,
                        customRender: {
                            slot: "opening-open-date"
                        }
                    },
                    {
                        name: 'initialAmount',
                        title: 'Monto inicial',
                        money: true,
                        visible: true
                    },
                    {
                        title: 'Cierre',
                        visible: true,
                        customRender: {
                            slot: "opening-close-date"
                        }
                    },
                    {
                        name: 'finalAmount',
                        title: 'Monto final',
                        money: true,
                        visible: true
                    },
                    {
                        name: 'receivedAmount',
                        title: 'Monto recibido',
                        money: true,
                        visible: true
                    },
                    {
                        name: 'diffAmount',
                        title: 'Monto de diferencia',
                        money: true,
                        visible: true
                    },
                    {
                        title: 'Acciones',
                        customRender: {
                            slot: 'actions'
                        },
                        visible: true
                    }
                ];

                var paginationOptions = {
                    position: 'bottom',
                    classSizeOption: 'pull-left form-control page-size',
                    classPaginator: 'pull-right list-inline',
                    classPageOption: 'btn btn-default',
                    sizeOptions: [10, 20, 30, 50, 100],
                    size: 10,
                    currentPage: 1
                };

                var indexCashboxOpeningModule = new Vue({
                    el: '#index-cashbox-opening-module',
                    data: {
                        columns: columns,
                        listOpenings: [],

                        cashiers: [],
                        subsidiaries: [],
                        cashboxes: [],

                        listSubsidiaries: listSubsidiaries,
                        listCashiers: listCashiers,

                        paginationOptions: paginationOptions,
                        range: null
                    },
                    mounted: function() {
                        this.loadListOpenings();
                    },
                    methods: {
                        loadListOpenings: function (page, size) {
                            var filters = new Object();

                            if (page != null) {
                                filters.page = page;
                            }
                            if (size != null) {
                                filters.size = size;
                            }

                            if (this.cashiers.length > 0) {
                                filters.cashiers = this.cashiers.join(',');
                            }
                            if (this.cashboxes.length > 0) {
                                filters.cashboxes = this.cashboxes.join(',');
                            }
                            if (this.subsidiaries.length > 0) {
                                filters.subsidiaries = this.subsidiaries.join(',');
                            }
                            if (this.range != null) {
                                if (this.range.fromDate) {
                                    filters.fromDate = moment(this.range.fromDate).format("YYYY-MM-DD H:mm:ss");
                                }
                                if (this.range.toDate) {
                                    filters.toDate = moment(this.range.toDate).format("YYYY-MM-DD H:mm:ss");
                                }
                            }

                            $.get(
                                AJAX_PATH + 'punto-de-venta/cajas/apertura-cierres/index',
                                filters,
                                function (response) {
                                    this.listOpenings = response.data;
                                    this.paginationOptions.lastPage = parseInt(response.last_page);
                                    this.paginationOptions.currentPage = parseInt(response.current_page);
                                }.bind(this)
                            );
                        },
                        gotoPage: function (page) {
                            this.loadListOpenings(page, this.paginationOptions.size);
                        },
                        showNewOpening: function () {
                            openOnLateral('punto-de-venta/cajas/apertura-cierres/nuevo', 'sm');
                        },
                        showOpeningDetails: function (index) {
                            var openingIndex = this.listOpenings[index].id;
                            openOnLateral("punto-de-venta/cajas/apertura-cierres/" + openingIndex +  "/detalles", "md");
                        },
                        moment: function (object) {
                            return moment(object);
                        }

                    },
                    watch: {
                        subsidiaries:  function() {
                            this.loadListOpenings();
                        },
                        cashiers:  function() {
                            this.loadListOpenings();
                        },
                        range: function(newRange, oldRange) {
                            console.log(this.range);
                            this.loadListOpenings();
                        }
                    },
                    delimiters: ['${', '}']
                });
            })(listSubsidiaries, listCashiers);
        </script>
    {% endblock %}
{% endblock %}
