{% block content  %}
    <style>
        table.main-data {
            font-size: 17px;
        }
    </style>
    <div id="details-opening-module">
        <h1>Detalle de apertura de caja</h1>
        <div class="row">
            <div class="col-md-12">
                <table class="main-data pull-left">
                    <tbody>
                    <tr>
                        <td>Caja:</td>
                        <td>${ opening.cashbox.name }</td>
                    </tr>
                    <tr>
                        <td>Sucursal:</td>
                        <td>${ opening.cashbox.subsidiary.name }</td>
                    </tr>
                    <tr>
                        <td>Cajero:</td>
                        <td>${ opening.cashier.name }</td>
                    </tr>
                    </tbody>
                </table>
                <table class="main-data pull-right">
                    <tbody>
                    <tr>
                        <td>Apertura:</td>
                        <td>${ opening.created_at }</td>
                    </tr>
                    <tr>
                        <td>Cierre:</td>
                        <td>${ opening.closed_at }</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <table class="main-data pull-right">
                    <tbody>
                    <tr>
                        <td>Total1:</td>
                        <td>Cantidad</td>
                    </tr>
                    <tr>
                        <td>Total2:</td>
                        <td>Cantidad</td>
                    </tr>
                    <tr>
                        <td>Total3:</td>
                        <td>Cantidad</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>


        <samp>
            {{ opening | json_encode | raw }}
        </samp>

    </div>
{% endblock %}

{% block loadScripts %}
    <script id="scriptContainer" type="text/javascript">
        var opening = {{ opening | json_encode | raw }};
        (function (opening) {
            var detailsOpeningModule = new Vue({
                el: "#details-opening-module",
                data: {
                    opening: opening
                },
                methods: {
                },
                delimiters: ["${", "}"]
            });
        })(opening);
    </script>
{% endblock %}