<div id="tablecategories">
    <vue-dynamic-table
        class-name="table table-bordered table-responsive"
        v-bind:class="{ fullHeight }"
        v-bind:filter-enabled="true"
        v-bind:expandable-row="true"
        v-bind:columns="sourceColumns"
        v-bind:data-model="listcategories"
        v-on:go-to-page="goToPage"
        v-bind:pagination-options="pageOptions">

            <template slot="actions" scope="row">
                <div v-if="row.object.follow_up != null" class="ui-button bg-Light-Blue overflowInherit">
                    <div class="secondary">
                        <a class="btn btn-info" disabled v-on:click="noChanges" >
                            <span class="glyphicon glyphicon-edit"></span>
                        </a>

                        <a class="btn align-right" disabled v-on:click="noChanges" >
                            <span class="glyphicon glyphicon-trash"></span>
                        </a>
                    </div>
                </div>

                <div v-else class="ui-button bg-Light-Blue overflowInherit">
                    <div class="secondary">
                        <a class="btn btn-info has-tooltip align-right" data-tooltip="Editar" v-on:click="onEditClick(row.object)">
                            <span class="glyphicon glyphicon-edit"></span>
                        </a>

                        <a class="btn align-right has-tooltip" data-tooltip="Eliminar" v-on:click="onRemoveClick(row.object)">
                            <span class="glyphicon glyphicon-trash"></span>
                        </a>
                    </div>
                </div>

            </template>

    </vue-dynamic-table>
</div>
