<section>
    <div class="col-md-12">
        <label style="color: #002a80" for="">Datos generales</label>
        <div class="form-group">
            <label for="username">Nombre de Usuario: </label>
            <input type="text" class="form-control"  name="username"  id="musername">
            <input type="hidden" class="form-control"  name="id"  id="mid">
        </div>
        <div class="form-group">
            <label for="mail">E-mail: </label>
            <input type="text" class="form-control"  name="mail"  id="mmail">
        </div>
        <div class="form-group">
            <label for="password">Password: </label>
            <input type="password" class="form-control"  name="password"  id="mpassword">
        </div>
        <div class="form-group">
            <label for="rol">Rol: </label>
            <select name="rol" id="userRol">
              <option v-for="item in rolItems" v-bind:value="item.id">
                 ${item.name}
               </option>
            </select>
        </div>
        <div class="form-group">
            <label >Activo: </label>
            <div class="checkboxOne">
              <input type="checkbox" value="1" id="checkboxOneInput"  name="active" />
              <label for="checkboxOneInput" class="inactiveUser"></label
            </div>
        </div>
        <br>
        <br>
        <button type="button" class="btn btn-primary" id="btnEditUser">Editar</button>
        <button type="button" class="btn btn-danger" id="cancelEditUser">Cancelar</button>
    </div>
</section>
{% block loadScripts %}
<script id="scriptContainer" type="text/javascript">
  getRoles();
  $(document).on('change', '.checkboxOne input[type="checkbox"]', function() {
    if ($(this).is(':checked')) {
        $(this).closest( ".checkboxOne").find('label[for="checkboxOneInput"]').html('<i class="fa fa-check" aria-hidden="true"></i>');
            $(this).closest( ".checkboxOne").find('label[for="checkboxOneInput"]').addClass('activeUser');
            $(this).closest( ".checkboxOne").find('label[for="checkboxOneInput"]').removeClass('inactiveUser');
    }else{
        $(this).closest( ".checkboxOne").find('label[for="checkboxOneInput"]').html('<i class="fa fa-times" aria-hidden="true"></i>');
            $(this).closest( ".checkboxOne").find('label[for="checkboxOneInput"]').addClass('inactiveUser');
            $(this).closest( ".checkboxOne").find('label[for="checkboxOneInput"]').removeClass('activeUser');
    }
  });
</script>
{% endblock %}
