<section>
    <div id="taxesList-module">
        <div class="header-buttons">
            <div class="btn-group main-buttons">
                <a name="add" role="button" class="btn btn-success" data-action="openTab" data-module="contabilidad" data-route="contabilidad/impuestos/nuevo">
                    <i lass="fa fa-plus-square" aria-hidden="true"></i>
                    Nueva Póliza
                </a>
                <a role="button" class="btn btn-default" v-on:click="checkFields()">Mostrar/Ocultar Columnas </a>
            </div>
        </div>
        <div class="panel-content">
            <div class="row">
                <div class="col-md-6">
                    <div class="col-md-12">
                        Nueva Póliza
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Poliza Tipo:</label>
                                <select></select>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Fecha:</label>
                                <select></select>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Ejercicio:</label>
                                <select></select>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Periodo:</label>
                                <select></select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Concepto:</label>
                                <select></select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Referencia:</label>
                                <select></select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Moneda:</label>
                                <select></select>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Tipo de Cambio:</label>
                                <select></select>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <span>No afecta:</span>
                                <input type="checkbox" name="" value="">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <span>Poliza de Ajuste:</span>
                                <input type="checkbox" name="" value="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <!-- Tabla -->
                <div class="col-md-6">
                    tabla
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Hecha por:</label>
                            <input type="text" name="" value="">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Revisada por:</label>
                            <input type="text" name="" value="">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Autorizada por:</label>
                            <input type="text" name="" value="">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Diario:</label>
                            <input type="text" name="" value="">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <span>Usar para reporte de DIOT:</span>
                            <input type="checkbox" name="" value="">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <button>Guardar</button>
                            <button>Limpiar</button>
                            <button>Cancelar</button>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <button>Imprimir</button>
                            <button>Crear PDF</button>
                            <button>Exportar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="modal-select-fields" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog modal-sm" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><label aria-hidden="true">&times;</label></button>
                        <h4 class="modal-title" id="myModalLabel">Selecciona los campos</h4>
                    </div>
                    <div class="modal-body">
                        <ul>
                            <li v-for="(column, index) in sourceColumns">
                                <input class="" type="checkbox"  v-model="column.visible">
                                <label class="checbox-label" v-bind:for="'column-visible' + index">${ column.title }</label>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% block loadScripts %}
    <script id="scriptContainer" type="text/javascript">
        init.length = 0;
        init = [ {
            title: '',
            file: 'Accounting/Taxes/taxes.js',
            functions: [ {
                name: 'loadTaxesList',
                args: [ ]
            } ]
        } ];
    </script>
{% endblock %}
