<section>
	<div class="header-buttons">
        <div class="btn-group main-buttons">
            <div id="botones-accion" style="text-align:center;">
				<button class="btn btn-success" @click="btnGuardar()">
					<span class="glyphicon glyphicon-floppy-save"></span> Guardar
				</button>
				<button class="btn btn-success" @click="">
					<span class="glyphicon glyphicon-envelope"></span> Enviar
				</button>
				<button class="btn btn-success">
					<span class="glyphicon glyphicon-print"></span> Imprimir
				</button>
			</div>
        </div>
    </div>
    <div class="panel-content">
    	{# <div class="row" id="datos-cliente-form"> #}
    	<div class="box box-primary fullHeight">
    		<div class="box-body">
    			<div id="datos-journal-entry-form">
    				<div class="row">
    					<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
    						<div class="form-group">
								<label>Tipo Póliza :</label>
								<vue-selectize-js
									v-bind:selectize-settings="selectizeJournalEntryTypesSettings"
									v-bind:selectize-options="selectizeJournalEntryTypesOptions"
									v-bind:default-model="journalEntryTypeDefault"
									v-model="journalEntryType"
									>
								</vue-selectize-js>
							</div>
						</div>
						<div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
							<div class="form-group">
								<label>Póliza de ajuste:</label>
								<input type="checkbox"  readonly="readonly"
								v-model="adjustment" v-bind:true-value="1" v-bind:false-value="0">
							</div>
						</div>
						<div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
							<div class="form-group">
								<label>No Afecta:</label><input type="checkbox" v-model="affects"
								 v-bind:true-value="1" v-bind:false-value="0"> 
							</div>
						</div>
    				</div>
    				<div class="row">
    					<div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
    						<div class="form-group">
								<label>Folio: </label>
								<input class="form-control" type="text" v-model="folio">
							</div>
    					</div>
    					<div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
    						<div class="form-group">
		                        <label for="birthday" class="">Fecha:</label>
		                        <el-date-picker
		                            v-model="date"
		                            type="date"
		                            {# format="d-m-y" #}
		                            :picker-options="birthdayDatePickerOptions"
		                            placeholder="Selecciona una fecha">
		                        </el-date-picker>      
		                    </div>
    					</div>
    				</div>
    			</div>
				<div class="row">
    				<div id="selectAccounts">
    					<div class="col-xs-8 col-sm-8 col-md-6 col-lg-6">
    						<div class="form-group">
								<label>Cuenta:</label>
								<vue-selectize-js
									v-bind:selectize-settings="selectizeListAccountsSettings"
									v-bind:selectize-options="listAccounts"
									v-on:select-option="onSelectAccount($event)"
									v-model="account.id">
								</vue-selectize-js>
							</div>
    					</div>
    				</div>
	    		</div>
	    		<div id="datos-journal-entry-form">
					<div class="form-group">
						<label>Descripción: </label>
						<textarea class="form-control" type="text" v-model="description">
						</textarea> 
					</div>
	    		</div>
    		</div>
			<div id="table-accounts">
				<div class="table-responsive">
					<!-- Dynamic Table -->
					<div class="box-border">
						<vue-dynamic-table 
							v-bind:class-name="className"
							v-bind:columns="columns"
							v-bind:default-model="defaultModel"
							v-bind:data-model="accounts">
							<template slot="slotCheck" scope="row">
								<input class="h20" type="checkbox" name="conceptId" v-model="row.object.checked">
							</template>
							<template slot="options" scope="row">
								<button class="btn btn-info btn-xs" v-on:click="">
									<i class="glyphicon glyphicon-info-sign"></i>
								</button>
								<button v-if="row.object.is_purchased !== 1"
									class="btn btn-danger btn-xs"
									v-on:click="onRemove($event, row)">
									<i class="glyphicon glyphicon-remove"></i>
								</button>
							</template>
							<template slot="slotTax" scope="row">
								<a role="button" v-on:click="showTaxes(row.object.taxes)">
									$${ ( (parseFloat(row.object.tax) / 100) 
										* (row.object.subtotal - row.object.discount)
										).toFixed(2) }
								</a>
							</template>
							<template slot="number" scope="row">
							    ${ row.index + 1 }
							</template>
							<template slot="slotDebit" scope="row">
								<input type="number" v-model="row.object.debit"
									class="form-control MovementSelectbox text-right"
									min="0" 
									style="width: 80px;" />
							</template>
							<template slot="slotCredit" scope="row">
								<input type="number" v-model="row.object.credit"
									class="form-control MovementSelectbox text-right"
									min="0" 
									style="width: 80px;" />
							</template>
							<template slot="slotText" scope="row">
								<input type="text" v-model="row.object.text"
									class="form-control MovementSelectbox text-right"
									min="0" 
									style="width: 80px;" />
							</template>
							<template slot="slotAccountingCenter" scope="row">
								<idp-popover-accounting-center 
									:row=row>
							    </idp-popover-accounting-center>
			                </template>
							<template slot="slotDiscount" scope="row">
								<input type="number" v-model="row.object.discount"
									class="form-control MovementSelectbox text-right"
									min="0" 
									style="width: 80px;"/>
							</template>
						</vue-dynamic-table>
					</div>
					<!-- Dynamic Table -->
				</div>
				<div class="panel panel-default">
					<div class="panel-body">
						<div class="row">
							<div class="col-md-3">
								<div class="form-group">
									<label>Hecha por: </label>
									<input class="form-control" type="text" v-model="madeBy" >
								</div>
							</div>
							<div class="col-md-3">
								<div class="form-group">
									<label>Autorizada por: </label>
									<input class="form-control" type="text" v-model="authorizedBy" >
								</div>
							</div>
							<div class="col-md-3">
								<div class="form-group">
									<label>Diario: </label>
									<vue-selectize-js
										v-bind:selectize-settings="selectizeJournalSettings"
										v-bind:selectize-options="selectizeJournalOptions"
										v-bind:default-model="journalDefault"
										v-model="journal"
										>
									</vue-selectize-js>
								</div>
							</div>
							<div class="col-md-3" id="datos-venta-form" style="text-align:right;">
								<table style="font-size: 12px;" class="pull-left">
									<tbody>
										<tr>
											<td><strong>Debe:</strong></td>
											<td style="text-align:right;">$${ getDebit() }</td>
										</tr>
										<tr>
											<td><strong>Haber:</strong></td>
											<td style="text-align:right;">$${ getCredit() }</td>
										</tr>
										<tr>
											<td><strong>Diferencia:</strong></td>
											<td :class="['', { 'cRed text-bold' : parseFloat(getDifference()).toFixed(2) != 0 }]" style="text-align:right;">$${ getDifference() }</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
	{% include( 'Accounting/searchAccounts.twig' ) %}
	</div> 
</section>
 
<script id="scriptContainer" type="text/javascript">
	uiVars['filters'] = {{ filters|json_encode|raw }};
	uiVars['title'] = '{{title}}';

	init.length = 0;
	init = [{
		title: uiVars['title'],
		file: 'Accounting/JournalEntries/journalEntries.js',
		functions: [{
			name: 'initModuleNewJournalEntry',
			args: [ uiVars['filters'] ]
		}]
	} ];
</script>
