{% block content  %}
    <section>
    	{% include '/partials/modals.twig'  with {'importModal':1,'modalProducts':1}	%}

    	<div class="window container-fluid" data-tab-num="">
    		<form id="form" action="" class="">
    			<div class="headerWindow row ">
    				<div class="topHeader col-md-12 flex-container ">
    					<div class="titleWindow col-md-8">
    						<h3 class="col-md-12">{{title}}</h3>
    					</div>
    					<div class="col-md-4 ">
    						<div class="col-md-4">{# relleno #}</div>
    						<div class="col-md-4">
    							<a type="button" class="btn btn-primary cleanForm" href="#limpiar" id="cleanForm">Limpiar Todo</a>
    						</div>
    						<div class="col-md-4">
    							<a type="button" class="btn btn-primary importModal" href="#import" id="importXmlExcel" data-toggle="modal" data-target="#importModal"><i class="fa fa-file-excel-o" aria-hidden="true"></i> Importar</a>
    						</div>
    					</div>
    				</div>
    			</div>
    			{# fin header window #}
    			<div class="clear borderBottom1 "></div>
    			<div class="bodyWindow">
    				<div class="clear"></div>
    			</div>
    			<div class="row">
    				{# datos generales #}
    				<div class="col-md-12">
    					<div class="panel-group">
    						<div class="panel panel-default">
    							<div class="panel-heading">
    								<h4 class="panel-title">
    									<a href=".providerGeneralDetailsCollapse" data-toggle="collapse" >
    										<div class="providerGeneralDetailsCollapse collapse-icon  collapse in">Datos Generales <i class="fa fa-caret-down" aria-hidden="true"></i>
    										</div>
    									</a>
    								</h4>
    							</div>

    							<div id="providerGeneralDetails" class="providerGeneralDetails providerGeneralDetailsCollapse panel-collapse collapse in">
    								<div class="clear"></div>
    								<div class="">
    									<div class="col-md-6">
    										<div class="form-group">
    											<label for="legal_name">Razón Social:</label>
    											<input id="legal_name" name="legal_name" class="form-control">
    										</div>
    									</div>
    									<div class="col-md-6">
    										<div class="form-group">
    											<label for="rfc">rfc:</label>
    											<input id="rfc" name="rfc" class="form-control">
    										</div>
    									</div>
    									<div class="clear clearfix"></div>
    									<div class="col-md-6">
    										<div class="form-group">
    											<label for="bussiness_activity">Actividad del negocio:</label>
    											<input id="bussiness_activity" name="bussiness_activity" class="form-control">
    										</div>
    									</div>
    									<div class="col-md-6">
    										<div class="form-group">
    											<label for="business_name">Nombre del Negocio:</label>
    											<input id="business_name" name="business_name" class="form-control">
    										</div>
    									</div>
    								</div>
    								{# provider table #}
    								<div class="fiscalAddress">
    									<div class="col-md-12"><h2>Dirección Fiscal*</h2></div>

    									<div class="col-md-12">
    										<div class="form-group">
    											<label for="street">Calle:</label>
    											<input id="street" name="street" class="form-control">
    										</div>
    									</div>
    									<div class="col-md-3">
    										<div class="form-group">
    											<label for="external_number">No Ext.*</label>
    											<input id="external_number" name="external_number" class="form-control">
    										</div>
    									</div>
    									<div class="col-md-3">
    										<div class="form-group">
    											<label for="internal_number">No Int.*</label>
    											<input id="internal_number" name="internal_number" class="form-control">
    										</div>
    									</div>
    									<div class="col-md-6">
    										<div class="form-group">
    											<label for="suburb">Colonia*</label>
    											<input id="suburb" name="suburb" class="form-control">
    										</div>
    									</div>
    									<div class="col-md-6">
    										<div class="form-group">
    											<label for="reference">Referencias</label>
    											<input id="reference" name="reference" class="form-control">
    										</div>
    									</div>

    									<div class="col-md-6">
    										<div class="form-group">
    											<label for="postal_code">CP</label>
    											<input id="postal_code" name="postal_code" class="form-control">
    										</div>
    									</div>
    									<div class="col-md-6">
    										<div class="form-group">
    											<label for="municipality">Municipio*</label>
    											<input id="municipality" name="municipality" class="form-control">
    										</div>
    									</div>
    									<div class="col-md-6">
    										<div class="form-group">
    											<label for="town">Ciudad*</label>
    											<input id="town" name="town" class="form-control">
    										</div>
    									</div>

    									<div class="col-md-6">
    										<div class="form-group">
    											<label for="state">Estado*</label>
    											<input id="state" name="state" class="form-control">
    										</div>
    									</div>
    									<div class="col-md-6">
    										<div class="form-group">
    											<label for="country">País*</label>
    											<input id="country" name="country" class="form-control">
    										</div>
    									</div>
    									<div class="col-md-6">
    										<div class="form-group">
    											<label for="phones">Teléfono:</label>
    											<input id="phones"  name="phones" class="" placeholder="8711111111">
    										</div>
    									</div>
    									<div class="col-md-6">
    										<div class="form-group">
    											<label for="emails">Email:</label>
    											<input id="emails" class="" placeholder="correo@correo.com, etc..">
    										</div>
    									</div>
    									<div class="clearfix"></div>

    								</div>
    								{# fiscalAdddress #}

    							</div>
    						</div>

    					</div>
    					{# primer panel #}


    				</div>
    			</div>
    			{# primer panel #}


    		</div>

    	</div>

        </div>
        <div class="clear block"></div>

        <div class="clearfix clear block h30"></div>
        {# detalle de pago #}


        <div class="row col-md-12 ">
        	<div class="block centered h100 ">
        		<div class=" content contentMiddle text-center">
        			<a class="form_submit btn btn-success" href="#guardar" data-action="submit"><i class="glyphicon glyphicon-ok" aria-hidden="true"></i> Guardar</a>
        			<a class="btn btn-danger" href="#cancelar" data-action="closePane"><i class="glyphicon glyphicon-remove" aria-hidden="true"></i> Cancelar</a>
        		</div>


        	</div>
        </div>
        <div class="clear clearfix"></div>


        </form>
        </div>

    </section>
{% endblock %}
{% block loadScripts %}
    <script id="scriptContainer" type="text/javascript">
        {% if edit %}
            /*initEditQuote();*/
        {% else %}
            initAddProvider();
        {% endif %}
    </script>
{% endblock %}
