{% block content  %}
    <section>
        <div id="list-providers-module">
            <div class="row">
                <div class="col-md-4">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <h3>${ provider.businessName }</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block loadScripts %}
    <script id="scriptContainer" type="text/javascript">
        var provider = {{ provider|json_encode|raw }};
        console.log(provider);
        var showProviderModule = new Vue({
            el: '#list-providers-module',
            data:{
                provider: provider
            },
            mounted: function () {},
            methods: {},
            delimiters: ['${', '}']
        });
    </script>
{% endblock %}
