{% block body %}
<section id="edit-rol-formd">
  <div class="header-buttons">
    <div class="btn-group main-buttons">
      <button 
        type="button" 
        name="registerbtn" 
        class="btn btn-primary" 
        v-on:click="editRolBtn">
        Editar
      </button>
    </div>
  </div>
  <div class="panel-content">
    <div class="box box-primary fullHeight">
      <div class="box-container">
        <div class="row">
          <div class="box-header">
            <h4 class="box-title"> Editar Rol</h4>
          </div>
        </div>
        <form>
          <!-- <h5 class="box-title">Datos para Autenticación</h5> -->
          <div class="form-group">
            <label for="name">Rol:</label>
            <input type="hidden" name="rolid" value="" id="rfe-id" v-model="eid">
            <input v-validate="'required'" type="text" class="form-control" id="rfe-rol" placeholder="Introducir Rol" name="name" v-model="erol">
            <span class="cRed" v-show="errors.has('name')">Ingresa nombre del Rol</span>
          </div>
          <div class="form-group">
            <label for="description">Descripción:</label>
            <textarea class="form-control" id="rfe-desc" placeholder="Introducir Descripción" name="description" v-model="edesc"></textarea>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
 
{% endblock %}
{% block loadScripts %}
 <script id="scriptContainer" type="text/javascript">

 var editRolFrom = new Vue({
   el: '#edit-rol-formd',
   data: {
      eid: rolDataId,
      erol: rolDataName,
      edesc: rolDataDesc
   },
   methods: {
     editRolBtn: function(){
      this.$validator.validateAll().then(() => {
       var rolData = $('#edit-rol-formd input, #edit-rol-formd textarea');
       var jsonRolData = {};
       $.each(rolData, function( i, item ) {
          // console.log(item.name, item.value);
          jsonRolData[item.name] = item.value;
       });

       $.ajax({
           url: AJAX_PATH + 'dashboard/rol/update',
           data: jsonRolData,
           type: 'POST'
       }).done( function( response ) {
          console.log(response)
        
         switch (response.data[0].status) {
           case 0:
           this.$message({
                     message: 'Este Rol No Puede Ser Actualizado.',
                     type: 'warning'
                 });
             break;
           case 1:
            rolesTable.loadRoles();
            this.$message({
                      message: 'Rol Actualizado Correctamente.',
                      type: 'success'
                  });
             break;
           default:
              this.$message({
                    message: 'Karina rompio algo.',
                    type: 'success'
                });
             break;
         }
       }.bind( this )).fail( function( e ){
          console.log('error error: ', e.responseText)
       });
     }).catch(( ) => {
       this.$message({
                 message: 'Completa el formulario como se indica.',
                 type: 'warning'
             });
     });
     }
   },
   computed: {
   },
   watch: {
   },
   delimiters: ['${', '}']
 });
 </script>
{% endblock %}
