<!-- Modal detail movement -->
<div class="modal fade" id="{{ id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"  data-backdrop="false">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Exportar archivo</h4>
            </div>
            <div class="modal-body">
                <vue-export-settings
                    v-bind:columns="defaultColumnsVuex.inventoriesPending">

                </vue-export-settings>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                <a class="btn btn-success" href="http://localhost/david/ajax/almacenes/inventarios/excel/export">Descargar archivo</a>
            </div>
        </div>
    </div>
</div>