{% block body %}
<section>
    <div id="inventoryPending-module">
        <div class="header-buttons">
            <el-row>
                <el-col :span="24">
                    <h4>Conteo Físico Pendiente</h4>
                </el-col>

            </el-row>
        </div>

        <div class="panel-content" style="top:45px">
            <el-row>
                <div class="panel-group" role="tablist">
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingOne">
                            <h4 class="panel-title">
                                <a role="button" data-toggle="collapse" href="#inventoryPending" aria-expanded="true">
                                    Datos del conteo <i class="fa fa-caret-down" aria-hidden="true"></i>
                                </a>
                            </h4>
                        </div>
                        <div id="inventoryPending" class="panel-collapse collapse in" role="tabpanel">
                            <div class="panel-body">
                                <el-row>
                                    <el-col :span="10">
                                        <div>Título: ${ inventory.title }</div>
                                        <div>Almacén: ${ inventory.wh_name }</div>
                                        <div>Clave: ${ inventory.code }</div>
                                    </el-col>
                                    <el-col :span="10">Comentarios: <br> ${ inventory.comments }</el-col>
                                    <el-col :span="4">
                                        <label>Avance del conteo</label>
                                        <el-progress :percentage="inventory.completed_percentage" :text-inside="true" :stroke-width="12"></el-progress>
                                    </el-col>
                                </el-row>
                                {# {{ inventory }} #}
                                ${ lastEditId }




                            </div>
                            {# <div class="panel-footer">
                                <a role="button" class="remove-panel-footer">
                                    <i aria-hidden="true" class="fa fa-times-circle fa-lg cBlack"></i>
                                </a>
                                <strong>Instrucciones:</strong> <br>
                                (1) Selecciona el tipo de movimiento <br>
                                (2) Selecciona el Origen y Destino<br>
                            </div> #}
                        </div>
                    </div>
                </div>
            </el-row>
            <vue-dynamic-table-rbc
                box-classes="box box-primary fullHeight"
                class-name="table table-bordered table-hover"
                hide-main-bar
                {# hide-filters-stats #}
                {# hide-filters #}
                {# columns-var-name="inventoryPendingColumns" #}
                :source-columns="getColumnSettings('inventoryPendingColumns')"
                :data-model="inventoryProducts"
            >
                <template slot="count_quantity" scope="row">
                    <el-input v-model="row.object.count_quantity" @change="saveProductCount(row.object, inventory.id)" type="text">

                    </el-input>
                </template>

                <template slot="comments" scope="row">
                    <textarea v-model="row.object.comments" @change="saveProductCount(row.object, inventory.id)" name="comments" cols="30" rows="10"></textarea>
                </template>

            </vue-dynamic-table-rbc>

        </div>

    </div>
</section>
{% endblock %}
{% block loadScripts %}
    <script id="scriptContainer" type="text/javascript">
        // var inventoryData = {{ inventory|json_encode|raw }}
        var inventoryId = {{ inventoryId }};
        init.length = 0;
        init = [ {
            title: 'Detalle de conteo físico',
            file: 'warehouse/inventories/inventoryPending.js',
            functions: [ {
                name: 'inventoryPendingInit',
                args: [{inventoryId: inventoryId}]
            } ]
        } ];
    </script>
{% endblock %}
