{% block body %}
    <section>
        <div id="inventory_adjustment-module">
            <div class="header-buttons">
                <idp-template-finder debug-info="{{ _self.templateName }}"></idp-template-finder>
                <el-row :gutter="16">
                    <el-col :span="8">
                        <strong style="font-size:0.9em;">Productos</strong><br>
                        <idp-popover-with-select
                            ref="selectorProducts"
                            v-model="selectedProducts"
                            popover-title="Selecciona uno o más productos"
                            :options="filteredProducts"
                        >
                        </idp-popover-with-select>
                        {# <el-select v-model="selectedProducts"
                            class="full-width"
                            ref="productsElSelect"
                            multiple
                            filterable
                            remote
                            placeholder="Selecciona uno o más productos"
                            :remote-method="remoteMethod">

                            <el-option
                                v-for="item in filteredProducts"
                                :label="item.name"
                                :value="item.id"
                                :key="item.id">
                            </el-option>
                        </el-select> #}
                    </el-col>
                    <el-col :span="8">
                        <strong style="font-size:0.9em;">Estatus conteo</strong><br>
                        <el-radio-group
                            v-model="stConteo"
                            size="small"
                            v-on:change="changed"
                        >
                          <el-radio-button :disabled="!this.selectedProducts.length" label="0">Cualquiera</el-radio-button>
                          <el-radio-button :disabled="!this.selectedProducts.length" label="1">Contados</el-radio-button>
                          <el-radio-button :disabled="!this.selectedProducts.length" label="2">Sin contar</el-radio-button>
                        </el-radio-group>
                    </el-col>
                    <el-col :span="8">

                    </el-col>
                </el-row>
            </div>


            <div class="panel-content">
                <vue-dynamic-table-rbc
                    box-classes="box box-primary"
                    table-id="tableContentXXX"
                    :show-filter-stats="true"
                    :loading-from-server="resultsData.loading"
                    class-name="table table-bordered"
                    sort-indicator-asc-class="fa fa-caret-down"
                    sort-indicator-desc-class="fa fa-caret-up"
                    :filter-enabled="true"
                    :expandable-row="true"
                    :pagination-options="$getDefaultSettings('paginationOptions')"
                    :show-visibility-options="true"
                    columns-var-name="inventoryAdjustmentColumns"
                    :source-columns="$getDefaultSettings('inventoryAdjustmentMainColumns')"
                    :data-model="resultsData.products"
                >

                    {% include 'warehouse/Inventory/templates/inventory_adjustment/inventory_title-slots.twig' %}
                    {% include 'warehouse/Inventory/templates/inventory_adjustment/adjustment-slots.twig' %}
                    {% include 'warehouse/Inventory/templates/inventory_adjustment/count_quantity-slots.twig' %}
                    {% include 'warehouse/Inventory/templates/inventory_adjustment/gap-slots.twig' %}

                </vue-dynamic-table-rbc>
            </div>
        </div>
    </section>
{% endblock %}
{% block loadScripts %}
    <script id="scriptContainer" type="text/javascript">
        moment().locale( 'es' );
        init.length = 0;
        init = [ {
            title: 'Ajuste de Inventario',
            file: 'warehouse/inventories/inventory_adjustment.js',
            functions: [ {
                name: 'inventoryAdjustmentInit',
                args: []
            } ]
        } ];
    </script>
{% endblock %}
