{% block body %}
    <section>
        <div id="inventoriesActualModule">
            {# Modal con información de los tipos de valuación de inventarios por producto y almacén #}
            <el-dialog custom-class="dialog--medium" :title="'Almacén ' + warehouseForValuationName" :visible.sync="dialogTableVisible" :modal-append-to-body="false" top="8%">
                <el-tabs v-model="valuationTypeName" type="border-card">
                    <el-tab-pane label="PEPS" name="peps">
                        <idp-inventory-valuation-table
                            :transactions="$store.getters['product/valuationDetailsByProductId'](productForValuation, warehouseForValuation, valuationTypeName).transactions"
                            :total-results="$store.getters['product/valuationDetailsByProductId'](productForValuation, warehouseForValuation, valuationTypeName).totalResults"
                            @page-size-change="pageSizeChange"
                        ></idp-inventory-valuation-table>
                    </el-tab-pane>

                    <el-tab-pane label="UEPS" name="ueps">
                        <idp-inventory-valuation-table
                            :transactions="$store.getters['product/valuationDetailsByProductId'](productForValuation, warehouseForValuation, valuationTypeName).transactions"
                            :total-results="$store.getters['product/valuationDetailsByProductId'](productForValuation, warehouseForValuation, valuationTypeName).totalResults"
                        ></idp-inventory-valuation-table>
                    </el-tab-pane>

                    <el-tab-pane label="Promedio Ponderado" name="pp">
                        <idp-inventory-valuation-table
                            :transactions="$store.getters['product/valuationDetailsByProductId'](productForValuation, warehouseForValuation, valuationTypeName).transactions"
                            :total-results="$store.getters['product/valuationDetailsByProductId'](productForValuation, warehouseForValuation, valuationTypeName).totalResults"
                        ></idp-inventory-valuation-table>
                    </el-tab-pane>
                </el-tabs>
            </el-dialog>

            <div class="header-buttons">
                {# SELECCIONAR TIPO DE INVENTARIO #}
                    <div class="col-xs-3">
                        <strong style="font-size:0.9em;">Mostrar por</strong><br>
                        <el-select
                            class="full-width"
                            v-model="inventoryType"
                            {# filterable #}
                            {# multiple #}
                            placeholder="Selecciona un tipo de inventario"
                            size="mini"
                        >
                            <el-option
                                {# v-for="item in $store.getters.dataForSelect('inventoryTypes').options" #}
                                v-for="item in inventoryTypes"
                                :label="item.name"
                                :key="item.id"
                                :value="item.id">
                            </el-option>
                        </el-select>
                    </div>
                {# SELECCIONAR TIPO DE INVENTARIO FIN #}

                {# SELLECCION EN BASE A TIPO DE INVENTARIO #}
                    <div class="col-xs-3">
                    {# POR CATEGORIA / SUBCATEGORIA #}
                        <div v-show="inventoryType == 1">
                            <strong style="font-size:0.9em;">Categoría / Subcategoría</strong><br>
                            <el-cascader
                                size="mini"
                                class="full-width"
                                change-on-select
                                filterable
                                closable
                                :options="$store.getters.dataForSelect('subcategories').options"
                                v-model="selectedCategories">
                            </el-cascader>
                        </div>
                    {# POR CATEGORIA / SUBCATEGORIA FIN #}

                    {# POR PRODUCTOS #}
                        <div v-show="inventoryType == 2" class="form-group">
                            <strong style="font-size:0.9em;">Productos</strong><br>
                            <idp-popover-with-select
                                ref="selectorProducts"
                                v-model="selectedProducts"
                                :options="filteredProducts"
                            >
                            </idp-popover-with-select>

                        </div>
                    {# POR PRODUCTOS FIN #}

                    {# POR ALMACEN / UBICACION #}
                        <div v-show="inventoryType == 3">
                            <strong style="font-size:0.9em;">Almacen / Ubicación</strong><br>
                            <el-cascader
                                size="mini"
                                change-on-select
                                filterable
                                :options="$store.getters.dataForSelect('ubications').options"
                                v-model="selectedUbications">
                            </el-cascader>
                        </div>
                    {# POR ALMACEN / UBICACION FIN #}

                    {# POR PROVEEDORES #}
                        <div v-show="inventoryType == 4" class="form-group">
                            <strong style="font-size:0.9em;">Proveedores</strong><br>
                            <idp-popover-with-select
                                ref="selectorProviders"
                                v-model="selectedProviders"
                                :options="$store.getters.dataForSelect('providers').options"
                            >
                            </idp-popover-with-select>
                        </div>
                    {# POR PROVEEDORES FIN #}
                    </div>
                {# SELLECCION EN BASE A TIPO DE INVENTARIO FIN #}

            </div>


            <div class="panel-content" style="top:74px;">
                {# TABLA #}
                <vue-dynamic-table-rbc
                    box-classes="box box-primary full-height"
                    class-name="table table-bordered table-hover table-centered"

                    {# table-id="tableContent" #}

                    :remote-method="remoteSearch"

                    :source-columns="sourceColumns"

                    :columns-var-name="'inventoriesActualColumns'"
                    @columns-changed="saveColumnsConfig"

                    :data-model="resultsData.products"
                    :total-results="resultsData.totalResults"
                    :loading-from-server="resultsData.loading"

                    :select-options="selectOptions"

                    {# Favoritos #}
                    :favorites="dynamicTableFavorites"
                    @save-to-favorites="saveToFavorites"
                    @loaded-favorite="loadedFavorite"

                    {# Exportar / Importar #}
                    @export="exportTable"
                    @import="importTable"
                    @download-template-file="downloadTemplateFile"
                    template-file-name="Listado de Productos"

                    @expand-row="expandRowHandler"
                >
                    <template slot="undefined-slot" scope="row">
                        No hay información disponible
                    </template>

                    {# {% include 'Warehouse/Inventory/templates/productCategory-slot.twig' %} #}
                    {% include 'Warehouse/Inventory/templates/serial-numbers-slots.twig' %}
                    {% include 'Warehouse/Inventory/templates/physical-count-slots.twig' %}
                    {% include 'Warehouse/Inventory/templates/product-quantities-slots.twig' %}
                    {% include 'Warehouse/Inventory/templates/reorder-points-slots.twig' %}
                    {% include 'Warehouse/Inventory/templates/warehouses-slots.twig' %}
                    {% include 'Warehouse/Inventory/templates/product-costs-slots.twig' %}
                </vue-dynamic-table-rbc>
            </div>
        </div>
    </section>
{% endblock %}
{% block loadScripts %}
    <script id="scriptContainer" type="text/javascript">
        moment().locale( 'es' );
        uiVars['userId'] = '{{ userId }}';
        init.length = 0;
        init = [ {
            title: 'Consulta Avanzada de Productos',
            file: 'Warehouse/Inventories/inventoriesActualList.js',
            functions: [ {
                name: 'inventoriesActualInit',
                args: [uiVars['userId']]
            } ]
        } ];
    </script>
{% endblock %}
