{% block body %}
    <div id="serialNumbers_edit-module">
        <h3>Registrar números de serie</h3>
        <div v-for="product in products">
            <div>${ product.name }</div>
            <ul>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
            </ul>
        </div>


    </div>

{% endblock %}
{% block loadScripts %}
    <script id="scriptContainer" type="text/javascript">
        moment().locale('es');
        init.length = 0;
        init = [ {
            title: 'Números de serie',
            file: 'warehouse/inventories/serialNumbers_edit.js',
            functions: [ {
                name: 'serialNumbersEditInit',
                args: [ ]
            } ]
        } ];
    </script>
{% endblock %}
