<section>
    <div class="col-md-12" id="containerAdditionalTag">
        <div class="col-md-12">
            <caption>caristicas basicas de direcciones </caption>
        </div>
        <div class="col-md-12">
            <div class="form-group">
                <label for="street">Calle:</label>
                <input type="text" class="form-control"
                name="street" id="street" placeholder="Calle:">
            </div>
        </div>
        <div class="col-md-12">
            <div class="form-group">
                <label for="external_number">Numero Externo:</label>
                <input type="text" class="form-control"
                name="external_number" id="external_number" placeholder="Numero Externo:">
            </div>
        </div>
        <div class="col-md-12">
            <div class="form-group">
                <label for="external_number">Numero Interno:</label>
                <input type="text" class="form-control"
                name="internal_number" id="internal_number" placeholder="Numero Interno:">
            </div>
        </div>
        <div class="col-md-12">
            <div class="form-group">
                <label for="suburb">Colonia:</label>
                <input type="text" class="form-control"
                name="suburb" id="suburb" placeholder="Colonia:">
            </div>
        </div>
        <div class="col-md-12">
            <div class="form-group">
                <label for="town">Pueblo:</label>
                <input type="text" class="form-control"
                name="town" id="town" placeholder="Pueblo:">
            </div>
        </div>
        <div class="col-md-12">
            <div class="form-group">
                <label for="reference">Reference:</label>
                <input type="text" class="form-control"
                name="reference" id="reference" placeholder="Reference:">
            </div>
        </div>
        <div class="col-md-12">
            <div class="form-group">
                <label for="street">Municipio:</label>
                <input type="text" class="form-control"
                name="street" id="street" placeholder="Municipio:">
            </div>
        </div>
        <div class="col-md-12">
            <div class="form-group">
                <label for="state">Estado:</label>
                <input type="text" class="form-control"
                name="state" id="state" placeholder="Estado:">
            </div>
        </div>
        <div class="col-md-12">
            <div class="form-group">
                <label for="country">Pais:</label>
                <input type="text" class="form-control"
                name="country" id="country" placeholder="Pais:">
            </div>
        </div>
        <div class="col-md-12">
            <div class="form-group">
                <label for="postal_code">Codigo Postal:</label>
                <input type="text" class="form-control"
                name="postal_code" id="postal_code" placeholder="Codigo Postal:">
            </div>
        </div>
        <div class="col-md-12">
            <div class="form-group">
                <label for="latitude">Latitud:</label>
                <input type="text" class="form-control"
                name="latitude" id="latitude" placeholder="Latitud:">
            </div>
        </div>
        <div class="col-md-12">
            <div class="form-group">
                <label for="longitude">Longitud:</label>
                <input type="text" class="form-control"
                name="longitude" id="longitude" placeholder="Longitud:">
            </div>
        </div>
    </div>
    <!-- dijo juan que mientras terminaba otras cosas (8 -->
    <!-- a que no, yo no dije >:( -->
    <style>
        #containerAdditionalTag{
            height: 242px;
            overflow: auto;
        }
    </style>
</section>
