{% block body %}
    <section>
        <div id="create-backorder-module-productsTable-container">

            {# ENCABEZADO #}
            <div class="header-buttons">
                <el-row :gutter="16">
                    {# SELECCIONAR ALMACEN DESTINO ############################################################}
                        <el-col :span="4">
                            <div class="form-group">
                                <strong id="labelWarehouse" :class="['inputLabel', targetWarehouse ? 'completed' : 'required', 'inactive']">Almacén destino</strong>
                                <span v-if="targetWarehouse" class="glyphicon glyphicon-ok-circle" style="color:#BBB;font-size:0.8em;"></span><br>

                                <el-select
                                    ref="warehousesEl"
                                    v-model="targetWarehouse"
                                    filterable
                                    clearable
                                    placeholder="Selecciona un almacén">
                                    {# @change="focusNext('warehousesEl')" #}
                                    {# @visible-change="visibleChange($event, 'labelWarehouse')"> #}
                                    <el-option
                                        v-for="item in warehouseOptions"
                                        :label="item.name"
                                        :key="item.id"
                                        :value="item.id">
                                    </el-option>
                                </el-select>
                            </div>
                        </el-col>
                    {##########################################################################################}

                    {# SELECCIONAR ALMACEN ORIGEN #############################################################}
                        <el-col :span="4">
                            <div class="form-group">
                                <strong id="labelWarehouse" :class="['inputLabel', originWarehouse ? 'completed' : 'required', 'inactive']">Almacén origen</strong>
                                <span v-if="originWarehouse" class="glyphicon glyphicon-ok-circle" style="color:#BBB;font-size:0.8em;"></span><br>

                                <el-select
                                    ref="warehousesEl"
                                    v-model="originWarehouse"
                                    filterable
                                    clearable
                                    placeholder="Selecciona un almacén">
                                    {# @change="focusNext('warehousesEl')" #}
                                    {# @visible-change="visibleChange($event, 'labelWarehouse')"> #}
                                    <el-option
                                        v-for="item in $store.getters.dataForSelect('warehouses').options"
                                        :label="item.name"
                                        :key="item.id"
                                        :value="item.id">
                                    </el-option>
                                </el-select>
                            </div>
                        </el-col>
                    {##########################################################################################}

                    {# SELECCIONAR VIGENCIA ###################################################################}
                        <el-col :span="4">
                            <div class="form-group">
                                <strong>Vigencia</strong>
                                <el-row>
                                    <el-col :span="12">
                                        <el-input></el-input>
                                    </el-col>
                                    <el-col :span="12">
                                         Días
                                    </el-col>
                                </el-row>
                            </div>
                        </el-col>
                    {##########################################################################################}

                    {# BOTONES ################################################################################}
                        <el-col :span="3">
                            <button
                                class="btn btn-primary btn-block btn-sm"
                                type="button"
                                @click="clearInputs">
                                Reiniciar
                            </button>

                            <button
                                class="btn btn-success btn-block btn-sm"
                                type="button"
                                {# :disabled="createBackorderBtnDisabled" #}
                                @click="createBackorder">
                                Crear Backorder
                            </button>
                            {# ${ userId } #}
                        </el-col>
                    {##########################################################################################}

                </el-row>
            </div>

            {# CONTENIDO #}

            <div class="panel-content" style="top: 80px;">
                <vue-dynamic-table-rbc
                    ref="tablaProductos"
                    {# hide-main-bar #}
                    {# hide-filters #}
                    box-classes="box box-primary full-height"
                    class-name="table table-bordered"
                    {# hide-filters-stats #}
                    :source-columns="sourceColumns"
                    :data-model="productsData"

                    :total-results="productsData.length"
                >
                    <template slot="productNameSlot" scope="row">
                        {# ${ backorderProducts } #}

                            {# @change="selectedProduct($event, row.object.key)" #}
                        <el-select
                            @change="selectedProduct"
                            v-model="backorderProducts[row.object.key].id"
                            {# v-model="selectedProductId" #}
                            class="full-width"
                            filterable
                            {# :ref="'productSelector_' + row.object.key"
                            :key="row.object.key"
                            clearable
                            remote
                            :disabled="row.object.disabled"
                            :remote-method="filterResults"
                            @clear="clearedProduct(row.object.key)"
                            @visible-change="visiblePopup($event, row.object.key)" #}
                        >
                            <el-option
                                v-for="item in queryProductsData(row.object.key)"
                                :label="item.name"
                                :key="item.id"
                                :value="item.id">
                                <div>${item.name}</div>
                                <div style="font-size:0.8em; color: #888;">${item.code}</div>
                                <div style="font-size:0.8em; color: #888;">${item.barcode}</div>
                            </el-option>
                        </el-select>
                    </template>
                    <template slot="removeProductSlot" scope="row">
                        <el-button
                            size="mini"
                            @click="clearedProduct(row.object.key)"
                        >
                            D
                        </el-button>
                    </template>
                    <template slot="productQuantitySlot" scope="row">
                        {# <el-input
                            v-model="backorderProducts[row.object.key].quantity"
                        ></el-input> #}
                        <template v-if="row.object.stock_data">
                            <span v-if="validRequestQuantity(row.object)" style="font-size:0.8em; color: red;">Cant. insuficiente</span>
                        </template>
                    </template>
                </vue-dynamic-table-rbc>
            </div>
        </div>
    </section>
{% endblock %}
{% block loadScripts %}
    <script id="scriptContainer" type="text/javascript">
        init.length = 0;
        init = [ {
            title: 'Nuevo Backorder',
            file: 'warehouse/backorders/newBackorder.js',
            functions: [ {
                name: 'iniciarModuloBackordersNuevo',
                args: []
            } ]
        } ];
    </script>
{% endblock %}
