<div id="modalFormCustomerAddress" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">${ modalTitle }</h4>
            </div>
            <div id="formCustomerAddress">
                <div class="modal-body">
                    <div v-if="flagShowAddressGoogle" class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>Buscar Dirección</label>
                                <vue-google-autocomplete
                                    id="map"
                                    type="regions"
                                    classname="input"
                                    placeholder=""
                                    v-on:placechanged="getAddressData"
                                    country="mx"
                                >
                                </vue-google-autocomplete>
                            </div>
                        </div>
                    </div>    
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group req">
                                <label for="street">Calle:</label>
                                <input type="text" class="form-control" v-model="street" name="street" :readonly="flagModalInputReadOnly"/>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group req">
                                <label for="numExt">No. Ext:</label>
                                <input type="text" class="form-control" v-model="numExt" name="numExt" :readonly="flagModalInputReadOnly"/>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="numInt">No Int:</label>
                                <input type="text" class="form-control" v-model="numInt" name="numInt" :readonly="flagModalInputReadOnly"/>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group req">
                                <label for="col">Col:</label>
                                <input type="text" class="form-control" v-model="col" name="col" :readonly="flagModalInputReadOnly"/>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group req">
                                <label for="town">Ciudad:</label>
                                <input type="text" class="form-control" v-model="town" name="town" :readonly="flagModalInputReadOnly"/>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group req">
                                <label for="municipality">Municipio:</label>
                                <input type="text" class="form-control" v-model="municipality" name="municipality" :readonly="flagModalInputReadOnly"/>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group req">
                                <label for="state">Estado:</label>
                                <input type="text" class="form-control" v-model="state" name="state" :readonly="flagModalInputReadOnly"/>
                            </div>
                        </div>
                        <div class="col-md-4 req">
                            <div class="form-group">
                                <label for="zipCode">C.P:</label>
                                <input type="text" class="form-control" v-model="zipCode" name="zipCode" :readonly="flagModalInputReadOnly"/>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group req">
                                <label for="country">País:</label>
                                <input type="text" class="form-control" v-model="country" name="country" :readonly="flagModalInputReadOnly"/>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="reference">Referencias:</label>
                                <input type="text" class="form-control" v-model="reference" name="reference" :readonly="flagModalInputReadOnly"/>
                            </div>
                        </div>
                    </div>
                </div>
                <div v-if="flagModalFooter" class="modal-footer">
                    <button v-on:click="onSubmit" class="btn btn-success" name="button">Guardar</button>
                    <button type="button" name="button" class="btn btn-default" data-dismiss="modal" >Cancelar</button>
                </div>
            </div>
        </div>
    </div>
</div>