{% block content %}
    <section id="listCustomerAddresses">
        <div class="header-buttons">
           <div class="btn-group main-buttons">
                <a
                    role="button"
                    v-on:click="onClick"
                    class="btn btn  btn-success ">
                    <i class="fa fa-plus " aria-hidden="true"></i>
                    Nueva Dirección</a>
            </div>
        </div>
        <div class="panel-content">
            {% include '/Customer/AddressConfig/add.twig' %}
            <div id="tableCustomerAddresses">
                <vue-dynamic-table-rbc
                    box-classes="box box-primary full-height"
                    class-name="table table-bordered table-hover"
                    :remote-method="remoteSearch"
                    :source-columns="columns"
                    :data-model="datasource"
                    :favorites="dynamicTableFavorites"
                    @save-to-favorites="saveToFavorites"
                    @loaded-favorite="loadedFavorite"
                    :total-results="totalResults"
                    :pagination-options="{pageSizes: [20, 50, 100], pageSize: 100}"
                    hide-export 
                    hide-import 
                    template-file-name="Direcciones de Cliente">
                    
                    {% include '/Customer/AddressConfig/slots.twig' %}

                </vue-dynamic-table-rbc>
            </div>
        </div>
    </section>
{% endblock %}
{% block loadScripts %}
    <script id="scriptContainer">
        init.length = 0;
        uiVars['customerId'] = '{{ customerId }}';
        uiVars['userId'] = '{{ userId }}';
        init = [{
            title: 'Direcciones Del Cliente',
            file: 'Customer/CustomerAddresses/customerAddresses.js',
            functions: [ {
                name: 'initCustomerAddresses',
                args: [ uiVars['customerId'], uiVars['userId'] ]
            } ]
        }];
    </script>
{% endblock %}