<div class="modal fade" ref="modalBankMovement" role="dialog">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Movimiento Bancario de Abono</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group req">
                                    <label for="date">Fecha de Movimiento</label>
                                    <el-date-picker
                                        v-model="date"
                                        format="dd/MM/yyyy"
                                        type="date"
                                        placeholder="Fecha en que Realizó el Movimiento">
                                    </el-date-picker>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group req">
                                    <label for="">Cuenta: </label>
                                    <el-select v-model="bankAccount" filterable placeholder="Selecciona Cuenta Bancaria">
                                        <el-option
                                        v-for="item in bankAccounts"
                                        :key="item.id"
                                        :label="item.account"
                                        :value="item.id">
                                        <span style="float: left">${ item.account }</span>
                                        <span style="float: right; color: #8492a6; font-size: 13px">${ item.description }</span>
                                        </el-option>
                                    </el-select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group req">
                                    <label for="">Moneda: </label>
                                    <el-select v-model="currency" filterable placeholder="Selecciona Moneda">
                                        <el-option
                                        v-for="item in currencyArray"
                                        :key="item.id"
                                        :label="item.CFDIcode"
                                        :value="item.id">
                                        </el-option>
                                    </el-select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group req">
                                    <label for="account">Forma de pago: </label>
                                    <el-select v-model="paymentWay" filterable placeholder="Selecciona una Forma de Pago">
                                        <el-option
                                        v-for="item in paymentWays"
                                        :key="item.id"
                                        :label="item.CFDIcode + ' | ' + item.name"
                                        :value="item.id">
                                        <span style="float: left">${ item.CFDIcode }</span>
                                        <span style="float: right; color: #8492a6; font-size: 13px">${ item.name }</span>
                                        </el-option>
                                    </el-select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Folio Bancario: </label>
                                    <el-input placeholder="Numero de Folio Bancario" v-model="folio"></el-input>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <fieldset>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div v-if="payment" class="form-group">
                                                <label for="">Importe de Pago: $ ${ parseFloat(balance).toLocaleString('es-MX') } <a @click="paymentAmountShortcut" role="button"><i class="fa fa-thumb-tack" aria-hidden="true"></i></a></label>
                                            </div>
                                            <div class="form-group">
                                                <label>Monto Total: <i class="fa fa-usd" aria-hidden="true"></i></label>
                                                <el-input @blur="onChangeAmount" placeholder="Ingresa Monto" v-model="amount"></el-input>
                                            </div>
                                        </div>
                                    </div>
                                </fieldset>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" @click="createBankMovement()" name="button">Guardar</button>
                <button type="button" class="btn btn-default" name="button" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>
