<div class="modal fade" ref="modalPaymentDetails" role="dialog">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Listado de abonos realizados</h4>
            </div>
            <div class="modal-body table-responsive">
                <div v-if="paymentMovements.length > 0">
                    <table class="table table-bordered table-stripped">
                        <thead>
                                <th>#</th>
                                <th>Fecha</th>
                                <th>Forma de Pago</th>
                                <th>Folio Bancario</th>
                                <th>Cuenta Bancaria</th>
                                <th>Banco Cuenta</th>
                                <th>Cuenta Ext.</th>
                                <th>Cuenta Cuenta Ext.</th>
                                <th>Monto</th>
                                <th>Estatus</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="item in paymentMovements">
                                <td>${ item.id          }</td>
                                <td>${ item.date        }</td>
                                <td>${ item.way         }</td>
                                <td>${ item.folio ? item.folio : 'N/D' }</td>
                                <td>${ item.own_account + ' | ' + item.own_account_description }</td>            
                                <td>${ item.own_bank  }</td>          
                                <td>${ item.ext_account ? item.ext_account + ' | ' + item.ext_account_description : 'N/A' }</td>        
                                <td>${ item.ext_bank ? item.own_bank : 'N/A'   }</td>       
                                <td>${ '$' + parseFloat(item.amount).toLocaleString('es-MX') }</td>
                                <td>
                                    <span v-if="item.deleted_at" class="badge label-danger">Cancelado</span>
                                    <span v-else class="badge label-success">Aplicado</span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div v-else>
                    <h4 class="text-center">No se han realizado abonos a este pago</h4>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" name="button" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>
