{# LINK #}
<template slot="countBy-link" scope="row">
    <div>
        ${row.object.type_name}
    </div>
    <template v-if="row.object.counting_data.total_products">
        <el-tag>${row.object.counting_data.total_products} productos</el-tag>
    </template>
    <template v-else>
        <el-tag type="danger">Sin productos</el-tag>
    </template>
</template>

{# EXPANDED ROW #}
<template slot="countBy" scope="row">

    <idp-title-subtitle
        title="Conteo por"
        :subtitle="row.object.type_name"
    ></idp-title-subtitle>

    <vue-dynamic-table-rbc
        box-classes="box"
        classes="table table-bordered table-hover table-centered"

        hide-main-bar
        hide-filters-stats

        style="width: 70%; margin:auto;"
        :source-columns="$getDefaultSettings('countByColumns')"
    >

    </vue-dynamic-table-rbc>

    <template v-if="row.object.inventoryProducts && row.object.inventoryProducts.length">
        <div v-for="product in row.object.inventoryProducts">${ product }</div>
    </template>
</template>