{# LINK #}
<template slot="physical-count-link" scope="row">
    <idp-template-finder debug-info="{{ _self.templateName }}"></idp-template-finder>
    <div style="float:left" v-if="row.object.lastCountData">
        <idp-formated-date
            v-if="row.object.lastCountData.updated_at"
            :date="row.object.lastCountData.updated_at"
        >
        </idp-formated-date>
    </div>
    <span v-else class="noDataCell">
        Sin conteos
    </span>
</template>

{# EXPANDED ROW #}
<template slot="physical-count" scope="row">
    {# <idp-template-finder debug-info="{{ _self.templateName }}"></idp-template-finder> #}
    <div v-if="row.object.lastCountData" style="background-color: #FFF; max-width: 500px;width: auto; margin: 8px auto; border: 1px solid #DDD; padding: 16px; border-radius: 4px;">
        <h4>Último conteo físico: ${ formatedDate(row.object.lastCountData.updated_at) }  <span :class="'inventoryStatus ' +row.object.lastCountData.inv_cssClass"> ${ row.object.lastCountData.inv_status} </span></h4>
        <button type="button" data-action="openTab" data-module="warehouse" :data-route="'almacenes/inventarios/pendiente/' + row.object.lastCountData.inv_id" class="btn btn-link btn-sm">${ row.object.lastCountData.inv_title }</button><br>
        <label>Almacén: </label> ${ row.object.lastCountData.wh_name } <br>
        <label>Cantidad contada: </label>${ row.object.lastCountData.count } <br>
    </div>
    <div v-else>
        No hay conteos físicos de este producto
    </div>
</template>