{# LINK #}
<template slot="product-costs-link" scope="row">
    Detalles
    {# <div v-if="row.object.costsByWarehouse !== undefined && row.object.costsByWarehouse.length">
    </div> #}
</template>

{# EXPANDED ROW #}
<template slot="product-costs" scope="row">
    <idp-title-subtitle
        title="Costo de venta"
        subtitle="Detalles por almacén"
    >
    </idp-title-subtitle>



    <template v-if="row.object.cost_details">
        <template v-if="row.object.cost_details.length">
            <vue-dynamic-table-rbc
                style="height: 200px"
                box-classes="box box-lg box-centered"
                class-name="table table-bordered table-hover table-centered"

                hide-main-bar
                hide-filters-stats
                {# hide-filters #}
                {# hide-numeration-column #}

                :source-columns="getColumnSettings('costDetailsColumns')"
                :data-model="row.object.cost_details"
                :select-options="selectOptions"
            >


                <template slot="cost_history_slot" scope="row">
                    <el-button
                        @click="showValuationDetails(row.object.product_id, row.object.wh_id, row.object.wh_name, valuationTypeName ? valuationTypeName : 'peps')"
                        size="mini">
                        Ver
                    </el-button>
                </template>
            </vue-dynamic-table>
        </template>
        <template v-else>
            No hay información disponible
        </template>
    </template>
    <template v-else>
        Cargando...
    </template>
</template>