{# LINK #}
<template slot="product-quantities-link" scope="row">
  <div>
    ${ row.object.stock_data.actual_stock_sum + row.object.stock_data.third_party_sum }
  </div>
</template>


<template slot="product-quantities" scope="row">
    <h4 style="text-align:center;">Total Físico: <animated-number v-if="row.object.actual_stock" :value="parseInt(row.object.actual_stock)">
        </animated-number></h4>
    <div style="padding:16px">
        <table :id="'invForm_' + row.object.id" class="table table-centered" style="width:800px; margin:auto;">
          <tr>
            <th class="tg-amwm" rowspan="2">Almacén</th>
            <th class="tg-amwm" rowspan="2">Existencia Total</th>
            <th {#@click="sortByColumn(row, 'third_party_available')"#} class="tg-amwm" rowspan="2">Existencias de terceros<span {#:class="showSortIndicator('third_party_available')"#}></span></th>
            <th class="tg-amwm" colspan="3">Existencias propias</th>
            <th {#@click="sortByColumn(row, 'total_available')"#} class="tg-amwm" rowspan="2">Disponible para venta<span {#:class="showSortIndicator('total_available')"#}></th>
          </tr>

          <tr>
            <th @click="sortByColumn(row, 'self_blocked')" class="tg-lqy6">Bloqueadas<span :class="showSortIndicator('self_blocked')"></span></th>
            <th @click="sortByColumn(row, 'self_available')" class="tg-lqy6">Disponibles<span :class="showSortIndicator('self_available')"></th>
            <th @click="sortByColumn(row, 'self_total')" class="tg-lqy6">Totales<span :class="showSortIndicator('self_total')"></th>
          </tr>

          <tr v-for="warehouseData in row.object.stock_details">
            <td class="tg-yw4l">
              <div>${ warehouseData.wh_name }</div>


            </td>
            <td class="tg-lqy6">${ warehouseData.actual_stock + warehouseData.third_party_available }</td>
            <td class="tg-lqy6">${ warehouseData.third_party_available }</td>
            <td class="tg-lqy6">${ warehouseData.self_blocked }</td>
            <td class="tg-lqy6">${ warehouseData.actual_stock - warehouseData.self_blocked }</td>
            <td class="tg-lqy6">${ warehouseData.actual_stock }</td>
            <td class="tg-lqy6">${ warehouseData.actual_stock - warehouseData.self_blocked + warehouseData.third_party_available }</td>
          </tr>


          <tr class="row-borderless" v-if="row.object.stock_data">
              <td class="tg-yw4l"><strong>Totales</strong></td>
              <td class="tg-lqy6">${ row.object.stock_data.actual_stock_sum + row.object.stock_data.third_party_sum }</td>
              <td class="tg-lqy6">${ row.object.stock_data.third_party_sum }</td>
              <td class="tg-lqy6">${ row.object.stock_data.blocked_stock_sum }</td>
              <td class="tg-lqy6">${ row.object.stock_data.actual_stock_sum - row.object.stock_data.blocked_stock_sum }</td>
              <td class="tg-lqy6">${ row.object.stock_data.actual_stock_sum }</td>
              <td class="tg-lqy6"><strong>${ row.object.stock_data.actual_stock_sum - row.object.stock_data.blocked_stock_sum + row.object.stock_data.third_party_sum }</strong></td>
          </tr>
        </table>
    </div>
</template>