<div class="header-buttons">
    <div class="btn-group main-buttons">
        <button
            id="openTabLog"
            role="button"
            class="btn btn-primary pull-left"
            data-panelsize="sm"
            data-action="openLateral"
            data-route="admin/logTotal/metrics"
            data-panelsize="lg"
            type="button">
            Graficas de Rendimiento</button>
    </div>
</div>
