{% block content %}
    <div id="venta-modulo-lista">
        <div class="header-buttons">
            <div class="btn-group main-buttons">
                <a role="button" @click="nueva()" class="btn btn-success">
                    <span class=""></span> Realizar venta
                </a>
            </div>
            <div style="float:left; margin:0px 10px;">
                <input type="checkbox" id="include-canceled" v-model="includeCanceledSales">
                <label for="include-canceled" style="font-weight:normal;vertical-align:middle;">
                    Incluir ventas canceladas
                </label>
            </div>
            <div class="btn-group secondary-buttons">
                <a role="button" @click=""  class="btn btn-success">
                    <span class="glyphicon glyphicon-export"></span> Exportar
                </a>
                <a role="button" @click=""  class="btn btn-success">
                    <span class="glyphicon glyphicon-print"></span> Imprimir
                </a>
            </div>
        </div>
        {% include( 'Sale/Partials/list/table.twig' ) %}
        <!-- Modal detail sale -->
        {% include( 'Sale/Partials/list/modalDetails.twig' ) %}
        <!-- Modal sale charges -->
        {% include( 'Sale/Partials/list/modalCharges.twig' ) %}
        {# Modal para cancelar una venta #}
        <div class="modal fade"
            id="{{ prefix }}-modal-cancel"
            tabindex="-1" role="dialog"
            aria-labelledby="myModalLabel"
            data-backdrop="false">
            <div class="modal-dialog modal-md" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title" id="myModalLabel">Cancelar venta</h4>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Token: </label>
                                    <input type="text" v-model="cancelModalToken">
                                </div>
                            </div>
                            <div class="col-md-8">
                                <div class="form-group">
                                    <label>Motivo de cancelación</label>
                                    <textarea type="text" v-model="cancelModalMotive"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="pull-right">
                                    <a class="btn btn-default" role="button" @click="emptyCancelationModal">Cerrar</a>
                                    <a class="btn btn-success" role="button" @click="acceptCancelationModal">Aceptar</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {#<el-dialog title="Cancelar venta" :visible.sync="showCancelModal">
        </el-dialog>#}
    </div>
{% endblock %}
{% block loadScripts %}
    <script id="scriptContainer" type="text/javascript">
        uiVars['catalogs'] = {{ catalogs|json_encode|raw }};

        init = [ {
            title: 'Ventas',
            file: 'Sale/saleList.js',
            functions: [ {
                name: 'iniciarListadoVentas',
                args: [ uiVars['catalogs'] ]
            } ]
        } ];
    </script>
{% endblock %}
