{% block content %}
<section id="editUserLT">
<form id="usersForm" enctype="multipart/form-data">
  <div class="header-buttons">
    <div class="btn-group main-buttons">
      <button
        class="btn btn-primary"
        type="button"
        name="button"
        v-on:click="editUser">Editar Empresa
      </button>
    </div>
  </div>
  <div class="panel-content" >
  <!-- %CONTENT% -->
  <!-- basic product data -->
      <div class="row">
        <div class="col-md-4">        
          <div class="box box-primary fullHeigh">
            <div class="box-header">
              <h3 class="box-title">Datos Básicos del Usuario</h3>
            </div>
            <div class="box-body">     
              <div class="form-group">
                <div class="logo-image" >
                  <img  id="logoimg" height="118px" width="118px"
                  v-bind:src="usrpic">
                </div> 
                <input
                  id="user_logo"
                  name="user_logo"
                  v-on:change="onFileSelected"
                  type="file"
                  accept="image/gif, image/jpeg, image/png"
                  multiple/>
              </div>
              <div class="form-group">
                <input type="hidden" name="company_id" id="company_id" v-model="id">
                <input
                  type="text"
                  class="form-control"
                  name="usrnick"
                  id="usrnick"
                  placeholder="usuario o Correo Electronico"
                  v-model="usrnick"
                  v-validate="'required'">
                <span class="cRed" v-show="errors.has('usrnick')">Usuario o Correo Obligatorio</span>
              </div>
              <div class="form-group">
                <input
                  type="password"
                  class="form-control"
                  name="usrpass"
                  id="usrpass"
                  placeholder="Contraseña"
                  v-model="usrpass"
                  v-validate="'required'">
                <span class="cRed" v-show="errors.has('usrpass')">Contraseña Obligatoria</span>
              </div>
              <div class="form-group">
                <input
                  type="text"
                  class="form-control"
                  name="usrname"
                  id="usrname"
                  placeholder="Nombre"
                  v-model="usrname"
                  v-validate="'required'">
                <span class="cRed" v-show="errors.has('usrname')">Nombre Obligatorio</span>
              </div>
              <div class="form-group">
                <input
                  type="text"
                  class="form-control"
                  name="ApellidoPat"
                  id="ApellidoPat"
                  placeholder="Apellido Paterno"
                  v-model="usrlast"
                  v-validate="'required'">
                <span class="cRed" v-show="errors.has('usrlast')">Apellido Paterno Obligatorio</span>
              </div>
              <div class="form-group">
                <input
                  type="text"
                  class="form-control"
                  name="usrsur"
                  id="usrsur"
                  placeholder="Apellido Paterno"
                  v-model="usrsur"
                  v-validate="'required'">
                <span class="cRed" v-show="errors.has('usrsur')">Apellido Materno Obligatorio</span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-8">
          <div class="row">
            <div class="col-md-6" id="checklistRol">
              <div class="box box-primary fullHeight">
                <div class="box-header">
                  <h5 class="box-title">Roles</h5>
                </div>
                <div class="box-body mh300 h300 overflowAuto">
                  <ul class="list-group">
                    <li class="list-group-item" name="listRol"  v-for="rol in usrRol">
                      <input
                      type="checkbox"
                      :name="'rolId'+rol.id"
                      :id="'rolId'+rol.id"
                      v-bind:value="rol.id"
                      v-model="checkedNames">
                      <label for="checkbox">${ rol.name }</label>
                    </li>
                  </ul>
                </div>
                <div class="box-footer">
                  <span>Checked names: ${ checkedNames }</span>
                </div>
              </div>
            </div>
            <div class="col-md-6" id="checklistGroup">
              <div class="box box-primary fullHeight">
                <div class="box-header">
                  <h5 class="box-title">Grupos</h5>
                </div>
                <div class="box-body mh300 h300 overflowAuto">
                  <ul class="list-group">
                    <li class="list-group-item"  v-for="group in usrGroup">
                      <input
                      type="checkbox"
                      :name="'group'+group.id"
                      :id="group.id"
                      v-bind:value="group.id"
                      v-model="checkedNamesGroup">
                      <label for="checkbox">${ group.name }</label>
                    </li>
                  </ul>
                </div>
                <div class="box-footer">
                  <span>Checked names: ${ checkedNamesGroup }</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div> 
    </div>
  </form>
</section>
    <!-- /%CONTENT% -->
{% endblock %}

{% block loadScripts %}

    <script id="scriptContainer" type="text/javascript">
    var editUsers
        // function onFileSelected( event ) {
        //     var selectedFile = event.target.files[0];
        //     var reader = new FileReader( );
        //     var imgtag = document.getElementById( "logoimg" );
        //     imgtag.title = selectedFile.name;
        //     reader.onload = function( event ) {
        //         imgtag.src = event.target.result;
        //     };
        //     reader.readAsDataURL( selectedFile );
        // }
        console.log(CDN_PATH+userDatePic);
            var rolesTable;
            editUsers = new Vue({
            el: "#usersForm",
            data: {
                id: userDataId,
                usrnick: userDataNickname,
                usrname: userDataName,
                usrlast: userDateLast,
                usrsur: userDateSurname,
                usrStatus: userDataStatus,
                usrpass: "",
                usrpic:CDN_PATH+userDatePic,
                usrRol:[],
                usrGroup:[],
                checkedNames:[],
                checkedNamesGroup:[]
            },
            mounted: function( ) {
               this.getRol();
               this.checkedRol();
               this.getGroup();
               this.checkedGroup();
            },
            methods: {
                getRol:function(){
                    $.ajax({
                        url:AJAX_PATH + 'dashboard/users/getRol',
                        type: 'POST'
                    }).done( function(response){
                        // console.log(response.data);
                        this.usrRol = response.data
                        ;
                    }.bind( this ));
                },

                checkedRol: function(){
                    // console.log(userDataId);
                    var form = $('#usersForm')[0];
                    var formData = new FormData(form);
                     $.ajax({
                        url:AJAX_PATH + 'dashboard/users/getcheckedRol',
                        data: formData,
                        cache:false,
                        contentType: false,
                        processData: false,
                        type: 'POST'
                    }).done( function(response){
                        // console.log(response.data);
                        this.checkedNames = response.data;
                    }.bind( this ));
                },
                getGroup:function(){
                    $.ajax({
                        url:AJAX_PATH + 'dashboard/users/getGroup',
                        type: 'POST'
                    }).done( function(response){
                        // console.log(response.data);
                        this.usrGroup = response.data
                        ;
                    }.bind( this ));
                },
                checkedGroup: function(){
                    // console.log(userDataId);
                    var form = $('#usersForm')[0];
                    var formData = new FormData(form);
                     $.ajax({
                        url:AJAX_PATH + 'dashboard/users/getcheckedGroup',
                        data: formData,
                        cache:false,
                        contentType: false,
                        processData: false,
                        type: 'POST'
                    }).done( function(response){
                        // console.log(response.data);
                        this.checkedNamesGroup = response.data;
                    }.bind( this ));
                },


                editUser: function( ) {
                    // console.log('editar');
                    this.$validator.validateAll( ).then(( ) => {
                    var form = $('#usersForm')[0];
                    var formData = new FormData(form);
                    // console.log(form);
                      $.ajax({
                          url: AJAX_PATH + 'dashboard/users/edit',
                          data: formData,
                          cache:false,
                          contentType: false,
                          processData: false,
                          type: 'POST'
                      }).done( function( response ) {
                          if (response == 1) {
                            //adminUserList.loadCompanyList();
                         this.$message({
                       message: 'Usuario Actualizado Correctamente.',
                       type: 'success'
                   });
                          }else{
                           this.$message({
                      message: 'Este Usuario No Puede Ser Modificado.',
                      type: 'warning'
                  });
                          }
                      }.bind( this ));
                     }).catch(( ) => {
                      this.$message({
                       message: 'Complete de Refistro como se le Indica',
                       type: 'warning'
                   });
                    });
                },
                onFileSelected: function(event){
                  var selectedFile = event.target.files[0];
                  var reader = new FileReader( );
                  var imgtag = document.getElementById( "logoimg" );
                  imgtag.title = selectedFile.name;
                  reader.onload = function( event ) {
                      imgtag.src = event.target.result;
                  };
                  reader.readAsDataURL( selectedFile );
                }

            },
            delimiters: [ '${', '}' ]
        });
    </script>
{% endblock %}
