<div id="config-container" class="config-container container-fluid box box-primary">
    <label>
        Periodos y ejercicios contables
    </label>
		<div class="row">
			<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
				<div class="form-group">
                    <label>
                        Duración de un periodo contable
                    </label>
						<el-select
							v-model="form.type"
							:disabled="form.specific_day_end || form.active"
							>
							<template v-for="(option, okey) in periodOptions">
								<el-option
								:label="option.text"
								:value="option.value"
								:class="periodOptions[okey + 1] == undefined ? 'last-option' : ''"></el-option>
							</template>
							<el-option
							label="Otro..."
							:value="2"></el-option>
						</el-select>
				</div>
				<div class="row" v-if="form.type == 2">
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <label>
                            Opciones adicionales de longitud de periodo
                        </label>
						<div class="form-group">
								<input
								v-model.number="form.duration"
								type="number"
								min="1"
								:disabled="form.specific_day_end || form.active">
								<el-select
								v-model="form.additionalType"
								:disabled="form.specific_day_end || form.active">
									<template
									v-for="option in additionalPeriodOptions">
										<el-option
										:label="option.text"
										:value="option.value"></el-option>
									</template>
								</el-select>
						</div>
					</div>
				</div>
				<small>
					${ form.type == 2 ? 'Número de días, semanas o meses que tiene un periodo contable dentro del ejercicio.' : 'Determine si los periodos se llevan de manera mensual o bimestral.' }
				</small>
			</div>
			<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
				<div class="form-group">
					<label>
						Número de periodos en un ejercicio
                    </label>
						<input
						v-model.number="form.periods_in_excercise"
						type="number"
						min="1">
				</div>
				<small>
					Cuantos periodos tienen que concretarse para cerrar el ejercicio.
				</small>
			</div>
		</div>
		<div class="row">
			<div :class="form.specific_day_end ? 'col-lg-6 col-md-6 col-sm-6 col-xs-12' : 'col-lg-12 col-md-12 col-sm-12 col-xs-12'">
                <label>
                Inicio del periodo</label>
				<div class="form-group">
					<label>
						<el-date-picker
						v-model="form.starting_date"
						type="date"
						placeholder="Fecha de inicio"
						:picker-options="suggested_dates"
						:disabled="alreadyStarted()">
						</el-date-picker>
					</label>
				</div>
				<small v-if="alreadyStarted()" class="text-info">
					El periodo contable inició el día ${ 	startingDate().toLocaleDateString("es-MX") }, puede <span @click="confirmTermination()" role="button" style="text-decoration: underline; color: #0275d8;">terminarlo prematuramente</span> o esperar hasta el día ${ getPeriodEnd().toLocaleDateString("es-MX") } para ${ form.auto_end ? 'que se concluya automáticamente' : 'concluirlo manualmente'}
				</small>
			</div>
			<div v-if="form.specific_day_end" class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <label>
						Final del periodo
                </label>
				<div class="form-group">
						<el-date-picker
						v-model="form.ending_date"
						type="date"
						placeholder="Fecha del final"
						:disabled="alreadyStarted()"
						></el-date-picker>
				</div>
				<small v-if="form.auto_end" class="text-info">
					El periodo contable terminará continuamente los días ${ form.ending_date.getDate() } de cada mes (o su equivalente del mes siguiente).
				</small>
				<small v-else 				class="text-info">
					Se sugerirá terminar el periodo contable los días ${ form.ending_date.getDate() } (o su equivalente del mes siguiente).
				</small>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<label>
					Opciones del periodo contable
				</label>
				<div class="form-group">
					<label for="auto_end">
                        Concluir automaticamente
                    </label>
					<input
                    id="auto_end"
					type="checkbox"
					v-model="form.auto_end">
				</div>
                <div class="form-group">
                    <label for="specific_day_end">
						Concluir un día específico del mes
                    </label>
					<input
                    id="specific_day_end"
					type="checkbox"
					v-model="form.specific_day_end"
					:disabled="alreadyStarted()">
                </div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<button
				role="button"
				class="btn"
				style="float: right;">
					Guardar
				</button>
			</div>
		</div>
	</div>
