{% block content %}
    <section id="pettyCashMovementForm">
        <div class="header-buttons">
            <div class="btn-group main-buttons">
                <button class="btn btn-success"
                    @click="save()">
                    <i class="fa fa-floppy-o" aria-hidden="true"></i>
                    Guardar Registro</button>
            </div>
        </div>
        <div class="panel-content">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">
                        Datos del Movimiento
                    </h3>
                    <div class="box-tools pull-right" >
                        <button type="button" class="btn btn-box-tool" data-toggle="collapse" data-target=".collapsableInstructions"
                        aria-expanded="false" aria-controls="collapseBankMovements" data-toggle="tooltip" title="Instruccions">
                            <i class="ui ui-help_outline"></i>
                        </button>
                    </div>
                </div>
                <div class="indication collapse collapsableInstructions">
                    <div class="indication-content">
                        <div class="indication-img">
                            <span class="indication-icon ui ui-help"></span>
                        </div>
                        <div class="indication-text">
                        Instrucciones: Agrega los datos requeridos para registrar un movimiento de Caja Chica
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    <vue-alert-validator ref="validator"></vue-alert-validator>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group req">
                                <label>Caja Chica</label>
                                <el-select v-model="pettyCash" placeholder="Seleccionar tipo" @change="onChangePettyCash">
                                    <el-option
                                        v-for="item in pettyCashArray"
                                        :key="item.id"
                                        :label="item.name"
                                        :value="item.id">
                                    </el-option>
                                </el-select>
                            </div>
                        </div>
                        <div class="col-md-6" v-if="pettyCash">
                            <div class="form-group">
                                <label><strong> Disponible: </strong> $${  parseFloat(availableAmount).toLocaleString('es-MX') }<label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group req">
                                <label>Beneficiario</label>
                                <input type="text" v-model="beneficiary" placeholder="Nombre | Razón Social">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Seleccionar</label>
                                <el-cascader
                                    class="block"
                                    placeholder="Proveedor | Cliente"
                                    filterable
                                    clearable
                                    expand-trigger="hover"
                                    :options="options"
                                    v-model="option">
                                </el-cascader>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group req">
                                <label>Tipo de Documento</label>
                                <el-select v-model="docType" placeholder="Seleccionar tipo">
                                    <el-option
                                    v-for="item in docTypes"
                                    :key="item.value"
                                    :label="item.value"
                                    :value="item.value">
                                    </el-option>
                                </el-select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Folio de Documento</label>
                                <input v-model="folio" placeholder="Serie | Código | Núm.">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group req">
                                <label>Concepto</label>
                                <input type="text" v-model="concept">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>Gasto</label>
                                <el-select v-model="expense" placeholder="Seleccione gasto">
                                    <el-option
                                    clearable
                                    v-for="item in expenses"
                                    :key="item.id"
                                    :label="item.name"
                                    :value="item.id">
                                    </el-option>
                                </el-select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>Comentario</label>
                                <textarea></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <fieldset>
                                <div class="form-group">
                                    <label>Importe: <i class="fa fa-usd" aria-hidden="true"></i></label>
                                    <el-input @blur="onChangeAmount" v-model="amount"></el-input>
                                </div>
                            </fieldset>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
{% block loadScripts %}
    <script id="scriptContainer">
        init.length = 0;
        init = [{
            title: 'Nuevo Movimiento Caja Chica',
            file: 'Purchase/Catalogs/PettyCash/Movements/form.js',
            functions: [ {
                name: 'initPettyCashMovementForm',
                args: []
            } ]
        }];
    </script>
{% endblock %}
