{% block content %}
<section id="tablePettyCashMovements">
	<div class="header-buttons">
		<div class="btn-group main-buttons">
			 <a role="button" 
                data-action="openLateral" 
                class="btn btn-default" 
                data-module="purchases" 
                data-panelsize="sm" 
                data-route="compras/catalogos/cajasChicas/movimientos/nuevo">
                <span class="fa fa-plus"></span> Registrar Movimiento De Caja Chica
            </a>
		</div>
	</div>
	<div class="panel-content">
		<div class="row">
			<div class="col-md-12">
				<div>
					<vue-dynamic-table-rbc
						box-classes="box box-primary full-height"
						class-name="table table-bordered table-hover"
						:source-columns="columns"
						:select-options="selectOptions"
						:data-model="datasource"
						@export="exportTable"
						:remote-method="remoteSearch"
						template-file-name="Requisiciones de Compras"
						:total-results="totalResults">
                        {% include '/Purchases/Catalogs/PettyCash/Movements/slots.twig' %}
					</vue-dynamic-table-rbc>
				</div>
			</div>
		</div>
	</div>
</section>
{% endblock %}
{% block loadScripts  %}
	<script id="scriptContainer" type="text/javascript">
		init = [ {
			title: 'Movimientos Cajas Chicas',
	        file: 'Purchase/Catalogs/PettyCash/Movements/list.js',
	        functions: [ {
	            name: 'initTablePettyCashMovements',
	            args: [ ]
	        } ]
	    } ];
    </script>
{% endblock %}
