<template slot="actions" scope="row">
    <div class="ui-button bg-Light-Blue overflowInherit">
        <div class="secondary">
            <a class="has-tooltip btn bgRed align-right" role="button" data-tooltip="Cancelar Registro" v-on:click="clickCancel(row.object)">
                <i class="fa fa-ban" aria-hidden="true"></i> Cancelar
            </a>
        </div>
    </div>
</template>