<section>
    <div id="formPosition">
        <div class="header-buttons">
            <div class="btn-group main-buttons">
                <button
                    class="btn btn-success"
                    @click="positionValidate">
                    <span class="glyphicon glyphicon-floppy-disk"></span>
                    Guardar
                </button>
                <button
                    class="btn btn-danger"
                    data-action="closeTab">
                    <span class="glyphicon glyphicon-remove"></span>
                    Cancelar
                </button>
            </div>
        </div>
        <div class="panel-content">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Datos del puesto</h3>
                </div>
                <div class="panel-body">
                    <form v-on:submit.prevent="positionValidate('formPositions')" id="formPositions" >
                        <input type="hidden" name="id" v-model="position.id">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="name">Nombre:</label>
                                    <input v-model="position.name" class="form-control" type="text" name="position_name"
                                    :disabled="view"
                                    {# :blur='clearPositionValidatorError("Nombre")' #} >
                                    <span v-if="positionValidatorErrors != null" class="cRed">
                                      ${ positionValidatorErrors.first('Nombre') }
                                    </span>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="department_id">Departamento:</label>
                                    <vue-selectize-js
                                        selectize-type="select"
                                        v-bind:selectize-settings="departmentSelectize.settings"
                                        v-bind:selectize-options="departmentSelectize.options"
                                        v-bind:selectize-enabled="departmentSelectize.enabled"
                                        v-on:change="listOnChange"
                                        v-model="position.department_id">
                                    </vue-selectize-js>
                                    <span v-if="positionValidatorErrors != null" class="cRed">
                                        ${ positionValidatorErrors.first('Departamento') }
                                    </span>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="position">Depende de:</label>
                                    <vue-selectize-js
                                        selectize-type="select"
                                        v-bind:selectize-settings="positionSelectize.settings"
                                        v-bind:selectize-options="positionSelectize.options"
                                        v-bind:selectize-enabled="positionSelectize.enabled"
                                        v-model="position.position_id">
                                    </vue-selectize-js>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="minimal_staff">No. Mínimo de personal</label>
                                    <input type="number" v-model='position.minimal_staff'>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="minimal_candidates">No. Mínimo de candidatos</label>
                                    <input type="number" v-model='position.minimal_candidates'>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="remunerations">Salario</label>
                                    <input
                                        class="form-control"
                                        name="position_remunerations"
                                        :disabled="view"
                                        type="text"
                                        {# :keypress='clearPositionValidatorError("Salario")' #}
                                        v-model="position.remunerations">
                                    <span v-if="positionValidatorErrors != null" class="cRed">
                                      ${ positionValidatorErrors.first('Salario') }
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="row mTop30">
                            <div class="col-md-6">
                                <label for="objectives">Objetivos del puesto:</label>
                                <div class="form-group">
                                    <textarea style="resize:vertical; max-height:160px;" maxlength="1500" v-model="position.objetives" class="form-control" name="position_description" :disabled="view"></textarea>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <label for="main_responsability">Responsabilidad Principal:</label>
                                <div class="form-group">
                                    <textarea style="resize:vertical; max-height:160px;" maxlength="1500" v-model="position.main_responsability" class="form-control" name="main_responsability" :disabled="view"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label for="required_habilities">Habilidades Requeridas:</label>
                                <div class="form-group">
                                    <textarea style="resize:vertical; max-height:160px;" maxlength="1500" v-model="position.required_habilities" class="form-control" name="position_description" :disabled="view"></textarea>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <label for="documents">Documentos:</label>
                                <div class="form-group">
                                    <textarea style="resize:vertical; max-height:160px;" maxlength="1500" v-model="position.documents" class="form-control" name="position_description" :disabled="view"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label for="candidate_profile">Perfil del Candidato:</label>
                                <div class="form-group">
                                    <textarea style="resize:vertical; max-height:160px;" maxlength="1500" v-model="position.candidate_profile" class="form-control" name="position_description" :disabled="view"></textarea>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <label for="candidate_activities">Actividades:</label>
                                <div class="form-group">
                                    <textarea style="resize:vertical; max-height:160px;" maxlength="1500" v-model="position.activities" class="form-control" name="position_activities" :disabled="view"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label for="selection_process">Proceso de Selección:</label>
                                <div class="form-group">
                                  <textarea style="resize:vertical; max-height:160px;" maxlength="1500" v-model="position.selection_process" class="form-control" name="position_description" :disabled="view"></textarea>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <label for="other_requirements">Otros requerimientos:</label>
                                <div class="form-group">
                                    <textarea style="resize:vertical; max-height:160px;" maxlength="1500" v-model="position.other_requirements" class="form-control" name="position_description" :disabled="view"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <label for="notes">Notas:</label>
                                    <div class="form-group">
                                    <textarea style="resize:vertical; max-height:170px;" maxlength="1500" v-model="position.notes" class="form-control" name="position_description" :disabled="view"></textarea>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </form>
    </div>
</section>
<script id="scriptContainer" type="text/javascript">
uiVars['title'] = '{{title}}';
uiVars['view'] = {{view}};
uiVars['data']   = {{data|json_encode|raw}};
init.lenght = 0;
init = [ {
    title: uiVars['title'],
    file: 'HumanResources/Positions/form.js',
    functions: [ {
        name: 'initHumanResourcesFormPositions',
        args: [ uiVars['data'], uiVars['view'] ]
    } ]
} ];
</script>
