<template slot="userId" scope="row">
	<button type="button" v-on:click="userData($event)" class="el-tag el-tag--lblue has-tooltip" data-tooltip="Mostrar Detalles"><i class="fa fa-user" aria-hidden="true" ></i> ${row.object.username}</button>
	<div class="list-dt">
		<ul>
			<li>Id: <span>${row.object.userId}</span></li>
			<li>Rol: <span>${row.object.name}</span></li>
			<li>Email: <span>${row.object.email}</span></li>
		</ul>
	</div>
</template>