<vue-dynamic-table-rbc
    box-classes="box box-primary full-height"
    class-name="table table-bordered table-hover"
    :source-columns="sourceColumns"
    :select-options="pageOptions"
    :data-model="listAccounts"
    {# @export="exportTable" #}
    {# :remote-method="remoteSearch" #}
    template-file-name="Centros Contables"
    :total-results="totalResults">
    <template slot="slotAccount" scope="row">
      <label v-if="row.object.level != 1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
      <button class="btn btn-success btn-xs" v-on:click="addRow(row.index)">+</button>
      <button class="btn btn-primary btn-xs">></button>
      {# ${row.object.account} #}
    </template>
    <template slot="actions" scope="row">
        <div class="ui-button bg-Light-Blue overflowInherit">
            <div class="secondary">
                <a
                    class="has-tooltip btn align-right bgGreen"
                    data-tooltip="Agregar Cuenta Auxiliar"
                    @click="addChildLateral(row)"
                    role="button">
                    <i class="fa fa-arrow-down fa-lg" aria-hidden="true"></i>
                </a>
                <a
                    class="has-tooltip btn align-right"
                    data-tooltip="Editar"
                    @click="editLateral(row)"
                    role="button">
                    <i class="glyphicon glyphicon-edit" aria-hidden="true"></i>
                </a>
                <a
                    class="has-tooltip btn align-right bgRed"
                    data-tooltip="Eliminar"
                    @click="onRemove(row)"
                    role="button">
                    <i class="glyphicon glyphicon-trash" aria-hidden="true"></i>
                </a>
                <a
                    role="button"
                    v-on:click="showFiles(row.object.id)"
                    class="has-tooltip btn align-right"
                    data-tooltip="Ver">
                    <i class="fa fa-lg fa-folder-open" aria-hidden="true"></i>
                </a>
                <a
                    role="button"
                    class="has-tooltip btn align-right"
                    data-tooltip="Imprimir"
                    @click="printRequisition(row.object)">
                    <i class="glyphicon glyphicon-print" aria-hidden="true"></i>
                </a>
            </div>
        </div>
    </template>
    <template slot="selectizeClassification" scope="row">
        <vue-selectize-js
            v-if="row.object.level == 1"
            v-bind:selectize-settings="selectizeSettings"
            v-bind:selectize-options="selectizeClassificationOptions"
            v-model="row.object.classification_id"
       ></vue-selectize-js>
       <label v-else v-bind:class="selectizeClassificationOptions">  </label>
    </template>

    <template slot="selectizeType" scope="row">
        <vue-selectize-js
            v-if="row.object.level == 1"
            v-bind:selectize-settings="selectizeSettings"
            v-bind:selectize-options="selectizeTypeOptions"
            v-model="row.object.type_id"
       ></vue-selectize-js>
    </template>

    <template slot="selectizeNature" scope="row">
        <vue-selectize-js
            v-if="row.object.level == 1"
            v-bind:selectize-settings="selectizeSettings"
            v-bind:selectize-options="selectizeNatureOptions"
            v-model="row.object.nature_id"
       ></vue-selectize-js>
    </template>

    <template slot="selectizeTypeLevel" scope="row">
        <vue-selectize-js
            v-if="row.object.level == 1"
            v-bind:selectize-settings="selectizeSettings"
            v-bind:selectize-options="selectizeTypeLevelOptions"
            v-model="row.object.type_of_level_id"
       ></vue-selectize-js>
    </template>

    <template slot="selectizeGrouperSAT" scope="row">
        <vue-selectize-js
            v-bind:selectize-settings="selectizeSettings"
            v-bind:selectize-options="selectizeGrouperSATOptions"
            v-model="row.object.grouper_sat_id"
       ></vue-selectize-js>
    </template>
</vue-dynamic-table-rbc>
