<template slot="providerAddrsActions" scope="row">
    <div class="ui-button bg-Light-Blue overflowInherit">
        <div class="secondary">
            <a 
                data-tooltip="Marcar Predefinida"
                role="button"
                class="has-tooltip btn align-right" 
                v-on:click="onCheckPredefined(row.object)">
                <span class="glyphicon glyphicon-ok"></span>
            </a>
            <a 
                data-tooltip="Editar"
                role="button"
                class="has-tooltip btn align-right" 
                v-on:click="onEditClick(row.object)">
                <span class="glyphicon glyphicon-edit"></span>
            </a>
            <a 
                data-tooltip="Eliminar"
                role="button"
                class="has-tooltip btn align-right" 
                v-on:click="onRemoveClick(row.object)">
                <span class="glyphicon glyphicon-trash"></span>
            </a>
        </div>
    </div>
</template>
<template slot="predefinedCheck" scope="row">
    <span v-if="row.object.predefined" class="glyphicon glyphicon-ok-circle"></span>
</template>
<template slot="no-rows-found">
    <span>No se encontrarón resultados</span>
</template>