<div ref="modalDocs" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Documentos</h4>
            </div>
            <div class="modal-body table-responsive">
                <table class="table">
                    <thead>
                        <th>Archivo</th>
                        <th> 
                            <div v-if="uploading"><i class="fa fa-spinner fa-pulse fa-fw"></i> Subiendo archivo...</div>
                            <div v-if="deleting"><i class="fa fa-spinner fa-pulse fa-fw"></i> Eliminando archivo...</div>                            
                        </th>
                    </thead>
                    <tbody>
                        <tr>
                            <td><img src="public/img/pdf.png" alt="PDF" width="42px"></td>
                            <td>
                                <el-button-group>
                                    <el-button @click="downloadPdf()" type="primary" size="small" :disabled="!selectedRow.pdf_path"><i class="fa fa-download" aria-hidden="true"></i> Descargar</el-button>
                                    <el-button @click="uploadPdf()" type="primary" size="small" :disabled="uploading">
                                        <i class="fa fa-upload" aria-hidden="true"></i>
                                        Subir
                                    </el-button>
                                    <el-button @click="deletePdf()" type="primary" size="small" :disabled="!selectedRow.pdf_path"><i class="fa fa-trash" aria-hidden="true"></i> Eliminar</el-button>
                                </el-button-group>
                            </td>
                        </tr>
                        <tr>
                            <td><img src="public/img/xml.png" alt="XML" width="42px"></td>
                            <td>
                                <el-button-group>
                                    <el-button @click="downloadXml()" type="primary" size="small" :disabled="!selectedRow.xml_path"><i class="fa fa-download" aria-hidden="true"></i> Descargar</el-button>
                                    <el-button @click="uploadXml()" type="primary" size="small" :disabled="uploading">
                                        <i class="fa fa-upload" aria-hidden="true"></i>
                                        Subir
                                    </el-button>
                                    <el-button @click="deleteXml()" type="primary" size="small" :disabled="!selectedRow.xml_path"><i class="fa fa-trash" aria-hidden="true"></i> Eliminar</el-button>
                                </el-button-group>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>